<template>
    <div id="ScoreComponent">
        <span @click="showModalAddScorecards()">
            <slot name="btn_show_modal">
            </slot>
        </span>
        <div>
            <b-modal ref="modal_interview_score" v-model="show_modal" :static="true" :lazy="true" :title="modal_title"
                     :hide-footer="true"
                     v-if="show_modal" :no-close-on-backdrop="true">
                <div>
                    <div class="add-scorecard-container">

                        <form name="form" novalidate="novalidate" @submit.prevent="validateBeforeSubmit"
                              ng-class="{true: 'error'}[submitted &amp;&amp; form.$invalid]"
                              class="ng-pristine ng-valid ng-valid-required">
                            <div class="settings-form interview-score" style="margin: 0px;">
                                <div class="section">
                                    <input
                                        name="name"
                                        class="scorecard-name ng-pristine ng-valid ng-valid-required ng-touched"
                                        type="text"
                                        v-model.trim="scorecard.scorecard_name"
                                        :placeholder="messages.SR_053_SCORENAME_REQUIRE"
                                        v-validate="'required'"
                                        :class="errors.has('name')?'error':''"/>
                                </div>
                                <ul
                                    class="section-contraint ng-pristine ng-untouched ng-valid ng-scope"
                                    as-sortable="board.dragControlListeners"
                                    ng-model="scorecard.sections">
                                    <draggable tag="ul" :list="scorecard.sections" class="list-group" handle=".handle">
                                        <li :key="index_section"
                                            class="draggable section question ng-scope as-sortable-item"
                                            v-for="(section,index_section) in scorecard.sections">
                                            <ul class="section-actions">
                                                <li class="section-action ng-scope as-sortable-item-handle handle">
                                                    <i class="fa fa-arrows-alt"></i><span>{{messages.SR_053_MODAL_SECTION_ORDER}}</span>
                                                </li>
                                                <li class="section-action">
                                                    <a href="#" @click="removeSection(index_section)">
                                                        <i class="fa fa-times"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                            <h3 class="move-section"
                                                style="margin-bottom: 5px !important;font-size: 16px !important;font-weight: 400 !important;color: #2c3e50 !important;">
                                                {{messages.SR_053_MODAL_SECTION_TITLE}}
                                                {{index_section + 1}}</h3>
                                            <input
                                                :name="'section_name'+index_section"
                                                class="section-text ng-pristine ng-scope ng-invalid ng-invalid-required ng-touched"
                                                type="text" v-model.trim="section.section_name"
                                                :placeholder="messages.SR_053_MODAL_SECTION_DESC"
                                                v-validate="'required'"
                                                :class="errors.has('section_name'+index_section)?'error':''">
                                            <div class="type multiple-choice">
                                                <ul class="criteria">
                                                    <li :key="index_criteria" class="item ng-scope"
                                                        v-for="(criteria,index_criteria) in section.list_criteria">
                                                        <i class="circle fa fa-square" v-if="section.list_criteria.length > 1"></i>
                                                        <a class="remove-option ng-scope" href="#"
                                                           @click="removeCriteria(index_section,index_criteria)"
                                                           v-if="section.list_criteria.length > 1"
                                                        >
                                                            <i class="fa fa-times"></i>
                                                        </a>
                                                        <div class="option-container">
                                                            <input
                                                                :name="'criteria_name' + index_section + index_criteria"
                                                                class="option-text ng-pristine ng-untouched ng-scope ng-invalid ng-invalid-required"
                                                                type="text"
                                                                v-model.trim="criteria.criteria_name"
                                                                :placeholder="messages.SR_053_MODAL_SECTION_ITEM_DESC+' '+ (index_criteria + 1) "
                                                                v-validate="'required'"
                                                                :class="errors.has('criteria_name' + index_section + index_criteria)?'error':''"
                                                            >
                                                        </div>
                                                    </li>
                                                </ul>
                                                <a class="add-section" href="#" @click="addCriteria(index_section)"><i
                                                    class="fa fa-plus"></i><span> {{messages.SR_053_MODAL_SECTION_ADD_ITEM}}</span></a>
                                            </div>
                                        </li>
                                    </draggable>
                                </ul>
                                <div class="section mb-3">
                                    <a
                                        class="add-section btn btn-blue btn-xs"
                                        href="#"
                                        @click="addSection()">
                                        <i class="fa fa-plus"></i><span>{{messages.SR_053_MODAL_SECTION_ADD_SECTION}}</span>
                                    </a>
                                </div>
                                <span class="status ng-binding"></span>
                            </div>

                        </form>
                    </div>
                    <div
                        class="container-fluid d-flex justify-content-between align-items-center modal-score-component">
                        <div><span v-if="saveflag"
                                   style="font-size:14px">{{messages.SR_053_MODAL_SECTION_SAVING}}</span></div>
                        <button class="my-3 btn btn-blue default" @click="save()">
                            <i class="default fa fa-save">&nbsp;&nbsp;</i>
                            <span class="default">{{messages.SR_053_MODAL_SECTION_SAVE}}</span>
                        </button>
                    </div>
                </div>

            </b-modal>

        </div>
        <ConfirmUpdateScoreCard :showModal="show_confirm_update" v-on:handleClose="noUpdateScoreCard()"
                                v-on:handleSaveChange="saveEditScorecard()"></ConfirmUpdateScoreCard>
    </div>
</template>

<script>
    import Vue from 'vue';
    import {mapGetters, mapActions} from 'vuex';
    import VeeValidate from 'vee-validate';
    import _ from "lodash"
    import draggable from 'vuedraggable'
    import Scorecard from "@/models/Scorecard";
    import ConfirmUpdateScoreCard from "./ConfirmUpdateScoreCard";

    Vue.use(VeeValidate);
    export default Vue.extend({
        name: 'ScoreCardComponent',
        components: {
            draggable,
            ConfirmUpdateScoreCard,
        },
        props: {
            typeModal: {
                type: String,
                default: "add"
            },
            idScorecard: {
                type: [Number, String],
                default: '-1',
            }
        },
        data() {
            return {
                show_modal: false,
                scorecard_org_edit: new Scorecard(),
                scorecard: new Scorecard(),
                new_section: {
                    section_name: "",
                    list_criteria: [
                        {criteria_name: ""}
                    ]
                },
                new_criteria: {criteria_name: ""},
                modal_title: "",
                saveflag: false,
                show_confirm_update: false,

            };
        },
        computed: {
            ...mapGetters([
                "currentCompany",
                "currentScorecard"
            ]),

        },
        methods: {
            showModalAddScorecards() {
                let self = this;
                self.show_modal = true;
                self.show_confirm_update = false;
                switch (self.typeModal) {
                    case 'add':
                        self.modal_title = self.messages.SR_053_MODAL_TITLE_ADD_NEW_SCORECARD;
                        self.scorecard = new Scorecard();
                        self.scorecard['company_id'] = self.currentCompany.id;
                        break;
                    case 'edit':
                        self.modal_title = self.messages.SR_053_MODAL_TITLE_EDIT_SCORECARD;
                        if (self.idScorecard) {
                            let index = this.currentScorecard.findIndex((score) => score.id == self.idScorecard);
                            self.scorecard_org_edit = self.currentScorecard[index];
                            self.scorecard = self.currentScorecard[index].cloneNewObject();
                        }
                        break;
                    default:
                    //nothing
                }
            },
            validateBeforeSubmit() {
                return new Promise((resolve, reject) => {
                    this.$validator.validateAll().then((result) => {
                        resolve(result);
                    })
                })
            },
            noUpdateScoreCard() {
                let self = this;
                self.show_confirm_update = false;
            },
            addNewScorecard() {
                let self = this;
                self.saveflag = true;

                self.scorecard.insert().then(
                    result => {
                        self.$toasted.show("Save");

                        setTimeout(function () {
                            self.saveflag = false;
                        }, 2000)

                        self.show_modal = false;
                        self.$emit('handleClose');

                    }
                ).catch(err => {
                    console.log(err);
                });


            },
            saveEditScorecard() {
                let self = this;
                if (self.scorecard['id']) {
                    console.log(self.scorecard);
                    try {
                        if ((JSON.stringify(self.scorecard_org_edit.sections) != JSON.stringify(self.scorecard.sections)) || (self.scorecard_org_edit.scorecard_name != self.scorecard.scorecard_name)) {
                            Object.assign(self.scorecard_org_edit, self.scorecard)
                            self.saveflag = true;
                            self.scorecard_org_edit.update().then(() => {
                                setTimeout(function () {
                                    self.saveflag = false;
                                }, 2000)

                            })
                        }

                    } catch (e) {
                        console.log(e);
                    }
                }
                self.show_modal = false;
                self.show_confirm_update = false;
            },
            save() {
                let self = this;

                self.validateBeforeSubmit().then((data) => {
                    console.log(data);

                    if (data) {
                        switch (this.typeModal) {
                            case 'add':
                                self.addNewScorecard();
                                break;
                            case 'edit':
                                self.show_confirm_update = true;
                                break;
                            default:
                            //nothing
                        }
                    } else {
                        //nothing
                    }
                })

            },
            addSection() {
                let new_section = _.cloneDeep(this.new_section);
                this.scorecard['sections'].push(new_section);
            },
            removeSection(index) {
                this.scorecard['sections'].splice(index, 1);
            },
            removeCriteria(section_index, criteria_index) {
                let lenght_list_section = this.scorecard['sections'].length;
                let lenght_list_criteria = this.scorecard['sections'][section_index]['list_criteria'].length;
                if (section_index < lenght_list_section && criteria_index < lenght_list_criteria) {
                    this.scorecard['sections'][section_index]['list_criteria'].splice(criteria_index, 1);
                }

            },
            addCriteria(section_index) {
                console.log(section_index)
                let lenght_list_section = this.scorecard['sections'].length;
                let new_criteria = _.cloneDeep(this.new_criteria);
                if (section_index < lenght_list_section) {
                    console.log(this.scorecard['sections']);
                    this.scorecard['sections'][section_index]['list_criteria'].push(new_criteria);
                }
            },
        }
    });
</script>
<style scoped lang="scss">
    @import "../../../assets/styles/constants";
    @import "../../../assets/styles/_settings.scss";

    .modal-content .modal-body .section input[type=text] {
        width: 100%;
    }

    h3.move-section {
        margin-bottom: 5px !important;
        font-size: 16px !important;
    }
</style>

<style>
    #ScoreComponent .modal-score-component {
        padding: 0;
        background-color: white;
    }
    .modal-header h5.modal-title {
       color: #2c3e50;
    }
</style>
