<template>
    <footer class="bg-dark d-flex justify-content-center align-items-center py-5">
<!--        <div class="container-footer">-->
<!--            <p v-if="currentPortalLandingPage.tax_code" class="tax-code"><span class="tax-lable">Tax Code</span>{{currentPortalLandingPage.tax_code}}</p>-->
            <a class="text-light d-flex align-items-center" href="/">
                <span class="mx-3">{{messages.SR_046_FOOTER_LABLE_1}}</span>
                <h4>{{messages.SR_046_FOOTER_LABLE_2}}</h4>
            </a>
<!--        </div>-->
    </footer>
</template>

<script>
    import {mapGetters} from 'vuex'
    export default {
        name: "Footer",
        data(){
            return{
            }
        },
        computed: {
            ...mapGetters([
                'currentPortalLandingPage',
                'currentCompanyLandingPage'
            ])
        },
    }
</script>

<style scoped lang="scss">
    a.align-items-center{
        text-decoration: unset;
        h4{
            margin-bottom: 0px !important;
        }
    }
    /*.container-footer{*/
    /*    text-align: center;*/
    /*    .tax-code{*/
    /*        color: #fff;*/
    /*        .tax-lable{*/
    /*            margin-right: 10px;*/
    /*        }*/
    /*    }*/
    /*    }*/
</style>
