<template>
    <div id="general" class="container py-5">
        <div class="vimeo video description">
            <div class="container-wrapper">
                <div class="description-container" v-html="currentPortalLandingPage.messaging_introduction">
                </div>
                <div class="video" v-if="currentPortalLandingPage.video_positions_page">
                    <iframe :src="convertLinkToEmbedLink" width="500" height="281" frameborder="0"
                            webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen="">
                    </iframe>
                </div>
<!--                <iframe width="560" height="315" :src="fixlink" frameborder="0" allowfullscreen></iframe>-->

            </div>
        </div>
    </div>
</template>

<script lang="ts">
    import {mapGetters,mapActions} from 'vuex'
    export default {
        name: "General",
        data(){
            return{

            }
        },
        computed: {
            ...mapGetters([
                'currentPortalLandingPage',
                'currentCompanyLandingPage',
                'convertLinkToEmbedLink',
            ]),

        },
        methods: {
        }

    }
</script>

<style scoped lang="scss">
    #general {
        border-bottom: 1px solid #eee;
        .container-wrapper {
            display: flex;
            margin: auto ;
            max-width: 900px;
            .description-container{
                margin: 5px;
                width: 100%;
            }
            .video{
                float: right;
            }
        }

    }
    @media only screen and (max-width: 900px) {
        #general {
            .container-wrapper {
                .video {
                   display: none;
                }
            }
        }
    }
</style>
