<template>
    <div id="perks" class="container py-5 container-perks d-flex">
        <div :key="index"  class="content-perk md-4" v-for=" (perk, index) in listPerks">
            <div class="">
                <i class="icon-perk"
                   :class="currentPortalLandingPage.perks.length > 0 ? perk.icon :''"
                   :style="{'background': currentPortalLandingPage.appearance_header_backgroud_color,'color':'#ffffff'}">
                </i>
                <div class="name-perk"><span>{{perk.name}}</span></div>
            </div>
        </div>
    </div>
</template>

<script>
    import {mapGetters} from 'vuex'
    import _ from 'lodash'
    export default {
        name: "Perks",
        data(){
            return{

            }
        },
        computed: {
            ...mapGetters([
                'currentPortalLandingPage',
                'currentCompanyLandingPage'
            ]),
            listPerks(){
                let that = this
                let new_list_perks = _.cloneDeep(that.currentPortalLandingPage.perks)
                let length_list = that.currentPortalLandingPage.perks.length
                if(length_list > 6){
                   for(var i = 0 ;i < (length_list - 6); i++){
                       let index_random = Math.floor(Math.random()*(length_list-i))
                       new_list_perks.splice(index_random,1)
                   }
                }else {

                }

                return new_list_perks
            }
        },
        methods: {

        }

    }
</script>

<style scoped lang="scss">
    #perks.container-perks {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 60px 0 20px 0;
        margin: auto;
        max-width: 900px;
        .content-perk {
            text-align: center;
            width: 33%;
            display: inline-block;
            color: #2c3e4f;
            line-height: 1.5;
            padding: 10px;
            box-sizing: border-box;
            text-align: center;
            vertical-align: top;
            margin-bottom: 20px;
            .icon-perk {
                color: #fff;
                margin: auto;
            }
            i {
                font-size: 24px;
                color: #d7dadb;
                border: none;
                padding: 10px;
                width: 60px;
                height: 60px;
                border-radius: 60px;
                line-height: 40px;
            }
            .name-perk{
                margin-top: 10px;
                text-align: center;
            }
        }
    }
</style>
