<template>
    <div id="position" class="positions container">
        <a style="position:relative;top:-120px;"></a>
        <div class="container-wrapper"><h1 class="polygot">{{messages.SR_046_POSITION_OPENING}}</h1>
            <div class="positions-container">

                <div v-if="currentPositionLandingPage.length > 5 || flag_filter" class="filters-container">
                    <div class="filter-wrap">
                        <h2 class="polygot">{{messages.SR_046_FILTER_DEPARTMENT}}</h2>
                        <b-form-select
                            v-model="current_department"
                            @change="filterDepartments"
                            class="departments">
                            <option :value="null">{{messages.SR_046_FILTER_DEFAULT_DEPARTMENT}}</option>
                            <option v-for="department in currentDepartmentsLandingPage" :value="department.value">{{department.text}}</option>
                        </b-form-select>
                    </div>
                    <div class="filter-wrap">
                        <h2 class="polygot">{{messages.SR_046_FILTER_LOCATION}}</h2>
                        <b-form-select
                            v-model="current_location"
                            @change="filterLocations"
                            class="locations">
                            <option :value="null">{{messages.SR_046_FILTER_DEFAULT_LOCALTION}}</option>
                            <option v-for="location in currentLocationsLandingPage" :value="location">{{location}}</option>

                        </b-form-select>
                    </div>
                </div>
                <div>
                    <h2 class="no-position" v-if="Object.keys(group_position_by_location).length === 0">{{messages.SR_046_POSTION_MESAGES_NONE}}</h2>
                    <ul v-else :key="index" class="positions" v-for="(positions,index) in group_position_by_location">
                        <h2 class="group-header"><i class="fas fa-map-marker-alt"></i><span>{{positions.group_lable}}</span></h2>
                        <li class="position transition" :key="index" v-for="(position, index) in positions.list_position">
                            <a @click="nextToPositionpage(position)">
                                <div class="lable-position">
                                    <h2>{{position.title}}</h2>
                                    <div>
                                        <button class="button apply polygot button-full bzyButtonColor">{{messages.SR_046_POSITION_APPLY_BTN}}</button>
                                    </div>

                                </div>
                                <ul class="meta">
                                    <li class="location">
                                        <div class="country">
                                            <i class="fas fa-map-marker-alt"></i>
                                            <span v-if="position.state">{{position.state}}, </span>
                                            <span>{{position.location.title}}</span>
                                        </div>
                                        <div class="remote" v-if="position.is_remote">
                                            <span class="spacer"> - </span>
                                            <i class="fa fa-wifi"></i>
                                            <span class="polygot">{{messages.SR_046_POSITION_REMOTE}}</span>
                                        </div>
                                    </li>
                                    <li class="type" v-if="position.position_type">
                                        <i class="fa fa-building"></i>
                                        <span class="polygot">{{position.position_type.title}}</span>
                                    </li>
                                    <li class="department" v-if="position.department">
                                        <i class="fa fa-building"></i>
                                        <span>{{position.department}}</span>
                                    </li>
                                </ul>

                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</template>

<script lang="ts">
    import {mapGetters,mapActions} from 'vuex'
    import _ from 'lodash'
    // import Position from "@/models/Position";
    export default {
        name: "Position",
         data(){
            return{
                list_publish_position: [],
                position_filter_department:[],
                position_filter_location:[],
                current_department:null,
                current_location:null,
                flag_filter: false
            }
        },
        computed: {
            ...mapGetters([
                'currentPortalLandingPage',
                'currentCompanyLandingPage',
                'currentPositionLandingPage',
                'currentDepartmentsLandingPage',
                'currentLocationsLandingPage',
                'setCurrentPositionView',
            ]),
            group_position_by_location () {
                let that = this as any
                if(!that.flag_filter){
                    that.list_publish_position = that.currentPositionLandingPage
                    that.position_filter_department = that.currentPositionLandingPage
                    that.position_filter_location = that.currentPositionLandingPage
                }else{
                    that.list_publish_position = []
                    that.list_publish_position = _.intersection(that.position_filter_department, that.position_filter_location);
                }
                if(that.list_publish_position.length > 0){
                    let group_list_position  = _.groupBy(that.list_publish_position, 'group_location');
                    let group_positions_obj = Object.keys(group_list_position).map((key)=>{
                        return {
                            group_lable: key,
                            list_position: group_list_position[key]
                        }
                    })
                    // console.log("group_position",group_list_position)
                    return group_positions_obj
                }else {
                    return {}
                }
            }

        },
        mounted(){
            // let that = this as any
            // let current_deparment_Str = localStorage.getItem("current_department");
            // let current_location_Str = localStorage.getItem("current_location");
            // if(current_deparment_Str){
            //     that.current_department = JSON.parse(current_deparment_Str);
            // }
            // console.log('current_deparment',that.current_department )
            // if(current_location_Str){
            //     that.current_location = JSON.parse(current_location_Str);
            // }
            // console.log('current_location',that.current_location )

        },
        methods: {
            ...mapActions([
                'setPositionView'
            ]),
            filterLocations(){
                let that = this as any
                that.flag_filter = true
                that.position_filter_location = []
                if(that.current_location === null){
                    that.position_filter_location = that.currentPositionLandingPage
                }else {
                    // localStorage.setItem("current_location", JSON.stringify(that.current_location));
                    that.currentPositionLandingPage.map((data)=>{
                        if(data.group_location == that.current_location){
                            that.position_filter_location.push(data)
                        }
                        return data
                    })
                }

            },
            filterDepartments(){
                let that = this as any
                that.flag_filter = true
                that.position_filter_department =[]

                if(that.current_department===null){
                    that.position_filter_department = that.currentPositionLandingPage
                }else {
                    // localStorage.setItem("current_department", JSON.stringify(that.current_department));
                    that.currentPositionLandingPage.map((data)=>{
                        if(data.department == that.current_department){
                            that.position_filter_department.push(data)
                        }
                        return data
                    })
                }

            },
            nextToPositionpage(position){
                let that = this as any
                let router = {
                    name: `LandingPageDetailPosition`,
                    params: {
                        position_id: position.id,
                    },
                };
                that.$router.push(router)
            }

        }
    }
</script>

<style scoped lang="scss">
    .custom-select:focus {
        border: 1px solid #eee !important;
        -webkit-box-shadow: unset;
        box-shadow: unset;
    }
    #position {
        padding: 40px 0;
        border-bottom: 1px solid #eee;
        .container-wrapper {
            margin: auto ;
            max-width: 900px;

            h1.polygot {
                text-align: center;
                font-size: 42px !important;
                font-weight: 300;
                margin-bottom: 40px;
            }
            .positions-container h2.no-position{
                text-align: center !important;
                font-size: 16px !important;
            }
            .positions {
                .group-header{
                    font-size: 24px !important;
                    padding: 0 20px 10px 20px;
                    margin-top: 40px;
                    margin-bottom: -20px;
                    color: #444444;
                    i{
                        margin-right: 5px;
                    }
                }
                .transition {
                    margin-bottom: 10px;
                    margin-top: 10px;
                    padding: 20px;
                    cursor: pointer;
                    border: 1px solid #fff;
                    border-radius: 4px;

                    &:hover {
                        background-color: #f9fafa;
                        border-radius: 4px;
                        border: 1px solid #eee;
                    }

                    a {
                        text-decoration: unset;
                    }

                    .lable-position {
                        width: 100%;
                        display: flex;
                        justify-content: space-between;

                        h2 {
                            font-size: 24px;
                            line-height: 1.4;
                            margin-bottom: 10px;
                            color: #444444;
                        }

                        .bzyButtonColor {
                            font-size: 16px;
                            padding: 9px 19px !important;
                            font-weight: 200;
                            letter-spacing: 0.5px;
                            color: #ffffff;
                            max-height: 45px;
                            text-decoration: none;
                            border: 2px solid transparent;
                            outline: 0;
                            border-radius: 4px;
                            -webkit-transition: 0.5s;
                            -moz-transition: 0.5s;
                            -ms-transition: 0.5s;
                            -o-transition: 0.5s;
                            transition: 0.5s;
                            background-color: #888;
                            cursor: pointer !important;
                        }
                    }

                    .meta {
                        display: flex;
                        justify-content: flex-start;
                        color: #888888;

                        .location {
                            .country {
                                display: inline-block;
                                margin-right: 5px;
                            }

                            .remote {
                                display: inline-block;
                            }
                        }

                        li {
                            margin-right: 15px;

                            a {
                                text-decoration: unset;
                            }

                            i {
                                margin-right: 5px;
                            }
                        }
                    }

                }
            }
            .filters-container {
                text-align: center;
                margin-bottom: 40px;
                h2 {
                    display: inline-block;
                    margin-right: 10px;
                }
                .filter-wrap {
                    display: inline-block;
                    padding: 5px;
                }

                .custom-select {
                    display: inline-block;
                    border: 1px solid #eee;
                    padding: 6px;
                    font-size: 16px;
                    margin-right: 20px;
                    width:200px
                }
            }
        }
    }
</style>
