<template>
    <div id="at4-share" class="at4-share addthis_32x32_style atss atss-left addthis-animated slideInLeft"><a
        role="button"
        tabindex="1" class="at-share-btn at-svc-gmail"><span class="at4-visually-hidden">Share to Gmail</span><span
        class="at-icon-wrapper" style="background-color: rgb(219, 68, 55);"><svg xmlns="http://www.w3.org/2000/svg"
                                                                                 xmlns:xlink="http://www.w3.org/1999/xlink"
                                                                                 viewBox="0 0 32 32" version="1.1"
                                                                                 role="img"
                                                                                 aria-labelledby="at-svg-gmail-1"
                                                                                 class="at-icon at-icon-gmail">
                <title id="at-svg-gmail-1">Gmail</title>
                <g>
                    <g fill-rule="evenodd"></g>
                    <path opacity=".3" d="M7.03 8h17.94v17H7.03z"></path>
                    <path
                        d="M7.225 8h-.41C5.815 8 5 8.84 5 9.876v13.248C5 24.16 5.812 25 6.815 25h.962V12.714L16 19.26l8.223-6.546V25h.962C26.188 25 27 24.16 27 23.124V9.876C27 8.84 26.186 8 25.185 8h-.41L16 15.506 7.225 8z">
                    </path>
                </g>
            </svg></span></a><a role="button" tabindex="1" class="at-share-btn at-svc-linkedin"><span
        class="at4-visually-hidden">Share to LinkedIn</span><span class="at-icon-wrapper"
                                                                  style="background-color: rgb(0, 119, 181);"><svg
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 32 32" version="1.1" role="img"
        aria-labelledby="at-svg-linkedin-2" class="at-icon at-icon-linkedin">
                <title id="at-svg-linkedin-2">LinkedIn</title>
                <g>
                    <path
                        d="M26 25.963h-4.185v-6.55c0-1.56-.027-3.57-2.175-3.57-2.18 0-2.51 1.7-2.51 3.46v6.66h-4.182V12.495h4.012v1.84h.058c.558-1.058 1.924-2.174 3.96-2.174 4.24 0 5.022 2.79 5.022 6.417v7.386zM8.23 10.655a2.426 2.426 0 0 1 0-4.855 2.427 2.427 0 0 1 0 4.855zm-2.098 1.84h4.19v13.468h-4.19V12.495z"
                        fill-rule="evenodd"></path>
                </g>
            </svg>
            <div class="at4-share-count-container"><span class="at4-share-count"><span class="at4-visually-hidden">,
                        Number of shares</span></span></div>
        </span></a><a role="button" tabindex="1" class="at-share-btn at-svc-twitter"><span
        class="at4-visually-hidden">Share to Twitter</span><span class="at-icon-wrapper"
                                                                 style="background-color: rgb(29, 161, 242);"><svg
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 32 32" version="1.1" role="img"
        aria-labelledby="at-svg-twitter-3" class="at-icon at-icon-twitter">
                <title id="at-svg-twitter-3">Twitter</title>
                <g>
                    <path
                        d="M27.996 10.116c-.81.36-1.68.602-2.592.71a4.526 4.526 0 0 0 1.984-2.496 9.037 9.037 0 0 1-2.866 1.095 4.513 4.513 0 0 0-7.69 4.116 12.81 12.81 0 0 1-9.3-4.715 4.49 4.49 0 0 0-.612 2.27 4.51 4.51 0 0 0 2.008 3.755 4.495 4.495 0 0 1-2.044-.564v.057a4.515 4.515 0 0 0 3.62 4.425 4.52 4.52 0 0 1-2.04.077 4.517 4.517 0 0 0 4.217 3.134 9.055 9.055 0 0 1-5.604 1.93A9.18 9.18 0 0 1 6 23.85a12.773 12.773 0 0 0 6.918 2.027c8.3 0 12.84-6.876 12.84-12.84 0-.195-.005-.39-.014-.583a9.172 9.172 0 0 0 2.252-2.336"
                        fill-rule="evenodd"></path>
                </g>
            </svg></span></a><a role="button" tabindex="1" class="at-share-btn at-svc-facebook"><span
        class="at4-visually-hidden">Share to Facebook</span><span class="at-icon-wrapper"
                                                                  style="background-color: rgb(59, 89, 152);"><svg
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 32 32" version="1.1" role="img"
        aria-labelledby="at-svg-facebook-4" class="at-icon at-icon-facebook">
                <title id="at-svg-facebook-4">Facebook</title>
                <g>
                    <path
                        d="M22 5.16c-.406-.054-1.806-.16-3.43-.16-3.4 0-5.733 1.825-5.733 5.17v2.882H9v3.913h3.837V27h4.604V16.965h3.823l.587-3.913h-4.41v-2.5c0-1.123.347-1.903 2.198-1.903H22V5.16z"
                        fill-rule="evenodd"></path>
                </g>
            </svg>
            <div class="at4-share-count-container"><span class="at4-share-count"><span class="at4-visually-hidden">,
                        Number of shares</span></span></div>
        </span></a>
        <div id="at4-scc" class="at-share-close-control at4-show at4-hide-content" title="Hide">
            <div class="at4-arrow at-left">Hide</div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "SideLinks"
    }
</script>

<style scoped>

</style>
