<template>
    <div>
        <div v-if="currentPortalLandingPage.config == 'bold'">
            <div id="hero" class="hero ">
                <div id="heroBackgroundImage" :style="{'background-color':currentPortalLandingPage.appearance_header_backgroud_color,'background-image':'url('+ currentPortalLandingPage.appearance_header + ')'}"
                     class="hero-background-image"></div>
                <div id="heroBackgroundColor" >
                    <div class="banner banner-position-page">
                        <h1>{{currentPositionView.title}}</h1>
                        <ul class="meta">
                            <li class="location item">
                                <div class="country">
                                    <i class="fas fa-map-marker-alt"></i>
                                    <span>{{currentPositionView.location.title}}</span>
                                    <span v-if="currentPositionView.state">, {{currentPositionView.state}}</span>
                                </div>
                                <div class="remote" v-if="currentPositionView.is_remote">
                                    <span class="spacer"> - </span>
                                    <i class="fa fa-wifi"></i>
                                    <span class="polygot">{{messages.SR_046_POSITION_REMOTE}}</span>
                                </div>
                            </li>
                            <li class="type item" v-if="currentPositionView.position_type">
                                <i class="fa fa-building"></i>
                                <span class="polygot">{{currentPositionView.position_type.title}}</span>
                            </li>
                            <li class="type item" v-if="currentPositionView.department">
                                <i class="fa fa-building"></i>
                                <span class="polygot">{{currentPositionView.department}}</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div id="description" class="container position-description">
                <div class="container-wrapper">
                    <ul class="breadcrumbs">
                        <li>
                            <router-link :to="{name:'LandingPageHome'}">
                                <span class="polygot">{{messages.SR_047_MENU_JOB_OPENING}}</span>
                            </router-link>
                            <i class="fa fa-chevron-right"></i>
                        </li>
                        <li class="current"><span>{{currentPositionView.title}}</span></li>
                    </ul>
                    <div class="content-description">
                        <div class="content-left">
                            <div class="video-container">
                                <div class="container-wrapper" v-if="currentPortalLandingPage.video_position_page">
                                    <iframe :src="convertLinkToEmbedLink" width="100%" height="313"
                                            frameborder="0" webkitallowfullscreen="" mozallowfullscreen=""
                                            allowfullscreen="">
                                    </iframe>
                                </div>
                            </div>
                            <div class="description" v-if="currentPositionView.job_description">
                                <div v-html="currentPositionView.job_description.description"></div>
                            </div>
                            <div class="apply-container">
                                <ul class="apply-buttons">
                                    <li class="apply-button">
                                        <a
                                           class="polygot-parent button large bzyButtonColor polygot">{{messages.SR_047_BTN_APPLY_POSITIONS}}</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="content-right">
                            <div class="sidebar-container ">
                            <ul class="actions">
                                <li class="action">
                                    <a href="/p/71a7b9691354-dev/apply"
                                       class="polygot-parent button bzyButtonColor apply">
                                        <span class="polygot">{{messages.SR_047_BTN_APPLY_POSITIONS}}</span>
                                    </a>
                                </li>
<!--                                <li class="action">-->
<!--                                    <a onclick="openPopup(event)" class="polygot-parent button blue indeed">-->
<!--                                        <img src="@/assets/image/indeed-icon.png">-->
<!--                                        <span class="polygot">{{messages.SR_047_BTN_INDEED}}</span>-->
<!--                                    </a>-->
<!--                                </li>-->
<!--                                <li class="action">-->
<!--                                    <a target="_self"-->
<!--                                       href=""-->
<!--                                       class="polygot-parent button blue linkedin">-->
<!--                                        <i class="fa fa-linkedin-square"></i>-->
<!--                                        <span class="polygot">{{messages.SR_047_BTN_LINKEDIN}}</span>-->
<!--                                    </a>-->
<!--                                </li>-->
                            </ul>
                            <div class="location-container">
                                <iframe width="100%"
                                        height="150"
                                        frameborder="0"
                                        style="border:0"
                                        :src="'https://www.google.com/maps/embed/v1/place?key=AIzaSyCZ8I8Zyr9Ex3CxhuGEcsHSrIKrBIwURXk&amp;q=' + currentPositionView.state +' '+ currentPositionView.location.title">
                                </iframe>
                            </div>
                            <div class="gallery-container">
                                <ul class="images" v-if="listImage.length <9">
                                    <li :key="index" class="item" v-for="(image, index) in listImage">
                                        <a rel="gallery"
                                           :href="image.url"
                                           class="fancybox">
                                            <div :style="{'background-image': 'url(' + image.url + ')'}"
                                                 class="gallery-image">
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
    <!--                        <div class="links-container">-->
    <!--                            <ul class="links">-->
    <!--                                <li class="link misc  social">-->
    <!--                                    <a href="https://www.facebook.com/cloudjetsolutions/"-->
    <!--                                       target="_blank">-->
    <!--                                        <i class="fa fa-facebook"></i>-->
    <!--                                    </a>-->
    <!--                                </li>-->
    <!--                            </ul>-->
    <!--                        </div>-->
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div v-if="currentPortalLandingPage.config == 'simple'">
            <SimplePositionsPage></SimplePositionsPage>
        </div>
    </div>
    
</template>

<script>
    import {mapGetters,mapActions} from 'vuex';
    import SimplePositionsPage from "@/components/LandingPage/SimplePage/SimplePositionsPage.vue"
    import _ from 'lodash'
    export default {
        name: "DetailPosition",
        components:{
          SimplePositionsPage,
        },
        data(){
            return {}
        },
        computed:{
            ...mapGetters([
                'currentPortalLandingPage',
                'currentCompanyLandingPage',
                'currentPositionLandingPage',
                'currentDepartmentsLandingPage',
                'currentLocationsLandingPage',
                'currentPositionView',
                'convertLinkToEmbedLink'

            ]),
            listImage(){
                let that = this
                let new_list_photo = _.cloneDeep(that.currentPortalLandingPage.photos)
                let length_list = that.currentPortalLandingPage.photos.length
                if(length_list > 8){
                   for(var i= 0 ;i < (length_list - 8); i++){
                       let index_random = Math.floor(Math.random()*(length_list-i))
                       new_list_photo.splice(index_random,1)
                   }
                }else {

                }

                return new_list_photo
            }
        },
        mounted(){
            let that = this
            let name_route = that.$route.name
            that.setPositionView(that.$route.params['position_id'])
            that.checkCurrentNamePage(name_route)
            window.scrollTo(0,0);
        },
        methods:{
            ...mapActions([
                'getCompanyLandingPagebySlug',
                'getPortalLandingPage',
                'getPositionsPublishLandingPage',
                'setPositionView',
                'checkCurrentNamePage',
            ]),
        }
    }
</script>
<style lang="scss">
    #landing-page {
        .job-description{
            .description{
                img {
                    max-width: 670px !important;
                }
            }
        }
        .content-description{
            .description{
                img {
                    max-width: 550px !important;
                }
            }
        }
    }
</style>
<style scoped lang="scss">
    #description{
        &.container{
            padding: 40px 0px;
        }
        .container-wrapper{
            margin: auto ;
            max-width: 900px;
            .breadcrumbs {
                        margin-bottom: 30px;
                        li {
                            display: inline-block;
                            a {
                                text-decoration: none;
                                color: #444444;
                            }
                        }
                        i{
                            font-size: 12px;
                            margin:0 6px;
                            opacity: 0.5;
                        }
                    }
            .content-description{
                display: flex;
                .content-left{
                    width: 100%;
                    max-width: 550px;
                    margin-right: 40px;
                    .description{
                        max-width: 550px;
                        width: 100%;
                        margin-bottom: 40px;
                        margin-right: 40px;
                    }
                    .apply-container{
                        .apply-button{
                            .button.bzyButtonColor{
                                background-color: #888 ;
                                border: 2px solid transparent;
                                color: #fff;
                                cursor: pointer;
                                padding: 14px 20px !important;
                            }

                        }
                    }
                    .video-container{
                        max-width: 550px;
                        margin-bottom: 40px;
                        .container-wrapper{
                            max-width: 900px;
                            margin: 0 auto;
                        }
                    }
                }
                .content-right{
                    .sidebar-container{
                        float: right;
                        display: inline-block;
                        width: 300px;
                        .actions{
                            margin-bottom: 15px;
                            border-bottom: 1px solid #eee;
                            .action{
                                margin-bottom: 15px;
                                a{
                                    text-decoration: unset;
                                }
                                .button {
                                    background-color: #888 ;
                                    border: 2px solid transparent;
                                    padding: 10px 20px !important;
                                }
                                .button.blue{
                                    padding: 15px;
                                    background-color: #0090ba !important;
                                }
                                a.button.indeed img {
                                    display: inline-block;
                                    margin-right: 10px;
                                    vertical-align: middle;
                                    height: 14px;
                                }
                            }
                            a{
                                display: inline-block;
                                width:100%;
                                padding: 15px;
                                text-align: center;
                            }

                        }
                        .location-container{
                            margin-bottom: 15px;
                            border-bottom: 1px solid #eee;
                            padding-bottom: 13px;
                        }
                        .gallery-container{
                            .item{
                                display: inline-block;
                                .gallery-image{
                                    display: inline-block;
                                    width: 145px;
                                    height: 145px;
                                    background-size: cover;
                                    border-radius: 4px;
                                    margin: 2px;
                                }
                            }

                        }
                    }
                }
            }
        }

    }
    #hero {
        overflow: hidden;
        position: relative;
        margin-top: 70px;
        &.hero {
            .hero-background-image {
                background-position: center;
                background-repeat: repeat, no-repeat;
                background-size: 100%, cover;
                height: calc(100% + 10px);
                left: -5px;
                position: absolute;
                top: -5px;
                width: calc(100% + 10px);
                z-index: 1;
                transition: all 1s ease;
            }
            #heroBackgroundColor {
                position: relative;
                transition: all 3s ease;
                z-index: 2;
                .banner{
                    padding: 120px 0px;
                    z-index: 2;
                    color: #ffffff;
                    text-align: center;
                    margin: 0 auto;
                    max-width: 900px;
                    h1 {
                        font-weight: 300;
                        font-size: 72px !important;
                        margin-bottom: 20px;
                        line-height: 1.2;
                    }
                    .meta{
                        .item{
                            display: inline-block;
                            margin-right: 20px;
                            font-size: 20px;
                            font-weight: 300;
                            .country{
                                display: inline-block;
                            }
                            .remote{
                                display: inline-block;
                                margin-left: 5px;
                            }
                        }
                    }
                }
                .banner-position-page{
                    &.banner{
                        .item{
                            display: inline-block;
                            margin: 0px 5px;
                            i{
                                margin-right: 5px;
                            }
                        }
                    }
                }
            }
        }
    }

</style>
