<template>
    <div :class="classes" style="height: 100%">
        <div class="flex-grow-1 overflow-auto px-4 py-2">
            <!-- Search filter -->
            <div class="px-0">
                <input type="text" class="form-control my-3" style="font-size: 13px"
                       name="candidate_name" v-model.trim="candidate_name"
                       :placeholder="messages.SR_028_CANDIDATE_NAME_TEXTINPUT">
                <h5 class="my-4">{{messages.SR_028_CANDIDATE_FILTER_TITLE}}</h5>
            </div>
            <!-- Filter options -->
            <div class="px-0">
                <FilterDropdown :title="'Positions'"
                                icon="fas fa-briefcase"
                                v-model="filter.positions"
                                :options="positionOptions"></FilterDropdown>
            </div>
        </div>

        <!-- Filter buttons -->
        <div id="filter-column-control" class="btn-group p-3 flex-shrink-0">
            <b-button variant="blue" id="filter-apply-button" @click="getFilter">
                <i class="fas fa-filter"></i>&nbsp;
                {{messages.SR_028_CANDIDATE_FILTER_LABEL}}
            </b-button>
            <b-button variant="blue" id="filter-apply-save">
                <i class="fas fa-save"></i>
            </b-button>
        </div>
    </div>
</template>

<style lang="scss">
    #filter-apply-button {
        flex: 1;
    }
    #filter-apply-save {
        border-left: 1px solid cyan;
        flex: 0 0 auto;
    }
    .filterNav {
        transition: max-width 200ms;
        max-width: 500px;
        overflow-y: auto;
        overflow-x: hidden;
        &.closed {
            max-width: 0;
        }
    }
</style>

<script lang="ts">
    import Vue from 'vue';
    import FilterDropdown from "@/components/OptionDropdown/FilterDropdown.vue";

    export default Vue.extend({
        name: 'FilterColumn',
        props: ['open','value'],
        components: {
            FilterDropdown,
        },
        data() {
            return {
                filter: {
                    positions: [],
                },
                candidate_name:""
            };
        },
        computed: {
            classes(): any
            {
                return {
                    "flex-shrink-0": true,
                    "d-flex": true,
                    "flex-column": true,
                    "filterNav": true,
                    "closed": !this.open,
                }
            },

            positionOptions(): any[] {
                return [
                    {
                        value: "dev",
                        text: "Dev",
                    },
                    {
                        value: "asdasdasd",
                        text: "Tester",
                    },
                    {
                        value: "dasdas",
                        text: "Sales",
                    },
                    {
                        value: "some position id",
                        text: "QC",
                    },
                ];
            },
        },
        methods:{
            getFilter():any{
                let that = this as any;
                let dataf = {} as any;
                dataf.candidate_name = that.candidate_name

                that.$emit('update',dataf );
            }
        },
        mounted() {
            let that = this as any;
            that.candidate_name = "";
        }
    })
</script>
