<template>
    <div class="filter-dropdown">
        <div>
            <b-checkbox v-model="check">
                <i :class="icon"></i>&nbsp;
                {{title}}
            </b-checkbox>
        </div>
        <template v-if="check">
            <div v-for="(filter, idx) in currentChoose" :key="filter + idx">
                <div class="clearfix" v-if="idx >= 1">
                    <div class="float-right mr-4">OR</div>
                </div>
                <div class="rounded bg-white my-2 d-flex">
                    <b-dropdown variant="gray" class="flex-grow-1 custom-dropdown" :key="filter + idx">
                        <template slot="button-content">
                            <slot name="button-text" :item="filter">
                                {{filter.text}}
                            </slot>
                        </template>

                        <b-dropdown-item button v-for="option in options"
                                         :key="option"
                                         @click="choose(idx, option)">
                            {{option.text}}
                        </b-dropdown-item>
                    </b-dropdown>
                    <div @click="clearFilter(idx)" class="btn btn-none">
                        <i class="fas fa-times text-secondary"></i>
                    </div>
                </div>
            </div>
            <div class="clearfix">
                <div class="float-right">
                    <a href='#' @click="addFilter" class="link">Add filter</a>
                </div>
            </div>
        </template>
    </div>
</template>

<script lang="ts">
    import Vue from 'vue';

    export default Vue.extend({
        name: "FilterDropdown",
        props: {
            icon: {
                type: String,
                default: 'fas fa-circle',
            },
            title: {
                type: String,
                default: 'Filter',
            },
            options: {
                type: Array,
                default: [],
            },
            value: {
                type: Array,
                default: new Array(),
            },
        },
        data() {
            return {
                check: false,
                currentChoose: [],
            };
        },

        watch: {
            check(value) {
                let that = this as any;
                if (value) {
                    that.currentChoose = [
                        this.options[0],
                    ];
                } else {
                    that.currentChoose = [];
                }
            },

            currentChoose() {
                let that = this as any;
                that.$emit("input", that.currentChoose);
            }
        },

        methods: {
            clearFilter(index: number): void {
                let that = this as any;
                that.$delete(that.currentChoose, index);
                if (that.currentChoose.length === 0) {
                    that.check = false;
                }
            },

            choose(idx: number, option): void {
                let that = this as any;
                that.$set(that.currentChoose, idx, option);
            },

            addFilter(): void {
                let that = this as any;
                that.currentChoose.push(that.options[0]);
            }
        },
    });
</script>
