<template>
    <!-- Modal Add Questionnaire-->
    <b-modal
        v-model="showModal"
        @show="handleOpenModal()"
        :no-close-on-backdrop="true"
        no-close-on-esc
        modal-class="modal-question">
        <template slot="modal-header" slot-scope="{ close }">
            <h1 v-if="external_question === null">{{messages.SR_005_ADD_QUESTION}}</h1>
            <h1 v-else>{{messages.SR_005_EDIT_QUESTION}}</h1>
            <button type="button" ria-label="Close" class="close" @click="handleCloseModal()">×
            </button>
        </template>

        <b-form class="section question">
            <b-form-input :class="verify_question && question.name.trim() ==='' ? 'error' : '' " class="input-question"
                          :placeholder="messages.SR_005_INPUT_QUESTION" v-model.trim="question.name">
            </b-form-input>
            <b-form-textarea :placeholder=messages.SR_005_TEXTAREA_QUESTION_DESCRIPTION
                             class="question-description" v-model="question.description">
            </b-form-textarea>
            <div class="d-flex">
                <SelectSearch
                    @changeValue="handleChangeResponseTypes"
                    :class-container="(verify_question && question.response_type.value === null ? 'isError':'') + ' select-container'"

                    :place-holder="'Response Type'"
                    :value="question.response_type"
                    :data-options="response_types">
                </SelectSearch>
                <div class="align-self-center ml-3">
                        <input type="checkbox" v-model="question.required">
                    <span class="ml-1">{{messages.SR_005_CHECKBOX_REQUIRED}}</span>
                </div>
                <div class="align-self-center ml-4" v-show="question.response_type.value === 'multiplechoice' || question.response_type.value === 'dropdownlist'">
                    <input type="checkbox" v-model="question.has_move_rule">
                    <span class="ml-1">{{messages.SR_005_MOVE_BASED_ON_ANSWER}}</span>
                </div>
            </div>
            <div class="clearfix">
                <div class="type video-response" v-show="question.response_type.value === 'fileattachment'"><p>{{messages.SR_005_FILEATTACHMENT}}</p></div>
            </div>
            <div class="type multiple-choice">
                <ul class="options">
                    <li v-bind:key="index" v-for="(option, index) in question.options" class="option d-flex">
                        <i :class="question.response_type.value === 'checkboxes'?'circle fa fa-square':'circle fa fa-circle'"></i>
                        <div class="option-container full-size">
                            <b-input class="option-text full-size" :class="verify_question && option.text.trim() === '' ? 'error' : ''"
                                     v-model="option.text" :placeholder="option.placeholder"></b-input>
                        </div>
                        <div v-if="check_show_pipelines_stage()">
                            <b-dropdown :text="messages.SR_005_PIPELINES_STAGE">
                                <b-dropdown-header id="dropdown-header-1">Groups</b-dropdown-header>
                                <b-form-radio aria-describedby="dropdown-header-1">Add</b-form-radio>
                                <b-form-radio aria-describedby="dropdown-header-1">Delete</b-form-radio>

                                <b-dropdown-header id="dropdown-header-2">Users</b-dropdown-header>
                                <b-form-radio aria-describedby="dropdown-header-2">Add</b-form-radio>
                                <b-form-radio aria-describedby="dropdown-header-2">Delete</b-form-radio>
                            </b-dropdown>
                        </div>
                        <a class="remove-option d-md-flex" href="#" @click="removeOption(index)"><i class="fa fa-times" v-if="question.options.length > 1"></i></a>
                    </li>
                </ul>
            </div>
            <a class="add-option" href="#" @click="addOption(question)" v-show="question.options.length >0 ">
                <i class="fa fa-plus pr-1"></i>
                <span>{{messages.SR_005_ADD_OPTION}}</span>
            </a>
        </b-form>

        <template slot="modal-footer" slot-scope="{ ok }">
            <!-- Emulate built in modal footer ok and cancel button actions -->
            <b-button size="sm" variant="primary" class="btn btn-blue" @click="creatQuestion()">
                <i class="fa fa-save pr-1"></i>{{messages.SR_005_BTN_SAVE_CHANGE}}
            </b-button>
        </template>
    </b-modal>
</template>

<script lang="ts">
    import Vue from "vue";
    import {mapGetters, mapActions} from 'vuex';
    import {messages} from "@/messages";
    import SelectSearch from '../../select/main.vue';
    const _ = require('lodash');

    export default Vue.extend({
        name: "Addquestion",
        props: ['showModal', 'questionnaire', 'external_question', "selectedIndex", "response_types"],
        components: {
            SelectSearch
        },
        data(){
            return {
                selectedOption: [],
                question: {
                    response_type: {
                        title: 'Response Types',
                        value: null,
                    },
                    name: '',
                    description: '',
                    options: [],
                    required: false,
                    questionnaire_id: "",
                    has_move_rule: false,
                },
                verify_question: false,
                temp_questions: [],
            }
        },
        watch: {
            showModal(val) {
                if (val && !this.external_question) {
                    this.question = {
                        response_type: {
                            title: 'Response Types',
                            value: null,
                        },
                        name: '',
                        description: '',
                        options: [],
                        required: false,
                        questionnaire_id: "",
                        has_move_rule: false,
                    }
                }
            },
            'question.response_type': function (val) {
                let that = this;
                let mul_options = ['checkboxes', 'dropdownlist', 'multiplechoice'];
                if (mul_options.indexOf(val.value) != -1) {
                    that.question.options.push({
                        text: `Lựa chọn ${that.question.options.length + 1}`,
                        placeholder: `Lựa chọn ${that.question.options.length + 1}`
                    })
                } else {
                    that.question.options = [];
                }
            },
        },
        methods: {
            ...mapActions([
                'addQuestionAction',
                'updateQuestionAction'
            ]),
            handleOpenModal(){
                let that = this as any;
                if(that.external_question != null){
                    // that.question = that.external_question.cloneNewObject()
                    let _cloneQuestions = _.cloneDeep(that.external_question);
                            if (_.isArray(_cloneQuestions)) {
                                _cloneQuestions.forEach((obj) => {
                                    delete obj['firestore'];
                                    delete obj['updatedAt'];
                                    delete obj['createdAt'];
                                })
                            } else {
                                delete _cloneQuestions['firestore'];
                                delete _cloneQuestions['updatedAt'];
                                delete _cloneQuestions['createdAt'];
                            }
                            this.question = _cloneQuestions;
                }else {
                    that.question = {
                        response_type: {
                            title: 'Response Types',
                            value: null,
                        },
                        name: '',
                        description: '',
                        options: [],
                        required: false,
                        questionnaire_id: "",
                        has_move_rule: false,
                    }
                }
                that.verify_question= false
            },
            handleChangeResponseTypes(data) {
                this.question.response_type = data;
            },
            check_show_pipelines_stage(){
                if(this.question.has_move_rule && (this.question.response_type.value === 'multiplechoice' || this.question.response_type.value === 'dropdownlist')){
                    return true
                }
                return false
            },
            removeOption(val){
                let that = this as any;
                let removeoption = that.question.options;
                removeoption.splice(val,1)
            },
            addOption() {
               let that = this as any;
               that.question.options.push({
                   text: `Lựa chọn ${that.question.options.length + 1}`,
                   placeholder: `Lựa chọn ${that.question.options.length + 1}`

               })
            },
            validate_question(){
                let that = this as any;
                that.verify_question= false;
                if(that.question.name.trim() === ""){
                    that.verify_question = true;
                }
                if(that.question.response_type.value ===  null){
                    that.verify_question = true;
                }
                if(that.question.options.length >0){
                    that.question.options.forEach((item)=>{
                       if(item.text.trim() == ''){
                           that.verify_question = true;
                       }
                    })
                }
                return that.verify_question
            },
            creatQuestion() {
                let that = this as any;
                if(!that.validate_question()){
                    if (that.selectedIndex >= 0) {
                        that.updateQuestionAction({question: that.question, index: that.selectedIndex});
                    } else {
                        that.addQuestionAction(that.question);
                    }
                    that.$emit('handleClose')
                }
            },
            handleCloseModal() {
                let that = this as any;
                that.$emit('handleClose');
            }
        }
    })
</script>
<style lang="scss">
    .select-container {
        width: 170px !important;
        max-width: 170px !important;

        li {
            width: 170px !important;
        }

        .container-item {
            width: 170px !important;
            max-width: 170px !important;
        }
    }
    .select-container.isError {
        input.form-control {
            border: 2px solid #eba2a5;
        }
    }
    .question .input-question.error, .question .select-option.error {
        border: 2px solid #eba2a5;
    }
    .modal-question .modal-header{
        border-bottom:none;
        padding-bottom:0px;
    }
    .modal-question .modal-dialog{
        padding-left: 10px;
        padding-right: 10px;
        border-radius: 5px;
        background: #edeff0;
    }
    .modal-question .modal-content{
        border:none;
    }
    .modal-question .modal-body{
        padding-top:0px;
    }
    .modal-question .modal-footer{
        border-top:none;
        background-color:#f9fafa;
        border-top: 1px solid #edeff0;
    }
    .modal-question .button-close{
        padding: 10px;
        padding-left: 15px;
        position: absolute;
        right: 0;
        border: none;
        font-weight: bold;
        background: #edeff0;
        top: 0;
        font-size:21px!important;
        color:#4c555c;
    }
    .modal-question .video-response {
        width: 320px;
        clear: both;
        display: inline-block;
        margin-left: 25px;
        padding-left: 160px;
    }
    .modal-question .full-size{
        width: 100%;
    }
    .modal-question .add-option {
        font-size: 12px;
        float: right;
    }
    .modal-question .question-description {
        border: 1px solid #dedede;
        overflow: hidden;
        overflow-wrap: break-word;
        resize: none;
        min-height: 90px;
        border-radius: 4px;
        margin-bottom: 10px;
    }
    .modal-question .input-question {
        border: 1px solid #dedede;
        margin-bottom: 10px;
    }
    .modal-question .select-option {
        border-radius: 5px;
        border: 1px solid #dedede;
        width: 200px !important;
        overflow-y: auto;
    }
    .modal-question .btn-blue{
        border:none;
        padding:5px 12px;
        font-weight:bold;
    }
    .modal-question .multiple-choice {
        padding-top: 10px;
        margin-left: 10px;
        clear: both;
    }
    .modal-question .option {
        margin-bottom: 10px;
        font-size: 13px;
    }
    .modal-question .circle {
        float: left;
        margin-top: 10px;
        font-size: 14px;
        color: #dedede;
    }
    .modal-question .option-container {
        margin-left: 10px;
        margin-right: 10px;
    }
    .modal-question .remove-option {
        float: right;
        margin-top: 10px;
        font-size: 14px;
        margin-left: 10px;
    }

</style>
