<template>
    <!--Modal Add Questionnaire-->
    <b-modal
        v-model="showModal"
        :no-close-on-backdrop="true"
        no-close-on-esc
        modal-class="add-questionnaire-modal">
        <ModalConfirm
            :closeEvent = "closeEvent"
            @handleSaveChange="handleSaveChange()"
            @handleClose="handleCloseUnSavedChange"
            :showModal="showModalUnSavedChange"></ModalConfirm>
        <template slot="modal-header" slot-scope="{ close }">
            <h1 v-if="external_questionnaire === null">{{messages.SR_005_ADD_QUESTIONNAIRE}}</h1>
            <h1 v-else>{{messages.SR_005_EDIT_QUESTIONNAIRE}}</h1>
            <button type="button" ria-label="Close" class="close" @click="handleCloseModal()">×</button>
        </template>
        <div>
            <b-form>
                <div class="section question-name">
                    <b-form-input :class="errors.name && questionnaire.name.trim() === '' ? 'error' : '' "
                                  :placeholder="messages.SR_005_INPUT_QUESTIONNAIRE_NAME" v-model.trim="questionnaire.name"></b-form-input>
                </div>
                <div class="alert ng-isolate-scope alert-danger" id="error" v-if="errors.blank_questions && questions.length === 0">
                    <span>{{messages.SR_005_lEAST_1_QUESTION}}</span>
                </div>
                <div class="no-activity-container" v-show="questions.length === 0">
                    <h1>
                        <i class="fa fa-list"></i>
                    </h1>
                    <p>{{messages.SR_005_NO_QUESTIONS}}</p>
                </div>
                <b-list-group>
                    <b-list-group-item class="state-item"  v-show="questions.length > 0" v-for="(question, index) in questions" :key="index">
                        <div>
                            <h3>
                                <i class="fa fa-text"></i>
                                <span>{{question.name}}</span>
                            </h3>
                            <ul class="option-list-detailsc d-flex mt-2">
                                <li class="pr-3">
                                    <i class="fa fa-question-circle pr-1"></i>
                                    <span>{{question.response_type.title}}</span>
                                </li>
                                <li v-if="question.required">
                                    <i class="fa fa-asterisk pr-1"></i>
                                    <span>{{messages.SR_005_REQUIRED}}</span>
                                </li>
                            </ul>
                        </div>
                        <ul class="flex-box-right" style="cursor: pointer;">
                            <i class="fa fa-edit" @click="showModalQuestion(question, index)"></i>
                            <i class="fa fa-times" @click="deleteQuestion(index)"></i>
                        </ul>
                    </b-list-group-item>
                </b-list-group>
                <div class="section">
                    <Addquestion
                        @handleClose="showModalAddQuestion=false"
                        :showModal="showModalAddQuestion"
                        :questionnaire="questionnaire"
                        :external_question = "external_question"
                        :selectedIndex="selectedIndex"
                        :response_types="response_types"></Addquestion>
                    <a href="#" class="add-question btn btn-blue btn-xs" @click="openEditQuestion">
                        <i class="fa fa-plus  pr-1"></i>
                        <span>{{messages.SR_005_ADD_QUESTION}}</span>
                    </a>
                </div>
                <hr>
                <div class="section ">
                    <h3>{{messages.SR_005_MOVE_ON_COMPLETION}}</h3>
                    <p>{{messages.SR_005_MOVE_ON_COMPLETION_CONTENT_1}}</p>
                    <p>{{messages.SR_005_MOVE_ON_COMPLETION_CONTENT_2}}</p>
                    <div class="questionnaire-options d-flex" >
                        <div class="align-self-center ml-10 col-md-8">
                            <b-form-checkbox v-model="questionnaire.has_move_rule">{{messages.SR_005_MOVE_TO_STAGE}}</b-form-checkbox>
                        </div>
                        <div v-if="questionnaire.has_move_rule">
                            <b-dropdown :text="messages.SR_005_PIPELINES_STAGE">
                                <b-dropdown-header id="dropdown-header-1">Groups</b-dropdown-header>
                                <b-form-radio aria-describedby="dropdown-header-1">Add</b-form-radio>
                                <b-form-radio aria-describedby="dropdown-header-1">Delete</b-form-radio>

                                <b-dropdown-header id="dropdown-header-2">Users</b-dropdown-header>
                                <b-form-radio aria-describedby="dropdown-header-2">Add</b-form-radio>
                                <b-form-radio aria-describedby="dropdown-header-2">Delete</b-form-radio>
                            </b-dropdown>
                        </div>
                    </div>
                </div>
<!--                <hr>-->
<!--                <div class="section questionnaire-template">-->
<!--                    <header>-->
<!--                        <h3>{{messages.SR_005_QUESTIONNAIRE_EMAIL_TEMPLATE}}</h3>-->
<!--                        <p>{{messages.SR_005_QUESTIONNAIRE_EMAIL_TEMPLATE_CONTENT}}</p>-->
<!--                    </header>-->
<!--                    <a class="email-template" style="color: #5ac0e5;" @click="emailTemplate()">-->
<!--                        <i class="fa fa-cog"></i>-->
<!--                        <span class="ml-2">{{content_email_template.title}}</span>-->
<!--                    </a>-->
<!--                    <div class="widget-container" v-if="showEmailTemplate">-->
<!--                        <SelectSearch-->
<!--                            @changeValue="changetemplateVariables"-->
<!--                            :place-holder="'Template Variables'"-->
<!--                            :value="questionnaire.templateVariables"-->
<!--                            :data-options="templateVariables">-->
<!--                        </SelectSearch>-->
<!--                        <b-form-textarea id="insertText" v-model="questionnaire.message_template"-->
<!--                                         :placeholder="messages.SR_005_MESSAGE_TEMPLATE" class="mt-2 input-message-template">-->
<!--                        </b-form-textarea>-->
<!--                    </div>-->
<!--                </div>-->
            </b-form>
        </div>
        <template slot="modal-footer" slot-scope="{ ok }">
            <!-- Emulate built in modal footer ok and cancel button actions -->
            <b-button size="sm" variant="primary" class="btn btn-blue" @click="createNewQuestionnaires()">
                <i class="fa fa-save pr-1"></i> {{messages.SR_005_BTN_SAVE_CHANGE}}
            </b-button>
        </template>
    </b-modal>
</template>

<script lang="ts">
    import Vue from "vue";
    import {mapGetters, mapActions} from 'vuex';
    import Addquestion from  './Addquestion.vue';
    import {messages} from "@/messages";
    import ModalConfirm from "./ModalConfirm.vue";
    import SelectSearch from '../../select/main.vue';
    import _ from "lodash";

    // let email_template = messages.SR_005_EMAIL_TEMPLATE;
    export default Vue.extend({
        name: "Addquestionnaires",
        components:{
            Addquestion,
            ModalConfirm,
            // SelectSearch
        },
        props: ['showModal', 'external_questionnaire'],
        data() {
            return {
                showEmailTemplate:false,
                showModalAddQuestion: false,
                temp_questions: [],
                questionnaire: {
                    // templateVariables: {
                    //     title: messages.SR_005_TEMPLATE_VARIABLES,
                    //     value: null,
                    // },
                    name: '',
                    has_move_rule: false,
                    // message_template: email_template
                },
                // templateVariables: [
                //     {
                //         title: messages.SR_005_CANDIDATE_FIRST_NAME,
                //         value: messages.SR_005_CANDIDATE_FIRST_NAME_VALUE,
                //     },
                //     {
                //         title: messages.SR_005_CANDIDATE_FULL_NAME,
                //         value: messages.SR_005_CANDIDATE_FULL_NAME_VALUE,
                //     },
                //     {
                //         title: messages.SR_005_CANDIDATE_EMAIL_ADDRESS,
                //         value: messages.SR_005_CANDIDATE_EMAIL_ADDRESS_VALUE,
                //     },
                //     {
                //         title: messages.SR_005_POSITION_TITLE,
                //         value: messages.SR_005_POSITION_TITLE_VALUE,
                //     },
                //     {
                //         title: messages.SR_005_POSITION_LINK,
                //         value: messages.SR_005_POSITION_LINK_VALUE,
                //     },
                //     {
                //         title: messages.SR_005_COMPANY_NAME,
                //         value: messages.SR_005_COMPANY_NAME_VALUE,
                //     },
                //      {
                //         title: messages.SR_005_COMPANY_USER,
                //         value: messages.SR_005_COMPANY_USER_VALUE,
                //     },
                //     {
                //         title: messages.SR_005_COMPANY_USER_FIRST_NAME,
                //         value: messages.SR_005_COMPANY_USER_FIRST_NAME_VALUE,
                //     },
                //     {
                //         title: messages.SR_005_QUESTIONNAIRE_LINK,
                //         value: messages.SR_005_QUESTIONNAIRE_LINK_VALUE,
                //     },
                // ],
                external_question: null,
                // content_email_template:{title:messages.SR_005_SHOW_TEMPLATE},
                errors: {},
                showModalUnSavedChange: false,
                closeEvent: false,
                selectedIndex: -1,
                response_types: [
                    {
                        title: messages.SR_005_TEXT,
                        value: 'text',
                    },
                    {
                        title: messages.SR_005_PARAGRAPH,
                        value: 'paragraph',
                    },
                    {
                        title: messages.SR_005_MULTIPLE_CHOICE,
                        value: 'multiplechoice',
                    },
                    {
                        title: messages.SR_005_DROPDOWN_LIST,
                        value: 'dropdownlist',
                    },
                    {
                        title: messages.SR_005_CHECKBOXES,
                        value: 'checkboxes',
                    },
                    {
                        title: messages.SR_005_FILE_ATTACHMENT,
                        value: 'fileattachment',
                    },
                ],
            }
        },
        computed: {
            ...mapGetters([
                'currentUser',
                'currentCompany',
                'questions'
            ]),
        },
        watch: {
            external_questionnaire(val) {
                if (val) {
                    this.questionnaire = val.cloneNewObject();
                    this.showEmailTemplate = false;
                    this.getQuestions(val.id).then((questions) => {
                        if(questions.length > 0){
                            let _cloneQuestions = _.cloneDeep(questions);
                            if (_.isArray(_cloneQuestions)) {
                                _cloneQuestions.forEach((obj) => {
                                    delete obj['firestore'];
                                    delete obj['updatedAt'];
                                    delete obj['createdAt'];
                                })
                            } else {
                                delete _cloneQuestions['firestore'];
                                delete _cloneQuestions['updatedAt'];
                                delete _cloneQuestions['createdAt'];
                            }
                            this.temp_questions = _cloneQuestions;
                        }else {
                            this.temp_questions = questions;
                        }
                    });
                }
            },
            showModal(val) {
                if (val && !this.external_questionnaire) {
                    this.questionnaire = {
                        // templateVariables:{
                        //     title: messages.SR_005_TEMPLATE_VARIABLES,
                        //     value: null,
                        // },
                        name: '',
                        has_move_rule: false,
                        // message_template: email_template
                    };
                    this.showEmailTemplate = false;
                    this.clearQuestions();
                }
                this.errors = {};
            },
        },
        mounted() {

        },
        methods: {
            ...mapActions([
                'createQuestionnaire',
                'getQuestions',
                'updateQuestionnaire',
                'addTempRemoveQuestion',
                'clearQuestions',
                'clearDeleteQuestions'
            ]),
            // responseTypes(key){
            //     debugger
            //     return _.keyBy(this.response_types, 'value')[key]['title'];
            // },
            // changetemplateVariables(val){
            //     let that = this as any;
            //     if(val.value != null){
            //         that.typeInTextarea(document.getElementById('insertText'), `[[${val.value}]]`);
            //     }
            //     return false
            // },
            // typeInTextarea(el, textToInsert) {
            //
            //     //get current text of the input
            //     const value = el.value;
            //     // save selection start and end position
            //     const start = el.selectionStart;
            //     const end = el.selectionEnd;
            //     // update the value with our text inserted
            //     this.questionnaire.message_template = value.substring(0, start) + textToInsert + value.substring(end, value.length);
            //     // update cursor to be at the end of insertion
            //     el.selectionStart = el.selectionEnd = start + textToInsert.length;
            //     el.focus();
            //     return false
            // },
            // emailTemplate() {
            //     let that = this as any;
            //     that.showEmailTemplate = !that.showEmailTemplate;
            //     that.content_email_template.title = that.showEmailTemplate?messages.SR_005_HIDE_TEMPLATE:messages.SR_005_SHOW_TEMPLATE
            // },
            deleteQuestion(index){
                let that = this as any;
                that.addTempRemoveQuestion(index);
            },
            showModalQuestion(question, index) {
                let that = this as any;
                that.showModalAddQuestion = true;
                that.selectedIndex = index;
                that.external_question = question

            },
            validate_questionnaire(){
                let that = this as any;
                let is_error = false;
                that.errors = {};
                if(that.questionnaire.name.trim() === ""){
                    that.errors.name = true;
                    is_error = true;
                }
                if (that.questions.length === 0){
                    that.errors.blank_questions = true;
                    is_error = true;
                }
                return is_error;
            },
            createNewQuestionnaires() {
                let that = this as any;
                if(!that.validate_questionnaire()){
                    if ('id' in that.questionnaire) {
                        that.updateQuestionnaire(that.questionnaire);
                    } else {
                        that.createQuestionnaire(that.questionnaire);
                    }
                    that.$emit('handleClose');
                }
            },
            compareObject(obj1, obj2){
                let _obj1 = _.cloneDeep(obj1), _obj2 = _.cloneDeep(obj2);
                if (_.isArray(_obj1)) {
                    _obj1.forEach((obj) => {
                        delete obj['firestore'];
                        delete obj['updatedAt'];
                        delete obj['createdAt'];
                    })
                } else {
                    delete _obj1['firestore'];
                    delete _obj1['updatedAt'];
                    delete _obj1['createdAt'];
                }

                if (_.isArray(_obj2)) {
                    _obj2.forEach((obj) => {
                        delete obj['firestore'];
                        delete obj['updatedAt'];
                        delete obj['createdAt'];
                    })
                } else {
                    delete _obj2['firestore'];
                    delete _obj2['updatedAt'];
                    delete _obj2['createdAt'];
                }
                return JSON.stringify(_obj1) == JSON.stringify(_obj2);
            },
            handleCloseModal() {
                let that = this as any;
                if(that.external_questionnaire != null){
                    if (!that.compareObject(that.external_questionnaire, that.questionnaire) ||
                        !that.compareObject(that.questions, that.temp_questions)){
                        that.closeEvent = true;
                        that.showModalUnSavedChange = true;
                    }
                    else {
                        that.$emit('handleClose');
                    }
                }else if(that.questionnaire.name.trim() != "" || that.questions.length > 0){
                    that.closeEvent = true;
                    that.showModalUnSavedChange = true;
                }else {
                    that.$emit('handleClose');
                }
            },
            openEditQuestion() {
                let that = this as any;
                that.showModalAddQuestion = true;
                that.external_question = null;
                that.selectedIndex = -1;
            },
            handleSaveChange() {
                this.showModalUnSavedChange = false;
                this.closeEvent = false;
                this.createNewQuestionnaires();
            },
            handleCloseUnSavedChange() {
                this.showModalUnSavedChange = false;
                this.closeEvent = false;
                this.clearDeleteQuestions();
                this.$emit('handleClose');
            }
        },
    });
</script>

<style lang="scss">
    .add-questionnaire-modal .state-item h3{
        width: 382px;
        font-size: 14px;
        font-weight: 400;
        margin-bottom: 0px !important;
        overflow: hidden;
        text-overflow: ellipsis;
        vertical-align: middle;
        white-space: nowrap;
    }
    .add-questionnaire-modal .question-name .error{
         border: 2px solid #eba2a5;
    }
    .add-questionnaire-modal .option-list-detailsc{
        font-size: 12px;
        opacity: 0.7;
    }
    .add-questionnaire-modal .alert {
        font-size: 14px;
    }
    .add-questionnaire-modal .alert-danger {
        color: #a94442;
        background-color: #f2dede;
        border-color: #ebccd1;
    }
    .add-questionnaire-modal .email-template {
        font-size: 14px;
        cursor: pointer;
    }
    .add-questionnaire-modal .section {
        margin-top: 10px;
        margin-bottom: 20px;
    }
    .add-questionnaire-modal .no-activity-container {
        text-align: center;
        padding: 30px;
        border: 1px solid #dedede;
        background: #f9fafa;
        color: #84929f;
    }
    .add-questionnaire-modal hr {
        margin-top: 20px;
        margin-bottom: 20px;
        border: 0;
        border-top: 1px solid #eee;
    }

    .add-questionnaire-modal .widget-container {
        background: #fafafa;
        border: 1px solid #edeff0;
        margin-top: 10px;
        padding: 20px;
        border-radius: 4px;
    }
    .add-questionnaire-modal .modal-content .modal-body .section textarea {
        width: 100%;
        height: 100px;
        border: 2px solid #dedede
    }
    .add-questionnaire-modal .input-message-template {
        overflow: auto;
        overflow-wrap: break-word;
        resize: none;
        min-height: 216px;
        border-radius: 4px;
    }
    .add-questionnaire-modal .select-option {
        float: left;
        border-radius: 5px;
        border: 1px solid #dedede;
        width: 200px !important;
        margin-bottom: 10px;
    }
    .add-questionnaire-modal h3 {
        font-size: 18px;
    }
    .add-questionnaire-modal .state-item {
        background: #fafafa;
        border: 1px solid #edeff0;
        border-radius: 4px;
        margin-bottom: 10px;
        justify-content: space-between;
        display: flex;
        align-content: center;
        height: 60px;
        padding: 10px;
        /*padding-left: 5px;*/
        /*padding-top: 3px;*/
    }

    .add-questionnaire-modal .flex-box-right i{
        margin-left:10px;
        font-size:10px;
    }

    .add-questionnaire-modal .btn-blue{
        border:none;
        padding:5px 12px;
        font-weight:bold;
    }

    .add-questionnaire-modal .modal-header{
        border-bottom:none;
        padding-bottom:0px;
    }
    .add-questionnaire-modal .modal-dialog{
        padding-left: 10px;
        padding-right: 10px;
        border-radius: 5px;
        background: #edeff0;
    }
    .add-questionnaire-modal .modal-content{
        border:none;
    }
    .add-questionnaire-modal .modal-body{
        padding-top:0px;
    }
    .add-questionnaire-modal .modal-footer{
        border-top:none;
        background-color:#f9fafa;
        border-top: 1px solid #edeff0;
    }
    .add-questionnaire-modal .button-close{
        padding: 10px;
        padding-left: 15px;
        position: absolute;
        right: 0;
        border: none;
        font-weight: bold;
        background: #edeff0;
        top: 0;
        font-size:21px!important;
        color:#4c555c;
    }
</style>

