<template>
    <b-modal
        :hide-footer="true"
        no-close-on-esc
        no-close-on-backdrop
        v-model="showModal"
        modal-class="modal-confirm">
        <div>
            <div v-if="closeEvent">
                <h3 class="text-center">{{messages.SR_005_UNSAVED_CHANGES}}</h3>
                <p class="text-center">{{messages.SR_005_UNSAVED_CHANGES_CONTENT}}</p>
            </div>
            <div v-else>
                <h3 class="text-center">{{messages.SR_005_DELETE_QUESTIONNAIRE}}</h3>
                <p class="text-center">{{messages.SR_005_SR_005_DELETE_QUESTIONNAIRE_CONTENT}}</p>
            </div>
            <div class="text-right">
            <button class="btn btn-none" @click="handleCloseModal" type="button" style="margin-right:10px">{{messages.SR_005_NO_THANKS}}</button>
            <button class="btn btn-blue" @click="handleSaveChange" type="button" ng-click="yes()">
                <i class="fa fa-check"></i>
                {{messages.SR_005_YES_PLEASE}}
            </button>
            </div>
        </div>
    </b-modal>
</template>

<script>
    import {messages} from "@/messages";
    const _ = require('lodash');

    export default {

        name: "ModalConfirm",
        props: {
            showModal: {
                type: Boolean,
                default: false
            },
            closeEvent:{
                type: Boolean,
                default: false
            }
        },

        methods: {
            handleSaveChange(){
                this.$emit('handleSaveChange')
            },
            handleCloseModal() {
                this.$emit('handleClose')
            }
        }
    }
</script>

<style lang="scss">
    .modal-confirm .modal-header{
        border-bottom:none;
        padding-bottom:0px;
    }
    .modal-confirm .modal-dialog{
        padding-left: 10px;
        padding-right: 10px;
        border-radius: 5px;
        background: #edeff0;
        text-align: center;
    }
    .modal-confirm .modal-content{
        border:none;
    }
    .modal-confirm .modal-body{
        padding-top:0px;
    }
    .modal-confirm .modal-header .close{
        display: none;
    }
</style>
