<template>
    <b-modal
        @show="showModalAddInterview"
        v-model="showModal"
        modal-class="add-scorecard-container modal-add-interview-guides"
        header-class="modal-header-add-pipeline"
        :no-close-on-backdrop="true">
        <template slot="modal-header" slot-scope="{ close }">
            <h1 v-if="typeModal == 'add'">{{messages.SR_006_INTERVIEW_GUIDES_MODAL_ADD_TITLE}}</h1>
            <h1 v-else>{{messages.SR_006_INTERVIEW_GUIDES_MODAL_EDIT_TITLE}}</h1>
            <b-button size="sm" class="button-add-pipeline" variant="secondary" @click="handleCloseModal()">
                <i class="fa fa-times"></i>
            </b-button>
        </template>
        <form name="form" @submit.prevent="validateBeforeSubmit"
              class="ng-pristine ng-valid ng-valid-required">
            <div class="settings-form interview-guide">
                <div class="section">
                    <input
                        autocomplete="off"
                        name="name_guide"
                        class="scorecard-name ng-pristine ng-valid ng-valid-required ng-touched"
                        type="text"
                        v-model="interview_guide.name"
                        placeholder="Interview Guide Name (Required)"
                        v-validate="'required:false'"
                        :class="errors.has('name_guide')?'error':''"/>
                </div>
                <div class="section">
                    <h3>{{messages.SR_006_INTERVIEW_GUIDES_MODAL_EDIT_DOCUMENT}} </h3>
                    <ul class="file-attachments">
                        <li :key="index" class="file-attachment ng-scope"
                            v-for="(file,index) in interview_guide.attachment_files ">
                            <div class="attached ng-scope">
                                <i class="fa fa-paperclip"></i>
                                <span class="attachment ng-binding">{{file.name}}</span>
                                <a class="remove" href="#" @click="removeAttachFile(index)">
                                    <i class="fa fa-times"></i>
                                </a>
                            </div>
                        </li>

                        <li class="add-attachment">
                            <div class="attach-file ng-pristine ng-untouched ng-valid"
                                 type="file"
                                 @click="$refs.file.click()"
                                 style="overflow: hidden;">
                                <i class="fa fa-plus"></i>
                                <span>{{messages.SR_006_INTERVIEW_GUIDES_MODAL_EDIT_ATTACH}}</span>
                                <input type="file"
                                       ref="file"
                                       tabindex="-1"
                                       id="input-file-attach"
                                       ng-file-generated-elem="true"
                                       @change="detectFiles($event.target.files)"
                                       style="width: 1px; height: 1px; opacity: 0; position: absolute; padding: 0px; margin: 0px; overflow: hidden;">
                            </div>
                        </li>
                    </ul>
                </div>
                <ul class="section-contraint ng-pristine ng-untouched ng-valid ng-scope"
                    as-sortable="board.dragControlListeners"
                    ng-model="interview_guide.sections">
                    <draggable tag="ul" :list="interview_guide.sections" class="list-group" handle=".handle">
                        <li :key="index_section" class="draggable section question ng-scope as-sortable-item interview-guide"
                            v-for="(section,index_section) in interview_guide.sections">
                            <ul class="section-actions reorder">
                                <li class="section-action ng-scope as-sortable-item-handle handle">
                                    <i class="fa fa-arrows-alt"></i><span class="text">{{messages.SR_006_INTERVIEW_GUIDES_MODAL_EDIT_REORDER}}</span>
                                </li>
                                <li class="section-action">
                                    <a href="#" @click="removeSection(index_section)">
                                        <i class="fa fa-times"></i>
                                    </a>
                                </li>
                            </ul>
                            <h3 class="ng-binding">{{messages.SR_006_INTERVIEW_GUIDES_MODAL_EDIT_SECTIONS}}
                                {{index_section + 1}}</h3>
                            <input
                                autocomplete="off"
                                :name="'section_name'+index_section"
                                class="section-text ng-pristine ng-scope ng-invalid ng-invalid-required ng-touched"
                                type="text" v-model="section.section_name"
                                placeholder="Section Name (e.g. Purpose)"
                                v-validate="'required:'+ validate_form"
                                :class="errors.has('section_name'+index_section)?'error':''">
                            <div class="type multiple-choice">
                                <ul class="criteria">
                                    <li :key="index_criteria" class="item ng-scope"
                                        v-for="(criteria,index_criteria) in section.list_criteria">
                                        <i class="circle fa fa-square"></i>

                                        <div class="option-container">
                                            <input
                                                autocomplete="off"
                                                :name="'criteria_name' + index_section + index_criteria"
                                                class="option-text ng-pristine ng-untouched ng-scope ng-invalid ng-invalid-required"
                                                type="text"
                                                v-model="criteria.criteria_name"
                                                placeholder="To determine if the candidate is a good fit for our company."
                                                v-validate="'required:' + validate_form"
                                                :class="errors.has('criteria_name' + index_section + index_criteria)?'error':''"
                                            >
                                        </div>
                                        <a v-if="section.list_criteria.length > 1"
                                           class="remove-option ng-scope" href="#"
                                           @click="removeCriteria(index_section,index_criteria)"
                                        >
                                            <i class="fa fa-times"></i>
                                        </a>
                                    </li>
                                </ul>
                                <a class="add-section" href="#" @click="addCriteria(index_section)"><i
                                    class="fa fa-plus"></i><span> {{messages.SR_006_INTERVIEW_GUIDES_MODAL_EDIT_ADD_ITEM}}</span></a>
                            </div>
                        </li>
                    </draggable>
                </ul>
                <div class="section add-section-container">
                    <a
                        class="add-section btn btn-blue btn-xs"
                        href="#"
                        @click="addSection()">
                        <i class="fa fa-plus"></i><span> {{messages.SR_006_INTERVIEW_GUIDES_MODAL_EDIT_ADD_SECTIONS}}</span>
                    </a>
                </div>
                <span class="status ng-binding"></span>
            </div>

        </form>
        <ul class="actions">
            <li class="action">
                <button :disabled="disable_save" class="btn btn-blue" @click="save()"><i class="fa fa-save"></i><span> {{messages.COMMON_BTN_SAVE}}</span>
                </button>
            </li>
        </ul>
        <template slot="modal-footer">
            <div class="container-footer">

            </div>
        </template>
    </b-modal>
</template>

<script lang="ts">
    import Vue from 'vue';
    import {mapGetters, mapActions} from 'vuex';
    import VeeValidate from 'vee-validate';
    import _ from "lodash";
    import {fstorage} from '@/firebase';
    import draggable from 'vuedraggable'
    import InterviewGuide from '@/models/InterviewGuides'

    Vue.use(VeeValidate);
    export default Vue.extend({
        name: 'NewInterviewGuide',
        components: {
            draggable
        },
        props: {
            showModal: {
                type: Boolean,
                default: false
            },
            typeModal: {
                type: String,
                default: "add"
            },
            idInterviewGuide: {
                type: [Number, String],
                default: '-1',
            }
        },
        data() {
            return {
                interview_guide_orignal_edit: new InterviewGuide(),
                interview_guide: new InterviewGuide(),
                new_section: {
                    section_name: "",
                    list_criteria: [
                        {criteria_name: ""}
                    ]
                },
                new_criteria: {criteria_name: ""},
                file: File,
                list_file: [],
                disable_save:false,
                validate_form:false,
            };
        },
        computed: {
            ...mapGetters([
                "currentCompany",
                "listInterviewGuide"
            ]),

        },
        methods: {
            ...mapActions([
                'addInterviewGuide',
                "editListInterviewGuide"
            ]),
            handleCloseModal() {
                this.validate_form = false
                this.$emit('dismissModal')

            },
            resetData() {
                this.file = File;
                this.list_file = [];

            },
            showModalAddInterview() {
                let that = this
                this.$validator.reset()
                switch (this.typeModal) {
                    case 'add':
                        this.interview_guide = new InterviewGuide()
                        this.interview_guide['company_id'] = this.currentCompany.id
                        console.log(this.interview_guide)
                        break
                    case 'edit':
                        if (this.idInterviewGuide) {
                            let index = this.listInterviewGuide.findIndex((guide) => guide.id == that.idInterviewGuide)
                            this.interview_guide_orignal_edit = this.listInterviewGuide[index]
                            this.interview_guide = this.listInterviewGuide[index].cloneNewObject()
                            console.log(this.interview_guide)
                        }
                        break
                    default:
                    //nothing
                }
            },
            validateBeforeSubmit() {
                return new Promise((resolve, reject) => {
                    this.$validator.validateAll().then((result) => {
                        resolve(result);
                    })
                })
            },
            addNewInterviewGuide() {
                let that = this
                that.uploadAttachFile().then(() => {
                    that.addInterviewGuide(that.interview_guide).then(() => {
                        that.$toasted.show(that.messages.COMMON_SAVED)
                        that.handleCloseModal()
                    })
                })
            },
            detectFiles(fileList) {
                if (fileList.length == 1) {
                    this.list_file.push(fileList[0])
                    this.interview_guide.attachment_files.push({name: fileList[0].name, link: ""})

                }
            },
            async uploadAttachFile() {
                console.log('list_file:', this.list_file)

                let that = this
                const upload_attach_file = that.list_file.map((file, index) => {
                    let fileNameUp = that.interview_guide['company_id'] + "_" + file.name
                    let upload = fstorage.ref('image/interview_guides/' + that.interview_guide['company_id'] + '/attach_file' + that.interview_guide['company_id'] + fileNameUp).put(file)
                    return new Promise((resolve, reject) => {
                        upload.on('state_changed', null, null,
                            async () => {
                                await upload.snapshot.ref.getDownloadURL().then((downloadUrl) => {
                                    let index_file_in_list_attach = (that.interview_guide['attachment_files'].length - that.list_file.length) + index  // get index in this.interview_guide['attachment_files']

                                    if (0 <= index_file_in_list_attach && index_file_in_list_attach <= that.interview_guide['attachment_files'].length) {
                                        that.interview_guide['attachment_files'][index_file_in_list_attach].link = downloadUrl
                                        // that.$toasted.show('Uploaded !')
                                    }
                                    resolve();
                                })
                            })
                    })
                })
                await Promise.all(upload_attach_file)
            },
            removeAttachFile(index) {
                if (this.interview_guide['attachment_files'].length > 0) {
                    let index_file_in_list_attach = index - (this.interview_guide['attachment_files'].length - this.list_file.length)  // get index in this.attachment_files['photos']
                    this.interview_guide['attachment_files'].splice(index, 1);
                    if (0 <= index_file_in_list_attach && index_file_in_list_attach <= this.list_file.length) {
                        // this file is new file attach
                        this.list_file.splice(index_file_in_list_attach, 1);
                    }
                }
            },
            saveEditInterviewGuide() {
                this.disable_save = true
                let that = this
                that.uploadAttachFile().then(() => {
                    let interview_guide_edit = {
                        type: 'edit',
                        content: that.interview_guide,
                    }
                    if (that.interview_guide['id']) {
                        console.log(this.interview_guide)
                        Object.assign(this.interview_guide_orignal_edit, this.interview_guide)
                        that.interview_guide_orignal_edit.update().then(() => {
                            that.disable_save = false
                            that.$toasted.show(that.messages.COMMON_SAVED)
                            that.handleCloseModal()
                        })
                    }
                })
            },
            save() {
                let that = this
                let is_validate
                this.validate_form = true
                that.validateBeforeSubmit().then((data) => {
                    console.log(data)
                    is_validate = data
                    if (is_validate == true) {
                        that.uploadFile()
                        switch (this.typeModal) {
                            case 'add':
                                that.addNewInterviewGuide()
                                break
                            case 'edit':
                                that.saveEditInterviewGuide()
                                break
                            default:
                            //nothing
                        }
                    } else {
                        //nothing
                    }
                })

            },
            uploadFile() {
                if (this.list_file.length > 0) {

                }
            },
            addSection() {
                let new_section = _.cloneDeep(this.new_section)
                this.interview_guide['sections'].push(new_section)
            },
            removeSection(index) {
                this.interview_guide['sections'].splice(index, 1)
            },
            removeCriteria(section_index, criteria_index) {
                let lenght_list_section = this.interview_guide['sections'].length;
                let lenght_list_criteria = this.interview_guide['sections'][section_index]['list_criteria'].length
                if (section_index < lenght_list_section && criteria_index < lenght_list_criteria) {
                    this.interview_guide['sections'][section_index]['list_criteria'].splice(criteria_index, 1)
                }

            },
            addCriteria(section_index) {
                console.log(section_index)
                let lenght_list_section = this.interview_guide['sections'].length;
                let new_criteria = _.cloneDeep(this.new_criteria)
                if (section_index < lenght_list_section) {
                    console.log(this.interview_guide['sections'])
                    this.interview_guide['sections'][section_index]['list_criteria'].push(new_criteria)
                }
            },
        }
    });
</script>
<style lang="scss" >

    .add-scorecard-container.modal-add-interview-guides{
        font-family: nimbus-sans, Helvetica Neue, Helvetica, Arial, sans-serif !important;
        -webkit-font-smoothing: subpixel-antialiased !important;
        text-rendering: optimizelegibility !important;

        .modal-header-add-pipeline {
            border-bottom: none;
            padding-bottom: 0px;
        }

        .modal-header {
            h1 {
                /*font-weight:bold;*/
                font-weight: 400;
                color: rgb(76, 85, 92);

            }

            border: none
        }
        .modal-content .modal-body .section input[type=text] {
            width: 100%;
            line-height: 20px;
        }

        .modal-content .settings-form .section ul {
            margin-bottom: 0px !important;
            margin-top: 0px !important;
        }

        .add-scorecard-container {

        }
        .modal-dialog {
            padding-left: 10px;
            padding-right: 10px;
            border-radius: 5px;
            background: #edeff0;
        }

        .modal-content {
            border: none;
            background: white !important;
            font-size: 14px;

            /*padding-left: 5px;*/
            /*padding-right: 5px;*/
        }
        .modal-footer p {
            flex: 1;
        }

        .button-add-pipeline {
            padding: 10px;
            padding-left: 15px;
            position: absolute;
            right: 0;
            border: none;
            font-weight: bold;
            background: #edeff0;
            top: 0;
            font-size: 21px !important;
            color: #4c555c;
        }

        .button-add-pipeline i {
            font-size: 21px !important;
        }

        a {
            resize: none;
        }

        a:hover {
            text-decoration: none;
        }
        .section {
            h3 {
                font-size: 16px !important;
                font-weight: 400;
                line-height: 16px !important;
            }
        }
        .interview-guide .section{
            .add-attachment i {
                margin-right: 5px;
            }
        }
        .section {
            padding: 10px 0 20px;
            border-bottom: 1px solid #edeff0;
            margin-bottom: 10px;
            &:last-child {
                border-bottom: none;
            }
            .add-attachment{
                .attach-file{
                    font-size: 14px;
                    color: #5ac0e5;
                    display: inline-block;
                    cursor: pointer;
                }
            }
            .file-attachments{
                margin-top: 10px;
                .file-attachment {
                    margin-bottom: 10px;
                    .attached {

                        line-height: 14px;

                        .attachment {
                            font-size: 14px;
                            color: #4c555c;
                            font-weight: 400;
                        }

                        .remove {
                            margin-left: 5px;
                            color: #4c555c;
                            font-weight: 900;
                        }

                        .fa-paperclip {
                            margin-right: 5px;
                            font-weight: 900;
                        }
                    }
                }
            }
        }

        .section-contraint {
            margin-bottom: 0px;
            .section.interview-guide {
                h3 {
                    font-size: 16px !important;
                    font-weight: 400;
                }
                .section-actions.reorder{
                    float: right;
                    display: none;

                }
                &:hover .section-actions.reorder{
                    float: right;
                    display: flex;
                    font-size: 12px !important;
                    .section-action{
                        cursor: pointer;
                        margin-left: 10px;
                        padding: 2px;
                    }
                    .text {
                        margin-left: 5px;
                    }
                }

                .section-text{
                    margin-bottom: 10px;
                    background: #fff;
                    font-size: 14px;
                    color: #4c555c;
                }
            }
            .multiple-choice{
                .item{
                    display: flex;
                    justify-content: space-around;
                    margin-bottom: 10px;
                    i {
                        margin: auto;
                        font-size: 14px;
                        color: #edeff0;
                    }
                    .option-container{
                        width: 100%;
                        margin: 0px 10px;
                    }
                    .remove-option{
                        display: inline-block;
                        margin: auto;
                        font-size: 14px;
                        i{
                            color: #4c555c;
                        }

                    }
                }
                .add-section{
                    font-size: 14px;
                    color: #5ac0e5;
                    outline: none;
                    box-sizing: border-box;
                    vertical-align: baseline;
                }
            }

        }
        .actions .action{
            text-align: right;
        }
        .modal-footer {
               display: none;
        }

    }
</style>
