<template>
    <div class="candidate-documents candidate-background-checks">
        <section class="section documents-container">
            <label class="btn btn-blue attach-file ng-pristine" variant="blue"
                   v-if="!documentUploading" style="overflow: hidden;">
                <i class="fa fa-cloud-upload"></i>
                <span> Upload Attachment</span>
                <input type="file" tabindex="-1"
                       @change="onFileChange"
                       @select="onFileSelect"
                       style="width: 1px; height: 1px; opacity: 0; position: absolute; padding: 0px; margin: 0px; overflow: hidden;">
            </label>
            <div v-else class="attach-file text-secondary d-flex align-items-center">
                <b-spinner tag="div" variant="secondary" label="Uploading..."></b-spinner>
                <div class="m-2 ">Uploading...</div>
            </div>

            <h1 class="section-header">Attachments</h1>
            <div class="empty-state"
                 v-if="other_documents.length === 0 && documents.length === 0 && interviewArchives.length === 0">
                <i class="fa fa-paperclip"></i>
                <p>No attachments have been added.</p>
            </div>
            <div class="documents">
                <div href="https://www.google.com/search?q=tung+os" class="document" v-for="document in documents" :key="document.id">
                    <div class="document-type">
                        <i class="fa fa-file"></i>
                    </div>
                    <div class="details">
                        <span class="remove ng-scope" ng-if="currentUser.id === document.owner_id">
                            <a href="#" ng-click="deleteDocument($index, item); $event.stopPropagation();">
                                <span>Remove </span>
                                <i class="fa fa-times"></i>
                            </a>
                        </span>
                        <h3 class="ng-binding">
                            {{document.name}}
                            <span class="size">
                                {{document.size}}
                            </span>
                        </h3>
                        <p class="creator ng-binding">
                            Added by: {{document.owner}}&nbsp;
                            <span class="timestamp lowercase" time-ago="time-ago"
                                  :from-time="document.created_at">
                                {{calculateTime(document.created_at)}}
                            </span>
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </div>
</template>

<script lang="ts">
    import Vue from 'vue';
    import {Component} from 'vue-property-decorator';
    import {mapGetters} from 'vuex';
    import moment from 'moment';

    @Component({
        computed: {
            ...mapGetters([
                'currentUser',
            ]),
        },
    })
    export default class CandidateTabAttachments extends Vue {
        // DATA
        documentUploading: boolean = false;
        file: File | null = null;

        // COMPUTED
        get documents(): any[] {
            return [
                {
                    id: 'asd',
                    name: "TungOS.iso",
                    owner: "Nguyen Minh Nguyen",
                    created_at: new Date("1 May 2019").getTime(),
                    size: '4 GB',
                },
            ];
        }

        get interviewArchives(): any[] {
            return [];
        }

        get other_documents(): any[] {
            return [];
        }

        // method
        onFileChange(e): void {
            this.file = e.target.files.item(0);
        }

        onFileSelect(e): void {

        }

        calculateTime(timestamp: number): string {
            return moment(timestamp).locale("vi-vn").fromNow();
        }
    }
</script>
