<!-- Calendar using FullCalendar Component, docs at -->
<!-- Vue:       https://fullcalendar.io/docs/vue -->
<!-- General:   https://fullcalendar.io/docs#toc -->

<template>
    <div class="candidate-calendar">
        <div class="section-primary-action">
            <b-button variant="blue" @click="scheduleInterview">
                <i class="fas fa-calendar-alt"></i>
                <span>&nbsp;{{'Schedule Meeting'}}</span>
            </b-button>
        </div>
        <h1 class="section-header">{{'Calendar'}}</h1>

        <FullCalendar default-view="dayGridMonth"
                      :events="meetings"
                      :event-border-color="'#0000'"
                      :event-text-color="'white'"
                      :locale="locale"
                      :plugins="plugins"></FullCalendar>
    </div>
</template>

<style lang="scss">
    @import '~@fullcalendar/core/main.css';
    @import '~@fullcalendar/daygrid/main.css';
    @import '~@fullcalendar/bootstrap/main.css';
</style>

<script lang="ts">
    import Vue from 'vue';
    import FullCalendar from '@fullcalendar/vue';
    import BootstrapPlugins from '@fullcalendar/bootstrap';
    import DayGridPlugins from '@fullcalendar/daygrid';
    import viPlugins from '@fullcalendar/core/locales/vi';

    export default Vue.extend({
        components: {
            FullCalendar,
        },

        data() {
            return {
                plugins: [DayGridPlugins, BootstrapPlugins],
                locale: viPlugins,
                meetings: [
                    {
                        title: "Test Event",
                        start: "2019-05-20T09:00:00+07:00",
                        backgroundColor: 'red',
                    },
                    {
                        title: "Replace this",
                        start:  "2019-05-22T13:00:00+07:00",
                        end:    "2019-05-22T18:00:00+07:00",
                        backgroundColor: 'green'
                    },
                ],
            }
        },

        methods: {
            scheduleInterview(): void {
                this.$store.commit("schedule_interviews/setOpen");
            },
        }
    })
</script>
