<template>
    <div class="candidate-experience">
        <section class="section contact-container"
                 :class="editing ? 'editing' : 'not-editing'">
            <h1 class="section-header">Candidate Details</h1>

            <div :class="editing ? 'editing' : 'not-editing'">
                <avatar class="avatar" :username="candidate.name" :src="candidate.photoURL"></avatar>
                <h2 class="name">{{candidate.name}}</h2>
                <div><h2>Candidate Source</h2>
                    <p v-if="!candidate.source">No candidate source has been set.</p>
                    <ul v-else class="contact-details">
                        <li v-for="(source, idx) in candidate.source" :key="idx">
                            {{source}}
                        </li>
                    </ul>
                </div>

                <h2>Contact Points</h2>
                <ul class="contact-details">
                    <li></li>
                </ul>

                <h2>Social Profiles</h2>
                <p v-if="!candidate.socials || candidate.socials.length === 0">
                    No social profiles have been added.
                </p>
                <ul v-else class="contact-details social-profiles">
                    <li class="contact-detail" v-for="social in Object.keys(candidate.socials)">
                        <i :class="`fab fa-${social} mr-2`"></i>
                        <strong>{{social}}</strong>
                        <a :href="candidate.socials[social]" target="_blank" rel="noopener noreferrer">
                            {{candidate.socials[social]}}
                        </a>
                    </li>
                </ul><!-- ngIf: position.is_admin -->
                <div v-if="isMyPosition">
                    <h2 class="other-info">Other Information</h2>
                    <p v-if="!candidate.custom_attributes || candidate.custom_attributes.length === 0">
                        No additional information has been added.
                    </p>
                    <ul class="contact-details">

                    </ul>
                </div>
                <ul class="update-actions main-action ng-scope" ng-if="position.is_admin">
                    <li>
                        <a class="update-action" href="#"
                           @click="editing = true">
                            <i class="fa fa-edit"></i>
                            <span> Edit Candidate Details</span>
                        </a>
                    </li>
                </ul>
            </div>
        </section>
    </div>
</template>


<script lang="ts">
    import Vue from 'vue';
    import Avatar from 'vue-avatar';

    export default Vue.extend({
        components: {
            Avatar,
        },

        data() {
            return {
                // temp data
                candidate: {
                    id: 'asdasd',
                    name: "Dinh Tung",
                    email: "gmail@tung.com",
                    phone: null,
                    source: ["Google"],
                    socials: {
                        "facebook": "https://facebook.com/dinhquangtungbk",
                    },
                },

                editing: false,
            }
        },

        computed: {
            candidate_id(): string {
                return this.$route.params.candidate_id;
            },

            isMyPosition(): boolean {
                return true;
            }
        },
    });
</script>
