<template>
    <div class="content-section-wrapper discussion-wrapper ng-scope"
         ng-class="{editing: editingDiscussionNote}"
         ng-if="activeTabRight == 'activity' || activeTabRight == 'discussion'">
        <div class="candidate-activity"
             ng-class="discussionNotesEditorVisible ? &quot;editing-enabled&quot; : &quot;editing-disabled&quot;"><h1
            class="section-header">Team Discussion</h1>
            <div class="message-compose">
                <div
                    :data-placeholder="placeholder"
                    aria-multiline="true"
                    autocomplete="off"
                    class="textarea message default-css ng-pristine ng-untouched ng-valid ng-isolate-scope angular-medium-editor medium-editor-element medium-editor-placeholder"
                    contenteditable="true" data-medium-editor-editor-index="13"
                    data-medium-editor-element="true" id="notes_activity" medium-editor="medium-editor"
                    medium-editor-index="b6e4f18c-48be-9ed3-023d-4c013bcd188a" mentio="mentio"
                    mentio-id="'notes_activity'"
                    mentio-items="team_members" mentio-template-url="/mention-team-members.tpl" ng-model="note.body"
                    ng-model-options="{ debounce: 250 }"
                    role="textbox"
                    spellcheck="true"></div>
                <div class="clearfix"></div>
                <div class="status"></div>
                <ul class="actions">
                    <li class="action">
                        <button class="btn btn-default btn-sm ng-pristine ng-untouched ng-valid"
                                ng-file-change="uploadToStream($files)" ng-file-select="ng-file-select"
                                ng-model="streamUploads" style="overflow: hidden;"><i
                            class="fa fa-paperclip"></i><input ng-file-generated-elem="true"
                                                               style="width: 1px; height: 1px; opacity: 0; position: absolute; padding: 0px; margin: 0px; overflow: hidden;"
                                                               tabindex="-1"
                                                               type="file">
                        </button>
                    </li>
                    <li class="action">
                        <button class="post-note btn btn-blue btn-sm" ng-click="postNote()"><span class="ng-binding">Post</span>
                        </button>
                    </li>
                </ul>
            </div>
            <div class="candidate-loader loader-container initialized"
                 ng-class="initializingCandidateMeta ? &quot;initializing&quot; : &quot;initialized&quot;">
                <div class="center">
                    <div class="bouncywrap">
                        <div class="dotcon dc1">
                            <div class="dot"></div>
                        </div>
                        <div class="dotcon dc2">
                            <div class="dot"></div>
                        </div>
                        <div class="dotcon dc3">
                            <div class="dot"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="activity-stream-container ng-scope with-end-dot"
                 ng-class="stream.length > 0 ? &quot;with-end-dot&quot; : &quot;&quot;"
                 ng-if="!initializingCandidateMeta">
                <div class="timeline"></div>
                <ul class="activity-stream">
                    <li class="activity-container ng-scope"
                        ng-class="activity.postPageload ? &quot;new&quot;: &quot;&quot;"
                        ng-repeat="activity in stream track by activity._id">
                        <div class="ng-scope" src="getTemplate()">
                            <div class="activity candidate-added candidateAdded" id="d7a29b45f2e3">
                                <div class="activity-object low-priority">
                                    <div class="activity-type"><i class="fa fa-user"></i></div>
                                    <div class="activity-info">
                                        <div class="activity-timestamp"><span class="timestamp ng-binding"
                                                                              data-container="body"
                                                                              from-time="2019-05-06T05:26:52.486Z"
                                                                              time-ago="time-ago"
                                                                              tooltip-placement="bottom"
                                                                              uib-tooltip="May 6th @ 12:26 pm">12d Ago</span>
                                        </div>
                                        <div class="activity-header"><p class="author-name"><a class="ng-binding"
                                                                                               href="#"
                                                                                               ng-click="navigateToCandidate(activity.object.candidate._id, activity.object.position._id)">12321312321</a>

                                            <span
                                                class="ng-scope" ng-if="::activity.object.candidate.sourced_by"> was added to </span>


                                            <a class="ng-binding"
                                               href="#">123</a>
                                            <span
                                                class="ng-binding ng-scope"
                                                ng-if="::activity.object.candidate.sourced_by"> by Hong Le Viet</span>


                                        </p></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="edit-discussion-note-modal">
            <div class="edit-discussion-note-dialog">
                <div class="activity">
                    <div class="message-compose"
                         ng-class="{hasAttachments: (selectedDiscussionNote.attachments.length > 0)}">
                        <div :data-placeholder="placeholder2"
                             aria-multiline="true"
                             class="textarea message default-css ng-pristine ng-untouched ng-valid angular-medium-editor medium-editor-element medium-editor-placeholder"
                             contenteditable="true"
                             data-medium-editor-editor-index="14"
                             data-medium-editor-element="true"
                             medium-editor="medium-editor" medium-editor-index="dfcb9760-82cb-628b-c61c-c44e0ae531fd"
                             ng-model="selectedDiscussionNote.body"
                             role="textbox"
                             spellcheck="true"></div>
                        <div class="activity-footer clearfix">
                            <div class="activity-attachments ng-hide"
                                 ng-show="selectedDiscussionNote.attachments.length > 0">
                                <ul class="attachments">
                                </ul>
                            </div>
                            <div class="status"></div>
                            <ul class="actions">
                                <li class="action">
                                    <button class="btn btn-default btn-sm ng-pristine ng-untouched ng-valid"
                                            ng-file-change="uploadToEditDiscussionNote($files)"
                                            ng-file-select="ng-file-select"
                                            ng-model="editDiscussionNoteAttachment"
                                            style="overflow: hidden;">
                                        <i class="fa fa-paperclip"></i>
                                        <input ng-file-generated-elem="true"
                                               style="width: 1px; height: 1px; opacity: 0; position: absolute; padding: 0px; margin: 0px; overflow: hidden;"
                                               tabindex="-1"
                                               type="file">
                                    </button>
                                </li>
                                <li class="action">
                                    <button class="post-note btn btn-sm" ng-click="cancelEditDiscussionNote()">
                                        <span>Cancel</span>
                                    </button>
                                </li>
                                <li class="action ng-scope" ng-if="!candidateDiscussionNote._id">
                                    <button class="post-note btn btn-blue btn-sm" ng-click="updateDiscussionNote()">
                                        <span>Update</span>
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
    import Vue from 'vue';

    export default Vue.extend({
        data() {
            return {
                placeholder: "Share a message with your team here.\n" +
                    "You can use @-mentions to notify individual team members.\n" +
                    "* Remember not to include sensitive information.\n",

                placeholder2: "Edit your message to the team here.\n" +
                    "* Remember not to include sensitive information.\n",

            }
        }
    });
</script>
