<template>
    <div class="candidate-experience" ng-if="activeTabLeft == 'experience'">
        <section class="section summary-container ng-hide" ng-show="candidateCopy.cover_letter.length > 0"><h1
            class="section-header"><span>Cover Letter</span></h1>
            <div class="not-editing">
                <div class="summary ng-isolate-scope" marked="candidateCopy.cover_letter"></div>
                <!-- ngIf: position.is_admin -->
                <ul class="update-actions ng-scope" ng-if="position.is_admin">
                    <li><a class="add link-blue" href="#" ng-click="openAddSectionItem('cover_letter')"><i
                        class="fa fa-edit"></i><span>Edit Cover Letter</span></a></li>
                </ul><!-- end ngIf: position.is_admin --></div>
        </section>
        <section class="section summary-container" ng-class="{editing: sections.summary.editing}"><h1
            class="section-header"><span>Summary</span>
            <!-- ngIf: position.is_admin && !candidate.headline && !candidate.summary --></h1>
            <div class="not-editing">
                <div class="summary ng-isolate-scope ng-hide" marked="candidate.headline"
                     ng-show="candidate.headline"></div>
                <div class="summary ng-isolate-scope" marked="normalizeText(candidate.summary)"
                     ng-show="candidate.summary" style=""><p>123</p>
                </div><!-- ngIf: !candidateCopy.summary && !candidateCopy.headline -->
                <!-- ngIf: position.is_admin && (candidateCopy.summary || candidateCopy.headline) -->
                <ul class="update-actions ng-scope"
                    ng-if="position.is_admin &amp;&amp; (candidateCopy.summary || candidateCopy.headline)">
                    <li><a class="link-blue" href="#" ng-click="openAddSectionItem('summary')"><i
                        class="fa fa-edit"></i><span>Edit Summary        </span></a></li>
                </ul><!-- end ngIf: position.is_admin && (candidateCopy.summary || candidateCopy.headline) --></div>
        </section>
        <section class="section work-history-container" ng-class="{editing: sections.work_history.editing}">
            <h1 class="section-header"><span>Work Experience</span><!-- ngIf: position.is_admin -->
                <div class="actions ng-scope" ng-if="position.is_admin">
                    <div class="action"><a class="add link-blue" href="#" ng-click="openAddSectionItem('work_history')"><i
                        class="fa fa-plus"></i><span>Add Experience</span></a></div>
                </div><!-- end ngIf: position.is_admin --></h1>
            <div class="not-editing">
                <div class="positions">
                    <!-- ngIf: !candidateCopy.work_history || candidateCopy.work_history.length == 0 --><p
                    ng-if="!candidateCopy.work_history || candidateCopy.work_history.length == 0" class="ng-scope">No
                    work experience has been added.</p>
                    <!-- end ngIf: !candidateCopy.work_history || candidateCopy.work_history.length == 0 -->
                    <!-- ngRepeat: item in candidateCopy.work_history | orderBy:['-start_date.year', '-start_date.month'] -->
                </div>
            </div>
        </section>
        <section class="section education-container">
            <h1 class="section-header"><span>Education</span><!-- ngIf: position.is_admin -->
                <div class="actions ng-scope" ng-if="position.is_admin">
                    <div class="action"><a class="add link-blue" href="#" ng-click="openAddSectionItem('education')"><i
                        class="fa fa-plus"></i><span>Add Education</span></a></div>
                </div><!-- end ngIf: position.is_admin --></h1>
            <div class="education"><!-- ngIf: !candidateCopy.education || candidateCopy.education.length == 0 --><p
                ng-if="!candidateCopy.education || candidateCopy.education.length == 0" class="ng-scope">No education
                has been added.</p><!-- end ngIf: !candidateCopy.education || candidateCopy.education.length == 0 -->
                <!-- ngRepeat: item in candidateCopy.education | orderBy:['-start_date.year'] --></div>
        </section>
        <section class="section  ng-hide" ng-show="candidateCopy.questionnaire"><h2 class="section-header">Additional
            Questions</h2>
            <div class="questions"><!-- ngRepeat: item in candidateCopy.questionnaire --></div>
        </section>
    </div>
</template>
