<template>
    <div class="candidate-questionnaires">
        <section class="section candidate-questionnaires-container">
            <b-button @click="openSendQuestionnaire()" class="btn-xs send-questionnaire"
                      variant="blue">
                <i class="fa fa-envelope"></i>
                <span> Send Questionnaire</span>
            </b-button>
            <h1 class="section-header">Questionnaires</h1>
            <div :class="{[`alert-${type || 'warning'}`]: true, 'alert-dismissible': closable}"
                 class=""
                 role="alert" type="warning"
                 v-show="position.state !== 'published' && position.candidate_type !== 'none'">
                <button class="close ng-hide" ng-click="close({$event: $event})" type="button" v-show="closable">
                    <span aria-hidden="true">×</span>
                    <span class="sr-only">Close</span>
                </button>
                <div ng-transclude="">
                    <span class="ng-scope">Sending Questionnaires is only enabled for active positions & candidate pools.</span>
                </div>
            </div>
            <div class="questionnaires candidate-assessments">
                <div :class="questionnaire.open ? 'open': 'closed'"
                     :key="questionnaire.id"
                     class="questionnaire-container" v-for="(questionnaire, idx) in questionnaires">
                    <div @click="toggleQuestionnaire(idx)" class="questionnaire">
                        <div class="details">
                            <span class="status sent" v-if="questionnaire.status === 'sent'">
                                Sent. Waiting for response
                            </span>
                            <h3 class="ng-binding">{{questionnaire.name}}</h3>
                            <p class="creator">
                                <span>Sent by: <strong class="ng-binding">{{sender.name}}</strong></span>
                                <span> </span>
                                <span class="timestamp ng-binding"
                                      from-time="2019-05-18T09:32:20.623Z"
                                      time-ago="time-ago">&lt;{{sendTime}}</span>
                            </p>
                        </div>
                    </div>
                    <section class="candidate-experience questionnare-results"
                             v-show="questionnaire.open && questionnaire.status === 'recinded'">
                        <p>Questionnaire recinded.</p>
                    </section>
                    <section class="candidate-experience questionnare-results"
                             v-show="questionnaire.open && questionnaire.status === 'sent'">
                        <p class="ng-binding">12321312321 hasn't completed this questionnaire yet.</p>
                    </section>
                    <section class="candidate-experience questionnare-results"
                             v-show="questionnaire.open && questionnaire.status === 'completed'">
                        <div class="questions">
                            <div class="question-item experience-item"
                                 v-for="item in questionnaire.questions">
                                <h3>{{item.title}}</h3>
                                <div class="question-response ng-scope"
                                     v-if="item && item.type.id !== 'file' &&item.type.id !== 'checkboxes' && item.type.id !== 'video' && item.type.id !== 'multiplechoice'">
                                    <div class="ng-isolate-scope" marked="item.response"></div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </section>
        <b-modal id="send-questionnaires" title="Send Questionnaires"></b-modal>
    </div>
</template>

<script lang="ts">
    import Vue from 'vue';
    import moment from "moment";
    import Questionnaire from "@/models/Questionnaire";

    export default Vue.extend({
        name: "CandidateQuestionnairesTab",
        data() {
            return {
                candidate: {},

                position: {
                    state: 'published',
                },

                questionnaires: [
                    {
                        id: 'asd',
                        name: 'QC Question',
                        status: 'sent',
                        open: false,
                    },
                    {
                        id: 'dsa',
                        name: 'Deadline',
                        status: 'sent',
                        open: false,
                    }
                ],
                type: 'normal',

                closable: true,
            };
        },

        computed: {
            sender(): any {
                return {
                    name: "Nguyen",
                }
            },

            sendTime(): string {
                return moment("1 May 2019").fromNow();
            }
        },

        methods: {
            toggleQuestionnaire(idx: number): void {
                this.questionnaires[idx].open = !this.questionnaires[idx].open;
            },

            openSendQuestionnaire(): void {
                (this as any).$bvModal.show('send-questionnaires');
            }
        },
    });
</script>
