<template>
    <div class="content-section candidate-resume ng-scope"
         ng-class="pdfEmbedFullScreen === true ? 'pdf-fullscreen' : ''"
         ng-if="activeTabLeft == 'resume'">

        <div
            accept=".abw, .djvu, .doc, .docm, .docx, .html, .lwp, .md, .odt, .pages, .pages.zip, .pdf, .rst, .rtf, .sdw, .tex, .txt, .wpd, .wps, .zabw"
            class="btn btn-blue btn-xs attach-file ng-pristine ng-untouched ng-valid ng-scope"
            ng-file-change="onResumeFileSelect($files)"
            ng-file-select="ng-file-select"
            ng-if="!resumeUploading && position.is_admin"
            ng-model="myFiles" style="overflow: hidden;"
            type="file"><i class="fa fa-cloud-upload"></i>
            <span class="ng-scope"
                  ng-if="pdfEmbed"> Update Resume</span>
            <input
                accept=".abw, .djvu, .doc, .docm, .docx, .html, .lwp, .md, .odt, .pages, .pages.zip, .pdf, .rst, .rtf, .sdw, .tex, .txt, .wpd, .wps, .zabw"
                ng-file-generated-elem="true"
                style="width: 1px; height: 1px; opacity: 0; position: absolute; padding: 0px; margin: 0px; overflow: hidden;"
                tabindex="-1"
                type="file">
        </div>
        <a class="download-resume ng-scope"
           href="https://attachments-cdn.breezy.hr/799aa196-e662-4b83-a1aa-62ca38155226/test4.txt"
           ng-if="candidate.resume.url && !resumeUploading"
           target="_blank"><i
            class="fa fa-cloud-download"></i><span> Download</span></a>
        <h1 class="section-header">Resume / CV</h1>

        <iframe class="ng-scope" frameborder="0"
                iframe-resize="iframe-resize"
                ng-if="pdfEmbed"
                ng-src="https://attachments-cdn.breezy.hr/pdfviewer/web/viewer.html?file=https%3A%2F%2Fattachments-cdn.breezy.hr%2Fdb1960b7-c085-4506-b9b9-c917a335567f%2Ftest4.pdf&embedded=true"
                src="https://attachments-cdn.breezy.hr/pdfviewer/web/viewer.html?file=https%3A%2F%2Fattachments-cdn.breezy.hr%2Fdb1960b7-c085-4506-b9b9-c917a335567f%2Ftest4.pdf&embedded=true"
                style="height: 714px;"></iframe>
    </div>
</template>
