<template>
    <b-modal id="modal-lg" size="lg" :title="template.id ? messages.SR_052_TITLE_UPDATE_EMAIL_TEMPLATE : messages.SR_052_TITLE_ADD_EMAIL_TEMPLATE" :hide-footer="true"
             :visible="showModal" @close="handleClose" :no-close-on-backdrop="true"
             modal-class="email-template-modal">
        <div class="settings-form email-templates">
            <div class="section">
                <input class="template-name"
                       type="text" v-model.trim="template.name" :placeholder="messages.SR_052_TEMLATE_NAME_PLACEHOLDER"
                        required="required" :class="{error: errors.name}" maxlength="500">
                <!-- ngIf: !options.isDocSign -->
                <div>
                    <h4>Email Subject</h4>
                    <input class="template-subject" type="text" v-model.trim="template.subject"
                        :placeholder="messages.SR_052_EMAIL_SUBJECT_PLACEHOLDER" maxlength="500" :class="{error: errors.subject}">
                </div>
                <h4>Email Body</h4>
                <div class="template-variables">
                    <div class="template-variable-select">
                        <SelectSearch :data-options="options" :value="selected_option"
                                      class-container="select-var mb-2"
                                      :place-holder="messages.SR_052_TXT_TEMPLATE_VAR"
                                      @changeValue="changeVariable"></SelectSearch>
                    </div>
                    <div class="template-variable-select">
                    </div>
                </div>

                <div class="">
                    <VueEditor :class="{error: errors.content}" v-model="template.content" ref="editor" :editorToolbar="toolbarOptions"></VueEditor>
                </div>
                <ul class="file-attachments">
                    <li class="file-attachment" v-for="fileAttachment, index in template.attachments" :key="index">
                        <div class="attached">
                            <i class="fa fa-paperclip"></i>
                            <span class="attachment ng-binding">{{fileAttachment.file_name}}</span>
                            <a class="remove" href="#" @click="removeFileAttachment(index)"><i class="fa fa-times"></i></a>
                        </div>
                    </li>
                    <li class="file-attachment" v-if="uploading">
                        <div class="uploading">
                            <i class="fa fa-circle-notch fa-spin"></i>
                            <span>{{messages.SR_052_UPLOADING}}</span>
                        </div>
                    </li>
                    <li class="add-attachment">
                        <div class="attach-file btn btn-blue btn-xs" style="cursor: pointer" type="file" @click="onClickFile"><i
                            class="fa fa-plus"></i><span> {{messages.SR_052_TXT_ATTACH_DOCUMENT}}</span>
                            <input ref="inputFile" @change="handleFile" type="file" style="width: 1px; height: 1px; opacity: 0; position: absolute; padding: 0px; margin: 0px; overflow: hidden;">
                        </div>
                    </li>
                </ul>
                <ul class="actions">
                    <li class="action" v-if="template.id">
                        <button class="btn btn-blue" @click="handleSubmit" :disabled="uploading">
                            <i class="fa fa-save"></i><span> {{messages.COMMON_BTN_SAVE}}</span></button>
                    </li>
                    <li class="action" v-else>
                        <button class="btn btn-blue" @click="handleSubmit" :disabled="uploading">
                            <i class="fa fa-plus"></i><span> {{messages.SR_052_TITLE_ADD_EMAIL_TEMPLATE}}</span></button>
                    </li>
                </ul>
            </div>
        </div>
    </b-modal>
</template>

<script lang="ts">
    import Vue from "vue";
    import {mapGetters, mapActions} from "vuex";
    import {VueEditor} from 'vue2-editor';
    import {fstorage} from '@/firebase';
    import SelectSearch from '../select/main.vue';

    export default Vue.extend({
        name: "EmailTemplateModal",
        components: {
            VueEditor,
            SelectSearch
        },
        props: ['showModal', 'selected_template', "options"],
        data() {
            return {
                template: {
                    name: "",
                    subject: "",
                    upload: {} as firebase.storage.UploadTask,
                    content: "",
                    attachments: [],
                },
                toolbarOptions: [
                    ['bold', 'italic',  {'list': 'bullet'}, 'image', 'link'],
                ],
                selected_option: {
                    title: 'Template Variables',
                    value: null,
                },
                uploading: false,
                errors: {
                    name: null,
                    subject: null,
                    content: null,
                }
            }
        },
        computed: {
            ...mapGetters([
                'messaging_template',
            ])
        },
        watch: {
            showModal(val) {
                let that = this as any;
                if (val && !this.selected_template) {
                    that.template = {
                        name: "",
                        subject: this.messaging_template.default_subject,
                        content: "",
                        attachments: []
                    }
                } else if (val && this.selected_template) {
                    this.template = this.selected_template.cloneNewObject();
                    if (!this.template.subject) {
                        this.template.subject = this.messaging_template.default_subject;
                    }
                }
                that.uploading = false;
                that.selected_option = {
                    title: 'Template Variables',
                    value: null,
                };
                this.errors = {
                    name: null,
                    subject: null,
                    content: null,
                };
            }
        },
        methods: {
            ...mapActions([
                'updateEmailTemplate',
                'createEmailTemplate'
            ]),
            changeVariable(val) {
                this.selected_option = val;
                this.template.content += ` [[ ${val.value} ]]`;
            },
            onClickFile() {
                (this.$refs.inputFile as any).click();
            },
            handleClose() {
                this.$emit("closeModal");
            },
            validInput() {
                let isValid = true;
                this.errors = {} as any;
                if (this.template.name.trim() == "") {
                    this.errors.name = true;
                    isValid = false;
                }
                if (this.template.content.trim() == "") {
                    this.errors.content = true;
                    isValid = false;
                }
                return isValid;
            },
            handleSubmit() {
                if (!this.validInput()) {
                    return;
                }
                if ('id' in this.template) {
                    this.updateEmailTemplate(this.template).then(() => {
                        this.$emit("closeModal");
                    });
                } else {
                    this.createEmailTemplate(this.template).then(() => {
                        this.$emit("closeModal");
                    });
                }
            },
            handleFile(e) {
                let _file = e.target.files[0];
                let that = this as any;
                that.uploading = true;
                let file_name = Math.random().toString(36).substring(7) + _file.name;
                that.upload = fstorage.ref('templates/documents/' + file_name).put(_file);
                that.upload.on('state_changed', sp => {},
                    null,
                    () => {
                        that.upload.snapshot.ref.getDownloadURL().then(downloadURL => {
                            that.template.attachments.push({
                                file_name: _file.name,
                                file_url: downloadURL
                            });
                            that.uploading = false;
                        })
                    })
            },
            removeFileAttachment(index) {
                this.template.attachments.splice(index, 1);
            }
        }
    })
</script>

<style scoped lang="scss">
    @import "~vue-wysiwyg/dist/vueWysiwyg.css";

    .template-name {
        width: 200px !important;
    }
    .select-var {
        width: 220px;
        display: block;
        border: 2px solid #edeff0;
    }
    .email-templates h4 {
        font-size: 14px;
        font-weight: 500;
        margin-bottom: 4px;
        margin-top: 10px;
        color: #333;
    }
    .email-templates .template-subject {
        width: 400px !important;
        display: block;
    }

    .section .file-attachments {
        display: inline-block;
        margin-top: 10px;
        overflow: hidden;
        width: 270px;
        text-overflow: ellipsis;
        font-size: 14px;
    }
    .actions {
        text-align: right;
    }
    .file-attachment {
        margin-bottom: 10px;
    }
    .file-attachment .remove {
        margin-left: 5px;
        color: #444;
        display: inline-block;
    }
    .file-attachment i {
        margin-right: 5px;
    }
</style>
<style lang="scss">
    .email-templates {
        .quillWrapper .ql-snow.ql-toolbar {
            padding-top: 5px;
            padding-bottom: 2px;
        }
        .quillWrapper .ql-snow.ql-toolbar .ql-formats {
            margin-bottom: 5px;
        }
        .ql-editor {
            height: 300px;
        }
    }
    .email-template-modal {
        .modal-content {
            background-color: #fff;
        }
    }
</style>

