<template>
    <b-modal @close="close"
             no-close-on-backdrop no-close-on-esc
             size="lg"
             v-model="open">
        <div class="header" slot="modal-title">
            <h1>Schedule Interviews</h1>
            <p>
                Plan, organize and schedule one or more interviews.
                <a class="learn-more" href="https://resources.breezy.hr/docs/scheduling-candidate-interviews"
                   target="_blank">Learn more</a>
            </p>
        </div>
        <div class="d-flex justify-content-between container-fluid p-0" slot="modal-footer">
            <div class="left">
                <div v-if="step === 1">
                    <b-button variant="gray">
                        <i class="fa fa-save"></i>
                        <span> Save as Template</span>
                    </b-button>
                </div>
            </div>
            <div class="right">
                <div v-if="step === 1">
                    <b-button @click="close" variant="none">{{'Cancel'}}</b-button>
                    <b-button @click="step = 2" ng-if="!interview.id" variant="blue">{{'Continue'}}</b-button>
                </div>
                <div v-if="step === 2">
                    <b-button @click="step = 1" variant="none">{{'Back'}}</b-button>
                    <b-button ng-if="!interview.id" variant="blue">
                        <i class="fas fa-calendar-alt"></i>
                        <span>&nbsp;{{'Send invite'}}</span>
                    </b-button>
                </div>
            </div>
        </div>


        <div class="schedule-interview schedule-interview-panel">
            <b-form action="" autocomplete="off" v-model="form">
                <div class="schedule-interview-panel-details">

                    <div class="panel-details">
                        <div class="row interview-options">
                            <div class="column">
                                <div class="date-time pr-2">
                                    <DatePicker :placeholder="'Date'" :config="{format: 'DD, MMMM, YYYY', locale: 'vi'}"
                                                v-model="form.date"></DatePicker>
                                </div>
                                <div class="timezone">
                                    <b-input></b-input>
                                </div>
                            </div>
                            <div class="column">

                            </div>
                        </div>

                        <div class="panel-times">
                            <div class="panel-time">
                                <div class="row">
                                    <div class="column start-time ui-select-bootstrap">
                                        <b-dropdown boundary="window" :text="form.start_time || 'Start time'" variant="default">
                                            <b-dropdown-item @click="form.start_time = time"
                                                             v-for="time, idx in startTimes" :key="idx" >{{time}}</b-dropdown-item>
                                        </b-dropdown>
                                    </div>
                                    <div class="column duration ui-select-bootstrap">
                                        <b-dropdown boundary="window" :text="durationText" variant="default">
                                            <b-dropdown-item @click="form.duration = duration.value; durationText = duration.text;"
                                                             v-for="duration, idx in durations" :key="idx" >{{duration.text}}</b-dropdown-item>
                                        </b-dropdown>
                                    </div>
                                    <div class="column"></div>
                                    <div class="column"></div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="panel-details"></div>
                </div>
            </b-form>
        </div>
    </b-modal>
</template>

<style lang="scss">
    @import "~styles/interview_schedule";
    @import "~pc-bootstrap4-datetimepicker/build/css/bootstrap-datetimepicker.css";

    .modal-content {
        background: none;
    }

    .start-time .dropdown-menu {
        height: 300px;
        overflow: auto;
    }
</style>

<script lang="ts">
    import Vue from 'vue';

    // @ts-ignore
    import DatePicker from 'vue-bootstrap-datetimepicker';
    import {mapGetters, mapMutations} from 'vuex';

    export default Vue.extend({
        name: "ScheduleInterview",
        components: {
            DatePicker,
        },
        data() {
            return {
                step: 1,
                form: {
                    date: '',
                    start_time: '',
                    duration: 15,
                },
                durationText: '15 min',
                durations: [ // in minute
                    {text: '15 min', value: 15}, {text: '30 min', value: 30}, {text: '45 min', value: 45},
                    {text: '1 hrs', value: 60}, {text: '1.5 hrs', value: 90}, {text: '2 hrs', value: 120},
                    {text: '2.5 hrs', value: 150}, {text: '3 hrs', value: 180}, {text: '3.5 hrs', value: 210},
                    {text: '4 hrs', value: 240}, {text: '4.5 hrs', value: 270}, {text: '5 hrs', value: 300},
                ],
            };
        },
        computed: {
            ...mapGetters([
                'schedule_interviews/open',
                'schedule_interviews/startTime',
                'schedule_interviews/duration',
            ]),

            open: {
                get(): boolean {
                    return this['schedule_interviews/open'];
                },
                set(val: boolean) {
                    this.$store.commit("schedule_interviews/setOpen", val);
                },
            },

            startTimes(): any[] {
                const arr = [];

                let h = 8;// 8am -> 7am tomorrow
                while (h === 8 || h % 24 !== 8) {
                    const localH = h % 12;
                    const amOrPm = (h >= 0 && h < 12) ? 'am' : 'pm';
                    arr.push(
                        `${localH}:00${amOrPm}`,
                        `${localH}:15${amOrPm}`,
                        `${localH}:30${amOrPm}`,
                        `${localH}:45${amOrPm}`,
                    );
                    ++h;
                }

                return arr;
            },
        },
        methods: {
            close() {
                this.$store.commit("schedule_interviews/setOpen", false);
            },
        },
    });
</script>
