<template>
    <b-modal
        :hide-footer="true"
        no-close-on-esc
        no-close-on-backdrop
        modal-class="modal-unsaved-change"
        v-model="showModal">
        <div>
            <h3 class="text-center">{{this.titleModal}}</h3>
            <p class="text-center">{{this.subTitleModal}}</p>
            <div class="text-right">
            <button class="btn btn-none" @click="handleCloseModal" type="button" style="margin-right:10px">{{this.titleCancelButton}}</button>
            <button class="btn btn-blue" @click="handleSaveChange" type="button" ng-click="yes()">
                <i class="fa fa-check"></i>
                {{this.titleOkButton}}
            </button>
            </div>
        </div>
    </b-modal>
</template>

<script>
    import {messages} from "../../messages";

    const _ = require('lodash');
    export default {

        name: "UnSavedChange",
        props: {
            showModal: {
                type: Boolean,
                default: false
            },
            titleModal:{
                type: String,
                default: messages.SR_020_MODAL_UNSAVED_CHANGE_TITLE
            },
            subTitleModal:{
                type: String,
                default: messages.SR_020_MODAL_UNSAVED_CHANGE_SUB_TITLE
            },
            titleCancelButton:{
                type: String,
                default: messages.SR_020_MODAL_UNSAVED_CHANGE_BUTTON_CANCEL
            },
            titleOkButton:{
                type: String,
                default: messages.SR_020_MODAL_UNSAVED_CHANGE_BUTTON_YES
            }
        },

        methods: {
            handleSaveChange(){
                this.$emit('handleSaveChange')
            },
            handleCloseModal() {
                this.$emit('handleClose')
            }
        }
    }
</script>

<style>
   .modal-unsaved-change .modal-header{
        border-bottom:none;
        padding-bottom:0px;
    }
    .modal-unsaved-change .modal.show .modal-dialog{
        padding-left: 30px;
        padding-right: 30px;
        border-radius: 5px;
        background: #edeff0;
        text-align: center;
    }
    .modal-unsaved-change .modal-content{
        border:none;
    }
    .modal-unsaved-change .modal-body{
        padding-top:0px;
    }
    .modal-unsaved-change .modal-header .close{
        display: none;
    }
</style>
