<template>
    <div class="messages-template">
        <h1>{{messages.SR_052_MSG_TEMPLATE_TITLE}}</h1>
        <p>{{messages.SR_052_MSG_TEMPLATE_DESC}}</p>
        <div class="templates-container section">
            <div v-if="email_templates.length > 0">
                <div class="list-helpers">
                    <div class="items-filter"></div>
                    <div class="list-sort-order dropdown">
                        <div class="sort-dropdown-toggle dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="">{{messages.SR_052_TEXT_SORT}}: {{sortBy == "name" ? messages.SR_052_SORT_ALPHABETICAL : messages.SR_052_SORT_DEFAULT }}</span>
                            <span class="caret"></span>
                        </div>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li><a class="d-block" href="javascript:void(0)" @click="sortEmailTemplates('createdAt')">{{messages.SR_052_SORT_DEFAULT}}</a></li>
                            <li><a class="d-block" href="javascript:void(0)" @click="sortEmailTemplates('name')">{{messages.SR_052_SORT_ALPHABETICAL}}</a></li>
                        </ul>
                    </div>
                </div>

                <ul class="application-options">
                    <li class="option-item" v-for="template in sortedEmailTemplates" :key="template.id">
                        <h3>
                            <i class="fa fa-envelope"></i>
                            <span class="">{{template.name}}</span>
                        </h3>
                        <ul class="actions">
                            <li>
                                <a class="remove" href="#" @click="openEditTemplate(template)">
                                    <i class="fa fa-edit"></i></a></li>

                            <li>
                                <a class="remove" href="#" @click="onDeleteTemplate(template)">
                                    <i class="fa fa-times"></i>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>

            <a class="add-template btn btn-blue btn-xs" href="#" @click="openAddTemplate()"><i class="fa fa-plus"></i><span> {{messages.SR_052_BTN_ADD_EMAIL_TEMPLATE}}</span></a>

            <email-template-modal :showModal="showModalEmailTemplate"
                                  :options="options"
                                  :selected_template="selected_template"
                                  v-on:closeModal="showModalEmailTemplate=false"></email-template-modal>
            <div class="header">
                <h2>{{messages.SR_052_TXT_DEFAULT_SUBJECT}}</h2>
                <p>{{messages.SR_052_TXT_DEFAULT_SUBJECT_DESC}}</p>
                <div class="message-subject-container mb-5">
                    <SelectSearch :data-options="options" :value="selected_option"
                                  class-container="select-var mb-2"
                                  :place-holder="messages.SR_052_TXT_TEMPLATE_VAR"
                                  @changeValue="changeVariable"></SelectSearch>
                    <input class="full subject" v-model.trim="template.default_subject" ref="input_subject"
                           placeholder="An empty subject will use the system default." maxlength="500" @keyup="changed = true" @paste="changed = true" @change="changed=true">
                    <ul class="actions" v-if="changed">
                        <li class="action"><a class="btn btn-sm btn-blue" href="#" @click="onUpdateTemplate">{{messages.SR_052_BTN_UPDATE_SUBJECT}}</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
    import Vue from "vue";
    import {mapGetters, mapActions} from "vuex";
    import EmailTemplateModal from "@/components/modals/EmailTemplateModal.vue";
    import MessagingTemplate from "@/models/MessagingTemplate";
    import SelectSearch from '../select/main.vue';
    import _ from "lodash";
    import {messages} from '@/messages';

    let list_options = [
            {value: 'candidate_first_name', title: messages.SR_052_VAR_C_FIRST_NAME},
            {value: 'candidate_name', title: messages.SR_052_VAR_C_FULL_NAME},
            {value: 'candidate_email_address', title: messages.SR_052_VAR_C_EMAIL},
            {value: 'position_title', title: messages.SR_052_VAR_POS_TITLE},
            {value: 'position_link', title: messages.SR_052_VAR_POS_LINK},
            {value: 'company_name', title: messages.SR_052_VAR_COMPANY_NAME},
            {value: 'company_user', title: messages.SR_052_VAR_COMPANY_USER},
            {value: 'company_user_first_name', title: messages.SR_052_VAR_COMPANY_U_FIRST_NAME},
    ];
    export default Vue.extend({
        props: {},
        components: {
            EmailTemplateModal,
            SelectSearch
        },
        data() {
            let that = this as any;
            return {
                selected_option: {
                    title: 'Template Variables',
                    value: null,
                },
                options: list_options,
                showModalEmailTemplate: false,
                selected_template: null,
                template: new MessagingTemplate(),
                changed: false,
                sortBy: 'createdAt'
            }
        },
        computed: {
            ...mapGetters([
                'currentCompany',
                'messaging_template',
                'email_templates'
            ]),
            sortedEmailTemplates(){
                let that = this as any;
                let objs = _.orderBy(that.email_templates,(item) => {
                    if (that.sortBy == "name") {
                        return item.name.toLowerCase();
                    } else {
                        return item[that.sortBy]
                    }
                })
                return objs;
            }
        },
        watch: {
            messaging_template(val) {
                if (val) {
                    this.template = val;
                }
            }
        },
        mounted() {
            let that = this as any;
            that.getMessagingTemplate(that.currentCompany.id).then((template) => {
                that.getEmailTemplates(that.messaging_template.id);
            });
        },
        methods: {
            ...mapActions([
                'getMessagingTemplate',
                'getEmailTemplates',
                'updateMessagingTemplate',
                'deleteEmailTemplate'
            ]),
            openAddTemplate(template) {
                this.selected_template = null;
                this.showModalEmailTemplate = true;
            },
            openEditTemplate(template) {
                this.selected_template = template;
                this.showModalEmailTemplate = true;
            },
            deleteTemplate(template, index) {

            },
            changeVariable(val) {
                this.selected_option = val;
                if(val != null){
                    this.typeInTextarea(this.$refs.input_subject, `[[${val.value}]]`);
                }
                return false
            },
            typeInTextarea(el, textToInsert) {
                //get current text of the input
                const value = el.value;
                // save selection start and end position
                const start = el.selectionStart;
                const end = el.selectionEnd;
                // update the value with our text inserted
                this.template.default_subject = value.substring(0, start) + textToInsert + value.substring(end, value.length);
                // update cursor to be at the end of insertion
                el.selectionStart = el.selectionEnd = start + textToInsert.length;
                this.changed = true;
                return false
            },
            onUpdateTemplate() {
                let that = this as any;
                that.updateMessagingTemplate(that.template).then(() => {
                    that.changed = false;
                });
            },
            sortEmailTemplates(sort_by) {
                this.sortBy = sort_by;
            },
            onDeleteTemplate(email) {
                let that = this as any;
                that.deleteEmailTemplate(email);
            }
        },
    });
</script>

<style lang="scss" scoped>
    .messages-template {
        padding: 20px;
        background-color: #fff;
    }
    .list-sort-order {
        font-size: 12px;
        text-align: right;
    }
    .list-sort-order .sort-dropdown-toggle {
        cursor: pointer;
    }
    .list-sort-order ul {
        padding: 3px;
        left: auto;
        right: 0;
    }
    .list-sort-order ul li {
        cursor: pointer;
        font-size: 12px;
        padding: 1px;
        margin-bottom: 3px;
    }
    .application-options {
        background: #fafafa;
        border: 1px solid #edeff0;
        border-radius: 4px;
        margin-bottom: 10px;
    }
    .application-options .option-item {
        border-bottom: 1px solid #dedede;
        display: flex;
        padding: 10px;
        margin: 0 !important;
    }
    .application-options .option-item h3, .application-options .option-item .option-label {
        flex: 1;
        font-size: 14px;
        font-weight: 400;
        margin-bottom: 0px !important;
        overflow: hidden;
        text-overflow: ellipsis;
        vertical-align: middle;
        white-space: nowrap;
    }
    .application-options .option-item h3 i, .application-options .option-item .option-label i {
        width: 18px;
        height: 18px;
        margin-right: 5px;
        vertical-align: middle;
    }
    .application-options .option-item .actions {
        align-items: center;
        color: #68747e;
        display: flex;
        height: 18px;
        font-size: 10px;
    }

    .actions li {
        display: inline-block;
        margin-left: 10px;
    }

    .actions li .remove {
        margin-top: 0;
    }

    a, a:focus {
        color: #4c555c;
        outline: none;
        text-decoration: none;
    }

    .actions li .remove {
        margin-top: 0;
    }

    .messages-template .header {
        margin-top: 30px;
    }

    .message-subject-container .actions {
        margin-top: 10px;
    }

    .actions .action {
        margin-left: 0;
    }

    .message-subject-container .subject {
        width: 400px;
    }
    .select-var {
        width: 200px;
        display: block;
        border: 2px solid #edeff0;

    }
    .list-helpers {
        align-items: flex-end;
        display: flex;
        margin-bottom: 10px;
        width: 100%;
    }
    .items-filter {
        margin-right: 10px;
    }
    .items-filter {
        flex: 1;
    }
    .list-sort-order ul li:hover {
        background-color: #f9fafa;
    }
</style>
