<template>
    <div class="d-flex flex-column task-page" style="height: 100%;">
        <header class="flex-shrink-0">
            <div class="p-4">
                <b-dropdown :text="filter_field == 'assignee_id' ? messages.SR_009_TASK_ASSIGNE_TO_ME: messages.SR_009_TASK_I_HAVE_ASSIGNED" variant="custom-bg-color" class="mr-5 ">
                    <b-dropdown-group class="option-todo">
                        <b-dropdown-item @click="filterTask('assignee_id')">{{messages.SR_009_TASK_ASSIGNE_TO_ME}}</b-dropdown-item>
                        <b-dropdown-item @click="filterTask('created_by')">{{messages.SR_009_TASK_I_HAVE_ASSIGNED}}</b-dropdown-item>
                    </b-dropdown-group>
                </b-dropdown>
                <b-dropdown no-caret right  variant="custom-bg-color" class="pr-3">
                    <template slot="button-content">
                        <i class="fas fa-cog"></i>
                    </template>
                    <b-form-group class="status-task">
                        <b-form-radio class="check-item" v-model="taskView.type" value="incomplete">{{messages.SR_009_INCOMPLETE}}</b-form-radio>
                        <b-form-radio class="check-item" v-model="taskView.type" value="complete">{{messages.SR_009_COMPLETE}}</b-form-radio>
                        <b-form-radio class="check-item" v-model="taskView.type" value="all">{{messages.SR_009_ALL_TASK}}</b-form-radio>
                    </b-form-group>
                </b-dropdown>
                <createTask
                    :external_task="external_task"
                    :showModal="showModal"
                    @handleClose="showModal=false"
                    @updateCurrent="updateCurrent"
                    @createdTaskAssigee="createdTaskAssigee">
                </createTask>
                <b-button variant="blue" @click="showAddTask()">
                    <i class="fas fa-plus"></i>
                </b-button>
            </div>
        </header>
        <!-- Task content -->
        <div class="d-flex flex-grow-1 overflow-auto p-4 tasks-stream">
            <!-- Left border -->
            <div v-if="loading" class="tasks-content" >
                <vcl-code></vcl-code>
            </div>

            <div v-else class="tasks-content flex-shrink-0">
                <div class="not-task" v-if="!currentTask.id">
                    <div>
                        <i class="fa fa-check-square" style="font-size: 80px;"></i>
                        <p>{{messages.SR_009_NO_TASK}}</p>
                    </div>
                </div>
                <div v-else>
                    <TaskGroup
                        @completeTask="completeTask"
                        @showCurrentTask="showCurrentTask"
                        groupTitle="Overdue"
                        :tasks="overdue_tasks"
                        :currentTask="currentTask" v-if="taskView.type != 'complete'">
                    </TaskGroup>

                    <TaskGroup
                        @completeTask="completeTask"
                        @showCurrentTask="showCurrentTask"
                        groupTitle="Today"
                        :tasks="today_tasks"
                        :currentTask="currentTask" v-if="taskView.type != 'complete'">
                    </TaskGroup>

                    <TaskGroup
                        @completeTask="completeTask"
                        @showCurrentTask="showCurrentTask"
                        groupTitle="Upcoming"
                        :tasks="upcoming_tasks"
                        :currentTask="currentTask" v-if="taskView.type != 'complete'">
                    </TaskGroup>
                    <TaskGroup
                        @completeTask="completeTask"
                        @showCurrentTask="showCurrentTask"
                        groupTitle="Complete"
                        :tasks="complete_tasks"
                        :currentTask="currentTask" v-if="taskView.type != 'incomplete'">
                    </TaskGroup>
                </div>

            </div>
            <!-- Right border -->
            <div class="flex-grow-1 overflow-auto ml-4 bg-light">
                <div style="background-color: white; padding: 20px;" v-if="!currentTask.id && loading">
                    <vcl-facebook></vcl-facebook>
                </div>

                <!-- Upcoming task 1 -->
                <div v-if="currentTask.id" style="min-height: 100%" class="border p-3 text-secondary rounded">
                    <!-- Header -->
                    <div class="d-flex align-items-center border-bottom pb-4">
                        <div class="activity-type task-complete task-check mx-2" v-show="currentTask.is_done">
                            <i class="fas fa-check inactive"></i>
                        </div>
                        <div class="activity-type task-check mx-2 flex-shrink-0" v-show="!currentTask.is_done" @click="completeTask(currentTask)"
                             v-b-tooltip.hover.bottom="messages.SR_009_TOOLTIP_COMPLETE">
                            <i class="fas fa-check inactive"></i>
                            <i class="fas fa-refresh fa-spin active"></i>
                        </div>
                        <div class="flex-grow-1">
                            <h5 class="my-0">
                                <b>{{ currentTask.title }}</b>
                            </h5>
                            <small>
                                <strong>{{messages.SR_009_ASSIGNEE}}</strong> {{ currentTask.assignee.name }}
                            </small>
                            <i class="fas fa-clock ml-2 mr-1"></i>
                            <small>
                                <strong>{{messages.SR_009_DEADLINE}}</strong> {{ new Date(currentTask.deadline) | formatTimeTask }}
                            </small>
                        </div>
                        <div class="col-0">
                            <b-dropdown no-caret variant="custom-bg-color">
                                <template slot="button-content">
                                    <i class="fas fa-ellipsis-v"></i>
                                </template>
                                <b-dropdown-item @click="updateCurrentTask(currentTask)">{{messages.SR_009_EDIT_TASK}}</b-dropdown-item>
                                <b-dropdown-item @click="deleteTask(currentTask)">{{messages.SR_009_DELETE_TASK}}</b-dropdown-item>
                                <ModalConfirm
                                    @handleSaveChange="handleSaveChange"
                                    @handleClose="handleCloseModalConfirm"
                                    :showModal="showModalConfirmTask"
                                    :confirmComplete="confirmComplete">
                                </ModalConfirm>
                            </b-dropdown>
                        </div>
                    </div>

                    <div class="section details-container border-bottom pb-3 pt-2" v-if="currentTask.description">
                        <h4>{{messages.SR_009_DETAILS}}</h4>
                        <p class="description" style="white-space: pre-line">{{ currentTask.description}}</p>
                        <div class="approval-attachments">
                            <div :key="index" v-for="(fileAttachment, index) in currentTask.files">
                                <a :href="fileAttachment.url" target="_blank">
                                    <i class="fa fa-paperclip mr-2"></i>
                                    <span>{{fileAttachment.name}}</span>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="section activity-section-container pt-2">
                        <h4>{{messages.SR_009_ACTIVITY}}</h4>
                        <div class="activity taskAdded">
                            <div class="activity-object" :key="index" v-for="(addLog, index) in activities">
                                <img size="sm" class=" sm avatar color4" initial="H" :src="currentUser.photoURL">
                                <div>
                                    <div class="activity-header">
                                        <p class="author-name">{{addLog.workflowManagement}}
                                            <span class="ml-1">{{addLog.title}}</span>
                                        </p>
                                    </div>
                                    <div class="activity-footer ml-5 time-creat-task">
                                        <span class="timestamp"
                                              v-b-tooltip.hover.bottom
                                              :title="addLog.timeUpdate | tooltipTimeCreatedTask"
                                              data-container="body">{{ addLog.timeUpdate | timeCreatedTask }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<style lang="scss">
    @import "~styles/_task.scss";
    @import "~styles/position_activity";
    @import "~styles/stream";
</style>


<script lang="ts">
    import Vue from 'vue';
    import {Datetime} from 'vue-datetime';
    import Moment from 'moment';
    import Task from '@/models/Task';
    import {mapGetters, mapMutations, mapActions} from 'vuex';
    import {VclCode, VclFacebook} from 'vue-content-loading';
    import moment from 'moment';
    import ModalWrapper from "@/components/ModalWrapper.vue";
    import TaskGroup from "./TaskGroup.vue"
    import createTask from "../tasks/CreateTask.vue"
    import ModalConfirm from "../tasks/ModalConfirm.vue"
    import {messages} from "@/messages";
    import $ from "jquery";
    import _ from "lodash"


    export default Vue.extend({
        name: 'home',
        components: {
            VclCode,
            VclFacebook,
            TaskGroup,
            createTask,
            ModalConfirm
        },

        computed: {
            // mix the getters into computed with object spread operator
            ...mapGetters([
                'currentUser',
                'currentCompany',
                'tasks'
            ]),
            overdue_tasks() {
                let that = this as any, tasks = [];
                let today = moment(new Date()).format("YYYY-MM-DD");
                tasks = _.filter(that.tasks, (task) => {
                    let deadline = moment(task.deadline).format("YYYY-MM-DD");
                    return deadline < today && task.is_done == false;
                });
                return _.sortBy(tasks, '_deadline');
            },
            today_tasks() {
                let that = this as any, tasks = [];
                let today = moment(new Date()).format("YYYY-MM-DD");
                tasks = _.filter(that.tasks, (task) => {
                    let deadline = moment(task.deadline).format("YYYY-MM-DD");
                    return deadline == today && task.is_done == false;
                });
                return _.sortBy(tasks, '_deadline');
            },
            upcoming_tasks() {
                let that = this as any, tasks = [];
                let today = moment(new Date()).format("YYYY-MM-DD");
                tasks = _.filter(that.tasks, (task) => {
                    let deadline = moment(task.deadline).format("YYYY-MM-DD");
                    return deadline > today && task.is_done == false;
                });
                return _.sortBy(tasks, '_deadline');
            },
            complete_tasks() {
                let that = this as any, tasks = [];
                tasks = _.filter(that.tasks, (task) => {
                    return task.is_done;
                });
                return _.sortBy(tasks, '_deadline');
            },
            activities() {
                let that = this as any;
                return _.sortBy(that.currentTask.add_log, ['timeUpdate']).reverse()
            }
        },

        filters: {
            formatTimeTask: function (value) {
                return moment(value).format('L');
            },
            tooltipTimeCreatedTask: function(value){
                return moment(value).format('L [@] h:mm:ss a');
            },
            timeCreatedTask: function (value) {
                // return moment(value).startOf('day').fromNow();
                return moment(value).format("h:mm:ss a");
            },

        },
        data() {
            return {
                taskView: {
                    type: "incomplete"
                },
                loading: true,
                currentTask: new Task() as Task,
                filters: new Task().getAllTasks(),
                filter_field: 'assignee_id',
                showModal: false,
                external_task: null,
                showModalConfirmTask: false,
                taskAssign: null,
                taskComplete: null,
                confirmComplete: false,
            }
        },
        watch:{
            'taskView.type': function (val) {
                let that = this as any;
                if(val){
                    that.setSelectTask()
                }
            },
            tasks(val) {
                let that = this as any;
                if (that.currentTask) {
                    let index = that.tasks.findIndex((t) => {return t.id == that.currentTask.id});
                    if (index != -1) {
                        that.currentTask = that.tasks[index];
                    }
                }
            },
        },
        provide(){
            let that = this as any;
            return{
                setSelectTask: that.setSelectTask
            }
        },
        mounted() {
            let that = this as any;
            that.getFilteredTasks({filter_field: that.filter_field, value: that.currentUser.id}).then(() => {
                that.loading = false;
                that.setSelectTask()
            });
            that.getListTask();
        },
        methods: {
            ...mapActions([
                'getFilteredTasks',
                'getListTask',
                'removeTask',
                'updateTaskAction',
                'createdTasks'
            ]),
            createdTaskAssigee(e){
                let that = this as any;
                e.task.add_log.push({
                    timeUpdate: new Date(),
                    title: messages.SR_009_CREATED_TASK ,
                    workflowManagement: that.currentUser.name
                });
                that.createdTasks(e).then(()=>{
                    let compareListUserAssign = e.users.some(user => {
                        return user.id != that.currentUser.id
                    });
                    if(compareListUserAssign){
                        that.getFilteredTasks({filter_field: that.filter_field, value: that.currentUser.id}).then(() => {
                            that.loading = false;
                            that.setSelectTask();
                        });
                    }
                    if(!that.currentTask.id){
                        that.setSelectTask();
                    }
                });
            },
            updateCurrent(e){
                let that = this as any;
                let changed = that.currentTask.assignee.id != e.users[0].id;
                if(changed){
                    e.task.add_log.push({
                        timeUpdate: new Date(),
                        title: messages.SR_009_REASSIGNED_TASK_TO + `${e.users[0].name}`,
                        workflowManagement: that.currentUser.name
                    });
                }
                if(e.task.deadline != that.currentTask.deadline){
                    e.task.add_log.push({
                        timeUpdate: new Date(),
                        title: messages.SR_009_UPDATE_TASK_DUE_DATE,
                        workflowManagement: that.currentUser.name
                    });
                }
                that.updateTaskAction(e).then(()=>{
                    if(changed){
                        that.getFilteredTasks({filter_field: that.filter_field, value: that.currentUser.id}).then(() => {
                            that.loading = false;
                            if (that.tasks.length == 0) {
                                that.currentTask = new Task();
                            }
                            that.setSelectTask();
                        });
                    }
                });
            },
            filterTask(value){
                let that = this as any, tasks = [];
                that.filter_field = value;
                if(value){
                    that.getFilteredTasks({filter_field: that.filter_field, value: that.currentUser.id}).then(()=>{
                        that.setSelectTask();
                    })
                }else {
                     that.getFilteredTasks({filter_field: that.filter_field, value: that.currentUser.id}).then(()=>{
                         that.setSelectTask();
                     })
                }
            },
            updateCurrentTask(currentTask){
                let that = this as any;
                that.showModal = true;
                that.external_task = currentTask;
            },
            setSelectTask(){
                let that = this as any;
                if (that.taskView.type == 'incomplete') {
                    let tasks = [...that.overdue_tasks, ...that.today_tasks, ...that.upcoming_tasks];
                    if (tasks.length > 0) {
                        that.currentTask = tasks[tasks.length -1];
                    }else {
                        that.currentTask = {}
                    }
                } else if (that.taskView.type == 'complete') {
                    if (that.complete_tasks.length > 0) {
                        that.currentTask = that.complete_tasks[that.complete_tasks.length -1];
                    }else {
                        that.currentTask = {}
                    }
                } else if (that.taskView.type == 'all') {
                    let tasks = [...that.overdue_tasks, ...that.today_tasks, ...that.upcoming_tasks, ...that.complete_tasks];
                    if (tasks.length > 0) {
                        that.currentTask = tasks[tasks.length - 1];
                    }else {
                        that.currentTask = {}
                    }
                } else {
                    that.currentTask = new Task();
                }
            },
            completeTask(value){
                let that = this as any;
                that.taskComplete = value;
                that.showModalConfirmTask = true;
                that.confirmComplete = true;

            },
            showCurrentTask(task: Task) {
                let that = this as any;
                that.currentTask = task;
            },
            deleteTask(currentTask) {
                let that = this as any;
                that.confirmComplete = false;
                that.showModalConfirmTask = true;
                that.taskAssign = currentTask
            },
            showAddTask() {
                let that = this as any;
                that.showModal = true;
                that.external_task = null;
            },
            handleSaveChange(){
                let that = this as any;
                if(that.taskAssign){
                    that.removeTask(that.taskAssign).then(()=>{
                        that.setSelectTask();
                    });
                }else {
                    $('#'+that.taskComplete.id).addClass('active');
                    setTimeout(function () {
                        that.taskComplete.is_done = true;
                        that.currentTask.add_log.push({
                            timeUpdate: new Date(),
                            title: messages.SR_009_TASK_AS_COMPLETE ,
                            workflowManagement: that.currentUser.name
                        });
                        that.updateTaskAction({task: that.taskComplete, users: []}).then(()=>{
                            that.setSelectTask();
                            $('#'+that.taskComplete.id).removeClass('active');
                            $('#'+that.taskComplete.id).addClass('inactive');
                        });
                    },2000)
                }
                that.showModalConfirmTask = false;

            },
            handleCloseModalConfirm() {
                let that = this as any;
                that.showModalConfirmTask = false;
            }
        }
    });
</script>
<style lang="scss">
    .custom-control-label {
         margin-top: 0;
        position: relative;
        margin-bottom: 0;
        vertical-align: top;
    }
    .el-input__icon {
        height: 100%;
        width: 25px;
        text-align: center;
        -webkit-transition: all .3s;
        transition: all .3s;
        line-height: 35px;
    }
    .not-task{
        color: #666;
        display: flex;
        height: 100%;
        width: 100%;
    }
    .not-task div{
        align-self: center;
        display: inline-block;
        margin: 0 auto;
        text-align: center;
    }
    .activity-type.task-complete {
        border-color: #76d691;
        background-color: #fff !important;
        cursor: default;
    }
    .activity-type.task-complete i{
        color: #76d691;
    }
    .task-selected .details-container {
        margin-top: 15px;
        border-top: 1px solid #eee;
        padding-top: 15px;
    }
    .check-item:hover {
        background-color: #dedede;
    }
    .check-item {
        margin: 3px 10px;
        min-width: 120px;
        border-radius: 4px;
        cursor: pointer;
        display: block;
        line-height: 1.4;
        //padding: 3px 3px 3px 25px;
        position: relative;
        transition: 0.3s all;
    }
    .status-task {
        min-width: 226px;
        margin-bottom: 0;
    }
    .activity .avatar {
        border-color: #dedede;
    }
    .activity .avatar {
        width: 30px;
        height: 30px;
        margin-right: 10px;
        float: left;
        position: relative;
        z-index: 300;
        border: 2px solid #dedede;
    }
    .activity-header .author-name {
        font-size: 14px;
        font-weight: 400;
        margin-top: -1px;
        margin-bottom: 4px;
    }
    .activity-section-container .activity .activity-object .time-creat-task{
        margin-top: -10px !important;
    }
</style>

