<template>
    <div v-if="tasks.length > 0">
        <div class="tasks-section">
            <h2>{{ this.groupTitle }}</h2>
            <ul class="activity-stream task-list">
                <li :key="task.id" class="activity-container" v-for="task in tasks"
                    :class="{selected: task.id === currentTask.id,[`task-${groupTitle.toLowerCase()}`]: true}">
                    <div @click="showCurrentTask(task)" >
                        <div class="activity task" :id="task.id">
                            <div class="activity-type" v-show="task.is_done">
                                <i class="fas fa-check inactive"></i>
                            </div>
                            <div class="activity-type" v-show="!task.is_done" @click="completeTask(task)" v-b-tooltip.hover.bottom="messages.SR_009_TOOLTIP_COMPLETE">
                                <i class="fas fa-check inactive"></i>
                                <i class="fas fa-refresh fa-spin active"></i>
                            </div>
                            <div>
                                <div class="activity-object">
                                    <div class="activity-info">
                                        <div class="activity-body">
                                            <p class="title">{{task.title}}</p>
                                            <ul class="actions">
                                                <li class="action">
                                                            <span class="datetime">
                                                                <i class="fa fa-clock"></i>
                                                                <span>Due </span>
                                                                <span>{{new Date(task.deadline) | deadlineTask}}</span>
                                                            </span>
                                                </li>
                                                <li class="action">
                                                            <span>
                                                                <i class="fa fa-user mr-1"></i>
                                                                <span v-if="task.assignee.id == currentUser.id">{{messages.SR_009_YOU}}</span>
                                                                <span v-else>{{task.assignee.name}}</span>
                                                            </span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</template>

<script lang="ts">
    import {mapGetters, mapMutations, mapActions} from 'vuex';
    import {messages} from "@/messages";
    import moment from 'moment';
    export default {
        name: "TaskGroup",
        props: ['groupTitle','tasks','currentTask'],
        computed:{
             ...mapGetters([
                'currentUser',
            ]),
        },
        watch: {
            tasks(val){
                let that = this as any;
                if(val){
                    that.tasks  = val
                }
            }
        },
        filters: {
            deadlineTask: function (value) {
                return moment(value).format('L');
            },
        },
        methods: {
            completeTask(task){
                let that = this as any;
                that.$emit("completeTask", task)
            },
            showCurrentTask(task){
                let that = this as any;
                that.$emit("showCurrentTask", task)
            },
        }
    }
</script>

<style lang="scss">
    @import "~styles/_task.scss";
    @import "~styles/position_activity";
    @import "~styles/stream";
</style>
