<template>
    <div id="new-position-modal">
        <div class="bg-dark text-light px-4 py-3">
            <h3>{{title}}</h3>
        </div>
        <div class="d-flex">
            <div class="flex-shrink-0 bg-light">
                <b-nav class="position-activity" vertical>
                    <div class="timeline"></div>
                    <b-nav-item
                        v-for="(step, index) in steps"
                        :key="index"
                        class="breezy-nav-item"
                        @click="setStep(index)"
                        :disabled="isDisableTab(index)"
                        :class="{'disabled':isCreateNew}"
                        :to="nav_link(index)">
                        <i :class="getIconTab(index)"></i>&nbsp;
                        {{step.title}}
                    </b-nav-item>
                </b-nav>
            </div>
            <div class="flex-grow-1 overflow-auto" id="scoll-modal">
                <keep-alive>
                    <router-view name="modal_child"></router-view>
                </keep-alive>
            </div>
        </div>
    </div>
</template>

<style lang="scss">
    .position-activity {
        position: relative;
        margin-top: 15px;
    }

    .nav-item.breezy-nav-item.disabled {
        cursor: not-allowed;
        color: #8a9ba8;
        /*cursor: pointer;*/
        display: block;
        font-size: 13px;
        font-weight: 200;
        line-height: 30px;
        padding: 7px 15px;
        transition: .3s border-color ease;
        white-space: nowrap;
    }

    .breezy-nav-item {
        a {
            color: #8a9ba8;
        }

        a:hover {
            color: #8a9ba8;
        }

        &:hover i {
            background-color: #eee;
            opacity: 1;
        }

        .activeTab i {
            opacity: 1;
            border-color: #76d691;
            background-color: #76d691;
            color: #fff;
        }
    }

    .nav-item.breezy-nav-item.nav-link i {
        color: #e0e0e0;
        border-color: #e0e0e0;
        opacity: 1;
    }

    .timeline {
        position: absolute;
        width: 2px;
        background: #ddd;
        top: 20px;
        bottom: 20px;
        left: 41px;
    }

    .nav-item.breezy-nav-item {
        a {
            padding-top: 0px;
            padding-bottom: 0px;
        }
    }
</style>

<script lang="ts">
    import Vue from 'vue';
    import {Route} from "vue-router";
    import {Location} from "vue-router/types/router";
    import {mapGetters, mapActions} from 'vuex';


    export default Vue.extend({
        name: "PositionDetail",
        data() {
            return {
                position: { // test
                    name: 'New Position',
                },
            }
        },
        mounted(){
            this.$emit('checkDiff')
        },
        computed: {
            ...mapGetters([
                'currentPosition',
                'steps'
            ]),
            position_id(): string {
                return this.$route.params['position_id'];
            },
            title(): string {
                let that = this as any;
                return that.currentPosition.title == '' ? "New Position" : that.currentPosition.title;
            },
            isCreateNew(): boolean {
                let that = this as any;
                return that.$route.name === "NewPosition" && that.steps[0].done == false;
            },
            firstNavLink(): Location {
                if (this.$route.name === "NewPosition") {
                    return {
                        name: "NewPosition",
                        params: {
                            type: 'new',
                        }
                    }
                } else {
                    return {
                        name: "PositionDetailTab",
                        params: {
                            position_id: this.position_id,
                        }
                    }
                }
            }
        },
        methods: {
            ...mapActions([
                'setStepByClick'
            ]),
            setStep(index) {
                let that = this as any;
                that.setStepByClick(index);
            },
            getIconTab(index) {
                switch (index) {
                    case 0:
                        return 'fas fa-briefcase';
                    case 1:
                        return 'fas fa-list-ol';
                    case 2:
                        return 'fas fa-list-ol';
                    case 3:
                        return 'fas fa-thumbs-up';
                }
            },
            isDisableTab(index: number) {
                let that = this as any;
                if (index == 0) {
                    return false;
                }
                return that.$route.name === "NewPosition" && that.steps[0].done == false;
            },
            nav_link(index: number): Location {
                let that = this as any;
                switch (index) {
                    case 0:
                        return this.firstNavLink;
                    default:
                        return {
                            name: `Position${that.steps[index].title}Tab`,
                            params: {
                                position_id: that.position_id,
                            },
                        };

                }

            },
        }
    });
</script>
