<template>
    <div>
        <div class="main-content">
            <div class="header">
                <h1>{{messages.SR_020_MODAL_POSITON_SCORECARD_TITLE}}</h1>
                <p>{{messages.SR_020_MODAL_POSITON_SCORECARD_DES}}</p>
            </div>
            <div class="header">
                <h1>{{messages.SR_020_MODAL_POSITON_SCORECARD_CONTENT_1_TITILE}}</h1>
                <p>{{messages.SR_020_MODAL_POSITON_SCORECARD_CONTENT_1_DES}}</p>
                <SelectSearch
                    v-if="listScoreCard.length > 0"
                    style="margin-bottom:10px;"
                    :value="currentPosition.scorecard_id"
                    :value-field="'id'"
                    :title-field="'scorecard_name'"
                    :place-holder="messages.SR_020_MODAL_POSITON_SCORECARD_PLACEHOLDER_1"
                    :data-options="listScoreCard"
                    :width="300"
                    @changeValue="handleChangeScoreCard"
                />
                <p v-else>{{messages.SR_020_MODAL_POSITON_SCORECARD_CONTENT_2_DES}}</p>
                <ScoreCardComponent
                    @handleClose="handleCloseScoreCard"
                    :typeModal="'add'" :idScorecard="-1">
                    <a class="add-scorecard btn-blue btn-sm"
                       slot="btn_show_modal"
                       href="#">
                        <i class="fa fa-plus"></i>
                        <span> {{messages.SR_020_MODAL_POSITON_SCORECARD_BUTTON_ADD}}</span>
                    </a>
                </ScoreCardComponent>
            </div>
        </div>
        <div>
            <PublishedModal
                @handleCloseModal="handleClosePublishedModal"
                :show-modal="showModalPublished"></PublishedModal>

            <div class="step-place" v-if="$route.params.type == 'new'">
                <StepComponent
                    :total-step="steps"></StepComponent>
                <!--<button v-if="steps" @click="handleSaveChange" class="btn btn-blue ng-scope" type="submit"><span>{{messages.SR_020_BUTTON_STEP}}</span><i-->
                    <!--class="fa fa-chevron-right"></i></button>-->
                <button class="btn btn-blue ng-scope" @click="isShowModalConfirm = true" href="#"><i
                    class="default fa fa-save"></i><span> {{messages.SR_020_BUTTON_SAVE_ACTIVE}}</span></button>
                <button class="btn ng-scope"  @click="handleSaveChange('draft')" href="#"><i
                    class="default fa fa-save"></i><span> {{messages.SR_020_BUTTON_SAVE_DRAFT}}</span></button>
            </div>
            <div class="step-place" v-else>
                <button @click="handleSaveChange" class="btn btn-blue ng-scope" type="submit">
                    <span v-if="isSaved == false">
                        <i class="default fa fa-save"></i>
                        <span class="default"> {{messages.SR_020_BUTTON_SAVE_CHANGE}}</span>
                    </span>
                    <span v-else>
                         <i class="success fa fa-check"></i>
                         <span class="default"> {{messages.SR_020_BUTTON_SAVE_CHANGE}}</span>
                    </span>

                </button>
            </div>
        </div>
        <UnSavedChangeModal
            :showModal="isShowModalConfirm"
            :sub-title-modal="messages.SR_020_MODAL_ACTIVE_SUB_TITLE"
            :title-modal="messages.SR_020_MODAL_ACTIVE_TITLE"
            @handleSaveChange="handleSaveChange('published')"
            @handleClose="isShowModalConfirm=false">
        </UnSavedChangeModal>
    </div>
</template>

<script>
    import StepComponent from './step.vue';
    import {mapActions, mapGetters} from 'vuex';
    import SelectSearch from '../select/main.vue';
    import ScoreCard from '@/models/Scorecard.ts';
    import Position from "@/models/Position";
    import ScoreCardComponent from '../modals/ScoreCards/ScoreCardComponent.vue';
    import PublishedModal from './PublishedModal.vue';
    import UnSavedChangeModal from '@/components/modals/UnsavedChange.vue';

    import Vue from 'vue'
    export default Vue.extend({
        name: "ScoreCard",
        components: {
            SelectSearch,
            StepComponent,
            ScoreCardComponent,
            PublishedModal,
            UnSavedChangeModal
        },
        computed: {
            ...mapGetters([
                'steps',
                'currentPosition',
                'listPosition'
            ])
        },
        data() {
            return {
                isShowModalConfirm: false,
                isSaved: false,
                listScoreCard: [],
                showModalPublished: false,
            }
        },
        created() {
            window.c = this;
            this.getScorecards().then(()=>{
                if (this.listScoreCard.length > 0 ){
                    let noneEmail = {
                        scorecard_name: 'None',
                        id: 'NoneObject'
                    };
                    this.listScoreCard.push(noneEmail);
                }
            });
        },
        methods: {
            ...mapActions([
                'setsteps',
                'setCurrentPosition'
            ]),
            handleClosePublishedModal(){
                this.showModalPublished = true;
                this.$modal.hide('modal');
            },
            getScorecards() {
                return new Promise(resolve => {
                    new ScoreCard().getAllScoreCard().then(data => {
                        this.listScoreCard = data.map((scorecard) => {
                            delete scorecard['firestore'];
                            return scorecard;
                        })
                        resolve();
                    })
                })
            },
            handleCloseScoreCard() {
                this.getScorecards()
            },
            handleSaveChange(status='draft') {
                let that = this;
                let _position = new Position();
                Object.assign(_position, this.currentPosition);

                that.isSaved = true;
                if (_position.scorecard_id == 'NoneObject'){
                    _position.scorecard_id = '';
                }
                _position.status = status;

                _position.update().then((data) => {
                    // that.setCurrentPosition(data);
                    let positionIndex = that.listPosition.findIndex((position) => {
                        return position.id == data.id;
                    })
                    that.listPosition.splice(positionIndex, 1, data);
                    that.isSaved = false;
                        if (status == 'published'){
                            that.showModalPublished = true;
                        }
                        if (status == 'draft' && this.$route.params.type == 'new'){
                            this.$modal.hide('modal');
                        }
                })
            },
            handleChangeScoreCard(data) {
                this.currentPosition.scorecard_id = data.id;
                this.$forceUpdate();
            }
        }
    })
</script>

<style lang="scss" scoped>
    .add-scorecard {
        padding: 5px 10px;
        font-size: 12px;
        line-height: 1.5;
        border-radius: 3px;

        &:hover {
            text-decoration: unset;
        }

        i {
            margin-right: 5px;
        }
    }

    .step-place {
        display: flex;
        justify-content: flex-end;
        justify-items: center;
        background: #fcfcfc;
        border-top: 1px solid #eee;
        padding: 20px;

        position: absolute;
        bottom: 0px;
        flex: 1;
        width: calc(100% - 166.5px);

        button {
            margin-right: 10px;
            min-width: 120px;
            text-align: center;

            i {
                margin-left: 5px;
            }
        }
    }

    .main-content {
        height: 780px;
        padding: 20px 20px 20px 20px;
    }

    .header {
        margin-bottom: 20px;

        h1 {
            font-weight: bold;
        }
    }
</style>
