<template>
    <div>
        <div class="main-content">
            <h1>{{messages.SR_020_MODAL_NEW_POSITION_TITLE_1}}</h1>
            <div>
                <b-form-input size="sm" class="input-common-css position-title"
                              :class="{'isError':isErrorForm.titleInput}"
                              v-model="currentPosition.title"
                              placeholder="Position Title *">
                </b-form-input>
                <div class="flex-item">
                    <b-form-input size="sm" class="input-common-css another-title" v-model="currentPosition.department"
                                  placeholder="Department"></b-form-input>
                    <!--<b-form-input size="sm" class="input-common-css another-title" v-model="currentPosition.internal_id"-->
                                  <!--placeholder="Internal ID"></b-form-input>-->
                </div>
                <h3 class="location-title">{{messages.SR_020_MODAL_NEW_POSITION_TITLE_2}}</h3>
                <SelectSearch
                    style="margin-bottom:10px;"
                    @changeValue="handleChangeLocation"
                    :class-container="isErrorForm.location ? 'isErrorSelect':''"
                    :value="currentPosition.location"
                    :data-options="positionData.listLocation"/>
                <b-form-input
                    v-if="currentPosition.location && currentPosition.location.value"
                    size="sm" class="input-common-css another-title"
                    v-model="currentPosition.state"
                    :placeholder="messages.SR_020_MODAL_NEW_POSITION_PLACEHOLDER_5">
                </b-form-input>
                <b-form-checkbox
                    style="margin-top:10px;"
                    id="checkbox-1"
                    v-model="currentPosition.is_remote"
                    name="checkbox-1"
                    :value="true"
                    :unchecked-value="false"
                >
                    <span style="font-size:12px">{{messages.SR_020_MODAL_NEW_POSITION_TITLE_3}}</span>
                </b-form-checkbox>
                <h3 class="location-title">{{messages.SR_020_MODAL_NEW_POSITION_TITLE_4}}</h3>
                <div style="display:flex; margin-bottom:10px;">
                    <SelectSearch
                        style="margin-right:10px;"
                        @changeValue="handleChangePositionType"
                        :class-container="isErrorForm.positionType ? 'isErrorSelect':''"
                        :value="currentPosition.position_type"
                        :data-options="positionData.listPositionType"/>
                    <SelectSearch
                        @changeValue="handleChangeCategory"
                        :value="currentPosition.category"
                        :title-field="'name'"
                        :data-options="positionData.listCategory"/>
                </div>
                <div style="display:flex">
                    <SelectSearch
                        style="margin-right:10px;"
                        @changeValue="handleChangeEducation"
                        :value="currentPosition.education"
                        :data-options="positionData.listEducation"/>
                    <SelectSearch
                        @changeValue="handleChangeExperience"
                        :value="currentPosition.experience"
                        :data-options="positionData.listExperience"/>
                </div>
                <h3 class="location-title">{{messages.SR_020_MODAL_NEW_POSITION_TITLE_5}}</h3>
                <p>{{messages.SR_020_MODAL_NEW_POSITION_TITLE_6}}</p>
                <div style="position:relative; ">
                    <SelectSearch
                        style="position: absolute;z-index: 1;right: 3px;top:3px;"
                        @changeValue="handleChangeJobDescription"
                        :place-holder="messages.SR_020_MODAL_NEW_POSITION_PLACEHOLDER_12"
                        :value="currentPosition.job_description"
                        :is-show-group="true"
                        :data-options="listJobDescription"/>
                    <VueEditor
                        useCustomImageHandler
                        @imageAdded="handleImageAdded"
                        v-if="currentPosition.job_description"
                        :editorToolbar="customToolbar"
                        :class="isErrorForm.jobDescription ? 'isError':''"
                        v-model="currentPosition.job_description.description">
                    </VueEditor>
                </div>

                <!-- Comment vì sẽ pending chức năng tag -->
                <!--<div style="display: block">-->
                    <!--<h3 class="location-title">Tags</h3>-->
                    <!--<p>{{messages.SR_020_MODAL_NEW_POSITION_TITLE_8}}</p>-->
                    <!--<div style="display: inline-block">-->
                        <!--<span class="object-tag"-->
                              <!--:key="index"-->
                              <!--v-for="(tag, index) in currentPosition.tags">-->
                            <!--<i class="tag-icon fa fa-tag"></i>-->
                            <!--<i class="remove-icon fa fa-times" @click="removeTag(index)">-->
                            <!--</i>{{tag}}-->
                        <!--</span>-->
                        <!--<a @click="showTagModal=true"-->
                           <!--class="add btn btn-blue btn-xs" href="#">-->
                            <!--<i class="fa fa-plus"></i>-->
                            <!--<span> {{messages.SR_020_MODAL_NEW_POSITION_BUTTON_ADD_TAG}}</span>-->
                        <!--</a>-->
                    <!--</div>-->
                <!--</div>-->

                <div style="display: block;margin-bottom:90px;">
                    <h3 class="location-title">{{messages.SR_020_MODAL_NEW_POSITION_TITLE_9}}
                    </h3>
                    <p v-html="messages.SR_020_MODAL_NEW_POSITION_TITLE_10"></p>
                    <p>{{messages.SR_020_MODAL_NEW_POSITION_TITLE_11}}</p>
                    <b-alert :show="isDuplicated" variant="danger">
                        {{messages.SR_020_MODAL_NEW_POSITION_DUPLICATED_INFOR}}
                    </b-alert>
                    <div class="custom-field ng-scope" v-if="currentPosition.other_information.length > 0"
                         v-for="(info, index) in currentPosition.other_information"
                         :key="index"
                    >
                        <div class="custom-field-name">
                            <Select
                                :class="{'isErrorSelect':isErrorForm.other_information[index] && isErrorForm.other_information[index].title}"
                                v-model="currentPosition.other_information[index].title"
                                filterable
                                no-data-text="New Field"
                                no-match-text="New Field"
                                @change="handleChangeOtherInformation"
                                @focus="indexOtherInfo = index"
                                allow-create
                                default-first-option
                                value-key="title"
                                autocomplete
                                :placeholder="messages.SR_020_MODAL_NEW_POSITION_INFOR_PLACEHOLDER_1">
                                <Option
                                    v-for="item in listOtherInformation"
                                    :key="item.title"
                                    :label="item.title"
                                    :value="item.title">
                                </Option>
                            </Select>
                        </div>
                        <div class="custom-field-value">
                            <input
                                class="data item-value" type="text"
                                v-model="currentPosition.other_information[index].value"
                                :class="{'isError':isErrorForm.other_information[index] && isErrorForm.other_information[index].value}"
                                :placeholder="messages.SR_020_MODAL_NEW_POSITION_INFOR_PLACEHOLDER_2">
                        </div>
                        <div class="custom-field-options">
                            <label>
                                <input v-model="info.is_encrypt" type="checkbox"><span> {{messages.SR_020_MODAL_NEW_POSITION_INFOR_ENCRYPT}}</span></label>
                        </div>
                        <div class="custom-field-actions"><a class="remove" href="#"
                                                             @click="removeCustomField(index)"><i
                            class="fa fa-times"></i><span> {{messages.SR_020_MODAL_NEW_POSITION_INFOR_REMOVE}}</span></a>
                        </div>
                    </div>
                    <a class="add btn btn-blue btn-xs" href="#" @click="pushOtherInformation"><i
                        class="fa fa-plus"></i><span> {{messages.SR_020_MODAL_NEW_POSITION_BUTTON_ADD_INFORMATION}}</span></a>
                </div>
            </div>
        </div>

        <div>
            <div class="step-place" v-if="$route.params.type == 'new'">
                <StepComponent
                    :total-step="steps"></StepComponent>
                <button @click="handleSaveChange" class="btn btn-blue ng-scope" type="submit"><span>{{messages.SR_020_BUTTON_STEP}}</span><i
                    class="fa fa-chevron-right"></i></button>
            </div>
            <div class="step-place" v-else>
                <button @click="handleSaveChange" class="btn btn-blue ng-scope" type="submit">
                    <span v-if="isSaved == false">
                        <i class="default fa fa-save"></i>
                        <span class="default"> {{messages.SR_020_BUTTON_SAVE_CHANGE}}</span>
                    </span>
                    <span v-else>
                         <i class="success fa fa-check"></i>
                         <span class="default"> {{messages.SR_020_BUTTON_SAVE_CHANGE}}</span>
                    </span>
                </button>
            </div>
        </div>
        <UnSavedChangeModal
            :showModal="showModalUnSavedChange"
            @handleSaveChange="saveChange()"
            @handleClose="handleCloseUnSavedChange"/>

        <!-- Handle change Job Description when create -->
        <UnSavedChangeModal
            :showModal="showModalConfirmChangeJob"
            :sub-title-modal="subTitleModal"
            :title-modal="titleModal"
            @handleSaveChange="setJobDescription()"
            @handleClose="handleCloseUnSavedChange">
        </UnSavedChangeModal>


        <!-- Tạm thời remove vì không nằm trong kế hoạch V1-->
        <!--<TagModal-->
            <!--@handleCloseModal="handleCloseTagModal"-->
            <!--:show-modal="showTagModal">-->
        <!--</TagModal>-->
    </div>
</template>

<script>
    import {Select, Option} from 'element-ui';
    import lang from 'element-ui/lib/locale/lang/vi'
    import locale from 'element-ui/lib/locale'
    import SelectSearch from '../select/main.vue';
    import { VueEditor } from "vue2-editor";
    import StepComponent from './step.vue';
    import {mapGetters, mapActions, mapMutations} from 'vuex';
    import Position, {PositionTypes, Category, Experience, Education} from "@/models/Position.ts";
    import {positioncategories} from '@/common/positioncategories.ts';
    // import TagModal from "./TagModal.vue";
    import OtherInformation from "@/models/OtherInformation.ts";
    import UnSavedChangeModal from '@/components/modals/UnsavedChange.vue';
    import Pipeline from '@/models/Pipeline';
    import {fauth, fstorage} from '@/firebase';
    import {messages} from "../../messages";

    locale.use(lang);
    export default {
        components: {
            SelectSearch,
            VueEditor,
            StepComponent,
            // TagModal,
            Select,
            Option,
            UnSavedChangeModal
        },
        computed: {
            ...mapGetters([
                'currentPosition',
                'steps',
                'templatePosition',
                'currentCompany',
                'listPosition',
                'currentUser'
            ]),
        },
        created() {
            let type = this.$route.params.type;
            let position_id = this.$route.params.position_id;
            this.listOtherInformation = [];

            switch (type) {
                case 'new':
                    this.setCurrentPosition(_.cloneDeep(this.templatePosition));
                    this.revertSteps();
                    break;
                case 'edit':
                    if (position_id) {
                        new Position().getById(position_id).then((data) => {
                            this.setCurrentPosition(data);
                            this.setCachePosition(_.cloneDeep(this.currentPosition));
                        })
                    } else {
                        this.$router.push({name: 'NewPosition'})
                    }
                    break;
            }
            new OtherInformation().getAllOtherInformation().then((data) => {
                this.listOtherInformation = data;
            })

        },
        methods: {
            ...mapMutations([
                'setCachePosition'
            ]),
            ...mapActions([
                'setCurrentPosition',
                'setsteps',
                'setListPosition',
                'revertSteps',
                'getListPipeline',
                'getListPipelineStage'
            ]),
            handleImageAdded(file, Editor, cursorLocation, resetUploader){
                console.log(file);
                let fileNameUp = file.name;
                let upload = fstorage.ref(`image/position/${this.currentPosition.id$}/${fileNameUp}`).put(file)
                upload.on('state_changed',sp=>{
                    },null,
                     ()=>{
                        upload.snapshot.ref.getDownloadURL().then(downloadUrl=>{
                            Editor.insertEmbed(cursorLocation, "image", downloadUrl);
                            resetUploader();
                        })
                    })
            },
            setJobDescription(){
                this.currentPosition.job_description = this.current_jobDes;
                this.showModalConfirmChangeJob = false;
            },
            handleCloseUnSavedChange() {
                this.showModalConfirmChangeJob = false;
                this.showModalUnSavedChange = false;
            },
            saveChange() {
                this.handleCloseUnSavedChange();
                this.handleSaveChange();
            },
            removeCustomField(index) {
                this.currentPosition.other_information.splice(index, 1);
            },
            handleCloseTagModal() {
                this.showTagModal = false;
            },
            positionInfoDuplicated(value) {
                let positionDuplicate = [];
                this.currentPosition.other_information.forEach((info, index) => {
                    if (info.title == value && value.trim() != '') {
                        positionDuplicate.push(index)
                    }
                });
                if (positionDuplicate.length > 1) {
                    this.isDuplicated = true;
                } else {
                    this.isDuplicated = false;
                }
                return positionDuplicate;
            },
            removeTag(index) {
                this.currentPosition.tags.splice(index, 1);
            },
            handleChangeOtherInformation(value) {
                let indexOther = this.listOtherInformation.find(info => {
                    return info.title == value;
                });
                if (indexOther) {
                    this.currentPosition.other_information[this.indexOtherInfo]['id'] = indexOther.id;
                    this.currentPosition.other_information[this.indexOtherInfo]['is_encrypt'] = indexOther.is_encrypt;
                }
                // this.checkErrorFrom();
            },
            pushOtherInformation() {
                this.currentPosition.other_information.push({
                    'title': '',
                    'value': null,
                })
            },
            handleChangeLocation(data) {
                this.currentPosition.location = data;
            },
            handleChangePositionType(data) {
                this.currentPosition.position_type = data;
            },
            handleChangeCategory(data) {
                this.currentPosition.category = data;
            },
            handleChangeEducation(data) {
                this.currentPosition.education = data;
            },
            handleChangeExperience(data) {
                this.currentPosition.experience = data;
            },
            handleChangeJobDescription(data) {
                if (this.currentPosition.job_description.value != null && this.cached_JDes != data.job_description){
                    this.titleModal = messages.SR_020_MODAL_CHANGE_JOB_DESCRIPTION_TITLE;
                    this.subTitleModal = messages.SR_020_MODAL_CHANGE_JOB_DESCRIPTION_SUB_TITLE;
                    this.showModalConfirmChangeJob = true;
                    this.current_jobDes = data;
                    return;
                }
                this.currentPosition.job_description = data;
            },
            checkErrorFrom() {
                let isError = false;
                if (this.currentPosition.title.trim() == '') {
                    this.isErrorForm.titleInput = true;
                    isError = true;
                } else {
                    this.isErrorForm.titleInput = false;
                }

                if (this.currentPosition.location.value == null) {
                    this.isErrorForm.location = true;
                    isError = true;
                } else {
                    this.isErrorForm.location = false;
                }

                if (this.currentPosition.position_type.value == null) {
                    this.isErrorForm.positionType = true;
                    isError = true;
                } else {
                    this.isErrorForm.positionType = false;
                }

                if (this.currentPosition.job_description.description.replace(/<[^>]*>?/gm, '').trim() == '') {
                    this.isErrorForm.jobDescription = true;
                    isError = true;
                } else {
                    this.isErrorForm.jobDescription = false;
                }
                this.currentPosition.other_information.forEach((info, index) => {
                    let result = {
                        title: false,
                        value: false
                    }
                    this.isErrorForm.other_information[index] = result;
                    let arrayPositionInfoDuplicated = this.positionInfoDuplicated(info.title);
                    if (info.title.trim() == '' || arrayPositionInfoDuplicated.length > 1) {
                        this.isErrorForm.other_information[index].title = true;
                        isError = true;
                    }
                    if (info.value == null || info.value == '' || arrayPositionInfoDuplicated.length > 1) {
                        this.isErrorForm.other_information[index].value = true;
                        isError = true
                    }
                });
                this.$forceUpdate();
                return isError;
            },
            async handleSaveChange() {
                let isError = this.checkErrorFrom();
                if (isError) {
                    return;
                } else {
                    let position = new Position();
                    Object.assign(position, this.currentPosition);
                    if (this.$route.params.type == 'new') {
                        position.company_id = this.currentCompany.id;
                        if (this.steps[0].done == false) {
                            position.insert().then((data) => {
                                this.setCurrentPosition(data);
                                this.cached_JDes = data.job_description;

                                let listPosition = this.listPosition;
                                listPosition.unshift(data);
                                this.setListPosition(listPosition);
                                let step = this.steps[0];
                                let nextStep = this.steps[1];
                                step.active = false;
                                step.done = true;
                                nextStep.active = true;
                                let router = {
                                    name: `PositionApplicationTab`,
                                    params: {
                                        position_id: data.id,
                                    },
                                };
                                this.$router.push(router);

                                this.getListPipeline(this.currentCompany.id).then((_data) => {
                                    this.currentPosition.pipeline_id = _data[0].id;
                                    this.currentPosition.update();
                                    new Pipeline().getById(this.currentPosition.pipeline_id).then((pipeline) => {
                                        pipeline.used_positions.push({
                                            'title': position.title,
                                            'id': position.id
                                        });
                                        pipeline.update();
                                    })
                                })
                            });
                        } else {
                            let step = this.steps[0];
                            let nextStep = this.steps[1];
                            step.active = false;
                            step.done = true;
                            nextStep.active = true;
                            let router = {
                                name: `PositionApplicationTab`,
                                params: {
                                    position_id: this.currentPosition.id,
                                },
                            };
                            this.$router.push(router)
                        }
                    } else {
                        position.update().then((data) => {
                            this.setCurrentPosition(data);
                            this.isSaved = true;
                            setTimeout(() => {
                                this.isSaved = false;
                            }, 1000)
                            let positionIndex = this.listPosition.findIndex((position) => {
                                return position.id == data.id;
                            })
                            this.listPosition.splice(positionIndex, 1, data);
                            this.setCachePosition(_.cloneDeep(data));
                        });
                    }
                    const arrayP = this.currentPosition.other_information.map((info) => {
                        return new Promise((resolve) => {
                            let _info = new OtherInformation();
                            Object.assign(_info, info);
                            delete _info.index;
                            _info.company_id = this.currentCompany.id;
                            if (!info.hasOwnProperty('id')) {
                                _info.insert().then((newInfo) => {
                                    info['id'] = newInfo.id;
                                    console.log(newInfo);
                                    resolve(info);
                                })
                            } else {
                                _info.update().then((newInfo) => {
                                    resolve(info);
                                })
                            }

                        })
                    })
                    await Promise.all(arrayP)
                }

            }
        }
        ,
        data() {
            return {
                titleModal: '',
                subTitleModal: '',
                current_jobDes: '',
                cached_JDes: '',
                showModalConfirmChangeJob:false,
                showModalUnSavedChange: false,
                isDuplicated: false,
                indexOtherInfo: -1,
                showTagModal: false,
                isSaved: false,
                customToolbar: [
                    [{'header': [1, 2, 3, 4, 5, 6, false]}],
                    ['bold', 'italic', 'underline', 'strike'],
                    [{'list': 'ordered'}, {'list': 'bullet'}],
                    ['link', 'image']
                ],
                text: '',
                signatureHtml: '',
                positionData: {
                    is_remote: false,
                    listLocation:
                        [
                            {
                                'title': 'Việt Nam',
                                'value': 'vn',
                            }
                        ],
                    listPositionType:PositionTypes,
                    listCategory: positioncategories,
                    listEducation: Education,
                    listExperience: Experience,
                },
                listJobDescription: [
                    {
                        value: 1,
                        title: 'Accounting',
                        description: "<h2>" +
                            "<strong>About the Accountant&nbsp;position</strong></h2>" +
                            "<p>We are looking for a skilled Accountant to be responsible for the preparation, computing, managing, researching and analyzing of company's accounting data. We expect you to provide detailed information on company's performance, liquidity, solvency, and cash flows as well as analyze its financial position and make conclusions about it." +
                            "</p><h2><strong>Accountant responsibilities are:</strong></h2>" +
                            "<ul><li>Perform all accounting operations and ensure their compatibility with accounting principles and regulations</li>" +
                            "<li>Calculate taxes and create tax returns, balance sheet, profit/loss statements and similar documentation</li>" +
                            "<li>Create budget and financial forecasts</li><li>Prepare timely and accurate financial statements</li>" +
                            "<li>Perform month-end and year-end close processes</li>" +
                            "<li>Perform audits of company's financial transactions and prepare documentation for accounting control procedures</li>" +
                            "</ul><h2><strong>Accountant requirements are:</strong></h2>" +
                            "<ul><li>3+ years' experience of working on a Cost Accountant or other relevant position</li>" +
                            "<li>Profound knowledge of accounting, financial and business principles and procedures</li>" +
                            "<li>Excellent knowledge of accounting software</li>" +
                            "<li>Strong computation skills with close attention to detail</li>" +
                            "<li>Productivity and confidentiality</li>" +
                            "<li>Advanced degree in Accounting; CPA or CMA certification would be a bonus</li>" +
                            "</ul><p><br></p>",
                        group: 'Accounting'
                    },
                    {
                        value: 2,
                        title: 'Corporate Trainer',
                        group: 'Corporate Training'
                    },
                    {
                        value: 3,
                        title: 'Đây là test',
                        group: 'Accounting'
                    },
                ],
                isErrorForm: {
                    titleInput: false,
                    location: false,
                    positionType: false,
                    jobDescription: false,
                    other_information: [],
                },
                listOtherInformation: [],
            }
        }
    }
</script>
<style scoped>
    @import '~element-ui/lib/theme-chalk/index.css';

    .v--modal-overlay .v--modal-box {
        top: 50px !important;
    }

    >>> .isErrorSelect input {
        border: 2px solid #eba2a5 !important;
    }
</style>
<style lang="scss" scoped>
    .isError {
        border: 2px solid #eba2a5 !important;
    }


    .step-place {
        display: flex;
        justify-content: flex-end;
        justify-items: center;
        background: #fcfcfc;
        border-top: 1px solid #eee;
        padding: 20px;

        position: absolute;
        bottom: 0px;
        flex: 1;
        width: calc(100% - 166.5px);

        button {
            margin-right: 10px;
            min-width: 120px;
            text-align: center;

            i {
                margin-left: 5px;
            }
        }
    }

    .main-content {
        padding: 20px;
        max-height: 780px;

        h1, h3 {
            font-weight: bold;
        }

        .location-title {
            margin: 25px 0 10px;
            font-size: 16px;
        }
    }

    .input-common-css {
        font-size: 18px;
        display: block;
        margin-bottom: 10px;
        line-height: 1.5;
        height: 40px;

        &.position-title {
            width: 410px;
        }

        &.another-title {
            width: 200px;
            margin-right: 10px;
            font-size: 14px;
            display: block;
            height: 34px;
        }
    }

    .flex-item {
        display: flex;
    }

    .object-tag {
        background: #eee;
        border-radius: 3px;
        color: #68747e;
        font-size: 12px;
        padding: 3px 5px;
        line-height: 24px;
        margin-right: 10px;

        i {
            margin-right: 5px;
            text-align: center;
            width: 14px;
        }

        .tag-icon {
            display: inline-block;
        }

        .remove-icon {
            display: none;
        }

        &:hover {
            .tag-icon {
                display: none;
            }

            .remove-icon {
                display: inline-block;
                cursor: pointer;
            }
        }
    }

    .custom-field {
        margin-top: 10px;
        display: flex;
        align-items: center;
        align-content: center;
        margin-bottom: 10px;

        [class^="custom-field-"] {
            padding-right: 10px;
        }

        .custom-field-value {
            flex: 1;

            input {
                width: 100%;
            }
        }
    }

    ::v-deep.el-select {
        &:hover {
            .el-input__inner {
                border: 2px solid #edeff0;
            }
        }

        .el-input__inner {
            &:focus {
                border: 2px solid #5ac0e5 !important;
            }
        }

        .el-input {
            .el-input__suffix {
            }

            .el-select__caret {
                display: none;
            }
        }
    }

</style>
<style>
    .quillWrapper .ql-snow.ql-toolbar {
        padding: 0px !important;
        padding-top: 4px !important;
    }
    .ql-editor{
        max-height:500px;
    }
</style>
