<template>
    <div id="fuck">
        <div class="main-content">
            <div class="header">
                <h1>{{messages.SR_020_MODAL_CANDICATE_FORM_TITLE_1}}</h1>
                <p>{{messages.SR_020_MODAL_CANDICATE_FORM_TITLE_2}}</p>
            </div>
            <div class="option">
                <b-form-group label="">
                    <b-form-radio
                        v-for="(type, index) in candicateTypes"
                        :key="index"
                        v-model="currentPosition.candidate_type" name="some-radios" :value="type.value">
                        <p>{{type.title}} <span v-if="type.value == 'enabled'">({{messages.SR_020_DEFAULT}})</span></p>
                        <span v-if="type.value == currentPosition.candidate_type">{{type.description}}</span>
                        <p v-if="type.value == currentPosition.candidate_type && type.value == 'unlisted'"><strong style="font-size:12px; color:#84929f">Position
                            URL: </strong><a class="url learn-more" :href="getLinkPosition"
                                             target="_blank"><i class="fa fa-paperclip"></i><span class="ng-binding"> {{getLinkPosition()}}</span></a>
                        </p>
                    </b-form-radio>
                </b-form-group>
            </div>
            <div class="optional" :class="{'disable-container':currentPosition.candidate_type == 'disabled'}">
                <h3>{{messages.SR_020_MODAL_CANDICATE_FORM_TITLE_3}}</h3>
                <p>{{getTitleForm(currentPosition.candidate_type)}}</p>
                <div v-for="(info, index) in application_form" :key="index">
                    <h3>{{info.title}}</h3>
                    <div
                        class="option-content"
                        v-for="(field, _index) in info.fields" :key="_index">
                        <span>{{field.title}}</span>
                        <div>
                            <button v-for="(option, key) in field.options" :key="key"
                                    class="btn btn-xs btn-default"
                                    :class="[getClassOption(field.options, key), {'isActive':currentPosition.application_form[field.value] == key}]"
                                    @click="handleChangeOption(field.value, key)"
                                    type="button">
                                <span class="option-required">{{option.title}}</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Comment in this version -->
            <!--<div class="questionnaire-content">-->
            <!--<h3>{{messages.SR_020_MODAL_CANDICATE_FORM_TITLE_8}}</h3>-->
            <!--<p>{{messages.SR_020_MODAL_CANDICATE_FORM_TITLE_9}}-->
            <!--</p>-->
            <!--<p>-->
            <!--{{messages.SR_020_MODAL_CANDICATE_FORM_TITLE_10}}-->
            <!--</p>-->
            <!--<SelectSearch-->
            <!--v-if="questionnaires.length > 0"-->
            <!--style="margin-bottom:5px;"-->
            <!--@changeValue="handleChangeQuestionnaire"-->
            <!--:value="currentPosition.questionnaire_id"-->
            <!--:place-holder="messages.SR_020_MODAL_CANDICATE_FORM_TITLE_11"-->
            <!--:value-field="'id'"-->
            <!--:title-field="'name'"-->
            <!--:width="300"-->
            <!--:data-options="questionnaires"/>-->
            <!--<a class="add-questionnaire btn-blue btn-sm"-->
            <!--@click="showModalQues = true"-->
            <!--href="#">-->
            <!--<i class="fa fa-plus"></i>-->
            <!--<span>{{messages.SR_020_MODAL_CANDICATE_FORM_BUTTON_ADD_QUESTIONNAIRE}}</span>-->
            <!--</a>-->
            <!--<Addquestionnaires-->
            <!--:showModal="showModalQues"-->
            <!--@handleClose="handleCloseModalAddQuestionnaires"-->
            <!--&gt;-->
            <!--</Addquestionnaires>-->
            <!--</div>-->
            <div style="margin-bottom:95px;margin-top:30px;" v-if="currentPosition.candidate_type != 'disabled'">
                <h3>{{messages.SR_020_MODAL_CANDICATE_FORM_TITLE_12}}</h3>
                <p>{{messages.SR_020_MODAL_CANDICATE_FORM_TITLE_13}}</p>
                <p>{{messages.SR_020_MODAL_CANDICATE_FORM_TITLE_14}}</p>
                <div class="section">
                    <input type="text" disabled="disabled" :value="getEmailApply()">
                </div>
            </div>
        </div>
        <div>
            <div class="step-place" v-if="$route.params.type == 'new'">
                <StepComponent
                    :total-step="steps"></StepComponent>
                <button @click="handleSaveChange" class="btn btn-blue ng-scope" type="submit"><span>{{messages.SR_020_BUTTON_STEP}}</span><i
                    class="fa fa-chevron-right"></i></button>
            </div>
            <div class="step-place" v-else>
                <button @click="handleSaveChange" class="btn btn-blue ng-scope" type="submit">
                    <span v-if="isSaved == false">
                        <i class="default fa fa-save"></i>
                        <span class="default"> {{messages.SR_020_BUTTON_SAVE_CHANGE}}</span>
                    </span>
                    <span v-else>
                         <i class="success fa fa-check"></i>
                         <span class="default"> {{messages.SR_020_BUTTON_SAVE_CHANGE}}</span>
                    </span>
                </button>
            </div>
        </div>
    </div>
</template>

<script>
    import {mapActions, mapGetters} from 'vuex';
    import SelectSearch from '../select/main.vue';
    import StepComponent from './step.vue';
    import Position, {DefaultApplicationForm} from "@/models/Position";
    import Addquestionnaires from '../modals/Questionnaries/Addquestionnaires.vue';

    export default {
        name: "Application",
        components: {
            SelectSearch,
            StepComponent,
            Addquestionnaires
        },
        watch:{
            'currentPosition.candidate_type'(){
                if (this.$route.params.type == 'new'){
                    this.currentPosition.application_form = Object.assign({}, DefaultApplicationForm);
                }
            }
        },
        data() {
            return {
                showModalQues: false,
                isSaved: false,
                candicateTypes: [
                    {
                        value: 'enabled',
                        title: 'Enabled',
                        description: 'Accept applicants on your public Career Portal and enabled 3rd party job boards.',
                        title_form: 'Choose the information collected for candidates applying through your Career or Employee Portals.'
                    },
                    {
                        value: 'unlisted',
                        title: 'Unlisted',
                        description: 'Applicants must have the direct link (below) to apply to this position.',
                        title_form: 'Choose the information collected for candidates applying through your the direct link on your Career Portals.'

                    },
                    {
                        value: 'disabled',
                        title: 'Disabled',
                        description: 'Prevent new applicants to this position. You can still add candidates manually.',
                        title_form: ''
                    }
                ],
                application_form: [
                    {
                        value: 1,
                        title: 'Personal Information',
                        fields: [
                            {
                                value: 'name',
                                title: 'Name',
                                options: [
                                    {
                                        value: true,
                                        title: 'Required'
                                    },
                                ]
                            },
                            {
                                value: 'email',
                                title: 'Email Address',
                                options: [
                                    {
                                        value: true,
                                        title: 'Required'
                                    },
                                ]
                            },
                            {
                                value: 'phone',
                                title: 'Phone Number',
                                options: [
                                    {
                                        value: true,
                                        title: 'Required'
                                    },
                                    {
                                        value: false,
                                        title: 'Optional'
                                    },
                                    {
                                        value: false,
                                        title: 'Disabled'
                                    },
                                ]
                            },
                        ]
                    },
                    {
                        value: 2,
                        title: 'Experience',
                        fields: [
                            {
                                value: 'resume',
                                title: 'Resume Upload',
                                options: [
                                    {
                                        value: true,
                                        title: 'Required'
                                    },
                                    {
                                        value: false,
                                        title: 'Optional'
                                    },
                                    {
                                        value: false,
                                        title: 'Disabled'
                                    },
                                ]
                            },
                            {
                                value: 'experience',
                                title: 'Experience Summary',
                                options: [
                                    {
                                        value: true,
                                        title: 'Required'
                                    },
                                    {
                                        value: false,
                                        title: 'Optional'
                                    },
                                    {
                                        value: false,
                                        title: 'Disabled'
                                    },
                                ]
                            },
                            {
                                value: 'workhistory',
                                title: 'Work History',
                                options: [
                                    {
                                        value: true,
                                        title: 'Required'
                                    },
                                    {
                                        value: false,
                                        title: 'Optional'
                                    },
                                    {
                                        value: false,
                                        title: 'Disabled'
                                    },
                                ]
                            },
                            {
                                value: 'education',
                                title: 'Education',
                                options: [
                                    {
                                        value: true,
                                        title: 'Required'
                                    },
                                    {
                                        value: false,
                                        title: 'Optional'
                                    },
                                    {
                                        value: false,
                                        title: 'Disabled'
                                    },
                                ]
                            },
                        ]
                    },
                    {
                        value: 3,
                        title: 'General',
                        fields: [
                            {
                                value: 'coverletter',
                                title: 'Cover Letter',
                                options: [
                                    {
                                        value: true,
                                        title: 'Required'
                                    },
                                    {
                                        value: false,
                                        title: 'Optional'
                                    },
                                    {
                                        value: false,
                                        title: 'Disabled'
                                    },
                                ]
                            },
                        ]
                    }

                ]
            }
        },
        computed: {
            ...mapGetters([
                'currentPosition',
                'questionnaires',
                'steps'
            ])
        },
        mounted() {
            // @ts-ignore
            this.getQuestionnaires();
            if (this.$route.params.type != 'edit') {
                this.currentPosition.application_form = Object.assign({}, DefaultApplicationForm);
                this.$forceUpdate();
            }
        },
        methods: {
            ...mapActions([
                'getQuestionnaires',
                'setsteps',
                'setCurrentPosition'
            ]),
            getLinkPosition(){
                return `${window.location.origin}/p/${this.currentPosition.id}`
            },
            getEmailApply() {
                return `apply-${this.currentPosition.id}@${window.location.host}`;
            },
            getTitleForm(type) {
                let result = this.candicateTypes.find((candidate) => {
                    return candidate.value == type;
                })
                return result.title_form;
            },
            handleCloseModalAddQuestionnaires() {
                this.showModalQues = false;
                this.getQuestionnaires();
            },
            handleSaveChange() {
                let _position = new Position();
                Object.assign(_position, this.currentPosition);
                this.isSaved = true;
                _position.update().then((data) => {
                    this.setCurrentPosition(data);
                    if (this.$route.params.type == 'new') {
                        let step = this.steps[1];
                        let nextStep = this.steps[2];
                        step.active = false;
                        nextStep.active = true;
                        let router = {
                            name: `PositionPipelineTab`,
                            params: {
                                position_id: data.id,
                            },
                        };
                        this.$router.push(router)
                    }
                    this.isSaved = false;
                })
            },
            handleChangeQuestionnaire(data) {
                this.currentPosition.questionnaire_id = data.id;
            },
            getClassOption(options, key) {
                let totalOptions = Object.keys(options).length;
                switch (totalOptions) {
                    case 1:
                        return '';
                    default:
                        return `bzy-option bzy-option-${key}`;
                }
            },
            handleChangeOption(index, key) {
                let _position = Object.assign({}, this.currentPosition);
                _position.application_form[index] = key;
                this.setCurrentPosition(_position)
            },
        },
    }
</script>
<style lang="scss">
    .v--modal-overlay {
        .v--modal-box {
            top: 50px !important;
        }
    }
</style>
<style lang="scss" scoped>

    .disable-container {
        pointer-events: none;
        opacity: .6;
        position: relative;
        height: 370px;
        overflow: hidden;
    }

    .select-container {
        width: 300px !important;
        max-width: 300px !important;

        li {
            width: 300px !important;
        }

        .container-item {
            width: 300px !important;
            max-width: 300px !important;
        }
    }

    .step-place {
        display: flex;
        justify-content: flex-end;
        justify-items: center;
        background: #fcfcfc;
        border-top: 1px solid #eee;
        padding: 20px;

        position: absolute;
        bottom: 0px;
        flex: 1;
        width: calc(100% - 166.5px);

        button {
            margin-right: 10px;
            min-width: 120px;
            text-align: center;

            i {
                margin-left: 5px;
            }
        }
    }

    .main-content {
        height: 780px;
        padding: 20px 20px 20px 20px;
    }

    .header {
        margin-bottom: 20px;

        h1 {
            font-weight: bold;
        }
    }

    .option {
        margin-bottom: 30px;

        p {
            margin-bottom: 0px;
        }

        span {
            font-size: 12px;
            color: #84929f;
            margin-bottom: 10px;
        }
    }

    .learn-more {
        text-decoration: unset !important;

        span {
            color: #5ac0e5 !important;
            font-weight: 500;

            &:hover {
                color: #84929f!important;
            }
        }
    }

    .optional {
        border-top: 1px solid #edeff0;
        /*padding-top: 20px;*/
        .option-content {
            margin-top: 10px;
            padding-bottom: 10px;
            border-bottom: 1px solid #edeff0;
            display: flex;
            justify-content: space-between;
            line-height: 30px;
            font-size: 14px;
            font-weight: 400;
        }

        h3 {
            font-size: 16px;
            margin-top: 30px;
            margin-bottom: 20px;
            font-weight: bold;
        }
    }

    .section {
        margin-top: 20px;
        margin-bottom: 30px;

        input {
            background-color: #edeff0;
            color: #68747e;
            min-width: 330px;
            border: 2px solid #edeff0;
            font-size: 14px;
            line-height: 20px;
            padding: 6px 10px;
        }
    }

    .questionnaire-content {
        margin-bottom: 90px;

        h3 {
            font-size: 16px;
            margin-top: 30px;
            margin-bottom: 20px;
            font-weight: bold;
        }

        .add-questionnaire {
            margin-top: 10px;
            padding: 5px 10px;
            font-size: 12px;
            line-height: 1.5;
            border-radius: 3px;

            &:hover {
                text-decoration: unset;
            }

            i {
                margin-right: 5px;
            }
        }
    }

    .isActive {
        background-color: #76d691 !important;
        border-color: #76d691 !important;
        color: #fff !important;

        &:hover {
            background-color: #5ec27a !important;
            border-color: #5ec27a !important;
        }
    }

    .bzy-option {
        border: 1px solid #edeff0;
        background-color: #edeff0;
        cursor: pointer;
        display: inline-block;
        font-size: 12px;
        line-height: 1.5;
        padding: 1px 5px;
        transition: .3s ease;

        &.bzy-option-0 {
            border-radius: 4px 0 0 4px;
        }

        &.bzy-option-1 {
            border-radius: unset;
        }

        &.bzy-option-2 {
            border-radius: 0px 4px 4px 0px;
        }

        &:hover {
            background-color: #76d691 !important;
            border-color: #76d691 !important;
            color: #fff !important;
        }
    }
</style>
