<template>
    <div>
        <div class="main-content">
            <div class="header">
                <h1>{{messages.SR_020_MODAL_POSITON_PIPELINE_TITLE}}</h1>
                <p>{{messages.SR_020_MODAL_POSITON_PIPELINE_DES_1}}</p>
            </div>
            <div class="questionnaire-content">
                <h3>{{messages.SR_020_MODAL_POSITON_PIPELINE_TITLE}}</h3>
                <p>{{messages.SR_020_MODAL_POSITON_PIPELINE_CONTENT_1_DES}}</p>
                <SelectSearch
                    style="margin-bottom:5px;"
                    :value="currentPosition.pipeline_id"
                    :value-field="'id'"
                    :data-options="listPipeline"
                    :width="300"
                    @changeValue="handleChangePipeline"
                />
            </div>
            <div class="questionnaire-content">
                <h3>{{messages.SR_020_MODAL_POSITON_PIPELINE_CONTENT_2_TITLE}}</h3>
                <p>{{messages.SR_020_MODAL_POSITON_PIPELINE_CONTENT_2_DES_1}}</p>
                <vue-content-loading
                    v-if="isLoading"
                    :width="500"
                    :height="35">
                    <rect x="0" y="13" rx="4" ry="4" width="15" height="15" />
                    <rect x="20" y="13" rx="4" ry="4" width="100%" height="15" />
                </vue-content-loading>
                <b-list-group v-if="!isLoading">
                    <b-list-group-item class="state-item" style="" v-for="(state, index) in cachePipeline.list_stage"
                                       :key="index"
                                       v-if="state.showInPositionPipelineStageModal && !state.deleted">
                        <div>
                            <i :class="state.icon"></i>
                            {{state.title}}
                            <!--<br/>-->
                            <div class="total-actions" v-if="state.actions && state.actions.length > 0">
                                <i class="fa fa-bolt"></i>
                                {{state.actions.length}}{{messages.SR_007_MODAL_PIPELINE_TOTAL_ACTIONS}}
                            </div>
                        </div>
                        <div class="flex-box-right">
                            <i @click="handleOpenModalAddStage(state, index)" class="fa fa-edit"></i>
                        </div>
                    </b-list-group-item>
                </b-list-group>
                <AddStageModal
                    :type="'edit'"
                    :title-stage="titleState"
                    :stage-data="currentState"
                    :hide-stage-type="true"
                    @handleClose="handleCloseStageModal"
                    @resetDefault="resetDefault"
                    v-on:handleSaveChange="handleSaveChangeStageModal"
                    :showModal="showModalAddState"></AddStageModal>
            </div>
            <div class="questionnaire-content">
                <h3>{{messages.SR_020_MODAL_POSITON_PIPELINE_CONTENT_3_TITLE}}</h3>
                <p>{{messages.SR_020_MODAL_POSITON_PIPELINE_CONTENT_3_DES}}</p>
                <input type="text"
                       :class="{'isError':isError}"
                       @change="checkError"
                       v-model="currentPosition.automated_email_sender"
                       :placeholder="'eg: ' + currentUser.name" required="required">
            </div>
        </div>
        <UnSavedChangeModal
            :showModal="isShowModalConfirm"
            :sub-title-modal="messages.SR_020_MODAL_UNSAVED_CHANGE_TITLE_2"
            :title-modal="messages.SR_020_MODAL_UNSAVED_CHANGE_SUB_TITLE_2"
            @handleSaveChange="saveChange()"
            @handleClose="handleCloseUnSavedChange">
        </UnSavedChangeModal>
        <div>
            <div class="step-place" v-if="$route.params.type == 'new'">
                <StepComponent
                    :total-step="steps"></StepComponent>
                <button :disabled="isLoading" @click="handleSaveChange" class="btn btn-blue ng-scope" type="submit"><span>{{messages.SR_020_BUTTON_STEP}}</span><i
                    class="fa fa-chevron-right"></i></button>
            </div>
            <div class="step-place" v-else>
                <button :disabled="isLoading" @click="handleSaveChange" class="btn btn-blue ng-scope" type="submit">
                    <span v-if="isSaved == false">
                        <i class="default fa fa-save"></i>
                        <span class="default"> {{messages.SR_020_BUTTON_SAVE_CHANGE}}</span>
                    </span>
                    <span v-else>
                         <i class="success fa fa-check"></i>
                         <span class="default"> {{messages.SR_020_BUTTON_SAVE_CHANGE}}</span>
                    </span>
                </button>
            </div>
        </div>
    </div>
</template>

<script>
    import Vue from 'vue';
    import {mapActions, mapGetters} from 'vuex';
    import SelectSearch from '../select/main.vue';
    import AddStageModal from '../modals/PinelineStage/AddStageModal.vue';
    import Position from "@/models/Position";
    import StepComponent from './step.vue';
    import VueContentLoading from 'vue-content-loading';
    import UnSavedChangeModal from '@/components/modals/UnsavedChange.vue';
    import Pipeline from "../../models/Pipeline";
    import PositionPipelineAction from '@/models/PositionPipelineAction.ts';

    export default {
        name: "PipelineTab",
        components: {
            AddStageModal,
            SelectSearch,
            StepComponent,
            UnSavedChangeModal,
            VueContentLoading
        },
        computed: {
            ...mapGetters([
                'currentPosition',
                'listPipeline',
                'listPipelineStage',
                'currentCompany',
                'cachePipeline',
                'steps',
                'currentUser'
            ])
        },
        data() {
            return {
                isSaved: false,
                showModalAddState: false,
                currentState: {},
                titleState: '',
                isError: false,
                isShowModalConfirm: false,
                isChangePipeline: false,
                PositionPipelineActionData: [],
                actionsCurrentPipeline: [],
                cachedID: '',
                isLoading: false,
            }
        },
        mounted(){
            this.currentPosition.automated_email_sender = this.currentUser.name;
        },
        async created() {
            let that = this;
            that.isLoading = true;
            this.getListPipeline(this.currentCompany.id).then(()=>{
                this.getListPipelineStage(this.currentPosition.pipeline_id).then((data)=>{
                    this.cachePipeline.list_stage = data;
                    this.getActionsAndMap(data);
                    this.isLoading = false;
                });
            });

        },
        methods: {
            ...mapActions([
                'getListPipeline',
                'getListPipelineStage',
                'setCurrentPosition',
                'setCachePipeline',
            ]),
            getActionsAndMap(stages){
                new PositionPipelineAction().getActionsImported(this.currentPosition.id, this.currentPosition.pipeline_id).then(async (data)=>{
                    this.actionsCurrentPipeline = data;
                    if (data.length > 0){
                        const PArray = this.cachePipeline.list_stage = stages.map((state)=>{
                            let index = this.actionsCurrentPipeline.findIndex((action)=>{
                                return state.id == action.stage_id;
                            });
                            if (index != -1) state.actions = this.actionsCurrentPipeline[index].actions;
                            return state;
                        })
                        await Promise.all(PArray);
                        this.$forceUpdate();
                    }
                })
            },
            checkError(){
                if (this.currentPosition.automated_email_sender.trim() == ''){
                    this.isError = true;
                }else{
                    this.isError = false;
                }
            },
            handleCloseUnSavedChange() {
                this.isShowModalConfirm = false;
            },
            resetDefault() {
                this.getListPipelineStage(this.currentPosition.pipeline_id).then((stages) => {
                    let state = stages[this.currentState.indexInCurrentArray];
                    state['indexInCurrentArray'] = this.currentState.indexInCurrentArray;
                    this.currentState = state;
                })
            },
            saveChange() {
                if (this.isError == true){
                    return;
                }
                let position = new Position();
                Object.assign(position, this.currentPosition);
                this.handleCloseUnSavedChange();

                delete this.cachePipeline['firestore'];
                // position.pipeline_id = this.cachePipeline.id;
                this.isSaved = true;
                position.update().then((data) => {
                    if (this.$route.params.type == 'new') {
                        let step = this.steps[2];
                        let nextStep = this.steps[3];
                        step.active = false;
                        nextStep.active = true;
                        let router = {
                            name: `PositionScorecardTab`,
                            params: {
                                position_id: data.id,
                            },
                        };
                        this.$router.push(router)
                    }
                    this.isSaved = false;
                });
                this.updatePositionToPipeline(position);
            },
            updatePositionToPipeline(position) {
                if (this.cachedID != ''){
                    new Pipeline().getById(this.cachedID).then((pipeline) => {
                        let index = pipeline.used_positions.findIndex((p) => {
                            return p.id == position.id;
                        });
                        if (index != -1) {
                            pipeline.used_positions.splice(index, 1);
                            pipeline.update();
                        }
                    })
                }
                new Pipeline().getById(position.pipeline_id).then((pipeline) => {
                    let index = _.sumBy(pipeline.used_positions, (p) => {
                        return p.id == position.id;
                    });
                    if (index > 0) {
                        // pipeline.used_positions.splice(index, 1);
                    } else {
                        pipeline.used_positions.push({
                            'title': position.title,
                            'id': position.id
                        });
                        pipeline.update();
                    }


                })
            },
            handleSaveChange() {
                if (this.isChangePipeline) {
                    this.isShowModalConfirm = true;
                } else {
                    this.saveChange();
                }
            },
            handleCloseStageModal(){
                this.showModalAddState = false;
            },
            handleSaveChangeStageModal(stage_actions) {
                let index = this.actionsCurrentPipeline.findIndex(state=>{
                    return state.stage_id == this.currentState.id;
                });
                let action = new PositionPipelineAction()
                if (index == -1){
                    action.pipeline_id = this.currentPosition.pipeline_id;
                    action.position_id = this.currentPosition.id;
                    action.stage_id = this.currentState.id;
                    action.actions = stage_actions;
                    action.insert().then((data)=>{
                        this.actionsCurrentPipeline.push(data);
                        console.log(' done');

                    })
                }else{
                    action = this.actionsCurrentPipeline[index];
                    action.actions = stage_actions;
                    action.update().then(()=>{
                        console.log('Update done');
                    })
                }
                this.handleCloseStageModal();
            },
            handleChangePipeline(data) {
                this.isLoading = true;
                if (data.id != this.currentPosition.pipeline_id) {
                    this.isChangePipeline = true;
                } else {
                    this.isChangePipeline = false;
                }
                this.cachedID = this.currentPosition.pipeline_id;

                this.currentPosition.pipeline_id = data.id;
                this.getListPipelineStage(data.id).then(() => {
                    data['list_stage'] = this.listPipelineStage;
                    this.setCachePipeline(data);
                    this.isLoading = false;
                });

            },
            handleOpenModalAddStage(stage, index) {
                this.showModalAddState = true;
                this.currentState = _.cloneDeep(stage)
                delete this.currentState['firestore']
                // indexInCurrentArray is position of this item in list_stage of state
                this.currentState['indexInCurrentArray'] = index;
                this.titleState = this.currentState['title'];
            }
        }
    }
</script>


<style lang="scss">
    .v--modal-overlay {
        .v--modal-box {
            top: 50px !important;
        }
    }

    .select-container {
        width: 275px !important;
        max-width: 275px !important;

        li {
            width: 275px !important;
        }

        .container-item {
            width: 275px !important;
            max-width: 275px !important;
        }
    }
</style>

<style lang="scss" scoped>
    .flex-box-right i {
        /*margin-left:10px;*/
        font-size: 10px;
        padding: 5px;
        cursor: pointer;
    }


    .btn-custom {
        margin-top: 10px;
        font-size: 12px !important;
        height: initial !important;
        padding: 2px 8px;
        background-color: #5ac0e5 !important;
        color: #fff !important;
        border: none;
    }

    .btn-custom:hover {
        font-size: 12px;
        background-color: #4cabcd !important;
        color: #fff !important;
    }

    .state-item {
        justify-content: space-between;
        display: flex;
        align-content: center;
        background: #edeff0;
        height: auto;
        min-height: 40px;
        padding: 10px;

        div.total-actions {
            line-height: 1;
            border-radius: 10px;
            font-size: 12px;
            display: block;
            opacity: 0.7;
            padding-left: 5px;
            padding-top: 3px;
        }
    }

    .btn-blue {
        border: none;
        padding: 5px 12px;
        font-weight: bold;
    }

    .step-place {
        display: flex;
        justify-content: flex-end;
        justify-items: center;
        background: #fcfcfc;
        border-top: 1px solid #eee;
        padding: 20px;

        position: absolute;
        bottom: 0px;
        flex: 1;
        width: calc(100% - 166.5px);

        button {
            margin-right: 10px;
            min-width: 120px;
            text-align: center;

            i {
                margin-left: 5px;
            }
        }
    }

    .questionnaire-content {
        &:last-child {
            margin-bottom: 90px;
        }

        h3 {
            font-size: 16px;
            margin-top: 30px;
            margin-bottom: 20px;
            font-weight: bold;
        }

        .add-questionnaire {
            margin-top: 10px;
            padding: 5px 10px;
            font-size: 12px;
            line-height: 1.5;
            border-radius: 3px;

            i {
                margin-right: 5px;
            }
        }
    }

    .main-content {
        height: 780px;
        padding: 20px 20px 20px 20px;
    }

    .header {
        margin-bottom: 20px;

        h1 {
            font-weight: bold;
        }
    }
</style>
