<template>
    <div>
        <ul class="step-container" v-if="totalStep.length > 0">
            <li v-b-tooltip.hover :title="step.title"
                :class="[{'active':step.active}, {'isPass':getPassedClass(index)}]"
                @click="handleClickNextStep(step)"
                v-for="(step, index) in totalStep"
                :key="index">
                <i class="far fa-circle"></i>
            </li>
        </ul>
    </div>
</template>

<script>
    export default {
        name: "step",
        props: {
            totalStep: {
                type: Array,
                default: () => {
                    return [];
                },
            },
        },
        data() {
            return {
                currentStep: 1
            }
        },
        methods: {
            getPassedClass(currentIndex){
                let index = this.totalStep.findIndex((step)=>{
                    return step.active;
                })
                if (currentIndex < index){
                    return true;
                }
                else return false;
            },
            handleClickNextStep(index) {
                this.currentStep = index;
                this.$emit('handleClickNextStep')
            }
        }
    }
</script>

<style lang="scss" scoped>
    .step-container {
        display: flex;
        margin-bottom: 0px;
        margin-top: 7px;
        margin-right: 10px;

        li {
            margin: 0 3px;
            font-size: 14px;
            color: #edeff0;
        }

        li.active {
            color: #76d691;
        }
        li.isPass{
            i{
                background: #76d691;
                border-radius:50%;
                color: #76d691;
            }
        }
    }
</style>
