<template>
    <b-modal
        @show="handleOpenModal"
        no-close-on-backdrop
        no-close-on-esc
        modal-class="modal-add-edit-pipeline"
        :hide-footer="true"
        header-class="modal-header-add-pipeline"
        v-model="showModal">
        <template slot="modal-header" slot-scope="{ close }">
            <h1>{{messages.SR_020_MODAL_TAG_POSITION_TITLE}}</h1>
            <button type="button" aria-label="Close" class="close" @click="handleCloseModal()">×</button>
        </template>
        <vue-tags-input
            v-model.lazy.trim="tag"
            :tags="tags"
            :add-on-blur="false"
            @before-deleting-tag="removeTag"
            @before-adding-tag="createNewItem"
            :placeholder="''"
            @tags-changed="newTags => tags = newTags"
        />
        <div class="available-tags">
            <div class="no-tags-container" v-if="listTags.length == 0 && tag.trim().length == 0">
                <h1>
                    <i
                        class="fa fa-tag"></i><span> {{messages.SR_020_MODAL_TAG_POSITION_EMPTY}}</span></h1>
                <p>{{messages.SR_020_MODAL_TAG_POSITION_EMPTY_TITLE}}</p>
            </div>
            <div v-else>
                <div v-if="tag.trim().length > 0 && (tag.trim().length > 0 && !isDuplicateInput)" class="tag create" @click="createNewItem">
                    <i class="fa fa-tag"></i>
                    <span> {{messages.SR_020_MODAL_TAG_POSITION_CREATE_NEW_TAG_TITLE}}: {{tag}}</span>
                </div>
                <div v-for="(tag, index) in listTags"
                     :key="index"
                     class="tag create" @click="pushTags(tag, index)">
                    <span>{{tag.text}}</span>
                </div>
            </div>
        </div>
        <div style="float:right">
            <button class="btn btn-blue"
                    @click="saveChange"
                    type="button">{{messages.SR_020_MODAL_TAG_POSITION_BUTTON_SAVE}}
            </button>
        </div>
    </b-modal>

</template>

<script>
    import VueTagsInput from '@johmun/vue-tags-input';
    import Tag from '@/models/Tag';
    import {mapGetters, mapActions} from 'vuex';

    export default {
        name: "TagModal",
        props: [
            'showModal'
        ],
        computed: {
            ...mapGetters([
                'currentPosition'
            ]),
            isDuplicateInput(){
                return this.isDuplicate(this.listTags, this.tag)
            }
        },
        components: {
            VueTagsInput,
        },
        data() {
            return {
                tag: '',
                tags: [],
                listTags: []
            }
        },
        created() {

        },
        methods: {
            ...mapActions([
                'setCurrentPosition'
            ]),
            excludeTagExist() {
                let array = [];
                this.listTags.forEach((tag) => {
                    let index = this.tags.findIndex((_tag) => {
                        return _tag.text == tag.text;
                    })
                    if (index < 0) array.push(tag);
                })
                this.listTags = array;

            },
            getTags() {
                return new Promise((resolve, reject) => {
                    new Tag().getAllTag().then((data) => {
                        this.listTags.concat(data);
                        resolve();
                    })
                })
            },
            handleOpenModal() {
                this.listTags = [];
                this.getTags();
                this.tags = _.clone(this.currentPosition.tags).map((tag)=>{
                    return {
                        text: tag
                    }
                });
                console.log(this.tags);
                this.excludeTagExist();
            },
            handleCloseModal() {
                this.$emit('handleCloseModal')
            },
            saveChange() {
                this.currentPosition.tags = this.tags.map((tag)=>{
                    return tag.text;
                });
                this.setCurrentPosition(this.currentPosition)

                this.handleCloseModal();
            },
            pushTags(item, index) {
                this.tags.push(item)
                this.listTags.splice(index, 1)
            },
            isDuplicate(tags, tag) {
                let index = tags.findIndex((_tag) => {
                    if (typeof(tag) == 'string'){
                        return _tag.text == tag;
                    }else{
                        return _tag.text == tag.text;
                    }
                })

                if (index == -1){
                    return false;
                }else{
                    return true;
                }
            },
            createNewItem() {
                let newTag = {
                    text: this.tag,
                }
                if (!this.isDuplicate(this.tags, newTag)){
                    this.tags.push(newTag);
                    this.tag = '';
                    if (this.isDuplicate(this.listTags, newTag)){
                       this.excludeTagExist();
                    }
                }else{
                    alert('Không đặt tên tag trùng')
                }

            },
            removeTag(item) {
                const {index, tag} = item;
                this.tags.splice(index, 1)
            }
        }
    }
</script>

<style lang="scss">
    .ti-new-tag-input-wrapper {
        height: 24px;
        padding: 0px !important;

        input {
            height: 24px;
        }

        input:focus {
            box-shadow: none;
        }
    }

    .vue-tags-input {
        .ti-input {
            background-color: #fff;
            border: 2px solid #edeff0;
            border-radius: 4px;
            padding: 7px 9px 6px;
            margin-bottom: 10px;
        }

        .ti-tags {
            .ti-tag {
                background-color: #5ac0e5;
                border-radius: 4px;
                color: #fff;
                font-size: 12px;
                margin: 0 3px 3px 0;
                padding: 5px;
            }
        }
    }
</style>
<style scoped lang="scss">
    .available-tags {
        background-color: #f9fafa;
        border: 1px solid #edeff0;
        font-size: 14px;
        height: 190px;
        margin-bottom: 10px;
        max-height: 190px;
        overflow: auto;

        .tag {
            padding: 10px;
            cursor: pointer;

            &:hover {
                background-color: #e0e0e0;
                cursor: pointer;
            }
        }

        .no-tags-container {
            margin: 50px auto 0;
            width: 240px;
            text-align: center;
            color: #84929f;
        }
    }
</style>
