<template>
    <div class="settings portal">
        <div class="main-content">
            <div class="profile nigvlxscope">
                <div class="header">
                    <h1>{{messages.SR_003_PORTAL_CUSTOMCSS_TITLE}}</h1>
                    <p>{{messages.SR_003_PORTAL_CUSTOMCSS_DES}}</p>
                </div>
                <div name="customCssForm"
                     novalidate="novalidate"
                     class="nigvlxpristine nigvlxvalid">
                    <div class="company">
                        <div class="section">
                            <h2>{{messages.SR_003_PORTAL_CUSTOMCSS_TITLE_CONTENT_1}}</h2>
                            <p>{{messages.SR_003_PORTAL_CUSTOMCSS_DES_1_CONTENT_1}}</p>
                            <div>
                                <textarea @change="changeField" v-model=" currentPortal.css" cols="30" rows="10" class="form-control"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="footer align-right">
                        <button :disabled="disable_save" @click="save()"
                                class="btn btn-blue default"
                                type="submit">
                            <i class="default fa fa-save"></i>
                            <span class="default">{{messages.SR_003_BUTTON_SAVE}}</span>
                        </button>
                    </div>
<!--                    <photoshop-picker v-model="colors"/>-->
                </div>
            </div><!-- end ngIf: activeTab == "custom-css-js" -->
        </div>
    </div>

</template>


<script lang="ts">
    import Vue from "vue";
    import {fauth} from '@/firebase';
    import {mapGetters} from 'vuex';
    import {messages} from "@/messages";

    export default Vue.extend({
        props: {},
        computed: {
            // mix the getters into computed with object spread operator
            ...mapGetters([
                'currentPortal',
                'currentOriginPortal'
                // ...
            ]),
        },
        data(){
            return{
                portal: {},
                disable_save:true
            }
        },
        // mounted(){
        //     this.portal = this.currentPortal.cloneNewObject()
        // },
        methods: {
            changeField(){
                this.disable_save = false
            },
            save(){
                this.disable_save = true
                this.currentOriginPortal['css'] = this.currentPortal['css']
                let that = this
                this.currentOriginPortal.update().then((data)=>{
                     that.$toasted.show(messages.COMMON_SAVED)
                });

            }
        },
    });
</script>
