<template>
    <div class="settings portal">
        <div class="main-content">
            <div class="profile nigvlxscope">
                <div class="header">
                    <h1>{{messages.SR_003_PORTAL_LAYOUT_TITLE}} </h1>
                    <p>{{messages.SR_003_PORTAL_LAYOUT_DES}}</p>
                </div>
                <div name="layoutForm" novalidate="novalidate" class="nigvlxpristine nigvlxvalid">
                    <div class="company">
                        <div class="section">
                            <ul class="columns">
                                <li class="column">
                                    <ul class="bzy-list nigvlxpristine nigvlxuntouched nigvlxvalid nigvlxscope">
                                        <draggable v-model="currentPortal.layout">
                                                <li :key="index" :class="element.is_show?'enabled':'disabled'" class="bzy-item draggable nigvlxscope as-sortable-item " v-for="(element, index) in currentPortal.layout">
                                                    <div class="bzy-item-container nigvlxscope as-sortable-item-handle">
                                                        <i class="icon fa fa-list"></i>
                                                        <label style="margin-top: 0px; margin-bottom: 0px" class="nigvlxbinding" >{{data_show_element[element.name].name}}</label>
                                                        <nav>

                                                            <a class="disable-section" @click="switch_mode(index)" data-container="body">
                                                                <i class="fa fa-eye-slash"></i>
                                                            </a>
                                                            <a class="enabled-section" @click="switch_mode(index)"
                                                               data-container="body">
                                                                <i class="fa fa-eye"></i>
                                                            </a>
                                                        </nav>
                                                    </div>
                                                </li>
                                        </draggable>
                                    </ul>

                                </li>


                                <li class="column">
                                    <div class="browser bold full list_layout">
                                        <div class="controls">
                                            <div class="control1"></div>
                                            <div class="control2"></div>
                                            <div class="control3"></div>
                                        </div>
                                        <div class="address-bar"></div>
                                        <div class="content">
                                            <div class="section">
                                                <div class="hero" style="background: rgb(136, 107, 186)">
                                                    <div class="hero-header">
                                                        <div class="logo"></div>
                                                        <ul class="actions">
                                                            <li class="action"></li>
                                                            <li class="action"></li>
                                                            <li class="action"></li>
                                                        </ul>
                                                    </div>
                                                    <div class="title"></div>
                                                    <div class="sub-title"></div>
                                                    <div class="cta" style="background-color: rgba(0,0,0,0.2)"></div>
                                                </div>
                                            </div><!-- ngRepeat: section in currentPortal.layout.sections -->
                                                <div :key="index" class="section ng-scope" v-for="(element_child ,index) in currentPortal.layout">
                                                    <div v-show="element_child.is_show" v-html="data_show_element[element_child.name].data_html">

                                                    </div>

                                                </div>

                                        </div>




                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="footer align-right">
                            <button class="btn btn-blue default" @click="save()"><i class="default fa fa-save"></i><span
                                class="default">{{messages.SR_003_BUTTON_SAVE}}</span></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>


<script lang="ts">
    import Vue from "vue";
    import draggable from 'vuedraggable'
    import {fauth, fstorage} from '@/firebase'
    //import {storage} from 'firebase.storage'
    import {mapGetters} from 'vuex';
    // https://github.com/xiaokaike/vue-color
    import {Swatches} from 'vue-color';
    import * as firebase from "firebase";
    import {messages} from "@/messages";


    var colors = {
        hex: '#194d33',
        // hsl: {h: 150, s: 0.5, l: 0.2, a: 1},
        // hsv: {h: 150, s: 0.66, v: 0.30, a: 1},
        // rgba: {r: 25, g: 77, b: 51, a: 1},
        // a: 1
    }
    var ElementGenral = `
                    <div class="video-container" >
                        <div class="video"></div>
                            <div class="copy">
                                <div class="line"></div>
                                <div class="line"></div>
                                <div class="line"></div>
                                <div class="line"></div>
                                <div class="line"></div>
                                <div class="line"></div>
                                <div class="line"></div>
                            </div>
                        </div>
                    `
    var ElementPerks = `
                    <div class="perks-container">
                        <div class="perks">
                            <div class="perk">
                                <div class="dot" style="background-color: rgb(136, 107, 186)">
                                    <div class="inner"></div>
                                </div>
                                <div class="line"></div>
                            </div>
                            <div class="perk">
                                <div class="dot" style="background-color: rgb(136, 107, 186)">
                                    <div class="inner"></div>
                                </div>
                                <div class="line"></div>
                            </div>
                            <div class="perk">
                                <div class="dot" style="background-color: rgb(136, 107, 186)">
                                    <div class="inner"></div>
                                </div>
                                <div class="line"></div>
                            </div>
                            <div class="perk">
                                <div class="dot" style="background-color: rgb(136, 107, 186)">
                                    <div class="inner"></div>
                                </div>
                                <div class="line"></div>
                            </div>
                            <div class="perk">
                                <div class="dot" style="background-color: rgb(136, 107, 186)">
                                    <div class="inner"></div>
                                </div>
                                <div class="line"></div>
                            </div>
                        </div>
                    </div>
    `
    var ElementGallery = `
                    <div class="media-container">
                        <div class="media" style="display: block;">
                            <div class="image-big"></div>
                            <div class="image"></div>
                            <div class="image"></div>
                            <div class="image"></div>
                            <div class="image"></div>
                            <div class="image"></div>
                            <div class="image"></div>
                        </div>
                    </div>
    `
    var  ElementTestimonials = `
                    <div class="testimonials-container">
                        <div class="testimonials">
                            <div class="testimonial">
                                <div class="dot">
                                    <div class="inner"></div>
                                </div>
                                <div class="line"></div>
                                <div class="subline"></div>
                                <div class="subline"></div>
                            </div>
                            <div class="testimonial">
                                <div class="dot">
                                    <div class="inner"></div>
                                </div>
                                <div class="line"></div>
                                <div class="subline"></div>
                                <div class="subline"></div>
                            </div>
                            <div class="testimonial">
                                <div class="dot">
                                    <div class="inner"></div>
                                </div>
                                <div class="line"></div>
                                <div class="subline"></div>
                                <div class="subline"></div>
                            </div>
                        </div>
                    </div>
    `
    // var ElementEmployees = `
    //                 <div class="employees-container">
    //                     <div class="employees">
    //                         <div class="employee">
    //                             <div class="dot">
    //                                 <div class="inner"></div>
    //                             </div>
    //                             <div class="line"></div>
    //                         </div>
    //                         <div class="employee">
    //                             <div class="dot">
    //                                 <div class="inner"></div>
    //                             </div>
    //                             <div class="line"></div>
    //                         </div>
    //                         <div class="employee">
    //                             <div class="dot">
    //                                 <div class="inner"></div>
    //                             </div>
    //                             <div class="line"></div>
    //                         </div>
    //                         <div class="employee">
    //                             <div class="dot">
    //                                 <div class="inner"></div>
    //                             </div>
    //                             <div class="line"></div>
    //                         </div>
    //                         <div class="employee">
    //                             <div class="dot">
    //                                 <div class="inner"></div>
    //                             </div>
    //                             <div class="line"></div>
    //                         </div>
    //                         <div class="employee">
    //                             <div class="dot">
    //                                 <div class="inner"></div>
    //                             </div>
    //                             <div class="line"></div>
    //                         </div>
    //                         <div class="employee">
    //                             <div class="dot">
    //                                 <div class="inner"></div>
    //                             </div>
    //                             <div class="line"></div>
    //                         </div>
    //                         <div class="employee">
    //                             <div class="dot">
    //                                 <div class="inner"></div>
    //                             </div>
    //                             <div class="line"></div>
    //                         </div>
    //                     </div>
    //                 </div>
    // `
    var ElementPositionsList = `
                    <div class="positions-container">
                        <ul class="positions">
                            <li class="position">
                                <div class="apply tr" style="background: rgb(136, 107, 186)"></div>
                                <div class="position-title"></div>
                                <ul class="meta">
                                    <li class="line"></li>
                                    <li class="line"></li>
                                    <li class="line"></li>
                                </ul>
                                <div class="apply bt" style="background: rgb(136, 107, 186)"></div>
                            </li>
                            <li class="position">
                                <div class="apply tr" style="background: rgb(136, 107, 186)"></div>
                                <div class="position-title"></div>
                                <ul class="meta">
                                    <li class="line"></li>
                                    <li class="line"></li>
                                    <li class="line"></li>
                                </ul>
                                <div class="apply bt" style="background: rgb(136, 107, 186)"></div>
                            </li>
                        </ul>
                    </div>
    `
    export default Vue.extend({
        props: {},
        computed: {
            // mix the getters into computed with object spread operator
            ...mapGetters([
                'currentPortal',
                'currentOriginPortal'
                // ...
            ]),

        },
        components: {
            'swatches-picker': Swatches,
            draggable,
        },
        data() {
            return {
                data_show_element:{
                    general: {
                        name: messages.SR_003_PORTAL_LAYOUT_LABEL_1_CONTENT_1,
                        data_html:ElementGenral
                    },
                    perks: {
                        name: messages.SR_003_PORTAL_LAYOUT_LABEL_2_CONTENT_1,
                        data_html:ElementPerks
                    },
                    gallery:{
                        name: messages.SR_003_PORTAL_LAYOUT_LABEL_3_CONTENT_1,
                        data_html: ElementGallery
                    },
                    testimonials:{
                        name: messages.SR_003_PORTAL_LAYOUT_LABEL_4_CONTENT_1,
                        data_html: ElementTestimonials
                    },
                    // employees:{
                    //     name: messages.SR_003_PORTAL_LAYOUT_LABEL_6_CONTENT_1,
                    //     data_html: ElementEmployees
                    // },
                    positions_list:{
                        name: messages.SR_003_PORTAL_LAYOUT_LABEL_5_CONTENT_1,
                        data_html:ElementPositionsList
                    }
                },
                progressUpload: 0,
                file: File,
                uploadTask: {} as firebase.storage.UploadTask,
                whichFile: '',
                newTestimonial: {
                    name: '',
                    photo: '',
                    position: '',
                    testimonial: ''
                },
            }
        },
        methods: {
            updateCompany: function () {
                this.currentPortal.update();

            },
            upload(file) {
                this.uploadTask = fstorage.ref('image/' + file.name).put(file);
            },
            switch_mode(index) {
                console.log(index)
                // console.log('myArray',this.myArray)
                this.currentPortal['layout'][index].is_show = !this.currentPortal['layout'][index].is_show;
            },
            save() {
                let that = this as any
                console.log(this.currentPortal)
                that.currentOriginPortal['layout'] = this.currentPortal['layout']
                that.currentOriginPortal.update().then(()=>{
                    that.$toasted.show(messages.COMMON_SAVED)
                });
            }
        }


    });
</script>
<style lang="scss">
    @import "../../assets/styles/constants";
    @import "../../assets/styles/portal.scss";

    .bzy-list .bzy-item.enabled .bzy-item-container nav a.enabled-section {
        display: none;
    }
</style>
