<template>
    <div class="settings portal">
        <div class="main-content">

            <div class="profile nigvlxscope">
                <div class="header">
                    <h1>{{messages.SR_003_PORTAL_MEDIA_TITLE}}</h1>
                </div><!-- ngIf: updateFailed -->
                <div novalidate="novalidate"
                     class="nigvlxpristine nigvlxvalid">
                    <div class="company">
                        <div class="section">
                            <h2>{{messages.SR_003_PORTAL_MEDIA_TITLE_CONTENT_1}}</h2>
                            <p>{{messages.SR_003_PORTAL_MEDIA_DES_1_CONTENT_1}}</p>
                            <h3>{{messages.SR_003_PORTAL_MEDIA_TITLE_INPUT_1}}</h3>
                            <input class="form-control"
                                   type="text"
                                   @change="changeField"
                                   :placeholder="messages.SR_003_PORTAL_MEDIA_PLACEHOLDER_INPUT_1"
                                   v-model.trim="currentPortal.vimeo_video">
                            <div class="form-divider"></div>
                            <h3>{{messages.SR_003_PORTAL_MEDIA_TITLE_INPUT_2}}</h3>
                            <input class="form-control"
                                   type="text"
                                   @change="changeField"
                                   :placeholder="messages.SR_003_PORTAL_MEDIA_PLACEHOLDER_INPUT_2"
                                   v-model.trim="currentPortal.youtube_video">
                            <div class="form-divider"></div>
                            <div class="video-options-container">
                                <h3>{{messages.SR_003_PORTAL_MEDIA_POSITION}}</h3>
                                <ul class="video-options">
                                    <li class="video-option">
                                        <b-form-checkbox
                                            v-model="currentPortal.video_positions_page"
                                            @change="changeField"
                                            class="ng-pristine ng-untouched ng-valid">{{messages.SR_003_PORTAL_MEDIA_POSITION_DES_1}}</b-form-checkbox>
                                    </li>
                                    <li class="video-option">
                                        <b-form-checkbox
                                            @change="changeField"
                                            v-model="currentPortal.video_position_page"
                                            class="ng-pristine ng-untouched ng-valid">{{messages.SR_003_PORTAL_MEDIA_POSITION_DES_2}}</b-form-checkbox>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="section">
                            <h2>{{messages.SR_003_PORTAL_MEDIA_TITLE_CONTENT_2}}</h2>
                            <p>{{messages.SR_003_PORTAL_MEDIA_DES_1_CONTENT_2}}</p>
                            <div class="portal-logo-container">
                                <button class="attach-file add logo btn btn-blue btn-xs"
                                        style="overflow: hidden;"
                                        @click="$refs.fileMedia.click()">
                                    <div class="savinigvlxstate nigvlxscope">
                                        <i class="fa fa-plus"></i><span> {{messages.SR_003_PORTAL_MEDIA_BTN_1_CONTENT_2}}</span></div>
                                </button>

                                <input type="file" accept="image/*" tabindex="-1"
                                       style="width: 1px; height: 1px; opacity: 0; position: absolute; padding: 0px; margin: 0px; overflow: hidden;" @change="detectFiles($event.target.files)" ref="fileMedia">
                            </div>
                        </div>
                        <div class="section">
                            <h2>{{messages.SR_003_PORTAL_MEDIA_TITLE_CONTENT_3}}</h2>
                            <p v-if="currentPortal.photos && currentPortal.photos.length == 0" class="nigvlxscope">{{messages.SR_003_PORTAL_MEDIA_DES_1_CONTENT_3}}</p>
                            <ul class="gallery">
                                <li :key="index" class="gallery-item ng-scope" v-for="(photo, index) in currentPortal.photos">
                                    <div class="image" :style="{'background-image': 'url(' + photo.url + ')'}"></div>
                                    <a class="remove" @click="removePhoto(index)"><i class="fa fa-times"></i><span> {{messages.SR_003_PORTAL_MEDIA_BTN_1_CONTENT_3}}</span></a>
                                </li>
                            </ul>
                        </div>
                    </div><!-- ngIf: mediaChanged -->
                </div>
            </div><!-- end ngIf: activeTab == "media" -->
            <div class="footer align-right">
                <button v-if="show_save" @click="save()" class="btn btn-blue default"
                        type="submit">
                    <i class="default fa fa-save"></i>
                    <span class="default">{{messages.SR_003_BUTTON_SAVE}}</span>
                </button>
            </div>
        </div>
    </div>
</template>


<script lang="ts">
    import Vue from "vue";
    import {fauth, fstorage} from '@/firebase';
    //import {storage} from 'firebase.storage'
    import {mapGetters} from 'vuex';
    // https://github.com/xiaokaike/vue-color
    import {Swatches} from 'vue-color';
    import * as firebase from "firebase";
    import {messages} from "@/messages";


    var colors = {
        hex: '#194d33',
        // hsl: {h: 150, s: 0.5, l: 0.2, a: 1},
        // hsv: {h: 150, s: 0.66, v: 0.30, a: 1},
        // rgba: {r: 25, g: 77, b: 51, a: 1},
        // a: 1
    }

    export default Vue.extend({
        props: {},
        computed: {
            // mix the getters into computed with object spread operator
            ...mapGetters([
                'currentUser',
                'currentPortal',
                'currentOriginPortal',
                // ...
            ]),

        },
        components: {
            'swatches-picker': Swatches
        },
        data() {
            return {
                file: File,
                list_file:[],
                show_save:false,
            }
        },
        methods: {
            changeField(){
                this.show_save = true
            },
            detectFiles(fileList) {
                this.changeField()
                console.log(fileList);
                if(fileList.length == 1){
                    if(fileList[0].type.indexOf('image') == -1){
                        this.$toasted.show(messages.COMMON_UPLOAD_IMAGE)
                    }else{
                        this.createImagePreview(fileList[0])
                    }
                }
            },
            createImagePreview(file){
                let reader = new FileReader();
                this.file = file
                reader.onload = (e)=>{
                    let url_template_img = reader.result as string
                    this.currentPortal['photos'].push({url:url_template_img})
                    this.list_file.push(file)
                }
                reader.readAsDataURL(file)
                this.$refs.fileMedia['value'] = null
            },
            async uploadListImage() {
                console.log('list_file:',this.list_file)
                let that = this
                if(that.list_file.length > 0){
                const upload_attach_file = that.list_file.map((file, index) => {
                    console.log(file)
                    console.log(index)
                    console.log("abbaba")
                    let fileNameUp = that.currentPortal['company_id'] + "_" + file.name
                    console.log(fileNameUp)
                    let upload = fstorage.ref('image/portal/' + this.currentPortal['company_id'] + '/media/photos/' + this.currentPortal['company_id'] + fileNameUp).put(file)
                    return new Promise((resolve, reject) => {
                        upload.on('state_changed', null, null,
                            async () => {
                                await upload.snapshot.ref.getDownloadURL().then(downloadUrl => {
                                    let index_file_in_photo = (that.currentPortal['photos'].length - that.list_file.length) + index  // get index in this.currentPortal['photos']

                                    if (0 <= index_file_in_photo && index_file_in_photo <= that.currentPortal['photos'].length) {
                                        // update link img firebase vao data
                                        console.log(downloadUrl)
                                        that.currentPortal['photos'][index_file_in_photo].url = downloadUrl

                                    }
                                    that.currentOriginPortal['photos'] = that.currentPortal['photos']
                                    resolve()
                                })
                            })
                        })
                    })
                    await Promise.all(upload_attach_file)

                }else {
                    that.currentOriginPortal['photos'] = that.currentPortal['photos']
                }
            },
            removePhoto(index) {
                this.changeField()
                if(this.currentPortal['photos'].length >0){
                    this.changeField()
                    let index_file_in_photos= index - (this.currentPortal['photos'].length - this.list_file.length)  // get index in this.currentPortal['photos']
                    this.currentPortal['photos'].splice(index, 1);
                    if(0<=index_file_in_photos && index_file_in_photos <= this.list_file.length){
                        this.list_file.splice(index_file_in_photos, 1);
                    }
                }
            },
            save(){
                let that = this
                that.show_save = false
                this.uploadListImage().then(()=>{

                    that.currentOriginPortal['video_positions_page'] = that.currentPortal['video_positions_page']
                    that.currentOriginPortal['video_position_page'] = that.currentPortal['video_position_page']
                    that.currentOriginPortal['youtube_video'] = that.currentPortal['youtube_video']
                    that.currentOriginPortal['vimeo_video'] = that.currentPortal['vimeo_video']
                    that.currentOriginPortal.update()
                    that.$toasted.show(messages.COMMON_SAVED)
                })

            }
        }


    });
</script>

<style scoped lang="scss">
    .video-options-container .video-options{
        display: flex;
        li {
            display: flex;
            vertical-align: middle;
            margin-right: 10px;
            input {
                display: inline;
                margin: 5px 10px 0px 0px;
            }
        }

    }
    .gallery {
        display: flex;
        flex-wrap: wrap;
        & .gallery-item {
            margin-right: 20px;
            margin-bottom: 20px;
            & .image {
                height: 100px;
                width: 100px;
                background-size: cover;
            }
            .remove{
                cursor: pointer;
            }
        }
    }
</style>
