<template>
    <div class="settings">
        <div class="main-content">
            <div class="profile nigvlxscope">
                <div class="header">
                    <h1>{{messages.SR_003_PORTAL_MESSAGING_TITLE}}</h1>
                </div>
                <div name="messagingForm" novalidate="novalidate">
                    <div class="company">
                        <div class="section">
                            <h2>{{messages.SR_003_PORTAL_MESSAGING_TITLE_CONTENT_1}}</h2>
                            <p>{{messages.SR_003_PORTAL_MESSAGING_DES_1_CONTENT_1}}</p>
                            <input v-model.trim="currentPortal.messaging_header"
                                   class="form-control"
                                   type="text"
                                   :class="!validate && currentPortal.messaging_header == '' ?'error':''"
                                   :placeholder="messages.SR_003_PORTAL_MESSAGING_PLACEHOLDER_1_CONTENT_1"
                                   @change="changeField"
                                   maxlength="48"
                                   required>
                        </div>
                        <div class="section">
                            <h2>{{messages.SR_003_PORTAL_MESSAGING_TITLE_CONTENT_2}}</h2>
                            <p>{{messages.SR_003_PORTAL_MESSAGING_DES_1_CONTENT_2}}</p>
                            <input v-model.trim="currentPortal.messaging_subheader"
                                   class="form-control"
                                   type="text"
                                   :placeholder="messages.SR_003_PORTAL_MESSAGING_PLACEHOLDER_1_CONTENT_2"
                                   @change="changeField"
                                   maxlength="100">
                        </div>
                        <div class="section">
                            <h2>{{messages.SR_003_PORTAL_MESSAGING_TITLE_CONTENT_3}}</h2>
                            <p>{{messages.SR_003_PORTAL_MESSAGING_DES_1_CONTENT_3}}</p>
                            <div class="redactor-box redactor-styles-on redactor-toolbar-on redactor-blur">
                                <VueEditor v-model.trim="currentPortal.messaging_introduction" :editorToolbar="toolbarOptions" @focus="changeField"></VueEditor>
                            </div>
                        </div>

                    </div>
                    <div class="footer align-right">
                        <button :disabled="disable_save" @click="save()" class="btn btn-blue default" type="submit"><i class="default fa fa-save"></i><span
                            class="default">{{messages.SR_003_BUTTON_SAVE}}</span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
    import {VueEditor} from 'vue2-editor';

    import Vue from 'vue';
    import {mapGetters,mapActions} from 'vuex';
    import {messages} from "@/messages";
    export default Vue.extend({
        components:{
            VueEditor
        },
        props: {},
        computed: {
            // mix the getters into computed with object spread operator
            ...mapGetters([
                'currentUser',
                'currentPortal',
                'currentOriginPortal',
                // ...
            ]),

        },
        mounted(){
        },
        data(){
            return{
                validate:true,
                toolbarOptions: [['bold'], ['italic'], ['underline'], ['strike'],['link']],
                disable_save:true
            }
        },
        methods: {
            changeField(){
                this.disable_save = false
            },
            updateinfor: function () {
                this.currentOriginPortal['messaging_header'] = this.currentPortal['messaging_header']
                this.currentOriginPortal['messaging_subheader'] = this.currentPortal['messaging_subheader']
                this.currentOriginPortal['messaging_introduction'] = this.currentPortal['messaging_introduction']
            },
            save(){
                let that = this
                this.disable_save = true
                if(this.currentPortal['messaging_header'] == '' || !this.currentPortal['messaging_header']){
                    that.validate = false
                }else{
                    that.validate = true
                    this.updateinfor();
                    this.currentOriginPortal.update().then((data)=>{
                        that.$toasted.show(messages.COMMON_SAVED)
                    });
                }
            }
        },
    });
</script>
<style scoped>
    /*@import "~vue-wysiwyg/dist/vueWysiwyg.css";*/
    .gallery .gallery-item .image {
        height: 100px;
        width: 100px;
        background-size: cover;
    }
</style>
