<template>
    <div class="settings portal">
        <div class="main-content">
            <div class="profile nigvlxscope">
                <div class="header">
                    <h1>{{messages.SR_003_PORTAL_PERKS_TITLE}}</h1>
                </div>
                <div name="form" novalidate="novalidate"
                     class="nigvlxpristine nigvlxinvalid nigvlxinvalid-required nigvlxvalid-maxlength">
                    <div class="company">
                        <div class="section">
                            <h2>{{messages.SR_003_PORTAL_PERKS_TITLE_CONTENT_1}}</h2>
                            <p>{{messages.SR_003_PORTAL_PERKS_DES_1_CONTENT_1}}</p>
                            <input

                                class="form-control"
                                :class="!verify_perks && perkIntro =='' ? 'error' : '' "
                                v-model.trim="perkIntro"
                                type="text" :placeholder="messages.SR_003_PORTAL_PERKS_PLACEHOLDER_CONTENT_1"
                                required="required">
                            <p>{{messages.SR_003_PORTAL_PERKS_DES_2_CONTENT_1}}</p>
                            <ul class="perk-icons">
                                <li :key="index" class="perk-icon" v-for="(perk,index) in def_perks">
                                    <a class="icon-link" @click="selectIcon(perk)" :class="current_icon == perk.icon ?'active':''"><i :class="perk.icon"></i></a>
                                </li>
                            </ul>
                            <a class="add logo btn btn-blue btn-xs" @click="addPerk()">
                                <i class="fa fa-plus"></i>
                                <span> {{messages.SR_003_PORTAL_PERKS_BTN_1_CONTENT_1}}</span>
                            </a>
                        </div>
                        <div class="section">
                            <h2>{{messages.SR_003_PORTAL_PERKS_TITLE_CONTENT_2}}</h2>
                            <p>{{messages.SR_003_PORTAL_PERKS_DES_1_CONTENT_2}}</p>
                            <p v-if="currentPortal.perks.length == 0">{{messages.SR_003_PORTAL_PERKS_DES_2_CONTENT_2}}</p>
                            <ul class="perks container-perls" v-if="currentPortal.perks.length">
                                <li :key="index" class="list-perk--slected" v-for="(perk, index) in currentPortal.perks" data-toggle="popover" :title="perk.name">
                                    <span class="list-perk--slected-content">
                                        <a ><i :class="perk.icon"></i></a>
                                        <p class="name">{{perk.name}}</p>
                                    </span>
                                    <a class="remove" @click="removeToPerkCollection(index)"><i class="fa fa-times"></i><span> {{messages.SR_003_PORTAL_PERKS_BTN_1_CONTENT_2}}</span></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="footer align-right">
                        <button v-if="show_save" @click="save()" class="btn btn-blue default"
                                type="submit">
                            <i class="default fa fa-save"></i>
                            <span class="default">{{messages.SR_003_BUTTON_SAVE}}</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</template>

<script lang="ts">
    import Vue from "vue";
    import {fauth} from '@/firebase';
    import {mapGetters} from 'vuex';
    import {messages} from "@/messages";


    export default Vue.extend({
        props: {},
        // delimiters:["{{","}}"],
        computed: {
            // mix the getters into computed with object spread operator
            ...mapGetters([
                'currentUser',
                'currentPortal',
                'currentOriginPortal'
                // ...
            ]),
        },
        data() {
            return {
                show_save:false,
                perkIntro: '',
                current_icon:"fa fa-gift",
                verify_perks:true,
                def_perks: [
                    {icon: 'fa fa-gift'},
                    {icon: 'fa fa-taxi'},
                    {icon: 'fa fa-gamepad'},
                    {icon: 'fa fa-film'},
                    {icon: 'fa fa-desktop'},
                    {icon: 'fa fa-laptop'},
                    {icon: 'fa fa-money-bill'},
                    {icon: 'fa fa-graduation-cap'},
                    {icon: 'fab fa-slack'},
                    {icon: 'fa fa-wheelchair'},
                    {icon: 'fa fa-futbol'},
                    {icon: 'fa fa-coffee'},
                    {icon: 'fa fa-medkit'},
                    {icon: 'fa fa-paw'},
                    {icon: 'fa fa-birthday-cake'},
                    {icon: 'fa fa-child'},
                    {icon: 'fa fa-users'},
                    {icon: 'fa fa-user'},
                    {icon: 'fa fa-utensils'},
                    {icon: 'fa fa-chart-bar'},
                    {icon: 'fa fa-ticket-alt'},
                    {icon: 'fa fa-plane'},
                    {icon: 'fa fa-heart'},
                    {icon: 'fa fa-heartbeat'},
                    {icon: 'fab fa-rebel'},
                    {icon: 'fab fa-pied-piper-alt'},
                    {icon: 'fa fa-hand-spock'},
                ],
            }
        },
        methods: {
            selectIcon: function (perk) {
                this.current_icon = perk.icon
            },
            resetData(){
                this.current_icon = "fa fa-gift"
                this.perkIntro = ''

            },
            addPerk(){
                if (!this.perkIntro || this.perkIntro == ''){
                    this.verify_perks = false
                }else{
                    this.verify_perks = true
                    this.show_save = true
                    this.currentPortal['perks'].push({
                        icon: this.current_icon,
                        name: this.perkIntro
                    });
                    this.resetData()
                }

            },
            removeToPerkCollection: function (index) {
                this.show_save = true
                this.currentPortal['perks'].splice(index, 1);
            },
            save(){
                let that = this
                this.currentOriginPortal['perks'] = this.currentPortal['perks']
                this.currentOriginPortal.update().then(()=>{
                    that.$toasted.show(messages.COMMON_SAVED)
                    that.show_save = false
                })

            }
        },
    });
</script>
<style scoped>
    .list-perk--slected{
        margin-bottom: 20px !important;
    }
    .list-perk--slected-content{
        display: flex;
    }
    .list-perk--slected-content .name{
        margin-bottom: 5px !important;
        margin-left:5px;
    }
    .list-perk--slected .remove{
        margin-top: 0px !important;
        cursor: pointer;
    }
    .settings.portal .perk-icon a.active {
        background-color: #76d691;
        color: #fff;
    }
    .settings.portal .icon-link{
        cursor: pointer;
    }
    .settings.portal .container-perls{
        margin-top: 15px !important;
    }
    .section .remove{
        display: inline-block !important;
    }
</style>
