<template>
    <div class="settings">
        <div class="main-content">
            <div class="integrations profile nigvlxscope">
                <div class="header">
                    <h1>{{messages.SR_003_PORTAL_WEBSITE_TITLE}}</h1>
                    <p>{{messages.SR_003_PORTAL_WEBSITE_DES}}</p>
                </div><!-- ngIf: updateFailed -->
                <div class="nigvlxpristine nigvlxvalid ">
                    <div class="company social-list">
                        <div class="section half-block">
                            <h3>{{messages.SR_003_PORTAL_WEBSITE_TITLE_CONTENT_1}}</h3>
                            <input v-model.trim="currentPortal.website" @change="changeField" class="form-control" type="text" :placeholder="messages.SR_003_PORTAL_WEBSITE_PLACEHOLDER_CONTENT_1">
                            <h3>{{messages.SR_003_PORTAL_WEBSITE_TITLE_CONTENT_2}}</h3>
                            <input v-model.trim="currentPortal.twitter" @change="changeField" class="form-control" type="text" :placeholder="messages.SR_003_PORTAL_WEBSITE_PLACEHOLDER_CONTENT_2">
                            <h3>{{messages.SR_003_PORTAL_WEBSITE_TITLE_CONTENT_3}}</h3>
                            <input v-model.trim="currentPortal.facebook" @change="changeField" class="form-control" type="text" :placeholder="messages.SR_003_PORTAL_WEBSITE_PLACEHOLDER_CONTENT_3">
                            <h3>{{messages.SR_003_PORTAL_WEBSITE_TITLE_CONTENT_4}}</h3>
                            <input v-model.trim="currentPortal.linkedin" @change="changeField" class="form-control" type="text" :placeholder="messages.SR_003_PORTAL_WEBSITE_PLACEHOLDER_CONTENT_4">
                            <h3>{{messages.SR_003_PORTAL_WEBSITE_TITLE_CONTENT_5}}</h3>
                            <input v-model.trim="currentPortal.instagram" @change="changeField" class="form-control" type="text" :placeholder="messages.SR_003_PORTAL_WEBSITE_PLACEHOLDER_CONTENT_5">
                            <h3>{{messages.SR_003_PORTAL_WEBSITE_TITLE_CONTENT_6}}</h3>
                            <input v-model.trim="currentPortal.blog" @change="changeField" class="form-control" type="text" :placeholder="messages.SR_003_PORTAL_WEBSITE_PLACEHOLDER_CONTENT_6">
                        </div>
                        <div class="section half-block">
                            <h3>{{messages.SR_003_PORTAL_WEBSITE_TITLE_CONTENT_7}}</h3>
                            <input v-model.trim="currentPortal.tax_code" @change="changeField" class="form-control" :placeholder="messages.SR_003_PORTAL_WEBSITE_PLACEHOLDER_CONTENT_7">
                        </div>
                    </div>
                    <div class="footer align-right">
                        <button :disabled="disable_save" @click="save()" class="btn btn-blue default" type="submit">
                            <i class="default fa fa-save"></i>
                            <span class="default">{{messages.SR_003_BUTTON_SAVE}}</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
    import Vue from "vue";
    import {fauth} from '@/firebase';
    import {mapGetters} from 'vuex';
    import {messages} from "@/messages";


    export default Vue.extend({
        props: {},
        computed: {
            // mix the getters into computed with object spread operator
            ...mapGetters([
                'currentUser',
                'currentPortal',
                'currentOriginPortal'
                // ...
            ]),
        },
        data(){
            return{
                disable_save: true
            }
        },
        methods: {
            changeField(){
                this.disable_save = false
            },
            updatePortal: function () {
                this.currentOriginPortal['website'] = this.currentPortal['website']
                this.currentOriginPortal['twitter'] = this.currentPortal['twitter']
                this.currentOriginPortal['facebook'] = this.currentPortal['facebook']
                this.currentOriginPortal['linkedin'] = this.currentPortal['linkedin']
                this.currentOriginPortal['instagram'] = this.currentPortal['instagram']
                this.currentOriginPortal['blog'] = this.currentPortal['blog']
                this.currentOriginPortal['tax_code'] = this.currentPortal['tax_code']
            },
            save(){
                let that = this
                that.disable_save = true
                this.updatePortal()
                this.currentOriginPortal.update().then(()=>{
                    that.$toasted.show(messages.COMMON_SAVED)
                });
            }
        },
    });
</script>
<style scoped lang="scss">
    .social-list{
        display: flex;
        .half-block{
            width: 50%;
            padding: 0px 30px
        }
    }
</style>
