<template>

    <div class="settings portal">
        <div class="main-content">
            <div class="profile nigvlxscope">
                <div class="header">
                    <h1>{{messages.SR_003_PORTAL_TESTIMONIALS_TITLE}}</h1>
                </div>
                <div class="company">
                    <div class="section">
                        <h2>{{messages.SR_003_PORTAL_TESTIMONIALS_TITLE_CONTENT_1}}</h2>
                        <p>{{messages.SR_003_PORTAL_TESTIMONIALS_DES_1_CONTENT_1}} </p>
                        <div class="testimonial-container upload-btn-wrapper" >
                            <div class="headshot-placeholder" :class="check_error && !newTestimonial.photo ? 'error' : '' ">
                                <div class="headshot nigvlxscope" v-if="!newTestimonial.photo" @click="$refs.fileTestimonial.click()">
                                    <i class="fa fa-camera-retro"></i>
                                </div>
                                <input hidden type="file" accept="image/*" @change="detectFiles($event.target.files)" style="display: none" ref="fileTestimonial">
                                <img class="avatar" :src="newTestimonial.photo" v-if="newTestimonial.photo" @click="$refs.file.click()">

                            </div>
                            <input v-model.trim="newTestimonial.name"
                                   class="emp-name half"
                                   type="text"
                                   :class="check_error && newTestimonial.name =='' ? 'error' : '' "
                                   :placeholder="messages.SR_003_PORTAL_TESTIMONIALS_PLACEHOLDER_1_CONTENT_1"
                                   required="required">
                            <div class="form-divider"></div>
                            <input v-model.trim="newTestimonial.position"
                                   :class="check_error && newTestimonial.position =='' ? 'error' : '' "
                                   class="title half nigvlxpristine nigvlxuntouched nigvlxinvalid nigvlxinvalid-required"
                                   type="text"
                                   :placeholder="messages.SR_003_PORTAL_TESTIMONIALS_PLACEHOLDER_2_CONTENT_1"
                                   required="required">
                        </div>
                        <div class="form-divider"></div>
                        <input v-model.trim="newTestimonial.testimonial"
                               :class="check_error && newTestimonial.testimonial =='' ? 'error' : '' "
                               class="body full"
                               type="text" style="width: 340px"
                               :placeholder="messages.SR_003_PORTAL_TESTIMONIALS_PLACEHOLDER_3_CONTENT_1"
                               required="required">
                        <div class="form-divider"></div>
                        <a class="logo add btn btn-blue btn-xs"
                           @click="addTestimonial()"><i class="fa fa-plus"></i><span>{{messages.SR_003_PORTAL_TESTIMONIALS_BTN_1_CONTENT_1}}</span></a>
                    </div>
                    <div class="section">
                        <h2>{{messages.SR_003_PORTAL_TESTIMONIALS_TITLE_CONTENT_2}}</h2>
                        <p v-if="currentPortal.testimonials.length > 0" class="nigvlxscope">{{messages.SR_003_PORTAL_TESTIMONIALS_DES_1_CONTENT_2}}</p>
                        <ul class="testimonials">
                            <li :key="index" class="testimonial nigvlxscope list-des" v-for="(testimonial, index) in currentPortal.testimonials">
                                <img class="avatar-sm" :src="testimonial.photo">
                                <div class="content">
                                    <h4>{{testimonial.name}}</h4>
                                    <h5>{{testimonial.position}}</h5>
                                    <div class="body"><i class="fa fa-quote-left"></i>
                                        <p class="nigvlxbinding">{{testimonial.testimonial}}</p>
                                    </div>
                                    <a class="remove" @click="removeTestimonial(index)">
                                        <i class="fa fa-times"></i><span> {{messages.SR_003_PORTAL_TESTIMONIALS_BTN_1_CONTENT_2}}</span>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="footer align-right">
                    <button v-if="show_save" @click="save()" class="btn btn-blue default"
                            type="submit">
                        <i class="default fa fa-save"></i>
                        <span class="default">{{messages.SR_003_BUTTON_SAVE}}</span>
                    </button>
                </div>
            </div>
        </div>
    </div>

</template>


<style scoped lang="scss">
    .upload-btn-wrapper {
        position: relative;
        overflow: hidden;
        display: inline-block;
    }

    img.avatar {
        height: 100%;
        width: 100%;
        border-radius: 0;
    }

    .avatar-sm {
        border-radius: 100%;
        border: 2px solid #fff;
        display: inline-block;
        height: 40px;
        vertical-align: middle;
        width: 40px;
    }
    input:focus{
        border-color: #5ac0e5;
    }
    *:focus {
        outline: none;
    }
    .list-des .body{
        display: flex;
    }
    .list-des {
        display: flex;
        margin-left: 15px ;
    }
    .list-des .content{
        margin-left:5px !important;
    }
    .list-des .nigvlxbinding{
        margin-left: 5px;
    }
    .testimonials .remove{
        cursor: pointer !important;
    }
    .logo.add.btn {
        i{
            margin-right: 5px;
        }
    }

</style>


<script lang="ts">
    import Vue from "vue";
    import {fauth, fstorage} from '@/firebase';
    //import {storage} from 'firebase.storage'
    import {mapGetters} from 'vuex';
    // https://github.com/xiaokaike/vue-color
    import {Swatches} from 'vue-color';
    import * as firebase from "firebase";
    import Company from '../../models/Company'
    import {messages} from "@/messages";


    var colors = {
        hex: '#194d33',
        // hsl: {h: 150, s: 0.5, l: 0.2, a: 1},
        // hsv: {h: 150, s: 0.66, v: 0.30, a: 1},
        // rgba: {r: 25, g: 77, b: 51, a: 1},
        // a: 1
    }

    export default Vue.extend({
        props: {},
        computed: {
            // mix the getters into computed with object spread operator
            ...mapGetters([
                'currentUser',
                'currentPortal',
                'currentOriginPortal'
                // ...
            ]),

        },
        components: {
            'swatches-picker': Swatches
        },
        data() {
            return {
                check_error:false,
                list_file: [],
                file:File,
                newTestimonial: {
                    name: '',
                    photo: '',
                    position: '',
                    testimonial: ''
                },
                show_save : false
            }
        },
        methods: {
            changeField(){
                this.show_save = true
            },
            detectFiles(fileList) {
                // Array.from(Array(fileList.length).keys()).map(x => {
                //     this.upload(fileList[x])
                // })
                if(fileList.length == 1){
                    if(fileList[0].type.indexOf("image")== -1){
                        this.$toasted.error(messages.COMMON_UPLOAD_IMAGE);
                    }else{

                        this.createImagePreview(fileList[0])
                    }
                }
            },
            createImagePreview(file){
                let reader = new FileReader();
                let that = this;
                this.file = file
                reader.onload = (e:Event) =>{
                    that.newTestimonial.photo = reader.result as string
                }
                reader.readAsDataURL(file)
            },
             async uploadListImage() {
                console.log('list_file:',this.list_file)
                let that = this
                if(that.list_file.length >0){
                    const upload_attach_file = that.list_file.map((file, index) => {
                    console.log(index)
                    let fileNameUp = that.currentPortal['company_id'] + "_" + file.name

                    let upload = fstorage.ref('image/portal/'+ this.currentPortal['company_id'] +'/Testimonials/' + this.currentPortal['company_id'] + fileNameUp).put(file)
                    return new Promise((resolve, reject) => {
                        upload.on('state_changed',null,null,
                        async ()=> {
                                await upload.snapshot.ref.getDownloadURL().then(downloadUrl => {
                                    let index_file_in_testimonials = (that.currentPortal['testimonials'].length - that.list_file.length) + index  // get index in this.currentPortal['testimonials']

                                    if (0 <= index_file_in_testimonials && index_file_in_testimonials <= that.currentPortal['testimonials'].length) {
                                        that.currentPortal['testimonials'][index_file_in_testimonials].photo = downloadUrl

                                    }
                                    that.currentOriginPortal['testimonials'] = that.currentPortal['testimonials']
                                    resolve()
                                    that.currentOriginPortal.update()
                                })
                            })
                        })
                    })
                    await Promise.all(upload_attach_file)
                }else{
                    that.currentOriginPortal['testimonials'] = that.currentPortal['testimonials']
                }
            },
            reset_newTestimonial(){
                this.$refs.fileTestimonial['value'] = null
                this.file = File
                this.newTestimonial = {
                        name: '',
                        photo: '',
                        position: '',
                        testimonial: ''
                    }
            },
            addTestimonial() {
                if (this.newTestimonial.photo == '' || this.newTestimonial.name == '' || this.newTestimonial.position == '' || this.newTestimonial.testimonial == '') {
                    this.check_error = true
                } else {
                    this.changeField()
                    this.check_error = false
                    this.currentPortal['testimonials'].push(this.newTestimonial);
                    this.list_file.push(this.file)
                    console.log(this.currentPortal['testimonials']);
                    this.reset_newTestimonial()
                }
            },
            removeTestimonial(index) {

                if(this.currentPortal['testimonials'].length >0){
                    this.changeField()
                    let index_file_in_testimonials = index - (this.currentPortal['testimonials'].length - this.list_file.length)  // get index in this.currentPortal['testimonials']
                    this.currentPortal['testimonials'].splice(index, 1);
                    if(0<=index_file_in_testimonials && index_file_in_testimonials <= this.list_file.length){
                        this.list_file.splice(index_file_in_testimonials, 1);
                    }

                }
            },
            save(){
                let that = this
                that.show_save = false
                this.uploadListImage().then(()=>{
                   that.updateFb()
                })
            },
            updateFb(){
                let that = this
                 this.currentOriginPortal.update().then(()=>{
                        that.$toasted.show(messages.COMMON_SAVED)
                 })
            }
        },

    });
</script>
