<template>
    <div class="settings portal">
        <div class="main-content">
            <div class="profile nigvlxscope" nigvlxif="activeTab == &quot;type&quot;">
                <div class="header">
                    <h1>{{messages.SR_003_PORTAL_TYPE_TITLE}}</h1>
                    <p>{{messages.SR_003_PORTAL_TYPE_DESCRIPTION_1}}</p>
                    <p>{{messages.SR_003_PORTAL_TYPE_DESCRIPTION_2}} <a target="_blank" href="https://cjs.zendesk.com/hc/vi/requests/new">{{messages.SR_003_PORTAL_TYPE_LEARN_MORE}}</a></p>
                </div>
                <div name="layoutForm" novalidate="novalidate">
                    <div class="company">
                        <div class="section">
                            <h2>{{messages.SR_003_PORTAL_TYPE_TITLE_CONTENT_1}}</h2>
                            <p>{{messages.SR_003_PORTAL_TYPE_CONTENT_1_DESCRIPTION_1}} </p>
                            <div class="portal-layout">
                                <ul class="layouts">
                                    <li class="layout">
                                        <input style="margin-top: 5px !important" type="radio"
                                               v-model="currentPortal.config"
                                               @change="changeField"
                                               value="bold">
                                        <h3> {{messages.SR_003_PORTAL_TYPE_TITLE_CONTENT_1_TITPE_BOLD}} <span class="small">{{messages.SR_003_PORTAL_TYPE_TITLE_CONTENT_1_TITPE_BOLD_SUB}}</span></h3>
                                        <div><p class="portal-type-des">{{messages.SR_003_PORTAL_TYPE_TITLE_CONTENT_1_TITPE_BOLD_DES}}</p></div>

                                        <div class="browser bold">
                                            <div class="controls">
                                                <div class="control1"></div>
                                                <div class="control2"></div>
                                                <div class="control3"></div>
                                            </div>
                                            <div class="address-bar"></div>
                                            <div class="content">
                                                <div class="hero" :style="{'background-color': currentPortal.appearance_header_backgroud_color}">
                                                    <div class="hero-header">
                                                        <div class="logo"></div>
                                                        <ul class="actions">
                                                            <li class="action"></li>
                                                            <li class="action"></li>
                                                            <li class="action"></li>
                                                        </ul>
                                                    </div>
                                                    <div class="title"></div>
                                                    <div class="sub-title"></div>
                                                    <div class="cta"
                                                         style="background-color: rgba(0,0,0,0.2)"></div>
                                                </div>
                                                <div class="video-container">
                                                    <div class="video"></div>
                                                    <div class="copy">
                                                        <div class="line"></div>
                                                        <div class="line"></div>
                                                        <div class="line"></div>
                                                        <div class="line"></div>
                                                        <div class="line"></div>
                                                        <div class="line"></div>
                                                        <div class="line"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="layout">
                                        <input style="margin-top: 5px !important;" v-model="currentPortal.config"
                                               type="radio"
                                               @change="changeField"
                                               value="simple">
                                        <h3> {{messages.SR_003_PORTAL_TYPE_TITLE_CONTENT_1_TITPE_SIMPLE}} </h3>
                                        <p class="portal-type-des">{{messages.SR_003_PORTAL_TYPE_TITLE_CONTENT_1_TITPE_SIMPLE_DES}}</p>
                                        <div class="browser simple">
                                            <div class="controls">
                                                <div class="control1"></div>
                                                <div class="control2"></div>
                                                <div class="control3"></div>
                                            </div>
                                            <div class="address-bar"></div>
                                            <div class="content">
                                                <div class="header">
                                                    <div class="logo"></div>
                                                    <ul class="actions">
                                                        <li class="action"></li>
                                                        <li class="action"></li>
                                                        <li class="action"></li>
                                                    </ul>
                                                </div>
                                                <div class="content-body">
                                                    <div class="title"></div>
                                                    <ul class="meta">
                                                        <li class="meta-item"></li>
                                                        <li class="meta-item"></li>
                                                        <li class="meta-item"></li>
                                                    </ul>
                                                    <div class="body">
                                                        <div class="line"></div>
                                                        <div class="line"></div>
                                                        <div class="line"></div>
                                                        <div class="video-container">
                                                            <div class="video"></div>
                                                        </div>
                                                        <div class="line"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="footer align-right">
                        <button :disabled="disable_save" @click="updatePortal()" class="btn btn-blue default"
                                type="submit"><i class="default fa fa-save"></i><span
                            class="default">{{messages.SR_003_BUTTON_SAVE}}</span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>


<script lang="ts">
    import Vue from "vue";
    import {fauth} from '@/firebase';
    import {mapGetters} from 'vuex';
    import {messages} from "@/messages";

    export default Vue.extend({
        props: {},
        computed: {
            // mix the getters into computed with object spread operator
            ...mapGetters([
                'currentUser',
                'currentPortal',
                'currentOriginPortal'
            ]),
        },
        data(){
          return{
              disable_save : true
          }
        },
        methods: {
            changeField(){
                this.disable_save = false
            },
            updatePortal: function () {
                this.disable_save = true
                let that = this
                this.currentOriginPortal['config'] = this.currentPortal['config']
                this.currentOriginPortal.update().then(()=>{
                    that.$toasted.show(messages.COMMON_SAVED)
                })

            }
        },
    });
</script>
<style scoped>
    .portal-type-des {
        font-size: 14px;
    }
    .main-content .header a{
        color: #5ac0e5;
    }
</style>
