<template>
    <div class="main">
        <div
            :class="classContainer"
            class="input-wrapper">
            <b-form-input :style="{'width': width + 'px'}"
                          ref="input"
                          v-if="!isFocusing"
                          @focus="focusingInput"
                          :placeholder="showPlaceholderWhenNotFocus ? placeHolder : ''"
                          :disabled="disabled"
                          :value="getValueDisplay(value)">
            </b-form-input>
            <b-form-input ref="input"
                          :style="{'width': width + 'px'}"
                          autocomplete="off"
                          v-else
                          :placeholder="placeHolder"
                          :disabled="disabled"
                          @blur="blursingInput"
                          @input="searchOption"
                          v-model="cachedValue.title">
            </b-form-input>
            <span
                v-if="!isFocusing"
                class="caret">
            </span>
        </div>
        <!--Group-->
        <ul v-if="isShowGroup && isFocusing"
            :class="classContentContainer"
            :style="{'width': width - 25 + 'px'}"
            class="container-item">
            <li class="group"
                v-for="(group, index) in Object.keys(dataOptionsByGroup)"
                :key="index">
                {{group}}
                <ItemComponent
                    v-if="(isFocusing && !isSearching) && dataOptionsLength > 0"
                    @setSelectedOption="setSelectedOption"
                    :is-show-group="true"
                    :list-data="dataOptionsByGroup[group]"
                    :title-field="titleField"
                    :is-show-icon="isShowIcon"/>
                <ItemComponent
                    v-if="isFocusing && isSearching && listSearched.length > 0"
                    @setSelectedOption="setSelectedOption"
                    :is-show-group="true"
                    :list-data="dataOptionsByGroup[group]"
                    :title-field="titleField"
                    :is-show-icon="isShowIcon"/>
            </li>
        </ul>
        <!--Not group-->
        <div v-else :class="classContentContainer">
            <ItemComponent
                v-if="(isFocusing && !isSearching) && dataOptionsLength > 0"
                @setSelectedOption="setSelectedOption"
                :list-data="dataOptions"
                :width="width"
                :title-field="titleField"
                :is-show-icon="isShowIcon"
                :is-show-avatar="isShowAvatar"/>
            <ItemComponent
                v-if="isFocusing && isSearching && listSearched.length > 0"
                @setSelectedOption="setSelectedOption"
                :list-data="listSearched"
                :width="width"
                :title-field="titleField"
                :is-show-icon="isShowIcon"
                :is-show-avatar="isShowAvatar"/>
        </div>
    </div>
</template>

<script>
    import _ from "lodash";

    import ItemComponent from './item.vue';

    export default {
        name: "SelectSearch",
        props: {
            dataOptions: {
                type: Array,
                default: () => {
                    return [];
                }
            },
            value: {
                type: [Object, String, Number],
                default: () => {
                    return {
                        title: '',
                        value: null
                    }
                },
            },
            showPlaceholderWhenNotFocus:{
                type: Boolean,
                default:()=>{
                    return true;
                }
            },
            valueField: {
                type: String,
                default: 'value'
            },
            titleField: {
                type: String,
                default: 'title'
            },
            placeHolder: {
                type: String,
                default: '',
            },
            classContainer: {
                type: String,
                default: '',
            },
            classContentContainer: {
                type: String,
                default: '',
            },
            isShowIcon: {
                type: Boolean,
                default: () => {
                    return false
                }
            },
            isShowGroup: {
                type: Boolean,
                default: () => {
                    return false;
                }
            },
            width:{
                type: Number,
                default:()=>{
                    return 200;
                }
            },
            isShowAvatar: {
                type: Boolean,
                default: () => {
                    return false
                }
            },
            disabled: {
                type: Boolean,
                default: () => {
                    return false
                }
            }
        },
        components: {
            ItemComponent
        },
        created() {
            if (this.isShowGroup) {
                this.optionsByGroup();
            }
        },
        watch: {
            listSearched() {
                if (this.isShowGroup) this.optionsByGroup();
            }
        },
        computed: {
            dataOptionsLength() {
                let result = this.dataOptions.filter((option) => {
                    return !option.hide;
                });
                return result.length;
            },
        },
        data() {
            return {
                selectedValue: null,
                isFocusing: false,
                listSearched: [],
                isSearching: false,
                cachedValue: {
                    title: '',
                    value: null
                },
                dataOptionsByGroup: {},

            }
        },
        methods: {
            optionsByGroup() {
                this.dataOptionsByGroup = [];
                let arrayFind = this.dataOptions;
                if (this.isSearching) {
                    arrayFind = this.listSearched;
                }
                this.dataOptionsByGroup = _.groupBy(arrayFind, (option) => {
                    return option.group;
                })
            },
            getValueDisplay(value) {
                let that = this;
                let result = this.dataOptions.find((option) => {
                    if (typeof(value) === 'string' || typeof(value) === 'number') {
                        return option[that.valueField] == value;
                    }
                    else{
                        return option[that.valueField] == value[that.valueField];
                    }
                });

                return result ? result[this.titleField] : (this.value.hide == true ? this.placeHolder : this.value[this.titleField]);
            },
            emitValue(value) {
                this.$emit('changeValue', value);
            },
            focusingInput() {
                this.isFocusing = true;
                this.$emit('focusing')
            },
            blursingInput() {

                let that = this;
                setTimeout(function () {
                    that.isFocusing = false;

                }, 200);
            },
            setSelectedOption(option) {
                this.selectedValue = option;
                this.emitValue(option)
            },
            searchOption() {
                this.isSearching = true;
                let that = this;
                let result = this.dataOptions.filter((option) => {
                    return option[that.titleField].toLowerCase().includes(that.cachedValue.title);
                });
                this.listSearched = result;
            }
        }
    }
</script>

<style lang="scss" scoped>
    .container-item {
        transition: visibility 0s linear 0.33s, opacity 0.33s linear;
        position: absolute;
        z-index: 1000;
        padding: 5px 10px;
        margin: 2px 0 0;
        font-size: 14px;
        text-align: left;
        min-width: 200px;
        list-style: none;
        background-color: #fff;
        border: 2px solid #edeff0;
        background-clip: padding-box;
        border-radius: 4px;
        box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
        max-height: 200px;
        overflow-x: hidden;
        li {
            overflow: hidden;
            text-overflow: ellipsis;
            color: #4c555c !important;
            padding: 3px 10px !important;
            border-radius: 4px;
            -webkit-transition: .3s;
            -moz-transition: .3s;
            -ms-transition: .3s;
            -o-transition: .3s;
            white-space: nowrap;
            transition: .3s;
            overflow: hidden;
            text-overflow: ellipsis;

            &:hover {
                background-color: #edeff0;
                cursor: pointer;
            }
        }

        li.group {
            display: block;
            padding: 3px 20px;
            font-size: 12px;
            line-height: 1.42857143;
            color: #777;
            white-space: nowrap;

            &:hover {
                background-color: white !important;
                cursor: unset;
            }
        }

    }

    .input-wrapper {
        display: inline-block;
        min-width: 200px;
        position: relative;
        input {
            padding-right: 25px;
        }
    }

    .caret {
        display: inline-block;
        width: 0;
        height: 0;
        margin-left: 2px;
        vertical-align: middle;
        border-top: 4px dashed;
        border-right: 4px solid transparent;
        border-left: 4px solid transparent;
        position: absolute;
        top: 45%;
        right: 15px;
    }
    .main{
        position: relative;
    }
</style>
