<template>
    <div>
        <div class="container" :class="{'isDefaultClass':listPipeline[index].is_default}">
            <div class="flex-box-left">
                <div>
                    <i class="fa fa-list"></i>
                    <p>{{listPipeline[index].title}}</p>
                </div>
                <span class="sublabel" v-if="listPipeline[index].used_positions.length > 0">
                <i class="fa fa-briefcase"></i>
                Used by {{listPipeline[index].used_positions.length}} positions -
                <a href="#">
                    <span @click="isShow=true" v-if="isShow==false">Show</span>
                    <span @click="isShow=false" v-else>Hide</span>
                </a>
                <ul v-if="isShow">
                    <li :key="index" v-for="(position, index) in listPipeline[index].used_positions">
                        {{position.title}}
                    </li>
                </ul>
            </span>
            </div>
            <div class="flex-box-right">
                <i @click="editPositionPipeline" class="fa fa-edit"></i>
                <i @click="duplicatePositionPipeline" class="fa fa-clone"></i>
                <i v-if="!listPipeline[index].is_default" @click="showModalConfirm()" class="fa fa-times"></i>
            </div>
        </div>
        <UnSavedChangeModal
            :showModal="isShowModalConfirm"
            :sub-title-modal="'Deleting this pipeline will affect ' + listPipeline[index].used_positions.length + ' position.'"
            :title-modal="'Delete Pipeline?'"
            @handleSaveChange="saveChangeConfirm()"
            @handleClose="handleCloseUnSavedChange">
        </UnSavedChangeModal>
    </div>
</template>

<script>
    import {mapGetters, mapActions} from 'vuex';
    import PipelineStage from "../../models/PipelineStage";
    import UnSavedChangeModal from '@/components/modals/UnsavedChange.vue';
    import Position from "../../models/Position";
    import PositionPipelineAction from "../../models/PositionPipelineAction";

    export default {
        props: [
            'index',
        ],
        components: {
            UnSavedChangeModal
        },
        computed: {

            ...mapGetters([
                'listPipeline',
            ])
        },
        data() {
            return {
                isShow: false,
                isShowModalConfirm: false,

            }
        },
        methods: {
            ...mapActions([
                'setListPipeline',
                'editListPipeline',
                'setCurrentPipeline',
                'setListStageToPipeline'
            ]),
            showModalConfirm() {
                if (this.listPipeline[this.index].used_positions.length > 0) {
                    this.isShowModalConfirm = true;
                } else {
                    this.removePositionPipeline();
                }
            },
            saveChangeConfirm() {
                this.listPipeline[this.index].used_positions.forEach((position) => {
                    new Position().getById(position.id).then(data => {
                        data.pipeline_id = this.listPipeline[0].id;
                        data.update();
                    });
                    new PositionPipelineAction().getItemByPipelineID(this.listPipeline[this.index].id).then((actions) => {
                        actions.forEach((action) => {
                            action.delete();
                            console.log('Removed actions')
                        })
                    });
                    this.removePositionPipeline();
                    this.handleCloseUnSavedChange();
                })
            },
            handleCloseUnSavedChange() {
                this.isShowModalConfirm = false;
            },
            editPositionPipeline() {
                this.setCurrentPipeline(this.listPipeline[this.index]);
                this.$emit('editPositionPipeline', this.index)
            },
            removePositionPipeline() {
                let data = {
                    type: 'remove',
                    index: this.index,
                    content: this.listPipeline
                }
                this.editListPipeline(data);
            },
            duplicatePositionPipeline() {
                this.$emit('handleEvent', true)
                new PipelineStage().getAllStages(this.listPipeline[this.index].id).then((stages) => {
                    this.setListStageToPipeline({id: this.listPipeline[this.index].id, content: stages});
                    let data = {
                        type: 'duplicate',
                        index: this.index,
                        content: this.listPipeline
                    }
                    this.editListPipeline(data).then(() => {
                        this.$emit('handleEvent', false)
                    });
                });
            }
        }
    }
</script>

<style scoped>
    .modal-content {
        overflow: hidden;
        text-overflow: ellipsis;
        vertical-align: middle;
        white-space: nowrap;
    }

    .container {
        padding: 10px;
        display: flex;
        justify-content: space-between;
        width: 100%;
        background: #fafafa;
        border: 1px solid #edeff0;
        border-radius: 3px;
    }

    .isDefaultClass {
        margin-bottom: 10px;
    }

    .flex-box-right {
        min-width: 60px;
        text-align: right;
    }

    .flex-box-right i {
        /*margin-left:10px;*/
        font-size: 10px;
        padding: 5px;
        cursor: pointer;
    }

    .flex-box-left {
        overflow: hidden;
        text-overflow: ellipsis;
        vertical-align: middle;
        white-space: nowrap;
    }

    .flex-box-left .sublabel {
        margin-left: 20px;
        line-height: 1;
        border-radius: 10px;
        margin-top: 3px;
        font-size: 12px;
        display: block;
        opacity: .8;
    }

    .flex-box-left .sublabel ul {
        list-style: disc;
        margin-left: 15px;
        margin-top: 8px;
        margin-bottom: 0px;
    }

    .flex-box-left div {
        display: flex;
        align-items: center;
    }

    .flex-box-left div p {
        margin-left: 10px;
        font-size: 14px;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .flex-box-left p {
        margin-bottom: 0px;
        font-size: 12px;
        color: #4c555c;
        margin-left: 20px
    }
</style>
