<template>
    <b-modal
        @show="handleOpenModal"
        no-close-on-esc
        no-close-on-backdrop
        modal-class="modal-add-stage"
        v-model="showModal">
        <template slot="modal-header" slot-scope="{ close }">
            <h1>{{messages.SR_007_MODAL_STAGE_TITLE}}</h1>
            <button type="button" aria-label="Close" class="close" @click="handleCloseModal()">×</button>
        </template>
        <div class="section-stage">
            <h5>{{messages.SR_007_MODAL_STAGE_INPUT_TITLE}}</h5>
            <b-form-input :class="{'isError':isErrorForm.stageNameInput}"
                          v-model="currentTitleStage"
                          :disabled="hideStageType"
                          :placeholder="messages.SR_007_MODAL_STAGE_INPUT_REQUIRED"></b-form-input>
            <div class="section-stage"
                 v-if="stageData == null || (stageData != null && stageData.stage_type != 'applied') && !hideStageType">
                <h5>{{messages.SR_007_MODAL_STAGE_STAGE_TITLE}}</h5>
                <SelectSearch
                    @changeValue="handleChangeStage"
                    :class-container="isErrorForm.stageType ? 'isError':''"
                    :place-holder="'Stage Type'"
                    :value="cloneStageData"
                    :valueField="'stage_type'"
                    :data-options="defaultPipelineStage">
                </SelectSearch>
            </div>
        </div>
        <hr style="margin-top:5px;margin-bottom:15px;"/>
        <div class="section-stage">
            <h5>{{messages.SR_007_MODAL_STAGE_STAGE_ACTIONS}}</h5>
            <p>{{messages.SR_007_MODAL_STAGE_STAGE_ACTIONS_DESCRIPTION}}</p>
            <div style="display: flex; align-items: center">
                <SelectSearch
                    @changeValue="handleChangeAction"
                    :disabled="isLoading"
                    :place-holder="'Available Stage Actions'"
                    :value="currentAction"
                    :value-field="'action_type'"
                    :data-options="optionsAction">
                </SelectSearch>
                <b-button size="sm" v-if="isShowButtonAdd" variant="primary" class="btn btn-blue btn-add"
                          @click="pushActionToList()">
                    <i class="fa fa-plus"></i> {{messages.SR_007_MODAL_STAGE_ADD_BUTTON}}
                </b-button>
            </div>
        </div>
        <hr style="margin-top:5px;margin-bottom:15px;"/>
        <div class="section-stage">
            <h5>{{messages.SR_007_MODAL_STAGE_TITLE_CONFIGURED}}</h5>
            <p v-if="listActionSelected.length == 0">{{messages.SR_007_MODAL_STAGE_ACTION_EMPTY}}</p>
            <div class="action-panel" v-else :key="index" v-for="(actionData, index) in listActionSelected">
                <h5>{{custom_data[actionData.action_type].title}}</h5>
                <p>{{custom_data[actionData.action_type].content}}</p>
                <div style="display: flex;"
                     v-if="custom_data[actionData.action_type].hasOwnProperty('template')">
                    <SelectSearch
                        @changeValue="handleChangeTemplate"
                        @focusing="currentActionType(actionData.action_type)"
                        :show-placeholder-when-not-focus="false"
                        :place-holder="custom_data[actionData.action_type].placeholder"
                        :class-container="isErrorForm.template[actionData.action_type] ? 'isError':''"
                        :value="actionData.currentTemplate"
                        :value-field="'id'"
                        :is-show-icon="true"
                        :data-options="custom_data[actionData.action_type].template">
                    </SelectSearch>
                    <!--v-if="typeof(actionData.currentTemplate) == 'string' && actionData.currentTemplate != ''"-->
                    <SelectSearch
                        v-if="isHiddenPlan(actionData)"
                        @changeValue="handleChangeTimePlan"
                        @focusing="currentActionType(actionData.action_type)"
                        style="margin-left:10px;"
                        :place-holder="'No delay'"
                        :value-field="'value'"
                        :value="actionData.currentTimePlan"
                        :data-options="custom_data[actionData.action_type].time_plan">
                    </SelectSearch>
                </div>

                <!-- Pending v1 -->
                <!--<div class="option-panel" v-if="custom_data[actionData.action_type].optional.length > 0 && typeof(actionData.currentTemplate) == 'string' && actionData.currentTemplate != ''"-->
                     <!--v-for="(option, _index) in custom_data[actionData.action_type].optional" :key="_index">-->
                    <!--<div>-->
                        <!--<b-form-checkbox-->
                            <!--:id="'checkbox-' + _index"-->
                            <!--v-model="listActionSelected[index].optional[_index].status"-->
                            <!--:value="true"-->
                            <!--@change="handleTickBox(index, _index)"-->
                            <!--:unchecked-value="false"-->
                        <!--&gt;-->
                            <!--<p>{{option.title}}</p>-->
                            <!--<span>{{option.description}}</span>-->
                        <!--</b-form-checkbox>-->
                        <!--<b-form-input v-if="listActionSelected[index].optional[_index].status && option.isInput" v-model="listActionSelected[index].optional[_index].value"-->
                                      <!--@change="checkErrorTemplate"-->
                                      <!--:class="{'isError':isErrorForm.optional[actionData.action_type] && isErrorForm.optional[actionData.action_type][_index]}"-->
                                      <!--placeholder="Sender name (Required)"></b-form-input>-->
                    <!--</div>-->
                <!--</div>-->
                <a class="cancel-item" href="#" @click="removeActionFromList(index)">
                    <i class="fa fa-times"></i><span> {{messages.SR_007_MODAL_STAGE_REMOVE_BUTTON}}</span>
                </a>
            </div>
        </div>
        <template slot="modal-footer" slot-scope="{ ok }">
            <!-- Emulate built in modal footer ok and cancel button actions -->
            <p v-if="isProcessing && type == 'new'">{{messages.SR_007_MODAL_STAGE_ADDING}}</p>
            <p v-if="isProcessing && type == 'edit'">{{messages.SR_007_MODAL_STAGE_UPDATING}}</p>
            <button :disabled="isLoading" v-if="hideStageType" @click="resetDefault()" class="btn btn-none"
                    type="button">
                Restore Defaults
            </button>
            <b-button :disabled="isLoading" size="sm" variant="primary" class="btn btn-blue" @click="saveChange()">
                <i class="fa fa-save"></i> {{messages.SR_007_MODAL_PIPELINE_BUTTON_SAVE}}
            </b-button>
        </template>
    </b-modal>
</template>

<script>
    import PinelineState, {custom_data_action} from "../../../models/PipelineStage";
    import {mapGetters, mapActions, mapMutations} from 'vuex';
    import SelectSearch from '../../select/main.vue';

    const _ = require('lodash');

    export default {

        name: "AddStagePipeline",
        components: {
            SelectSearch
        },
        props: {
            showModal: {
                type: Boolean,
                default: false
            },
            type: {
                type: String,
                default: 'new'
            },
            stageData: {
                type: Object,
                default: () => {
                    return {
                        title: 'Stage Type',
                        value: null
                    }
                },
            },
            titleStage: {
                type: String,
                default: '',
            },
            hideStageType: {
                type: Boolean,
                default: () => {
                    return false;
                }
            }
        },
        data() {
            return {
                cachedActions: [],
                custom_data: custom_data_action,
                isLoading: false,
                isShowButtonAdd: false,
                showModalAddState: false,
                selectedOptionAction: null,
                currentTitleStage: '',
                listActionSelected: [],
                currentTemplate:'',
                currentTimePlan:1,
                currentState: null,
                hiddenPlan: false,
                currentAction: {
                    title: 'Available Stage Actions',
                    action_type: null,
                },
                optionsAction: [
                    {
                        title: 'Send Email',
                        placeholder: 'Select a Template',
                        action_type: 'emails',
                    },
                    // {
                    //     title: 'Send Questionnaire',
                    //     placeholder: 'Select a Questionnaire',
                    //     action_type: 'questionnaires'
                    // },
                    {
                        title: 'Candicates Scorecard',
                        placeholder: 'Select a scorecard',
                        action_type: 'candicate_scorecard'
                    },
                ],
                isErrorForm: {
                    stageNameInput: false,
                    stageType: false,
                    template: {},
                    optional: {},
                },
                isProcessing: false,
                actionType: 'emails',
                cloneStageData: {},
            }
        },
        computed: {
            ...mapGetters([
                'cachePipeline',
                'listPipelineStage',
                'currentCompany',
                'email_templates',
                'messaging_template',
                'questionnaires',
                'defaultPipelineStage',
                'currentPosition'
            ]),
        },
        async mounted() {
            if (this.defaultPipelineStage.length == 0) {
                await this.getListPipelineStage('default').then((data) => {
                    this.setDefaultPipelineStage(data);
                })
            }
            this.cloneStageData = _.cloneDeep(this.stageData);
        },
        watch: {
            stageData(newVal, oldVal) {
                this.cloneStageData = _.cloneDeep(this.stageData);
            }
        },
        methods: {
            ...mapMutations([
                'setDefaultPipelineStage',
            ]),
            ...mapActions([
                'currentPipeline',
                'setCachePipeline',
                'setListPipelineStage',
                'getMessagingTemplate',
                'getEmailTemplates',
                'getQuestionnaires',
                'getListPipelineStage'
            ]),
            isHiddenPlan(actionData){
                return typeof(actionData.currentTemplate) === 'string' ||
                    (actionData.currentTemplate.hasOwnProperty('title') &&
                        actionData.currentTemplate.title != actionData.placeholder);
            },
            currentActionType(type){
                this.actionType = type;
            },
            resetDefault() {
                this.getListPipelineStage(this.currentPosition.pipeline_id).then((stages) => {
                    let state = stages[this.cloneStageData.indexInCurrentArray];
                    this.listActionSelected = state.actions;
                    this.$forceUpdate();
                })
            },
            checkErrorTemplate() {
                let errorsTemplate = {};
                let errorsInputOptional = {};
                this.listActionSelected.forEach((action) => {
                    if ((typeof(action.currentTemplate) != 'string' && action.action_type != 'candicate_scorecard') || action.currentTemplate == '' ){
                        errorsTemplate[action.action_type] = true;
                    }
                    // if (action.optional.length > 0) {
                    //     action.optional.forEach((item, index) => {
                    //         if ((item.value == null || item.value.trim() == '') && item.isInput && item.status == true) {
                    //             errorsInputOptional[action.action_type] = {...errorsInputOptional[action.action_type], ...{[index]: true}};
                    //         } else {
                    //             errorsInputOptional[action.action_type] = {...errorsInputOptional[action.action_type], ...{[index]: false}};
                    //         }
                    //     })
                    // }
                });
                this.isErrorForm.template = errorsTemplate;
                this.isErrorForm.optional = errorsInputOptional;
                this.$forceUpdate()
            },
            removeActionFromList(index) {
                this.optionsAction.map((option) => {
                    if (this.listActionSelected[index].action_type == option.action_type) {
                        option.hide = false;
                    }
                });
                delete this.isErrorForm.template[this.listActionSelected[index].action_type];
                delete this.isErrorForm.optional[this.listActionSelected[index].action_type];

                this.listActionSelected.splice(index, 1);

            },
            handleTickBox(parentIndex, toChangeIndex) {
                let status = !this.listActionSelected[parentIndex].optional[toChangeIndex].status;
                let item = this.listActionSelected[parentIndex].optional[toChangeIndex];
                item.status = status;
                this.listActionSelected[parentIndex].optional.splice(toChangeIndex, 1, item)
                this.$forceUpdate();
            },
            handleChangeTimePlan(data) {
                let index = this.listActionSelected.findIndex((action, index) => {
                    return action.action_type == this.actionType;
                })
                this.listActionSelected[index].currentTimePlan = data.value;
                this.$forceUpdate();
            },
            handleChangeTemplate(data) {
                let index = this.listActionSelected.findIndex((action, index) => {
                    return action.action_type == this.actionType;
                })
                this.listActionSelected[index].currentTemplate = data.id;
                this.listActionSelected[index].currentTimePlan = 1;
                this.$forceUpdate();
                if (Object.keys(this.isErrorForm.optional).length > 0) {
                    this.checkErrorTemplate();
                }
            },
            pushActionToList() {
                this.currentAction['currentTemplate'] = {
                    title:''
                }
                this.currentAction['currentTimePlan'] = 1;
                // let optional = this.custom_data[this.currentAction.action_type].optional.map((option)=>{
                //     let result = _.pick(option, ['value', 'status', 'isInput'])
                //     return result;
                // })
                // this.currentAction['optional'] = optional;
                this.$forceUpdate();
                this.listActionSelected.push(this.currentAction);
                this.optionsAction = this.optionsAction.map((action) => {
                    if (action.action_type == this.currentAction.action_type) {
                        action['hide'] = true;
                    }
                    return action;
                })
                // _.sortBy(this.optionsAction, 'value');
                this.isShowButtonAdd = false;
                this.currentAction = {
                    title: 'Available Stage Actions',
                    value: null,
                }
            },
            handleChangeAction(data) {
                this.currentAction = _.cloneDeep(data);
                if (data.action_type) {
                    this.isShowButtonAdd = true;
                }
            },
            handleChangeStage(data) {
                data['indexInCurrentArray'] = this.cloneStageData.indexInCurrentArray;
                data['pipeline_id'] = this.cloneStageData.pipeline_id;
                data['index'] = this.cloneStageData.index;
                data['id'] = this.cloneStageData.id;
                data['actions'] = this.listActionSelected;
                this.cloneStageData = data;
            },
            async handleOpenModal() {
                this.isLoading = true;
                this.listActionSelected = [];
                this.getMessagingTemplate(this.currentCompany.id).then(() => {
                    this.getEmailTemplates(this.messaging_template.id).then(() => {
                        this.getQuestionnaires().then(() => {
                            this.custom_data.questionnaires.template = this.questionnaires.map((q) => {
                                q = q.cloneNewObject();
                                q['title'] = q['name'];
                                q['value'] = q['id'];
                                return q;
                            });
                            this.custom_data.emails.template = this.email_templates.map((email) => {
                                email = email.cloneNewObject();
                                email['icon'] = 'fa fa-envelope';
                                email['title'] = email['name'];
                                email['value'] = email['id'];
                                return email;
                            });
                            let noneEmail = {
                                icon:'fa fa-envelope',
                                title: 'None',
                                id: 'NoneObject'
                            };
                            this.custom_data.emails.template.push(noneEmail);
                            this.optionsAction = [
                                {
                                    title: 'Send Email',
                                    placeholder: 'Select a Template',
                                    action_type: 'emails',
                                },
                                // {
                                //     title: 'Send Questionnaire',
                                //     placeholder: 'Select a Questionnaire',
                                //     action_type: 'questionnaires'
                                // },
                                {
                                    title: 'Candicates Scorecard',
                                    placeholder: 'Select a scorecard',
                                    action_type: 'candicate_scorecard'
                                },
                            ]
                            this.isErrorForm = {
                                stageNameInput: false,
                                stageType: false,
                                template: {},
                                optional: {},
                            }
                            if (this.listPipelineStage.length == 0) {
                                new PinelineState().getAllStages('default').then((data) => {
                                    this.setListPipelineStage(data);
                                });
                            }
                            this.currentAction = {
                                title: 'Available Stage Actions',
                                value: null,
                            };
                            this.isShowButtonAdd = false;
                            this.listActionSelected = this.cloneStageData.actions || [];
                            if (this.listActionSelected.length > 0) {
                                this.listActionSelected.map((option) => {
                                    this.optionsAction.map((action) => {
                                        if (action.action_type == option.action_type) {
                                            action.hide = true;
                                        }
                                        return action;
                                    })

                                })
                            }
                            this.isLoading = false;
                            this.currentTitleStage = this.titleStage;
                        });
                        ;

                    });
                });
            },
            saveChange() {
                if (this.cloneStageData.stage_type == undefined && !this.hideStageType) {
                    this.isErrorForm.stageType = true;
                } else {
                    this.isErrorForm.stageType = false;
                }
                if (this.currentTitleStage.trim() == '') {
                    this.isErrorForm.stageNameInput = true;
                } else {
                    this.isErrorForm.stageNameInput = false;
                }
                this.checkErrorTemplate();
                let optionalError = false;
                // if (Object.keys(this.isErrorForm.optional).length > 0) {
                //      optionalError = Object.values(this.isErrorForm.optional).map((option) => {
                //         let value = Object.values(option);
                //         if (value.indexOf(true) > -1) {
                //             return true;
                //         } else {
                //             return false;
                //         }
                //     })[0];
                // }
                if (this.isErrorForm.stageType
                    || this.isErrorForm.stageNameInput
                    || Object.values(this.isErrorForm.template).indexOf(true) > -1
                    || optionalError) {
                    return;
                }
                switch (this.type) {
                    case 'new':
                        this.createPipelineStage();
                        break;
                    case 'edit':
                        this.editPipelineStage();
                        break;
                }
            },
            createPipelineStage() {
                let _newPipelineStage = {};
                let lengthListStage = _.sumBy(this.cachePipeline.list_stage, (state) => {
                    return state.showInPositionPipelineStageModal == true;
                });
                Object.assign(_newPipelineStage, this.cloneStageData);
                _newPipelineStage.title = this.currentTitleStage;
                _newPipelineStage.id = '';
                _newPipelineStage.pipeline_id = '';
                _newPipelineStage.deleted = false;
                _newPipelineStage.index = lengthListStage + 1;
                _newPipelineStage.showInPositionPipelineStageModal = true;
                _newPipelineStage.actions = this.listActionSelected.map((action)=>{
                    if (action.id != 'NoneObject'){
                        return action;
                    }
                });
                this.cachePipeline.list_stage.push(_newPipelineStage);
                this.$emit('handleSaveChange', this.cloneStageData.actions)
            },
            editPipelineStage() {
                let _newPipelineStage = {};
                let findStageChanged = this.listPipelineStage.find((stage) => {
                    return stage.stage_type == this.cloneStageData.stage_type;
                })
                Object.assign(_newPipelineStage, findStageChanged);
                _newPipelineStage.pipeline_id = this.cloneStageData.pipeline_id;
                _newPipelineStage.id = this.cloneStageData.id;
                _newPipelineStage.title = this.currentTitleStage;
                _newPipelineStage.deleted = false;
                _newPipelineStage.index = this.cloneStageData.index;
                _newPipelineStage.showInPositionPipelineStageModal = true;
                _newPipelineStage.actions = this.listActionSelected.filter((action)=>{
                    return action.currentTemplate != 'NoneObject';
                });
                this.cachePipeline.list_stage.splice(this.cloneStageData.indexInCurrentArray, 1, _newPipelineStage);
                this.setCachePipeline(this.cachePipeline);
                this.$emit('handleSaveChange', this.cloneStageData.actions);
            },
            handleCloseModal() {
                this.$emit('handleClose')
            }
        }
    }
</script>

<style lang="scss">
    .flex-box-right i {
        margin-left: 10px;
        font-size: 10px;
    }

    .section-stage {
        margin-top: 10px;
        margin-bottom: 15px;

        h5 {
            font-weight: bold;
        }
    }

    .btn-custom {
        margin-top: 10px;
        font-size: 12px !important;
        height: initial !important;
        padding: 2px 8px;
        background-color: #5ac0e5 !important;
        color: #fff !important;
        border: none;
    }

    .btn-custom:hover {
        font-size: 12px;
        background-color: #4cabcd !important;
        color: #fff !important;
    }

    .state-item {
        justify-content: space-between;
        display: flex;
        align-content: center;
        background: #edeff0;
        height: 40px;
        padding: 10px;
    }

    .btn-blue {
        border: none;
        padding: 5px 12px;
        font-weight: bold;
        /*font-size: 21px !important;*/
    }

    .custom-select {
        width: 200px;
    }

    .btn-add {
        margin-left: 10px;
        padding: 3px 12px;
        height: 24px;
    }

    .action-panel {
        background: #fafafa;
        border: 1px solid #edeff0;
        margin-top: 10px;
        padding: 20px;
        border-radius: 4px;
    }

    .option-panel {
        margin-top: 10px;
        padding-top: 10px;

        p {
            font-size: 14px;
            font-weight: 400;
            margin-bottom: 0px;
            color: #4c555c;
        }

        span {
            font-size: 13px;
            margin-bottom: 10px;
        }

        input {
            margin-top: 10px;
            width: 200px;
        }
    }

    .cancel-item {
        display: inline-block;
        margin-top: 20px;
        text-decoration: unset;
        font-size: 12px;
        color: inherit;
    }
</style>

<style lang="scss">
    .isError {
        border: 2px solid #eba2a5 !important
    }

    .modal-add-stage {
        color: #4c555c;

        .modal-header {
            border-bottom: none;
            padding-bottom: 0px;
        }

        .modal-dialog {
            padding-left: 10px;
            padding-right: 10px;
            border-radius: 5px;
            background: #edeff0;
        }

        .modal-content {
            border: none;
        }

        .modal-body {
            padding-top: 0px;
        }

        .modal-footer {
            border-top: none;
            background-color: #f9fafa;
            border-top: 1px solid #edeff0;
        }

        .button-add-pipeline {
            padding: 10px;
            padding-left: 15px;
            position: absolute;
            right: 0;
            border: none;
            font-weight: bold;
            background: #edeff0;
            top: 0;
            font-size: 21px !important;

            i {
                font-size: 21px !important;
            }
        }

    }

</style>

