<template>

    <div v-if="loading" class="d-flex flex-column justify-content-center align-items-center" style="min-height: 100vh">
        <b-spinner style="width: 64px; height: 64px"></b-spinner>
        <h2>{{messages.COMMON_LOADING}}</h2>
    </div>
    <div v-else id="fullbody">
        <div class="container">
            <div class="row">
                <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                    <div class="card card-signin my-5">
                        <div class="card-body">
                            <h5 class="card-title text-center">{{messages.SR_002_CREATE_USER_TEXT}}</h5>

                            <div class="form-label-group">
                                <label for="inputName">{{messages.SR_002_NAME_TEXT}}</label>
                                <input type="text" id="inputName" class="form-control"
                                       :placeholder="messages.SR_002_NAME_TEXT" v-model="name" required autofocus>

                            </div>
                            <b-alert variant="danger" :show="error.name">{{error.name_message}}</b-alert>

                            <div class="form-label-group">
                                <label for="inputEmail">{{messages.SR_002_EMAIL_TEXT}}</label>
                                <input type="email" id="inputEmail" class="form-control"
                                       :placeholder="messages.SR_002_EMAIL_TEXT" v-model="email"  required>

                            </div>
                            <b-alert variant="danger" :show="error.email">{{error.email_message}}</b-alert>


                            <div class="form-label-group">
                                <label for="inputPassword">{{messages.SR_002_PASSWORD_TEXT}}</label>
                                <input type="password" v-model="password" id="inputPassword"
                                       class="form-control" :placeholder="messages.SR_002_PASSWORD_TEXT" required>

                            </div>
                            <b-alert variant="danger" :show="error.password">{{error.password_message}}</b-alert>

                            <button class="btn btn-lg btn-primary btn-block text-uppercase" @click="login"
                                    type="button">{{messages.SR_002_LOGIN_TEXT}}
                            </button>
                            <hr class="my-4">


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</template>
<style>
    label {
        display: inline-block;
        margin-top: .5rem;
        margin-bottom: 0px;
    }
    .form-label-group {
        margin-bottom: .5rem;
    }
</style>


<script lang="ts">
    import Vue from "vue";
    import {fauth} from '@/firebase';
    import {FirebaseError} from 'firebase';
    import User from "@/models/User";
    import Invite from "@/models/Invite";
    import {messages} from '@/messages';

    export default Vue.extend({
        data() {
            return {
                email: "",
                password: "",
                loading: false,
                name:"",
                error: {
                    email: false,
                    password: false,
                    name:false,
                    email_message: '',
                    password_message:'',
                    name_message:''
                }
            }
        },
        methods: {

            validateEmail: function (inputText) {
                const mailformat =  /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                if (inputText.match(mailformat)) {
                    return true;
                } else {
                    return false;
                }
            },
            validate: function () {
                const self = this;
                self.email = self.email.trim();
                self.password = self.password.trim();
                self.name = self.name.trim();
                self.error.password = false;
                self.error.email = false;
                self.error.name = false;


                if (self.name == "") {
                    self.error.name = true;
                    self.error.name_message = messages.SR_002_SETTING_NAME_NULL_ALERT;
                }

                if (self.email == "") {
                    self.error.email = true;
                    self.error.email_message = messages.COMMON_NULL_EMAIL_ERROR;
                } else if (!self.validateEmail(self.email)) {
                    self.error.email = true;
                    self.error.email_message = messages.COMMON_EMAIL_ERROR;
                }

                if (self.password == "") {
                    self.error.password = true;
                    self.error.password_message = messages.SR_001_PASS_NULL;
                } else if (self.password.length < 6) {
                    self.error.password = true;
                    self.error.password_message = messages.SR_001_PASS_MIN;
                }

                if ((self.error.email) || (self.error.password) || (self.error.name)) {
                    return false;
                }

                return true;
            },
            login: function () {
                const self = this;

                if (self.validate()) {
                    // [START handlesignin]
                    if (fauth.isSignInWithEmailLink(window.location.href)) {
                        // [START_EXCLUDE]
                        // Disable the sign-in button during async sign-in tasks.

                        // [END_EXCLUDE]
                        // You can also get the other parameters passed in the query string such as state=STATE.
                        // Get the email if available.
                        var email = window.localStorage.getItem('emailForSignIn');
                        if (!email) {
                            // User opened the link on a different device. To prevent session fixation attacks, ask the
                            // user to provide the associated email again. For example:
                            email = self.email;
                        }
                        if (email) {
                            // The client SDK will parse the code from the link for you.
                            self.loading = true;
                            Invite.instance.getCompany(self.email).then ((result) => {
                                let inviteuser = result;
                                let company_id = inviteuser.company_id;
                                let created_by = inviteuser.invite_by;

                                fauth.signInWithEmailLink(email, window.location.href).then(async (result) => {
                                    // Clear the URL to remove the sign-in link parameters.
                                    if (history && history.replaceState) {
                                       window.history.replaceState({}, document.title, window.location.href.split('?')[0]);
                                    }
                                    // Clear email from storage.
                                    window.localStorage.removeItem('emailForSignIn');
                                    // Signed-in user's information.
                                    let user = result.user;
                                    let isNewUser = result.additionalUserInfo.isNewUser;



                                    user.updatePassword(self.password).then(async function () {


                                        Invite.instance.getCompany(user.email).then(result => {
                                            let data = Object.create(null);
                                            data = {
                                                ...data,
                                                name: self.name,
                                                email: user.email,
                                                company_id: company_id,
                                                role:inviteuser.role,
                                                created_by:created_by,
                                                updated_by:created_by,
                                                created_date: Date.now(),
                                                updated_date:  Date.now(),
                                                signatureFlag:  true,
                                                signatureHtml: "",
                                                meetingRemind: true,
                                                candidateAssign:  true,
                                                taskAssign:  true,
                                                taskDuel: true,
                                            };

                                            User.instance.collection().doc(user.uid).set(data)
                                                .then(async () => {
                                                    await inviteuser.delete();

                                                    window.location.href = '/login';

                                                });
                                        });
                                        console.log(result);


                                    }).catch(error => {
                                        self.loading = false;
                                        self.error.email = true;
                                        self.error.email_message = "Đã có lỗi xảy ra !";
                                        console.log(error);
                                    })


                                }).catch(function (error) {
                                    // Handle Errors here.
                                    self.loading = false;
                                    var errorCode = error.code;
                                    var errorMessage = error.message;

                                    self.error.email = true;
                                    self.error.email_message = error.message;
                                    console.log(error);
                                    // [START_EXCLUDE]

                                    // [END_EXCLUDE]
                                });
                            } ).catch(function (error) {
                                self.loading = false;
                                console.log(error);
                                self.error.email = true;
                                self.error.email_message = messages.SR_002_SETTING_INVITE_EXPIRE;
                            });
                        }
                    }
                }
            }
        },
        created(): void {
           const self = this;
            self.loading = true;
            setTimeout(function () {
                self.loading = false;
            }, 5000);

            /*if (!window.location.href.split('?')[1]) {
                window.location.href = '/login';
            }*/
        }
    })

    function handleSignIn() {

    }

</script>
