<template>
    <div id="landing-page" v-cloak>
        <div v-if="currentPortalLandingPage.config == 'bold'" class="landing">
            <Header></Header>
        </div>
        <router-view ></router-view>
        <div v-if="currentPortalLandingPage.config == 'bold'">
            <Footer></Footer>
<!--            <div class="addthis-smartlayers addthis-smartlayers-desktop" aria-labelledby="at4-share-label"-->
<!--                 role="region">-->
<!--&lt;!&ndash;                <div id="at4-share-label">AddThis Sharing Sidebar</div>&ndash;&gt;-->
<!--                <div id="at4-share" class="at4-share addthis_32x32_style atss atss-left addthis-animated" :class="slide_bar_show?'slideInLeft':'slideOutLeft'">-->
<!--                    <a role="button" tabindex="1" class="at-share-btn at-svc-gmail">-->
<!--&lt;!&ndash;                        <span class="at4-visually-hidden">Share to Gmail</span>&ndash;&gt;-->
<!--                        <span class="at-icon-wrapper" style="background-color: rgb(219, 68, 55);">-->
<!--                            <svg xmlns="http://www.w3.org/2000/svg"-->
<!--                                 xmlns:xlink="http://www.w3.org/1999/xlink"-->
<!--                                 viewBox="0 0 32 32"-->
<!--                                 version="1.1"-->
<!--                                 role="img"-->
<!--                                 aria-labelledby="at-svg-gmail-1"-->
<!--                                 class="at-icon at-icon-gmail">-->
<!--                                <title id="at-svg-gmail-1">Gmail</title>-->
<!--                                    <g>-->
<!--                                        <g fill-rule="evenodd"></g>-->
<!--                                        <path opacity=".3"-->
<!--                                              d="M7.03 8h17.94v17H7.03z">-->
<!--                                        </path>-->
<!--                                        <path d="M7.225 8h-.41C5.815 8 5 8.84 5 9.876v13.248C5 24.16 5.812 25 6.815 25h.962V12.714L16 19.26l8.223-6.546V25h.962C26.188 25 27 24.16 27 23.124V9.876C27 8.84 26.186 8 25.185 8h-.41L16 15.506 7.225 8z">-->
<!--                                        </path>-->
<!--                                    </g>-->
<!--                            </svg>-->
<!--                        </span>-->
<!--                    </a>-->
<!--                    <a role="button" tabindex="1" class="at-share-btn at-svc-linkedin">-->
<!--&lt;!&ndash;                        <span class="at4-visually-hidden">Share to LinkedIn</span>&ndash;&gt;-->
<!--                        <span class="at-icon-wrapper" style="background-color: rgb(0, 119, 181);">-->
<!--                            <svg xmlns="http://www.w3.org/2000/svg"-->
<!--                                 xmlns:xlink="http://www.w3.org/1999/xlink"-->
<!--                                 viewBox="0 0 32 32"-->
<!--                                 version="1.1"-->
<!--                                 role="img"-->
<!--                                 aria-labelledby="at-svg-linkedin-2"-->
<!--                                 class="at-icon at-icon-linkedin">-->
<!--                                <title id="at-svg-linkedin-2">LinkedIn</title>-->
<!--                                <g>-->
<!--                                    <path d="M26 25.963h-4.185v-6.55c0-1.56-.027-3.57-2.175-3.57-2.18 0-2.51 1.7-2.51 3.46v6.66h-4.182V12.495h4.012v1.84h.058c.558-1.058 1.924-2.174 3.96-2.174 4.24 0 5.022 2.79 5.022 6.417v7.386zM8.23 10.655a2.426 2.426 0 0 1 0-4.855 2.427 2.427 0 0 1 0 4.855zm-2.098 1.84h4.19v13.468h-4.19V12.495z"-->
<!--                                          fill-rule="evenodd">-->
<!--                                    </path>-->
<!--                                </g>-->
<!--                            </svg>-->
<!--                            <div class="at4-share-count-container">-->
<!--                                <span class="at4-share-count">-->
<!--&lt;!&ndash;                                    <span class="at4-visually-hidden">, Number of shares</span>&ndash;&gt;-->
<!--                                </span>-->
<!--                            </div>-->
<!--                        </span>-->
<!--                    </a>-->
<!--                    <a role="button" tabindex="1" class="at-share-btn at-svc-twitter">-->
<!--&lt;!&ndash;                        <span class="at4-visually-hidden">Share to Twitter</span>&ndash;&gt;-->
<!--                        <span class="at-icon-wrapper"-->
<!--                              style="background-color: rgb(29, 161, 242);">-->
<!--                            <svg xmlns="http://www.w3.org/2000/svg"-->
<!--                                 xmlns:xlink="http://www.w3.org/1999/xlink"-->
<!--                                 viewBox="0 0 32 32"-->
<!--                                 version="1.1" role="img"-->
<!--                                 aria-labelledby="at-svg-twitter-3"-->
<!--                                 class="at-icon at-icon-twitter">-->
<!--                                <title id="at-svg-twitter-3">Twitter</title>-->
<!--                                <g>-->
<!--                                    <path d="M27.996 10.116c-.81.36-1.68.602-2.592.71a4.526 4.526 0 0 0 1.984-2.496 9.037 9.037 0 0 1-2.866 1.095 4.513 4.513 0 0 0-7.69 4.116 12.81 12.81 0 0 1-9.3-4.715 4.49 4.49 0 0 0-.612 2.27 4.51 4.51 0 0 0 2.008 3.755 4.495 4.495 0 0 1-2.044-.564v.057a4.515 4.515 0 0 0 3.62 4.425 4.52 4.52 0 0 1-2.04.077 4.517 4.517 0 0 0 4.217 3.134 9.055 9.055 0 0 1-5.604 1.93A9.18 9.18 0 0 1 6 23.85a12.773 12.773 0 0 0 6.918 2.027c8.3 0 12.84-6.876 12.84-12.84 0-.195-.005-.39-.014-.583a9.172 9.172 0 0 0 2.252-2.336"-->
<!--                                          fill-rule="evenodd">-->
<!--                                    </path>-->
<!--                                </g>-->
<!--                            </svg>-->
<!--                        </span>-->
<!--                    </a>-->
<!--                    <a role="button" tabindex="1" class="at-share-btn at-svc-facebook">-->
<!--&lt;!&ndash;                        <span class="at4-visually-hidden">Share to Facebook</span>&ndash;&gt;-->
<!--                        <span class="at-icon-wrapper"-->
<!--                              style="background-color: rgb(59, 89, 152);">-->
<!--                            <svg xmlns="http://www.w3.org/2000/svg"-->
<!--                                 xmlns:xlink="http://www.w3.org/1999/xlink"-->
<!--                                 viewBox="0 0 32 32"-->
<!--                                 version="1.1"-->
<!--                                 role="img"-->
<!--                                 aria-labelledby="at-svg-facebook-4"-->
<!--                                 class="at-icon at-icon-facebook">-->
<!--                                <title-->
<!--                                    id="at-svg-facebook-4">Facebook</title>-->
<!--                                <g>-->
<!--                                    <path d="M22 5.16c-.406-.054-1.806-.16-3.43-.16-3.4 0-5.733 1.825-5.733 5.17v2.882H9v3.913h3.837V27h4.604V16.965h3.823l.587-3.913h-4.41v-2.5c0-1.123.347-1.903 2.198-1.903H22V5.16z"-->
<!--                                          fill-rule="evenodd">-->
<!--                                    </path>-->
<!--                                </g>-->
<!--                            </svg>-->
<!--                            <div class="at4-share-count-container">-->
<!--                                <span class="at4-share-count">-->
<!--&lt;!&ndash;                                    <span class="at4-visually-hidden">, Number of shares</span>&ndash;&gt;-->
<!--                                </span>-->
<!--                            </div>-->
<!--                        </span>-->
<!--                    </a>-->
<!--                    <div id="at4-scc"-->
<!--                         class="at-share-close-control at4-show at4-hide-content"-->
<!--                         :class="slide_bar_show?'slideInLeft':'slideOutLeft'"-->
<!--                         title="Hide">-->
<!--                        <div @click="slide_bar_show = false" class="at4-arrow at-left">-->
<!--                            <i class="fas fa-caret-left"></i>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div id="at4-soc" @click="slide_bar_show = true"-->
<!--                     :class="slide_bar_show?'slideOutLeft':'slideInLeft'"-->
<!--                     class="at-share-open-control at-share-open-control-left addthis-animated slideOutLeft"-->
<!--                     title="Show">-->
<!--                    <div class="at4-arrow at-right">-->
<!--                        <i class="fas fa-caret-right"></i>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
        </div>
    </div>

</template>


<script lang="ts">
    import Vue from 'vue';
    import Header from '@/components/LandingPage/header.vue';
    import Footer from '@/components/LandingPage/footer.vue';
    import Simple from '@/components/LandingPage/SimplePage/simple.vue';
    import $ from 'jquery'
    import {mapActions, mapGetters} from 'vuex'

    export default Vue.extend({
        name: 'LandingPage',
        components: {
            Header,
            Footer,
            Simple
        },
        data() {
            return {
                // messages: messages
                slide_bar_show:true,
            }
        },
        computed: {
            ...mapGetters([
                'currentPortalLandingPage',
                'currentCompanyLandingPage',
                'currentPositionLandingPage',
                'currentPositionView',
                'currentPage',
            ]),
            // eslint-disable-next-line vue/return-in-computed-property

        },
        created(){
            let that = this as any

        },
        async mounted() {
            let that = this as any;

            that.getCompanyLandingPagebySlug(that.$router.currentRoute.params.slug).then(()=>{
                that.getPortalLandingPage(that.currentCompanyLandingPage.id).then(()=>{
                    var css = '.bzyButtonColor:hover{ background-color:'+ that.currentPortalLandingPage.appearance_button_color + '!important;'
                        + ' color: #ffffff !important; border: 2px solid transparent !important}' +
                        '.breadcrumbs li a, .breadcrumbs li a:hover { color:' + that.currentPortalLandingPage.appearance_link_color + '!important;}'
                        + that.currentPortalLandingPage.css;
                    var style = document.createElement('style');

                    if (style['styleSheet']) {
                        style['styleSheet'].cssText = css;
                    } else {
                        style.appendChild(document.createTextNode(css));
                    }
                    // alert("tu")
                    document.getElementsByTagName('head')[0].appendChild(style);
                    if(that.$route.name =='LandingPage'){
                        let name_route = that.currentPortalLandingPage.config == 'bold'?'LandingPageHome':'LandingPageHomeSimple'
                        let router = {
                            name: name_route,

                        };
                        that.$router.push(router)
                    }
                    // add favicon
                    $(document).ready(() => {
                        let a = $('<link rel="shortcut icon" href="'+that.currentPortalLandingPage.appearance_favicon+'" type="image/x-icon">')
                        $('head').append(a);
                    })

                })
                that.getPositionsPublishLandingPage(that.currentCompanyLandingPage.id)
            })
        },
        methods: {
            ...mapActions([
                'getCompanyLandingPagebySlug',
                'getPortalLandingPage',
                'getPositionsPublishLandingPage'
            ]),

            orderByElement(name_element){
                let that = this as any
                let index = that.currentPortalLandingPage.layout.findIndex((element) => element.name == name_element)
                return index
            },
            checkShowElmemt(name_element){
                let that = this as any
                let index = that.currentPortalLandingPage.layout.findIndex((element) => element.name == name_element)
                return that.currentPortalLandingPage.layout[index].is_show
            },

        }
    });

</script>
<style>
    /*.app-content{*/
    /*    overflow: unset !important;*/
    /*}*/
</style>

<style scoped lang="scss">
    body{
        font-family: "Nunito", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial;
    }
    .app-content{
        overflow: unset;
    }
    #landing-page .content-layout{
        flex-direction: column;
    }

    .header-modal-portal-setting {
        background-color: #384047;
        min-height: 50px;
        /*justify-content: stretch;*/
        align-items: center;

    }
    .testimonials-wraper-content{
        padding: 80px 0;
        background: #f9fafa;
    }
    .perks-wraper-content{
        border-bottom: 1px solid #eee;
    }
    .addthis-smartlayers, div#at4-follow, div#at4-share, div#at4-thankyou, div#at4-whatsnext {
        padding: 0;
        margin: 0;
    }
    .slideInDown.addthis-animated,
    .slideInLeft.addthis-animated,
    .slideInRight.addthis-animated,
    .slideInUp.addthis-animated,
    .slideOutDown.addthis-animated,
    .slideOutLeft.addthis-animated,
    .slideOutRight.addthis-animated,
    .slideOutUp.addthis-animated {
        animation-duration: .4s;
    }

    .slideInLeft {
        -webkit-animation-name: slideInLeft;
        animation-name: slideInLeft;
    }

    .slideOutLeft {
        -webkit-animation-name: slideOutLeft;
        animation-name: slideOutLeft;
    }
    .slideOutLeft {
        animation-name: slideOutLeft;
    }
    .slideInLeft {
        animation-name: slideInLeft;
    }
    .addthis-animated {
        animation-fill-mode: both;
        animation-timing-function: ease-out;
        animation-duration: .3s;
    }
    .atss {
        position: fixed;
        top: 20%;
        width: 3pc;
        z-index: 100020;
        background: none;
    }
    .slideInLeft {
        -webkit-animation-name: slideInLeft;
        animation-name: slideInLeft;
    }
    .atss .at-share-btn .at-icon-wrapper, .atss a .at-icon-wrapper {
        display: block;
        padding: 8px 0;
    }
    a .at-icon-wrapper {
        cursor: pointer;
    }
    .at-icon-wrapper {
        display: inline-block;
        overflow: hidden;
    }
    .atss .at-share-btn, .atss a {
        position: relative;
        display: block;
        width: 3pc;
        margin: 0;
        outline-offset: -1px;
        text-align: center;
        float: left;
        transition: width .15s ease-in-out;
        overflow: hidden;
        background: #e8e8e8;
        z-index: 100030;
        cursor: pointer;
    }
    .atss .at-share-btn span .at-icon, .atss a span .at-icon {
        position: relative;
        top: 0;
        left: 0;
        display: block;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        width: 2pc;
        height: 2pc;
        line-height: 2pc;
        border: none;
        padding: 0;
        margin: 0 auto;
        overflow: hidden;
        cursor: pointer;
        /*cursor: hand;*/
    }
    .at-icon {
        fill: #fff;
        border: 0;
    }
    .atss .at-share-btn:focus, .atss .at-share-btn:hover, .atss a:focus, .atss a:hover {
        width: 4pc !important;
    }
    .atss .at-share-btn {
        border: 0;
        padding: 0;
    }

    .at-share-close-control .at4-arrow.at-left {
        float: right;
    }
    #at4-recommendedpanel-outer-container .at4-arrow.at-left, div.at4-arrow.at-left {
        background-position: 0 0;
    }
    div.at4-arrow {
        /*background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFAAAAAoCAYAAABpYH0BAAAAGXRFW…QarO77TyKdBsyRPuwV0h0gmoGnTWFYzVkYBoAA+I/2FmAAt6+b5XM9mFkAAAAASUVORK5CYII=);*/
        background-repeat: no-repeat;
        width: 20px;
        height: 20px;
        margin: 0;
        padding: 0;
        overflow: hidden;
        text-align: left;
        cursor: pointer;
        i{
            color: #888888;
            font-size: 20px;
        }
        &.at-right{
            padding-left: 5px;
        }
    }
    .at4-hide-content {
         /*opacity: 0!important;*/
         /*visibility: hidden;*/
    }
    .at4-show {
        /*display: none!important;*/
        opacity: 0!important;
    }
    #at4-share.at4-share:hover .at4-show {
        display: block!important;
        opacity: 1!important;
        background: transparent;
    }
    .at-share-close-control {
        position: relative;
        width: 3pc;
        overflow: auto;
    }
    .at-share-open-control-left {
        position: fixed;
        top: 20%;
        z-index: 100020;
        left: 0;
        width: 22px;
    }
    @keyframes slideInLeft {
        0% {
            -webkit-transform: translate3d(-100%, 0, 0);
            -ms-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
            visibility: visible
        }
        100% {
            -webkit-transform: translate3d(0, 0, 0);
            -ms-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0)
        }
    }
    @keyframes slideOutLeft {
        0% {
            -webkit-transform: translate3d(0, 0, 0);
            -ms-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0)
        }
        100% {
            visibility: hidden;
            -webkit-transform: translate3d(-100%, 0, 0);
            -ms-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0)
        }
    }
    @media only screen and (max-width: 900px) {
        #landing-page {
           #at4-share{
               display: none;
           }

        }
    }
</style>
<style>
    @media screen and (max-width: 768px){
        .app-content {
             margin-left: 0px !important;
        }
    }
</style>

