<template>
<div id="fullbody">
    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class="card card-signin my-5">
                    <div class="card-body">
                        <div class="text-center">
                            <img src="@/assets/logo.png" width="80px" alt="">
                        </div>

                        <h5 class="card-title text-center" id="login-title">Đăng nhập</h5>
                        <form class="form-signin" @submit="login">
                            <b-input title="Email address"
                                required name="email" :disabled="loading"
                                class="login-input" type="email" v-model="email" placeholder="Email address"></b-input>
                            <b-alert variant="danger" :show="error.email">{{error.message}}</b-alert>

                            <b-input title="Password"
                                required name="password" :disabled="loading"
                                class="login-input" type="password" v-model="password" placeholder="Password"></b-input>
                            <b-alert variant="danger" :show="error.password">{{error.message}}</b-alert>

                            <div class="custom-control custom-checkbox mb-3">
                                <b-checkbox v-model="isSaveForNextLogin">Ghi nhớ đăng nhập</b-checkbox>
                            </div>

                            <button id="login-button" v-if="!loading"
                                class="btn-block text-uppercase" :disabled="loading"
                                type="submit">Sign in</button>
                            <b-progress v-else :max="10">
                                <b-progress-bar :value="10" variant="info" striped animated>Sign in</b-progress-bar>
                            </b-progress>

                            <hr class="my-4">
<!--                            <button class="btn btn-lg btn-google btn-block text-uppercase" type="submit"><i class="fab fa-google mr-2"></i> Sign in with Google</button>-->
<!--                            <button class="btn btn-lg btn-facebook btn-block text-uppercase" type="submit"><i class="fab fa-facebook-f mr-2"></i> Sign in with Facebook</button>-->
                            <b-link :to="{name: 'ResetPassword'}">Quên Mật Khẩu!</b-link> &nbsp;·&nbsp;
                            <a href="https://cjs.zendesk.com/hc/vi/requests/new">Cần giúp đỡ?</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</template>
<style lang="scss">
    :root {
        --input-padding-x: 1.5rem;
        --input-padding-y: .75rem;
    }

    #fullbody {
        background: #007bff;
        background: linear-gradient(45deg, #2077a0, #42cadd);
        height: 100%;
    }

    .card-signin {
        border: 0;
        border-radius: 1rem;
        box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
    }

    .card-signin .card-title {
        margin-bottom: 2rem;
        font-weight: 300;
        font-size: 1.5rem;
    }

    .card-signin .card-body {
        padding: 2rem;
    }

    .form-signin {
        width: 100%;
    }

    .form-signin .btn {
        font-size: 80%;
        border-radius: 5rem;
        letter-spacing: .1rem;
        font-weight: bold;
        padding: 1rem;
        transition: all 0.2s;
    }

    #login-title {
        font-weight: 200;
        font-size: 1.5rem;
    }
    .login-input {
        border-color: #888 !important;
        padding: 1.5em !important;
        margin: 2em 0;
        border-radius: 1em !important;
        &:focus {
            border-color: #2077a0 !important;
        }
    }
    #login-button {
        color: white;
        background: #42cadd;
        background: linear-gradient(135deg, #2077a0, #42cadd);
        border: none;
        outline: none;
        border-radius: 1em;
        padding: 1em;
    }

    .form-label-group {
        position: relative;
        margin-bottom: 1rem;
    }
</style>

<script lang="ts">
    import Vue from "vue";
    import {fauth} from '@/firebase';
    import {FirebaseError} from 'firebase';
    import User from '../models/User';
    import {messages} from '@/messages';
    import * as firebase from "firebase";

    export default Vue.extend({
        name: "LoginPage",
        data() {
            return {
                email: "",
                password: "",
                loading: false,
                error: {
                    email: false,
                    password: false,
                    message: '',
                },
                isSaveForNextLogin: false,
            }
        },

        methods: {
            async login(ev: Event): Promise<any>
            {
                ev.preventDefault();
                this.loading = true;
                this.error = {
                    email: false,
                    password: false,
                    message: '',
                };

                try {
                    await fauth.setPersistence(
                        this.isSaveForNextLogin
                        ? firebase.auth.Auth.Persistence.LOCAL
                        : firebase.auth.Auth.Persistence.SESSION
                    );

                    const userCredential = await fauth.signInWithEmailAndPassword(this.email, this.password);
                    const user = await User.instance.getUserbyEmail(userCredential.user.email);

                    if (user.status != "0") {
                        await this.$store.dispatch("setUser");
                        this.$router.replace('/');
                    } else {
                        this.$toasted.error(messages.SR_002_SETTING_TEMPORAY_DISABLE, {
                            position: 'top-center',
                        });
                        await firebase.auth().signOut();
                    }
                } catch (e) {
                    const error = e as FirebaseError;
                    this.error = {
                        email: error.code == 'auth/user-not-found',
                        password: error.code == 'auth/wrong-password',
                        message: error.message,
                    };

                    // @ts-ignore
                    this.$log.error(error);
                    this.$toasted.error(error.message, {
                        position: 'top-center',
                    });
                }
                this.loading = false;
            }
        },

        mounted() {
            if (fauth.currentUser) {
                this.$router.replace('/');
            }
        },

    });
</script>
