<template>
    <div>
        <div class="d-flex header-modal-portal-setting p-2">
            <h1 class="title-modal">{{messages.SR_003_CARRER_PORTAL_TITLE}}</h1>
        </div>
        <div class="d-flex">
            <div class="flex-shrink-0 p-2 border" id="navbar">
                <ul class="" v-if="currentPortal.config == 'bold'">
                    <li class="breezy-nav-item" role="tab">
                        <router-link :to="{name: 'portal-type'}">
                            <i class="fa fa-th"></i><span>{{messages.SR_003_NAVBAR_PORTAL_TYPE}}</span>
                        </router-link>
                    </li>
                    <li class="breezy-nav-item">
                        <router-link :to="{ name: 'portal-appearance' }">
                            <i class="fa fa-paint-brush"></i><span>{{messages.SR_003_NAVBAR_APPEARANCE}}</span>
                        </router-link>
                    </li>
                    <li class="breezy-nav-item">
                        <router-link :to="{name: 'portal-messaging' }">
                            <i class="fa fa-comment"></i><span>{{messages.SR_003_NAVBAR_MESSAGING}}</span>
                        </router-link>
                    </li>
                    <li class="breezy-nav-item">
                        <router-link :to="{name: 'portal-social'}">
                            <i class="fa fa-share-alt"></i><span>{{messages.SR_003_NAVBAR_WEBSITE_SOCIAL}}</span>
                        </router-link>
                    </li>
                    <li class="breezy-nav-item">
                        <router-link :to="{name: 'portal-perks'}">
                            <i class="fa fa-gift"></i><span>{{messages.SR_003_NAVBAR_PERKS}}</span>
                        </router-link>
                    </li>
                    <li class="breezy-nav-item">
                        <router-link :to="{name: 'portal-testimonials'}">
                            <i class="fa fa-comments"></i><span>{{messages.SR_003_NAVBAR_TESTIMONIALS}}</span>
                        </router-link>
                    </li>

                    <!--                <li class="breezy-nav-item">-->
                    <!--                    <router-link :to="{name: 'portal-employees'}">-->
                    <!--                        <i class="fa fa-users"></i><span>Nhân viên</span>-->
                    <!--                    </router-link>-->
                    <!--                </li>-->

                    <li class="breezy-nav-item">
                        <router-link :to="{name: 'portal-media'}">
                            <i class="fa fa-camera-retro"></i><span>{{messages.SR_003_NAVBAR_PHOTOS_VIDEO}}</span>
                        </router-link>
                    </li>
                    <li class="breezy-nav-item">
                        <router-link :to="{name: 'portal-layout'}">
                            <i class="fa fa-align-justify"></i><span>{{messages.SR_003_NAVBAR_CONTENT_LAYOUT}}</span>
                        </router-link>
                    </li>
                    <!--                    <li class="breezy-nav-item">-->
                    <!--                        <router-link :to="{name: 'portal-meta'}">-->
                    <!--                            <i class="fa fa-share-square"></i><span>Chia sẻ Mạng Xã Hội</span>-->
                    <!--                        </router-link>-->

                    <!--                    </li>-->
                    <li class="breezy-nav-item">
                        <router-link :to="{name: 'portal-custom-css'}">
                            <i class="fa fa-code"></i><span>{{messages.SR_003_NAVBAR_CUSTOM_CSS}}</span>
                        </router-link>

                    </li>
                </ul>
                <ul class="" v-else>
                    <li class="breezy-nav-item" role="tab">
                        <router-link :to="{name: 'portal-type'}">
                            <i class="fa fa-th"></i><span>{{messages.SR_003_NAVBAR_PORTAL_TYPE}}</span>
                        </router-link>
                    </li>
                    <li class="breezy-nav-item" role="tab">
                        <router-link :to="{name: 'portal-general'}">
                            <i class="fa fa-building"></i><span>{{messages.SR_003_NAVBAR_PORTAL_GENERAL}}</span>
                        </router-link>
                    </li>
                    <li class="breezy-nav-item">
                        <router-link :to="{name: 'portal-social'}">
                            <i class="fa fa-share-alt"></i><span>{{messages.SR_003_NAVBAR_WEBSITE_SOCIAL}}</span>
                        </router-link>
                    </li>
                </ul>
            </div>
            <div class="flex-grow-1 overflow-auto px-4 pt-3">
                <keep-alive>
                    <router-view name="modal_child"></router-view>
                </keep-alive>
            </div>
        </div>
    </div>
</template>


<script lang="ts">
    import Vue from 'vue';
    import User from '../models/User'
    import {fauth} from '@/firebase';
    import Company from '@/models/Company';
    import ModalWrapper from "@/components/ModalWrapper.vue";
    import Portal from '@/models/Portal'
    import {messages} from "@/messages";
    import {mapGetters,mapActions} from 'vuex'


    export default Vue.extend({
        name: 'home',
        components: {
            ModalWrapper,
        },
        data() {
            return {
                currentUser: new User(),
                // messages: messages
            }
        },
        computed: {
            ...mapGetters([
                 'currentPortal',
                 'currentCompany'
                ])
        },
        mounted() {

            let that = this;
            that.getPortal(that.currentCompany['id']).then((data)=>{
                 console.log('done')
            })


        },
        methods: {
            ...mapActions([
                'setCurrentPortal',
                'getPortal'
            ]),
            updateCompany: function () {
                this.currentPortal.update();
            },
        }
    });

</script>

<style scoped>
    .header-modal-portal-setting {
        background-color: #384047;
        min-height: 50px;
        /*justify-content: stretch;*/
        align-items: center;

    }
    .header-modal-portal-setting .title-modal{
        margin-left: 15px;
        color: #bbb;
        font-size: 16px !important;
    }
</style>

