<template>
    <div class="d-flex flex-column" style="height: 100%">
        <header class="py-3 px-4 flex-shrink-0 default-bg-color border">
            <h3>Báo cáo / Phân tích</h3>
        </header>
        <Analytics class="flex-grow-1 overflow-auto d-flex"></Analytics>
    </div>
</template>

<script lang="ts">
    import Vue from 'vue';
    import Analytics from "@/components/Analytics/Analytics.vue";

    export default Vue.extend({
        name: "AnalyticsAll",
        components: {
            Analytics,
        },
    });
</script>
