<!--
    input: v-model
    output: {
        start: Moment
        end: Moment
    }
-->

<template>
    <div>
        <b-dropdown variant="gray" class=" custom-dropdown">
            <template slot="button-content">
                <i class="fas fa-clock"></i>&nbsp;
                {{currentText}}
            </template>
            <b-dropdown-item v-for="(opt, idx) in options"
                             @click="choose(opt)"
                             :key="idx">
                {{opt.text}}
            </b-dropdown-item>
            <b-dropdown-item @click="chooseCustomRange">Custom Range</b-dropdown-item>
        </b-dropdown>
        <b-form :model="customTime" v-if="isCustomFilter" class="p-2" @submit="applyCustomRange">
            <b-alert :show="!!error" variant="danger">{{error}}</b-alert>
            <div class="input-group">
                <DatePicker v-model="customTime.start" required placeholder="Start" :options="datepicker_option"></DatePicker>
                <i class="fas fa-calendar-alt icon"></i>
            </div>
            <div class="input-group">
                <DatePicker v-model="customTime.end" required placeholder="End" :options="datepicker_option"></DatePicker>
                <i class="fas fa-calendar-alt icon"></i>
            </div>
            <div class="clearfix">
                <b-button type="submit"
                    variant="blue float-right">Get Report</b-button>
            </div>
            <hr>
        </b-form>
    </div>
</template>

<style scoped>
    .icon {
        position: absolute;
        top: 50%;
        right: 1em;
        transform: translateY(-50%);
        color: var(--gray);
    }
    .input-group {
        margin: 1em  0;
    }
</style>

<script lang="ts">
    import Vue from 'vue';
    import moment from 'moment';
    import DatePicker from "vue-bootstrap-datetimepicker";
    import 'pc-bootstrap4-datetimepicker/build/css/bootstrap-datetimepicker.min.css';

    export default Vue.extend({
        name: "AnalyticsTimeFilter",
        components: {
            DatePicker,
        },
        props: {
            value: {
                type: Object,
                defaultValue: {},
            }
        },
        data() {
            return {
                currentText: '',
                options: [
                    {
                        text: "Last 7 Days",
                        start: moment().subtract(7, "day"),
                        end: moment(),
                    },
                    {
                        text: "Last 14 Days",
                        start: moment().subtract(14, "day"),
                        end: moment(),
                    },
                    {
                        text: "This month",
                        start: moment().startOf('month'),
                        end: moment().endOf('month'),
                    },
                    {
                        text: "Last 30 days",
                        start: moment(Date.now()).subtract(30, "day"),
                        end: moment(Date.now()),
                    },
                    {
                        text: "Last 90 days",
                        start: moment(Date.now()).subtract(90, "day"),
                        end: moment(Date.now()),
                    },
                    {
                        text: "Last 180 days",
                        start: moment(Date.now()).subtract(180, "day"),
                        end: moment(Date.now()),
                    },
                ],
                isCustomFilter: false,
                customTime: {
                    start: null as moment.Moment,
                    end: null as moment.Moment,
                },
                datepicker_option: {
                    format: "DD/MM/YYYY",
                },
                error: '',
            };
        },
        methods: {
            choose({text, start, end}) {
                this.error = '';
                this.isCustomFilter = false;
                this.currentText = text;
                this.$emit('input', {start, end});
            },

            chooseCustomRange() {
                this.error = '';
                this.currentText = "Custom Range";
                this.isCustomFilter = true;
            },

            applyCustomRange(e: Event) {
                e.preventDefault();
                this.error = '';

                const start = moment(this.customTime.start);
                const end = moment(this.customTime.end);

                if (end.isBefore(start)) {
                    this.error = "Start date must be before end date";
                }

                this.$emit("input", {start,end});
            }
        },

        created(): void {
            this.choose(this.options[0]);
        }
    });
</script>
