<!--
    input: v-model
-->

<!-- output:
    {
        type: 'by_system' | 'by_position'
        value: system name | position id,
        text: string,
    }
-->

<template>
    <b-dropdown :text="value.text || '' "
                variant="gray"
                class="my-2 custom-dropdown">
        <template>
            <b-dropdown-header tag="em">Systems</b-dropdown-header>
            <b-dropdown-item v-for="(item, idx) in by_system" :key="idx"
                             @click="choose('by_system', item)">{{item.text}}</b-dropdown-item>
        </template>
        <template>
            <b-dropdown-header tag="em">Vị trí</b-dropdown-header>
            <b-dropdown-item v-for="(item, idx) in by_position"  :key="idx"
                             @click="choose('by_position', item)">{{item.text}}</b-dropdown-item>
        </template>
    </b-dropdown>
</template>

<script lang="ts">
    import Vue from 'vue';
    import {mapGetters} from 'vuex';

    export default Vue.extend({
        name: 'AnalyticsFilter',
        props: {
            value: {
                type: Object,
                defaultValue: {
                    text: '',
                },
            }
        },
        data() {
            return {
                by_system: [
                    {
                        text: "All Company Positions",
                        value: "all",
                    },
                    {
                        text: "All My Positions",
                        value: "my-all",
                    },
                    {
                        text: "My Published Positions",
                        value: "my-published",
                    },
                    {
                        text: "My Draft Positions",
                        value: "my-draft",
                    },
                ],
            };
        },
        computed: {
            ...mapGetters([
                // 'positions', // map position here
            ]),

            // temp data, delete this
            positions(): any[] {
                return [
                    {
                        id: 'asdasd',
                        name: 'Tester',
                    },
                    {
                        id: 'dsadsa',
                        name: "Dev",
                    },
                ]
            },

            by_position(): any[]
            {
                return this.positions.map(({id, name})=>({value: id, text: name}));
            },
        },

        methods: {
            choose(type: string, {value, text}): void {
                // this.value = {type, value, text};
                this.$emit("input", {type, value, text});
            }
        },

        created(): void {
            this.choose('by_system', this.by_system[0]);
        },
    });
</script>
