<template>
    <div class="d-flex" style="height: 100%; width: 100%">
        <div class="flex-shrink-0 p-4" style="max-width: 300px">
            <!-- Filter -->
            <AnalyticsFilter v-if="!position_id" v-model="filter"></AnalyticsFilter>
            <AnalyticsTimeFilter v-model="time_filter"></AnalyticsTimeFilter>

            <!-- Analytics types -->
            <aside class="pt-3 analytics-sidebar-container">
                <h2 class="mx-2">Các loại báo cáo</h2>
                <div class="px-2">
                    <b-nav class="report-list">
                        <b-nav-item :class="nav_class" :to="nav_link('overview')">Tổng quan</b-nav-item>
                        <b-nav-item :class="nav_class" :to="nav_link('applied')">Ứng viên đã đăng ký</b-nav-item>
                        <b-nav-item :class="nav_class" :to="nav_link('sourced')">Báo cáo nguồn ứng viên</b-nav-item>
                        <b-nav-item :class="nav_class" :to="nav_link('referred')">Báo cáo ứng viên được đề nghị</b-nav-item>
                        <b-nav-item :class="nav_class" :to="nav_link('recruited')">Báo cáo ứng viên được tuyển dụng</b-nav-item>
                        <b-nav-item :class="nav_class" :to="nav_link('pipeline-performance')">Hiệu suất quy trình</b-nav-item>
                        <b-nav-item :class="nav_class" :to="nav_link('time-to-fill')">Báo cáo thời gian điền (Time to Fill)</b-nav-item>
                        <b-nav-item :class="nav_class" :to="nav_link('questionaires')">Bảng câu hỏi</b-nav-item>
                        <b-nav-item :class="nav_class" :to="nav_link('open-positions')">Vị trí trống</b-nav-item>
                    </b-nav>
                </div>
            </aside>
        </div>
        <div id="reportTypes" class="flex-grow-1 overflow-auto px-4">
            <router-view :time_range="time_range"></router-view>
        </div>
    </div>
</template>

<style lang="scss">
    @import "~styles/analytics";
</style>

<script lang="ts">
    import Vue from 'vue';
    import moment from 'moment';
    import AnalyticsFilter from "@/components/Analytics/AnalyticsFilter.vue";
    import AnalyticsTimeFilter from "@/components/Analytics/AnalyticsTimeFilter.vue";

    export default Vue.extend({
        name: "Analytics",
        components: {
            AnalyticsFilter,
            AnalyticsTimeFilter,
        },
        props: {
            position_id: {
                type: String,
                defaultValue: '',
            },
        },
        data() {
            return {
                time_range_input: '7 ngày gần đây',
                nav_class: 'report-list-item-1',
                filter: {
                    type: 'by_system',
                    value: 'all',
                },
                time_filter: {},
            }
        },
        computed: {
            time_range() {
                return {
                    start: moment().subtract(7, 'd').format(),
                    end: moment().format(),
                }
            }
        },
        methods: {
            nav_link(path): string {
                const self = this as any;
                if (self.position_id) {
                    return `/p/${self.position_id}/analytics/${path}`;
                } else {
                    return `/analytics/${path}`;
                }
            }
        }
    });
</script>
