<template>
    <div class="portal-wrapper container">
        <h2 class="company-name">
            <router-link :to="{name:'LandingPageHome'}" class="back">
                <i class="fa fa-arrow-left"></i>
                <span> {{currentCompanyLandingPage.name}}</span>
            </router-link>
        </h2>
        <div class="portal-content">
            <div class="company-container">
                <div class="company-header">
                    <img v-if="currentPortalLandingPage.appearance_logo"
                         :src="currentPortalLandingPage.appearance_logo" class="logo">
                    <h1 v-else>{{currentCompanyLandingPage.name}}</h1>
                </div>
            </div>
            <div class="position-container">
                <div class="position-header">
                    <h1>{{currentPositionView.title}}</h1>
                    <div class="type">
                        <ul class="meta">
                            <li class="type item" v-if="currentPositionView.position_type">
<!--                                <i class="fa fa-building"></i>-->
                                <span class="polygot">{{currentPositionView.position_type.title}}</span>
                                <span style="margin: 0px 5px" v-if="currentPositionView.location.title" class="label partTime">{{messages.SR_046_POSITION_SIMPLE_IN}}</span>
                            </li>
                            <li class="location item">
                                <div class="country">
                                    <i class="fas fa-map-marker-alt"></i>
                                    <span v-if="currentPositionView.state">{{currentPositionView.state}}, </span>
                                    <span>{{currentPositionView.location.title}}</span>
                                </div>
                                <div class="remote" v-if="currentPositionView.is_remote">
                                    <span class="spacer"> - </span>
                                    <i class="fa fa-wifi"></i>
                                    <span class="polygot">{{messages.SR_046_POSITION_REMOTE}}</span>
                                </div>
                            </li>
                            <li class="department item" v-if="currentPositionView.experience.title">
                                <span class="spacer"> - </span>
                                <i class="fa fa-graduation-cap"></i>
                                <span>{{currentPositionView.experience.title}}</span>
                            </li>
                            <li class="department item" v-if="currentPositionView.experience.title && currentPositionView.department">
                                 <span class="spacer"> - </span>
                            </li>
                            <li class="department item" v-if="currentPositionView.department">
                                <i class="fa fa-sitemap"></i>
                                <span>{{currentPositionView.department}}</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="job-description">
                    <div class="description">
                        <div v-html="currentPositionView.job_description.description"></div>
                    </div>
                </div>
            </div>
            <div class="apply-container">
                <ul class="apply-buttons apply-buttons-3">
                    <li class="apply-button">
                        <a href="" class="button blue">{{messages.SR_046_POSITION_APPLY_NOW_BTN}}</a>
                    </li>
<!--                    <li class="apply-button">-->
<!--                        <a href="#" onclick="openPopup(event)" class="button blue indeed">-->
<!--                            <img src="@/assets/image/indeed-icon.png">-->
<!--                            <span> {{messages.SR_047_BTN_INDEED_SIMPLE}}</span>-->
<!--                        </a>-->
<!--                    </li>-->
<!--                    <li class="apply-button">-->
<!--                        <a target="_self"-->
<!--                           href="https://app.breezy.hr/api/apply/linkedin?position_id=71a7b9691354"-->
<!--                           class="button blue linkedin">-->
<!--                            <i class="fa fa-linkedin-square"></i>-->
<!--                            <span> {{messages.SR_047_BTN_LINKEDIN_SIMPLE}}</span>-->
<!--                        </a>-->
<!--                    </li>-->
                </ul>
            </div>
            <div class="portal-footer">
                <div class="footer-container">
                    <a href="/">
                        <span class="label">{{messages.SR_046_FOOTER_LABLE_1}}</span>
                        <span class="brand">{{messages.SR_046_FOOTER_LABLE_2}}</span>
                    </a></div>
            </div>
        </div>
    </div>
</template>

<script>
    import {mapGetters,mapActions} from 'vuex'
    export default {
        name: "SimplePositionsPage",
        computed: {
            ...mapGetters([
                'currentPortalLandingPage',
                'currentCompanyLandingPage',
                'currentPositionLandingPage',
                'convertLinkToEmbedLink',
                'currentPositionView',
                'currentPage,'
            ]),
        },
        mounted(){
            let that = this
            let name_route = that.$route.name
            that.setPositionView(that.$route.params['position_id'])
            that.checkCurrentNamePage(name_route)
        },
        methods:{
            ...mapActions([
                'getCompanyLandingPagebySlug',
                'getPortalLandingPage',
                'getPositionsPublishLandingPage',
                'setPositionView',
                'checkCurrentNamePage',
            ]),
        }
    }
</script>

<style scoped lang="scss">
    .portal-wrapper{
        max-width: 700px;
        margin: 70px auto;
        .company-name{
            a{
                text-decoration: unset;
                color: #8d9aa5;
            }
            &:hover{
                color: #5d6b76;
            }
        }
        .company-container {
            margin-bottom: 40px;
            .company-header img {
                max-width: 300px;
                max-height: 100px;
            }
        }
        .position-container {
            .position-header {
                h1 {
                    color: #5d6b76;
                    margin-bottom: 4px;
                }
                .type {
                    font-size: 16px;
                    margin-bottom: 4px;
                    color: #8d9aa5;
                    .item{
                        display: inline-block;
                        margin-right: 5px;
                        i{
                            margin-right: 5px;
                        }
                        .country{
                            display: inline-block;
                            margin-right: 5px;
                        }
                        .remote{
                            display: inline-block;
                        }
                        .spacer{
                            margin: 0px 5px;
                        }
                    }
                }
            }
            .job-description{
                .description{
                    img{
                        max-width: 550px;
                    }
                }
            }
        }
        .apply-container {

            .apply-buttons {
                &.apply-buttons-3 {
                    max-width: 450px;
                    margin: auto;
                    li {
                        margin-bottom: 10px;

                        a{
                            display: block;
                            text-align: center;
                            text-decoration: unset;
                            &.indeed img {
                                display: inline-block;
                                margin-right: 5px;
                                vertical-align: middle;
                                height: 12px;
                            }
                        }

                        &:nth-child(2n) {
                            padding-right: 5px;
                            width: 50%;
                            display: inline-block;

                        }

                        &:nth-child(3n) {
                            padding-left: 5px;
                            width: 50%;
                            display: inline-block;
                        }
                    }
                }
            }
        }
        .portal-footer{
            text-align: center;
            margin-top: 40px;
            margin-bottom: 20px;
            .footer-container{
                color: #8d9aa5;
                a{
                    cursor: pointer;
                    text-decoration: unset;
                    color: #8d9aa5;
                    &:hover{
                        color: #5d6b76 !important;
                    }
                    .label {
                        position: relative;
                        font-size: 12px;
                        top: -2px;
                    }
                    .brand {
                        margin-left: 5px;
                        font-size: 20px;
                        font-weight: 400;
                    }
                }
            }
        }
    }
</style>
