<template>
    <div>
        <div class="portal-wrapper">
            <div class="portal-content">
                <div class="company-container">
                    <div class="company-header">
                        <img id="nav-image" v-if="currentPortalLandingPage.appearance_logo"
                                 :src="currentPortalLandingPage.appearance_logo">
                        <h1 v-else>{{currentCompanyLandingPage.name}}</h1>
                        <div class="description" v-html="currentPortalLandingPage.description"></div>
                        <div class="videowrapper vimeo">
                            <iframe :src="convertLinkToEmbedLink" width="500" height="281" frameborder="0"
                                    webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen="">
                            </iframe>
                        </div>
                    </div>
                </div>
                <div class="positions-container">
                    <h1>{{messages.SR_046_POSITION_OPENING_SIMPLE}} {{currentCompanyLandingPage.name}}</h1>
                    <table class="positions">
                        <tbody>
                        <tr v-if="currentPositionLandingPage.length > 0"  @click="nextToPositionpage(position)" class="position" v-for="position in currentPositionLandingPage">
                            <td class="name">
                                <h2><a>{{position.title}}</a></h2>
                                <div class="mobile">
                                    <div class="type">
                                        <span class="label partTime">{{position.position_type.title}}</span>
                                        <span style="margin-left: 5px" v-if="position.location.title" class="label partTime">{{messages.SR_046_POSITION_SIMPLE_IN}}</span>
                                        <i class="fas fa-map-marker-alt"></i>
                                        <span v-if="position.state">{{position.state}}, </span>
                                        <span> {{position.location.title}}</span>
                                    </div>
                                </div>
                            </td>
                            <td class="apply-button-container">
                                <a  class="button blue">{{messages.SR_046_POSITION_APPLY_NOW_BTN}}</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="portal-footer">
                <div class="footer-container">
                    <a href="">
                        <span class="label">{{messages.SR_046_FOOTER_LABLE_1}}</span>
                        <span class="brand">{{messages.SR_046_FOOTER_LABLE_2}}</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
    import {mapGetters,mapActions} from 'vuex'
    export default {
        name: "simple",
        data(){
            return{

            }
        },
        computed: {
            ...mapGetters([
                'currentPortalLandingPage',
                'currentCompanyLandingPage',
                'currentPositionLandingPage',
                'convertLinkToEmbedLink',
            ]),
        },
        mounted(){
            let that = this as any
            let name_route = that.$route.name
            that.checkCurrentNamePage(name_route)
        },
        methods: {
            ...mapActions([
                'getCompanyLandingPagebySlug',
                'getPortalLandingPage',
                'getPositionsPublishLandingPage',
                'setPositionView',
                'checkCurrentNamePage',
            ]),
            nextToPositionpage(position){
                let that = this as any
                let router = {
                    name: `LandingPageDetailPosition`,
                    params: {
                        position_id: position.id,
                    },
                };
                that.$router.push(router)
            }
        }
    }
</script>
<style lang="scss">
    #landing-page .company-container{
        .description{
           img{
               max-width: 670px;
           }
        }
    }
</style>
<style scoped lang="scss">
    #nav-image {
        max-height: 40px;
        margin: 14px 10px;
    }
    .portal-wrapper {
        margin: 0 auto;
        max-width: 700px;
        .portal-content{
            margin: auto;
        }
        .company-container {
            margin-bottom: 40px;
            .description {
                margin-top: 20px;
                margin-bottom: 10px;
            }

        }
        .positions-container{
            table {
                width: 100%;
                tr {
                    cursor: pointer;
                    border-bottom: 1px solid #edeff0;
                    .name {
                        padding: 20px 0;
                        color: #8d9aa5;
                        .mobile i{
                            margin: 0 5px;
                        }
                    }
                    .apply-button-container{
                        text-align: right;
                        min-width: 125px;
                    }
                    a{
                        text-decoration: unset !important;
                    }
                }
            }
        }
        .portal-footer {
            text-align: center;
            margin-top: 40px;
            margin-bottom: 20px;
            a{
                text-decoration: unset;
                color: #8d9aa5;
                .lable{
                    font-size: 12px;
                    font-weight: 200;
                }
                .brand{
                    font-size: 20px;
                    margin-left: 5px;
                    font-weight: 400;
                }
                &:hover{
                    color: #5d6b76 !important;
                }
            }
        }
    }
</style>
