<template>
    <div :class="classSidebar">
        <!-- Header -->
        <div class="d-flex flex-nowrap align-items-center"
            :class="[currentCompany ? '' : 'blur', 'bk']">
            <a class="hamburger"
                href="#"
                @click="nav.open = !nav.open">
                <i v-if="nav.open" class="fa fa-chevron-left"></i>
                <i v-if="!nav.open" class="fa fa-chevron-right"></i>
            </a>
            <div v-if="nav.open" class="flex-grow-1">
                <h5 v-if="currentCompany"
                    class="text-light my-0 text-left">
                    {{ currentCompany.name }}
                </h5>
                <!--                <p class="text-left my-0">Hong Le Viet</p>-->
            </div>
            <div class="d-flex app-sidebar-control">
                <SidebarNotification/>
                <SidebarSettings v-bind:sidebar_collapse="!nav.open"/>
            </div>
        </div>
        <!-- Search and menu -->
        <div class="menu overflow-auto">
            <b-nav vertical fill>
                <b-nav-item v-if="nav.open" class="mb-4">
                    <b-form-input id="sidebarSearchBar" name="searchbox"
                                  type="search"
                                  placeholder="Tìm kiếm ứng viên"/>
                </b-nav-item>

                <b-nav-item v-if="!nav.open" id="sidebar-add-collapsed">
                    <b-dropdown no-caret variant="blue add-collapsed-button" drop-left>
                        <template slot="button-content">
                            <i class="fas fa-plus"></i>
                        </template>
                        <b-dropdown-item @click="showNewPositionModal">
                            <div><i class="fas fa-briefcase"></i></div>
                            <div>
                                <h5>Vị trí</h5>
                                <small>Add a new position</small>
                            </div>
                        </b-dropdown-item>
                        <b-dropdown-item @click="showAddCandidateModal">
                            <div><i class="fas fa-user-circle"></i></div>
                            <div>
                                <h5>Candidate</h5>
                                <small>Add a new candidate</small>
                            </div>
                        </b-dropdown-item>
                        <b-dropdown-item @click="showAddTaskModal">
                            <div><i class="fas fa-check-square"></i></div>
                            <div>
                                <h5>Tasks</h5>
                                <small>Add a new task</small>
                            </div>
                        </b-dropdown-item>
                    </b-dropdown>
                </b-nav-item>

                <b-nav-item to="/" exact>
                    <i class="fas fa-home"></i>
                    <span>Trang chủ</span>
                </b-nav-item>
                <b-nav-item to="/inbox" id="sidebar-inbox">
                    <i class="fas fa-envelope"></i>
                    <span>Hộp thoại</span>
                </b-nav-item>
                <b-nav-item to="/tasks" id="sidebar-task">
                    <i class="fas fa-check-square"></i>
                    <span>Công việc</span>
                    <createTask
                        :showModal="showModal"
                        @handleClose="showModal=false"
                        @createdTaskAssigee="createdTaskAssigeeSidebar">
                    </createTask>
                    <b-button class="nav-action"
                        variant="blue"
                        title="Thêm công việc"
                        @click="showAddTaskModal">
                        <i class="fas fa-plus"></i>
                    </b-button>
                </b-nav-item>
                <b-nav-item to="/calendar" id="sidebar-calendar">
                    <i class="fas fa-calendar-alt"></i>
                    <span>Lịch / Meetings</span>
                </b-nav-item>
                <b-nav-item to="/analytics" id="sidebar-report">
                    <i class="fas fa-chart-bar"></i>
                    <span>Báo cáo / Phân tích</span>
                </b-nav-item>
                <b-nav-item to="/positions">
                    <i class="fas fa-briefcase"></i>
                    <span>Vị trí</span>
                    <b-button class="nav-action" variant="blue" title="Thêm Vị trí" to="/positions/new">
                        <i class="fas fa-plus"></i>
                    </b-button>
                </b-nav-item>
                <template v-if="nav.open">
                    <b-nav-item v-for="position in sortedPosition" :to="`/p/${position.id}`" :key="position.id">
                        <span :class="{
                            'ml-4 fas fa-circle': true,
                            'text-success': position.status === 'published',
                            'text-info': position.status === 'draft',
                            'text-secondary': position.status === 'archived',
                        }"></span>&nbsp;
                        <small>{{position.title}}</small>
                    </b-nav-item>
                </template>

                <b-nav-item to="/candidates" id="sidebar-candidates">
                    <i class="fas fa-users"></i>
                    <span>Ứng viên</span>
                    <b-button class="nav-action" title="Thêm ứng viên" variant="blue"
                        @click="showAddCandidateModal">
                        <i class="fas fa-plus"></i>
                    </b-button>
                </b-nav-item>
                <template v-if="nav.open">
                    <b-nav-item v-for="ca in currentUser.candidate_star" :to="`/candidate/${ca.id}/details`" :key="ca.id">
                         <span class="ml-4 fas fa-star starred"></span>
                        <small> &nbsp; {{ca.name}}</small>
                    </b-nav-item>
                </template>
            </b-nav>
        </div>
    </div>
</template>

<style lang="scss" scoped>
    .starred {
        color: orange;
    }

    .nav-item {
        display: flex;
        flex-direction: column;
    }

    .nav-link {
        color: #aaa;
        transition: background-color 200ms, color 200ms;

        > i {
            width: 2em;
            text-align: center;
        }



        &.router-link-active, &:hover {
            color: white;
            background-color: #000;
        }
    }


    #sidebarSearchBar {
        background-color: var(--gray);
        transition: background-color 200ms;
        border: none;

        &:focus {
            background-color: white;
        }
    }

    .bk {
        transition: all 1s ease-out;
    }

    .blur {
        filter: blur(2px);
        color: red;
        opacity: 0.4;
    }
</style>

<script lang="ts">
    import Vue from 'vue';
    import SidebarSettings from './SidebarSettings.vue';
    import SidebarNotification from './SidebarNotification.vue';
    import {mapGetters, mapMutations, mapActions} from "vuex";
    import createTask from "../tasks/CreateTask.vue";
    import {messages} from "@/messages";
    import _ from 'lodash'
    export default Vue.extend({
        name: "Sidebar",

        components: {
            SidebarSettings,
            SidebarNotification,
            createTask
        },
        mounted(){
            // @ts-ignore
            this.getListPosition();
        },
        data() {
            return {
                nav: {
                    open: true,
                },
                showModal: false,
            }
        },
        computed: {
            // mix the getters into computed with object spread operator
            ...mapGetters([
                'currentUser',
                'currentCompany',
                'listPosition'
                // ...
            ]),
            sortedPosition(){
                let that = this as any;
                let arrayStatus = ['published', 'draft', 'closed', 'archived'];
                let positionByType = _.groupBy(that.listPosition, 'status');
                let arrayResult = [];
                arrayStatus.forEach((status)=>{
                    if (positionByType.hasOwnProperty(status)){
                        arrayResult = arrayResult.concat(positionByType[status]);
                    }
                })
                if (arrayResult.length > 10){
                    arrayResult = arrayResult.slice(0, 10);
                }
                return arrayResult;
            },
            classSidebar(): any {
                return {
                    "text-light": true,
                    "text-left": true,
                    "open": this.nav.open,
                    "app-sidebar": true,
                }
            }
        },
        methods: {
            ...mapMutations([
                'modals/showAddTask',
                'modals/showAddCandidate',
            ]),
            ...mapActions([
                'getListPosition',
                'setListPosition',
                'createdTasks'
            ]),
            createdTaskAssigeeSidebar(e){
                let that = this as any;
                e.task.add_log.push({
                    timeUpdate: e.task.createdAt,
                    title: messages.SR_009_CREATED_TASK ,
                });
                that.createdTasks(e)
            },
            showAddTaskModal(event): void {
                let that = this as any;
                event.preventDefault();
                that.showModal = true;
            },

            showAddCandidateModal(event): void {
                event.preventDefault();// chan trigger cua nav-link cua menu
                this['modals/showAddCandidate'](true);
            },

            showNewPositionModal(event): void {
                event.preventDefault();
                this.$router.push({name: 'NewPosition'});
            }
        },
    })
</script>
