<template>
    <div class="d-flex flex-column" style="height: 100%">
        <header class="flex-shrink-0 p-3">
            <div class="d-flex justify-content-between">
                <!-- Left buttons -->
                <div class="d-flex">
                    <!-- Filter -->
                    <b-button
                        @click="filterNav.open = !filterNav.open"
                        class="mx-3 text-secondary"
                        style="background: #E9ECEF; height: 30px;"
                    >
                        <i class="fas fa-filter"></i>
                        <template v-if="filterNav.open">
                            <i class="fas fa-angle-left"></i>
                        </template>
                        <template v-else>
                            <i class="fas fa-angle-right"></i>
                        </template>
                    </b-button>
                    <!-- Position filter -->
                    <CandidateTypeDropdown v-model="candidateType"/>

                    <!-- Column checkboxes -->
                    <CandidateColumnFilterDropdown v-model="column_filters"/>

                    <!-- Number of candidates -->
                    <p
                        class="ml-3 my-0 text-secondary d-flex justify-content-start align-items-center"
                    > {{tableItems.length+' '+messages.SR_028_TOTAL_CANDIDATE_FILTER_LABEL}}</p>
                </div>
                <!-- Right buttons -->
                <div class="d-flex custom-candidate-actions">
                    <!-- More button -->
                    <b-dropdown :disabled="checkCandidates" variant="gray" text="More">
                        <b-dropdown-item>Gửi tin nhắn</b-dropdown-item>
                        <b-dropdown-item>Gửi câu hỏi</b-dropdown-item>
                        <b-dropdown-item>Đánh dấu ứng viên</b-dropdown-item>
                        <b-dropdown-item>Di chuyển ứng viên</b-dropdown-item>
                        <b-dropdown-item>Xuất ứng viên</b-dropdown-item>
                    </b-dropdown>
                    <!-- Trash button -->
                    <b-button class="mx-2" variant="gray" :disabled="checkCandidates" @click="showModalDeleteCandidate">
                        <i class="fas fa-trash"></i>
                    </b-button>
                    <!-- Messages button -->
                    <b-button class="mx-2" variant="gray" :disabled="checkCandidates">
                        <i class="fas fa-comments"></i>
                    </b-button>
                    <!-- Candidate email button -->
                    <b-button class="mx-2" variant="gray" disabled>
                        <i class="fas fa-envelope"></i>
                        <span class="candidate-actions-button-name">&nbsp;Email ứng viên</span>
                    </b-button>
                    <b-button class="mx-2" variant="blue" @click="addCandidate">
                        <i class="fas fa-plus"></i>
                        <span class="candidate-actions-button-name">&nbsp;Thêm ứng viên</span>
                    </b-button>
                </div>
            </div>
        </header>
        <!-- Task content -->
        <div class="d-flex flex-grow-1 flex-shrink-1 overflow-auto align-items-start">
            <!-- Left border -->
            <FilterColumn :open="filterNav.open" class="candidate-filters" @update="UpdateFilter"/>
            <!-- Right border -->
            <div class="p-3 flex-grow-1 overflow-auto" style="height: 100%">
                <div class="candidate-table-wrapper p-2 mx-0">
                    <!-- Table content -->
                    <b-form-checkbox-group v-model="row_check">
                        <b-table class="candidate-table"
                                 :tbody-tr-class="rowClass"
                                 v-on:row-clicked="tableItemClicked"
                                 hover :fields="tableFields" :items="tableItems"
                                 :busy="!loaded.candidate">
                            <template slot="table-busy">
                                <div class="d-flex align-items-center flex-column">
                                    <h3>Loading</h3>
                                    <b-spinner></b-spinner>
                                </div>
                            </template>


                            <!--CUSTOM OVERSCORE COLUMN-->
                            <template slot="overall_score" slot-scope="{item}">
                                    <span class="score" v-bind:class="showClass(item.overall_score.score)"
                                          v-if="item.overall_score.scored_count>0">
                                      {{item.overall_score.score}}
                                    </span>
                            </template>

                            <!-- CUSTOM CHECK COLUMN-->
                            <template slot="HEAD_selected">
                                <b-form-checkbox v-on:change="checkAll"></b-form-checkbox>
                            </template>
                            <template slot="selected" slot-scope="{ item }" class="custom-table-select">
                                <b-form-checkbox :value="item.id"></b-form-checkbox>
                            </template>

                            <!-- CUSTOM TAG COLUMN-->
                            <template slot="tags" slot-scope="{item}">
                                <ul class="ng-scope">
                                    <li class="tag ng-scope" v-for="it in item.tags" v-bind:key="it.id">
                                        <div class="tag">
                                            <i class="fa fa-tag"></i><span class="ng-binding"> {{it.name}}</span>
                                        </div>
                                    </li>
                                </ul>
                            </template>

                            <!--CUSTOM PHOTO COLUMN-->
                            <template slot="profile_photo_url" slot-scope="{item}">
                                <avatar :size="50" :username="item.name" :src="item.photoURL"></avatar>
                            </template>

                            <!--CUSTOM CV COLUMN-->
                            <template slot="resume" slot-scope="{item}">
                                <a :href="item.resume.url" target="_blank" class="ng-scope" v-if="item.resume.url !=''">
                                    <i class="fas fa-cloud-download-alt"></i><span> {{messages.SR_028_COLUMN_DOWNLOAD_LABEL}}</span>
                                </a>
                            </template>

                            <!--CUSTOM CREATE AT-->
                            <template slot="HEAD_createdAt">
                                <i class="fas fa-clock"></i>
                            </template>
                            <template slot="HEAD_updatedAt">
                                <i class="fas fa-bolt"></i>
                            </template>

                            <!--CUSTOM-BOOKMARK-->
                            <template slot="HEAD_bookmark"></template>
                            <template slot="bookmark" slot-scope="{item}">
                                <a @click="starCandidate(item.id,item.name)">
                                    <i class="fas bookmark fa-star" :class="{
                                           'starred':checkStarCandidate(item.id)
                                    }"></i>
                                </a>
                            </template>
                        </b-table>
                    </b-form-checkbox-group>
                    <ConfirmDeleteCandidate :showModal="show_confirm_delete" v-on:handleClose="noDeleteCandidate()"
                                            v-on:handleSaveChange="deleteCandidate()"></ConfirmDeleteCandidate>
                </div>
            </div>
        </div>
    </div>
</template>

<style lang="scss">
    @import "~styles/candidate";

    .avatarCircle {
        color: #ffffff;
        background: #30a6d1;
        border-radius: 50%;
    }

    span.score.good {
        background-color: #76d691;
        color: #fff;
    }

    span.score.neutral {
        background-color: #f5d44f;
        color: #fff;
    }

    span.score.poor {
        background-color: #e15258;
        color: #fff;
    }

    span.score {
        width: 22px;
        height: 22px;
        border-radius: 44px;
        display: inline-block;
        padding: 0px 0;
        font-size: 11px;
        text-align: center;
        margin-left: 5px;
        line-height: 21px;
        border: none;
        color: #fff;
    }

    .tag {
        border-radius: 4px;
        font-size: 10px;
        white-space: nowrap;
        background: #eee;
        padding: 2px 4px;
        border-radius: 3px;
        font-size: 12px;
        display: inline-block;
        margin-right: 2px;
        line-height: 12px;
    }
</style>


<script lang="ts">
    import Vue from "vue";
    import avatar from 'vue-avatar';
    import CandidateTypeDropdown from "@/components/Candidate/CandidateTypeDropdown.vue";
    import CandidateColumnFilterDropdown from "@/components/Candidate/CandidateColumnFilterDropdown.vue";
    import FilterColumn from "@/components/FilterColumn/FilterColumn.vue";
    import CandidateColumnFilter from "@/components/Candidate/CandidateColumnFilter";
    import Candidate from "@/models/Candidate";
    import ModalWrapper from "@/components/ModalWrapper.vue";
    import {mapMutations, mapActions, mapGetters} from 'vuex';
    import {Component, Prop, Watch} from "vue-property-decorator";
    import moment from 'moment';
    import _ from "lodash";
    import ConfirmDeleteCandidate from "@/components/modals/Candidate/ConfirmDeleteCandidate.vue";
    import User from '@/models/User';


    @Component({
        components: {
            CandidateTypeDropdown,
            CandidateColumnFilterDropdown,
            FilterColumn,
            ModalWrapper,
            avatar,
            ConfirmDeleteCandidate,
        },
        methods: {
            ...mapMutations(['modals/showAddCandidate']),
            ...mapActions([
                'getCandidates',
                'setUser',
            ]),
        },
        computed: {
            ...mapGetters([
                'currentCandidates',
                'currentUser',
                'companyUsers',
            ]),
        }
    })
    export default class CandidatePage extends Vue {
        @Prop({default: null})
        position_id: string | null;

        loaded = {
            candidate: false,
        };
        filterNav = {
            open: true,
        };
        candidates = [] as Candidate[];
        candidateType = "";
        column_filters = {...CandidateColumnFilter};
        row_check = [] as string[];
        show_confirm_delete = false;
        sqlFilter = "";

        addCandidate(): void {
            this['modals/showAddCandidate'](true);
        }

        reset(ev: Event): void {
            ev.preventDefault();
        }

        showModalDeleteCandidate(): void {
            let that = this as any;
            that.show_confirm_delete = true;
        }

        noDeleteCandidate(): void {
            let that = this as any;
            that.show_confirm_delete = false;
        }

        UpdateFilter(newValue): void {
            let that = this as any;
            that.sqlFilter = newValue;

        }

        async deleteCandidate(): Promise<void> {
            let that = this as any;

            //alert(JSON.stringify(that.row_check));
            if (that.row_check.length > 0) {
                that.row_check.forEach(async function (id) {

                    var delete_candidate = _.find(that.candidates, function (o) {
                        return o.id == id;
                    }) as Candidate;

                    await delete_candidate.delete().then(async result => {
                        that.show_confirm_delete = false;

                        await that.companyUsers.forEach(async function (user) {

                            var indexID = user.candidate_star.findIndex(u => u.id === id);
                            if (indexID !== -1) {
                                console.log(user);
                                user.candidate_star.splice(indexID, 1);
                                await user.update().then(result => {

                                }).catch(err => {
                                    console.log(err);
                                })
                            }
                        });

                    }).catch(err => {
                        console.log(err);
                    })

                });
            }
        }

        checkAll(checked: boolean): void {
            if (checked)
                this.row_check = this.candidates.map(c => c.id);
            else
                this.row_check = [];
        }

        async loadCandidates(): Promise<void> {
            const that = this as any;
            that.candidates = [];
            if (that.position_id) {
                // load by position here
                // replace code under
                const loadedCandidates = await Candidate.instance.getAllCandidates();
                that.candidates = that.candidates.concat(loadedCandidates);
            } else {
                await that.getCandidates().then(result => {
                        that.candidates = that.currentCandidates;
                        console.log(that.currentCandidates);
                    }
                ).catch(err => {
                    console.log(err);
                })
            }
            that.loaded.candidate = true;
        }

        photoLink(candidate: Candidate): string {
            console.log(candidate);
            return candidate.profile_photo_url
                || "https://ui-avatars.com/api/?name=" + candidate.name.slice(0, 1) + '&size=64&background=c00&color=fff';
        }

        tableItemClicked(item: Candidate): void {
            console.log(item);
            this.$router.push(`/candidate/${item.id}`);
        }

        rowClass(item, type): string {
            if (!item) return;
        }

        checkStarCandidate(candidate_id: string) {
            let that = this as any;
            let flag = false;
            if (that.currentUser.candidate_star) {
                const indexID = that.currentUser.candidate_star.findIndex(u => u.id == candidate_id);
                if (indexID !== -1) {
                    flag = true;
                }
            }
            return flag;
        }

        starCandidate(candidate_id: string, candidate_name: string) {

            const data_candidate = {
                id: candidate_id,
                name: candidate_name
            };

            let that = this as any;
            if (that.currentUser) {
                if (that.currentUser.candidate_star) {
                    const indexID = that.currentUser.candidate_star.findIndex(u => u.id == candidate_id);
                    if (indexID !== -1) {
                        that.currentUser.candidate_star.splice(indexID, 1);
                    } else {
                        that.currentUser.candidate_star.push(data_candidate);
                    }

                } else {
                    that.currentUser.candidate_star = [];
                    that.currentUser.candidate_star.push(data_candidate);
                }

                that.currentUser.update().then(result => {

                }).catch(err => {
                    console.log(err);
                })
            }
        }

        showClass(score_num: any): string {
            let that = this;
            let class_css = 'good';

            if (score_num < 0) {
                class_css = 'poor';
            } else if (score_num == 0) {
                class_css = 'neutral';
            }

            return class_css;
        }

        @Watch('sqlFilter')
        onPropertyChanged(value: any, oldValue: any) {
            // Do stuff with the watcher here.
            let that = this as any;
            if (value.candidate_name != '') {
                that.candidates = that.candidates.filter(row => row.name.toLowerCase().includes(value.candidate_name.toLowerCase().trim()) === true);
            } else {
                that.candidates = that.currentCandidates;
            }

        }
        // COMPUTED
        get tableItems(): any[] {

            let that = this as any;
            var table_data = [] as any;

            if ((that.candidateType != "") && (that.candidateType != "all")) {

                if (that.candidateType == "starred") {
                    table_data = _.filter(that.candidates, function (o) {
                        let index = that.currentUser.candidate_star.findIndex(u => u.id === o.id);

                        return (index !== -1);
                    });

                }

                if (that.candidateType == "unseen") {
                    table_data = _.filter(that.candidates, function (o) {
                        return !o.seen;
                    });

                }


                if (that.candidateType == "mine") {
                    const userid = that.currentUser.id;

                    table_data = _.filter(that.candidates, function (o) {

                        return ((o.assignee_id != "") && (userid == o.assignee_id));
                    });

                }

                if (that.candidateType == "new") {
                    var today = moment();
                    var monday = moment().day(8);
                    table_data = _.filter(that.candidates, function (o) {
                        let createday = moment(o.createdAt);
                        if (monday.diff(createday, 'days') <= 8) {
                            return o;
                        }
                        ;
                    });

                }

                return [...table_data.map((v: any) => ({
                    ...v,
                    stage: v.stage.name,
                    overall_score: v.overall_score,
                    source: v.source.name,
                    resume: v.resume,
                    createdAt: moment(v.createdAt).fromNow(),
                    updatedAt: moment(v.updatedAt).fromNow(),
                    position: v.position.name,
                    location: v.position.location.name,
                    tags: v.tags,

                }))];


            } else {

                table_data =
                    [...that.candidates.map((v: any) => ({
                        ...v,
                        stage: v.stage.name,
                        overall_score: v.overall_score,
                        source: v.source.name,
                        resume: v.resume,
                        createdAt: moment(v.createdAt).fromNow(),
                        updatedAt: moment(v.updatedAt).fromNow(),
                        position: v.position.name,
                        location: v.position.location.name,
                        tags: v.tags,

                    }))];
            }


            return  table_data;
        }

        get checkCandidates(): boolean {
            let that = this as any;
            let flag = true;

            if (that.row_check.length > 0) {
                flag = false;
            }
            return flag;
        }

        get tableFields(): any[] {
            return Object.keys(this.column_filters)
                .reduce((fields: any[], filter: any) => {
                        if (this.column_filters[filter].check) {
                            return [
                                ...fields,
                                {
                                    key: filter,
                                    label: this.column_filters[filter].text,
                                    sortable: this.column_filters[filter].sort,
                                    disabled: this.column_filters[filter].disabled,
                                }
                            ];
                        } else {
                            return fields;
                        }
                    },
                    ["selected"]
                );
        }

        // HOOK

        mounted() {
            let that = this;
            that.candidateType = "";
            that.show_confirm_delete = false;
            that.loadCandidates().catch(err => {
                console.log(err);
            });



        }
    }
</script>
