@import "styles/constants";
@import "styles/app_color";
@import "styles/custom_dropdown";
@import "styles/nav_item";
@import "styles/breezy_modal";
@import "styles/defaults_controls";
@import "styles/default_types";
//@import "styles/position_activity";
@import "styles/stream";
@import "styles/sidebar";


body {
    height: 100vh;
    //overflow-x: auto;
    //overflow-y: hidden;
}

.app {
    display: flex;
    flex-direction: row;
    height: 100%;

    &-content {
        flex: 1 1 auto;
        //overflow: auto;
    }
}

.user_sign  .editr--content {
    max-height: 200px;
}

.modal-header h5.modal-title {
    font-size: 24px;
    font-weight: 400;
    line-height: 1.5;
}
.messages-template .editr--content {
    max-height: 200px;
}

b, strong {
    font-weight: bold !important;
}