<template>
    <div class="tabs-container">
        <b-nav vertical class="tabs">
            <b-nav-item v-for="item, index in menu"
                        :class="navClass(item.to)" :to="item.to" :key="index">
                <i :class="'fas fa-' + item.icon"></i>
                <span>{{item.title}}</span>
            </b-nav-item>
        </b-nav>
    </div>
</template>

<style lang="scss" scoped>
    @import "~styles/app_screen_sizes";
    @media screen and (max-width: $mobile_max) {
        .tabs {
            flex-direction: unset !important;
        }

        .breezy-nav-item i,
        .breezy-nav-item .router-link-exact-active i {
            background: none;
            border: none;
            color: inherit;
        }
    }
</style>

<script lang="ts">
    import Vue from 'vue';

    export default Vue.extend({
        data() {
            return {
                menu: [
                    {
                        icon: 'book',
                        title: 'Detail',
                        to: 'details',
                    },
                    {
                        icon: 'file-alt',
                        title: 'Resume',
                        to: 'resume',
                    },
                    {
                        icon: 'briefcase',
                        title: 'Experience',
                        to: 'experience',
                    },
                    {
                        icon: 'paperclip',
                        title: 'Attachments',
                        to: 'attachments',
                    },
                    {
                        icon: 'comments',
                        title: 'Team Discussion',
                        to: 'discussion',
                    },
                    {
                        icon: 'pen',
                        title: 'Notes',
                        to: 'notes',
                    },
                    {
                        icon: 'thumbs-up',
                        title: 'Scorecard',
                        to: 'scorecard',
                    },
                    {
                        icon: 'envelope',
                        title: 'Email',
                        to: 'email',
                    },
                    {
                        icon: 'check-square',
                        title: 'Tasks',
                        to: 'tasks',
                    },
                    {
                        icon: 'list',
                        title: 'Questionnaires',
                        to: 'questionnaires',
                    },
                    {
                        icon: 'calendar-alt',
                        title: 'Calendar',
                        to: 'calendar',
                    },
                    {
                        icon: 'certificate',
                        title: 'References',
                        to: 'references',
                    },
                    {
                        icon: 'clipboard-check',
                        title: 'Assessments',
                        to: 'assessments',
                    },
                ]
            };
        },
        methods: {
            navClass(path: string): string {
                const active = path === this.$route.path.split('/').pop() ? "activeTab" : "";
                return `breezy-nav-item tab${path} ${active}`;
            },
        },
    })
</script>
