<template>
    <nav>
        <ul>
            <li v-for="(item, idx) in menu" :key="idx"
                :class="{active: item.to === activePath}"
                @click="choose(item.to)">
                <span>{{item.title}}</span>
            </li>
            <li class="other-tab" :class="{active: inOtherTab}">
                <span><span style="padding-bottom: 0">More </span><i class="fa fa-caret-down"></i></span>
                <div class="tab-subnav">
                    <ul>
                        <li @click="choose(item.to)" v-for="(item, idx) in menu_more"
                            :class="{active: item.to === activePath}"
                            :key="idx">
                            <i :class="`fas fa-${item.icon}`"></i>
                            <span>&nbsp;{{item.title}}</span>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </nav>
</template>

<script lang="ts">
    import Vue from 'vue';

    export default Vue.extend({
        data() {
            return {
                menu: [
                    {
                        title: 'Detail',
                        to: 'details',
                    },
                    {
                        title: 'Experience',
                        to: 'experience',
                    },
                    {
                        title: 'Resume',
                        to: 'resume',
                    },
                    {
                        title: 'Attachments',
                        to: 'attachments',
                    },
                    {
                        title: 'Questionnaires',
                        to: 'questionnaires',
                    },
                ],
                menu_more: [
                    {
                        icon: 'certificate',
                        title: 'References',
                        to: 'references',
                    },
                    {
                        icon: 'clipboard-check',
                        title: 'Assessment',
                        to: 'assessments',
                    }
                ],
            };
        },
        computed: {
            activePath(): string {
                return (this.$route.query.left as string) || this.$route.path.split('/').pop();
            },
            inOtherTab(): boolean {
                return this.menu_more.some(v => {
                    return v.to === this.activePath;
                });
            },
        },
        methods: {
            choose(to: string): void {
                this.$router.push({
                    path: to,
                    query: this.$route.query,
                });
            },
        }
    })
</script>
