<template>
    <div class="candidate-modal-view-container">
        <div class="candidate-view-container" v-if="candidate">
            <div class="candidate-modal candidate-main">
                <div class="candidate-header">
                    <div class="candidate-header-actions">
                        <ul class="actions">
                            <li class="action">
                                <b-button variant="blue" @click="scheduleInterview">
                                    <i class="fas fa-calendar-alt"></i>
                                </b-button>
                            </li>
                            <li class="action">
                                <b-dropdown variant="blue" split @click="showEmailModal">
                                    <template slot="button-content">
                                        <i class="fas fa-envelope"></i>&nbsp;
                                        Send Email
                                    </template>
                                    <b-dropdown-item @click="showSendQuestionnaireModal">Send Questionnaire
                                    </b-dropdown-item>
                                    <b-dropdown-item @click="showSendAssessmentModal">Send Assessment</b-dropdown-item>
                                </b-dropdown>
                            </li>
                        </ul>
                        <ul class="actions">
                            <li class="action">
                                <!-- TODO: handle this dropdown -->
                                <b-dropdown variant="gray" no-caret v-tooltip="'Change state'">
                                    <template slot="button-content">
                                        <i class="fas fa-arrows-alt-h"></i>
                                    </template>
                                    <b-dropdown-item>Test</b-dropdown-item>
                                    <b-dropdown-item>Replace this</b-dropdown-item>
                                </b-dropdown>
                            </li>
                            <li class="action">
                                <!-- TODO: handle this dropdown -->
                                <b-dropdown variant="gray" no-caret v-tooltip="'Assign'">
                                    <template slot="button-content">
                                        <i class="fas fa-user-plus"></i>
                                    </template>
                                    <b-dropdown-item>Test</b-dropdown-item>
                                    <b-dropdown-item>Replace this</b-dropdown-item>
                                </b-dropdown>
                            </li>
                            <li class="action">
                                <b-button variant="gray" @click="" v-tooltip="'Move position'">
                                <span class="move-icon">
                                    <i class="fa fa-file"></i>
                                    <i class="fas fa-long-arrow-alt-right"></i>
                                </span>
                                </b-button>
                            </li>
                            <li class="action">
                                <b-dropdown variant="gray" text="More">
                                    <b-dropdown-item>Copy Candidate</b-dropdown-item>
                                    <b-dropdown-item>Add Task</b-dropdown-item>
                                    <b-dropdown-item>Print Candidate</b-dropdown-item>
                                    <b-dropdown-item>Share Candidate</b-dropdown-item>
                                    <b-dropdown-item>Set Reminder</b-dropdown-item>
                                    <b-dropdown-item>Delete</b-dropdown-item>
                                </b-dropdown>
                            </li>
                        </ul>
                        <ul class="actions">
                            <li class="action">
                                <b-button variant="gray" v-tooltip="'Follow Candidate'" :class="{following: doIFollow}">
                                    <i class="fas fa-rss"></i>
                                </b-button>
                            </li>
                            <li class="action">
                                <b-button variant="gray">
                                    <i class="fas fa-thumbs-up" v-if="isGood"></i>
                                    <i class="fas fa-thumbs-down" v-else-if="isPoor"></i>
                                    <i class="fas fa-circle" v-else></i>
                                    <span>&nbsp;Your Scorecard</span>
                                </b-button>
                            </li>
                        </ul>
                    </div>
                    <div class="candidate-avatar-wrap">
                        <avatar class="avatar xl color2" :size="64" :username="candidate.name" :src="candidate.photoURL"></avatar>
                    </div>
                    <div class="candidate-info">
                        <h1 class="name">
                            {{candidate.name}}
                            <i class="star fa fa-star" :class="{starred: candidate.starred}" @click="starCandidate"></i>
                        </h1><!-- ngIf: ::position.is_admin -->
                        <ul class="contact-points" v-if="currentUser.role = 'admin'">
                            <li class="candidate-detail-item phone-number"
                                :class="candidate.phone ? 'is-set' : 'not-set'">
                                <a class="is-set" :href="`tel:${candidate.phone}`" target="_blank">
                                    <i class="fa fa-phone"></i>
                                    <span> {{candidate.phone}}</span>
                                </a>
                                <a class="not-set" href="#" @click="openEditCandidate()">
                                    <i class="fa fa-plus"></i>
                                    <span> Add phone number</span>
                                </a>
                            </li>
                            <li class="candidate-detail-item email-address"
                                :class="candidate.email_address ? 'is-set' : 'not-set'">
                                <a class="is-set" :href="`mailto:${candidate.email_address}`" target="_blank">
                                    <i class="fa fa-envelope"></i>
                                    <span class="ng-binding">&nbsp;{{candidate.email_address}}</span>
                                </a>
                                <a class="not-set" href="#" @click="openEditCandidate()">
                                    <i class="fa fa-plus"></i>
                                    <span>&nbsp;Add email address</span>
                                </a>
                            </li>
                        </ul>
                        <ul class="candidate-stage">
                            <li class="split-hide">
                                <span>Stage: </span>
                                <span class="heavy stage applied">Default</span>
                            </li>
                            <li v-if="candidate.sourced_by" class="ng-scope">
                                <span>Added by: </span>
                                <span class="heavy sourced-by-name ng-binding">Hong Le Viet</span>
                            </li>
                        </ul>
                        <ul class="candidate-tags ng-scope inactive" :class="showAddTags ? 'active' : 'inactive'"
                            v-if="currentUser.role === 'admin'"><!-- ngRepeat: tag in candidate.tags track by $index -->
                            <li>
                                <a class="add" href="#" @click="openAddTags()">
                                    <i class="fa fa-plus"></i>
                                    <span> Add tag</span>
                                </a>
                            </li>
                        </ul><!-- end ngIf: ::position.is_admin --></div>

                </div>
                <div class="candidate-actions">
                    <div class="section" v-if="isMyPosition">
                        <ul class="actions">
                            <!--CHANGE STATE-->
                            <li class="action">
                                <b-dropdown variant="blue" class="custom-dropdown">
                                    <template slot="button-content">
                                        <i class="fas fa-arrows-alt-h"></i>
                                        <span>&nbsp;Change state</span>
                                    </template>
                                    <b-dropdown-item>Test</b-dropdown-item>
                                    <b-dropdown-item>Replace this</b-dropdown-item>
                                </b-dropdown>
                            </li>
                            <!--SCHEDULE INTERVIEW-->
                            <li class="action" v-if="candidate.email_address">
                                <b-button variant="gray" type="button" @click="scheduleInterview()">
                                    <i class="fa fa-calendar-alt"></i>
                                    <span>&nbsp;Schedule Meeting</span>
                                </b-button>
                            </li>
                            <!--SEND EMAIL-->
                            <li class="action" v-if="candidate.email_address">
                                <b-button variant="gray" type="button" @click="showEmailModal()">
                                    <i class="fa fa-envelope"></i>
                                    <span>&nbsp;Send Email</span>
                                </b-button>
                            </li>
                        </ul>
                    </div>
                    <div class="section">
                        <ul class="actions">
                            <li class="action">
                                <b-button variant="gray" type="button" @click="openPostNote">
                                    <i class="fa fa-comments"></i>
                                    <span>&nbsp;Team Message</span>
                                </b-button>
                            </li>
                            <li class="action">
                                <b-button variant="gray"
                                          @click="openCandidateScorecard"
                                        :class="{good: isGood, poor: isPoor, neutral: !(isGood || isPoor)}">
                                    <i class="fa fa-thumbs-up" v-show="isGood" style=""></i>
                                    <i class="fa fa-thumbs-down" v-show="isPoor"></i>
                                    <i class="fa fa-circle" v-show="!(isGood || isPoor)"></i>
                                    <span>&nbsp;Your Scorecard</span>
                                </b-button>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="candidate-content" style="min-height: 500px">
                    <CandidateModalSidebar></CandidateModalSidebar>
                    <div class="candidate-content-left">
                        <CandidateNavLeft></CandidateNavLeft>
                        <keep-alive>
                            <router-view name="modal_child" class="content-section"></router-view>
                        </keep-alive>
                    </div>
                    <CandidateRight class="candidate-content-right"></CandidateRight>
                </div>
            </div>
        </div>
        <b-modal id="add-email" title="Add Email"></b-modal>
        <b-modal id="add-phone" title="Add Phone"></b-modal>
    </div>
</template>

<style lang="scss">
    @import "~styles/candidate_view";
</style>


<script lang="ts">
    import Vue from "vue";
    import avatar from 'vue-avatar';

    import {mapGetters, mapMutations} from "vuex";
    import Candidate from "@/models/Candidate";
    import CandidateModalSidebar from "@/components/modals/Candidate/CandidateModalSidebar.vue";
    import CandidateNavLeft from "@/components/modals/Candidate/CandidateNavLeft.vue";
    import CandidateRight from "@/components/modals/Candidate/CandidateRight.vue";
    // import "@/assets/candidate_info_modal.js";

    export default Vue.extend({
        props: {},
        components: {
            CandidateModalSidebar,
            CandidateNavLeft,
            CandidateRight,
            avatar,
        },
        data() {
            return {
                candidate: null as Candidate | null,
            };
        },
        computed: {
            // mix the getters into computed with object spread operator
            ...mapGetters([
                "currentUser",
                "currentCompany"
                // ...
            ]),
            candidate_id(): string {
                return this.$route.params.candidate_id;
            },
            doIFollow(): boolean {
                return 1 + 1 == 2;
            },

            isGood(): boolean {
                return true;
            },

            isPoor(): boolean {
                return false;
            },

            showAddTags(): boolean {
                return true;
            },

            isMyPosition(): boolean {
                // TODO: handle this
                return true;
            }
        },
        mounted() {
            // this.candidate = this.$store.getters.getCandidate(this.candidate_id);

            // temp data

            // @ts-ignore
            this.candidate = {
                name: "Dinh Tung",
                // @ts-ignore
                email: "gmaail@tung.com",
                // @ts-ignore
                phone: null,
                photo: null,
                starred: true,
            };

            this.$emit("changeMaxWidth", 1200);
        },
        methods: {

            showEmailModal(): void {
                (this as any).$bvModal.show('add-email');
            },

            scheduleInterview(): void {
                this.$store.commit("schedule_interviews/setOpen");
            },

            showSendQuestionnaireModal(): void {

            },

            showSendAssessmentModal(): void {

            },

            starCandidate(): void {

            },

            openPostNote(): void {

            },

            openCandidateScorecard(): void {

            },

            openEditCandidate(): void {
                (this as any).$bvModal.show('add-email');
            },
        },

        destroyed(): void {
            this.$emit("changeMaxWidth", 900);
            console.log('Destroyed');
        }
    });
</script>
