<template>
    <div>
        <nav>
            <ul>
                <li v-for="(item, idx) in menu" :key="idx"
                    :class="{active: item.to === activePath}"
                    @click="choose(item.to)">
                    <span>{{item.title}}</span>
                </li>
            </ul>
        </nav>
        <div class="content-section-wrapper">
            <keep-alive>
                <component :is="currentComponent" class="content-section"></component>
            </keep-alive>
        </div>
    </div>
</template>

<script lang="ts">
    import Vue from 'vue';
    import Router from '@/router';
    import Discussion from './Tab/Discussion.vue';
    import Calendar from './Tab/Calendar.vue';
    import EmailTab from './Tab/Email.vue';
    import ScorecardTab from './Tab/Scorecards.vue';
    import NotesTab from './Tab/Notes.vue';
    import TasksTab from './Tab/Tasks.vue';

    export default Vue.extend({
        data() {
            return {
                menu: [
                    {
                        title: 'Discussion',
                        to: 'discussion',
                    },
                    {
                        title: 'Calendar',
                        to: 'calendar',
                    },
                    {
                        title: 'Scorecards',
                        to: 'scorecards',
                    },
                    {
                        title: 'Notes',
                        to: 'notes',
                    },
                    {
                        title: 'Email',
                        to: 'email',
                    },
                    {
                        title: 'Tasks',
                        to: 'tasks',
                    },
                ],
            };
        },
        computed: {
            activePath(): string {
                if (this.$route.query.right) {
                    if (typeof this.$route.query.right === "object") {
                        return this.$route.query.right[0];
                    } else {
                        return this.$route.query.right;
                    }
                }
                return this.menu[0].to;
            },

            currentComponent(): any {
                switch (this.activePath) {
                    case "discussion":
                        return Discussion;
                    case "calendar":
                        return Calendar;
                    case "scorecards":
                        return ScorecardTab;
                    case "notes":
                        return NotesTab;
                    case "email":
                        return EmailTab;
                    case "tasks":
                        return TasksTab;
                    default:
                        this.choose(this.menu[0].to);
                }
            },
        },
        methods: {
            choose(to: string): void {
                this.$router.push({
                    query: {
                        ...this.$route.query,
                        right: to,
                    }
                });
            },
        },
    })
</script>
