@import "app_screen_sizes";

@media screen and (max-width: $tablet_max){
     .position-detail {
          &-top-menu {
               border-right: 1px solid lightgray;
               i {
                    display: inline-block;
               }
               .menu-title {
                    display: none;
               }
          }
     }
}
