// code under
@import "constants";

$collapse-size: 70px;
.app-sidebar {
     background-color: #292d32;
     width: 70px;
     flex-shrink: 0;
     transition: width 100ms;
     position: relative;
     display: flex;
     flex-direction: column;
     height: 100%;

     .nav-action {
          position: absolute;
          right: 1em;
          top: 50%;
          transform: translateY(-50%);
          padding: 0.25em 0.35rem;
          font-size: 0.75em;
     }

     &.open {
          width: 230px;
          .nav-action {
               display: none;
          }
     }

     &:not(.open) {
          .nav-action {
               display: none!important;
          }
          #sidebar-add-collapsed {
               display: block;
               margin: 0 auto;

               .add-collapsed-button {
                    font-size: 0.75em;
                    padding: 0.5em;
               }
          }
     }

     &:not(.open) &-control {
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          flex-direction: column;
          align-items: center;

          > div {
               padding: 1em 0;
          }
     }
     &:not(.open) .nav-link {
          padding-left: 0;
          padding-right: 0;
          margin: 0 auto;

          >span {
               display: none;
          }
     }

     .menu {
          overflow: auto;
          flex-grow: 1;
     }

     .menu i {
          font-size: 1.5em;
     }

     .btn.close-button .fas.fa-times {
          font-size: 16px;
     }
     .btn.nav-action i {
          font-size: 11px;
     }
}

#sidebar-add-collapsed {
     display: none;

     .dropdown-menu {
          left: $collapse-size !important;
          transform: unset !important;
          font-size: 0.8em;
     }

     .dropdown-item {
          display: flex;
          align-items: center;
          background-color: $background-color;
          padding: 0.5em;
          margin: 0.5em 0;
          > div {
               margin: 0.5em;
          }
     }
}



// code above
@import "sidebar.tablet";
@import "sidebar.mobile";
