@import "app_screen_sizes";

@media screen and (max-width: $mobile_max) {
     #sidebar-calendar,
     #sidebar-task,
     #sidebar-report,
     #sidebar-inbox {
          display: none;
     }

     .app-sidebar {
          position: absolute;
          width: $collapse-size;
          height: 100%;
          top: 0;
          left: 0;
          z-index: 999;

          &:not(.open) {
               .nav-action {
                    display: none;
               }
          }
     }
     .app-content {
          margin-left: $collapse-size;
     }
}
