@import "constants";

.custom-candidate-actions {
     .action {
          margin: 0 10px;
     }
}

.candidate {
     &-table {
          width: max-content;
          min-width: 100%;
          overflow: auto;
          td, th {
               padding-left: 1em;
               padding-right: 1em;
               height: 50px;
               line-height: 50px;
          }
          td:first-child, th:first-child { // select box
               padding-left: 1em;
               padding-right: 0;
          }

          i.bookmark.starred {
               color: orange;
          }

          //custom sort icon
          th[aria-sort]::after {
               // important for override bootstrap styles
               font-family: "Font Awesome 5 Free" !important;
               content: "" !important;
          }
          th[aria-sort][aria-sort=descending]::after {
               content: "\f0de" !important;
          }
          th[aria-sort][aria-sort=ascending]::after {
               content: "\f0dd" !important;
          }
     }
     &-table-wrapper {
          background-color: #f9fafa;
          overflow: auto;
          min-width: 800px;
          height: 100%;
     }
}

@import "candidate.tablet";
@import "candidate.mobile";
