@import "app_color";

.inbox-section {
    display: flex;
    flex-flow: row;
}

.inbox {
    &-list-column, &-candidate-info, &-detail-column {
        max-height: 100%;
        overflow-x: visible;
        overflow-y: auto;
        background-color: $default-bg-color;
    }
    &-list-column, &-candidate-info {
        width: 300px;
        max-width: 100%;
        flex: 0 0 auto;
        margin: 0 1em;
    }
    &-candidate-info {
        padding: 1em;
        min-height: 200px;
    }
    &-detail-column {
        flex: 1 1 auto;
        overflow-x: visible;
        overflow-y: auto;
    }
}

@import "inbox.tablet";
