@import "constants";

.panel-times {
     .ui-select-choices-row {
          position: relative;
     }
}

.current-time-line {
     &:after {
          border-top: 1px solid #ffbbbb;
          content: '';
          height: 1px;
          position: absolute;
          left: 0;
          width: 100%;
     }
}

@for $i from 1 through 14 {
     .current-time-line-#{$i}:after {
          top: 6.66% * $i;
     }
}


.interview-email-options {
     float: right;
     margin-top: -4px;
     font-size: 14px;

     input[type=checkbox] {
          margin-right: $margin / 2;
     }
}

.animate-bounce.ng-hide-remove {
     animation: tada 1s ease;
}

.interview-template-name-section {
     padding: $padding 0 $padding * 2;

     input {
          width: 100%;
     }
}

.schedule-interview-panel {
     background-color: #fff;
     //border-radius: $border-radius;
     //border-left: 10px solid $border-color;
     //border-right: 10px solid $border-color;
     //height: 100%;
     margin: 0 auto;
     //max-width: 1224px;
     max-height: 100%;
     //min-width: 900px;

     //width: 900px
     position: relative;

     .redactor-styles ul {
          margin-bottom: 16px;
     }

     .date-time table {
          thead {
               th {
                    font-weight: 400;
                    padding: 5px;

                    &[colspan="5"] {
                         padding: 5px 0;
                    }

                    button {
                         padding: 5px 8px;
                    }
               }
          }

          tbody {
               td {
                    .btn,
                    .btn.active {
                         background: none !important;
                         padding: 1px 0;
                         width: 38px;
                         text-align: center;

                         &:hover {
                              background: none !important;

                              span {
                                   background: #e6e6e6 !important;
                              }
                         }

                         span {
                              border-radius: 100%;
                              display: inline-block;
                              line-height: 26px;
                              height: 26px;
                              width: 26px;
                              transition: 200ms linear;

                              &.text-info {
                                   background-color: #e5f9ff;
                                   color: #68747e;
                              }
                         }
                    }

                    .btn.active {
                         span {
                              background-color: #e6e6e6;
                         }
                    }
               }
          }
     }

     .row {
          &.interview-options {
               align-items: center;
               width: 100%;
          }
     }

     .interview-templates {
          flex: 1;
          font-size: 12px;

          .dropdown {
               cursor: pointer;
               float: right;

               .dropdown-menu {
                    left: auto;
                    right: 0;
               }
          }
     }

     .column.time-zone {
          width: 300px;
     }

     .column {
          .timezone, .date-time {
               display: inline-block;
               vertical-align: middle;

               .form-control {
                    box-shadow: none;
               }
          }

          .timezone {
               width: 250px;

               ul {
                    li {
                         small {
                              font-size: $text-smaller;
                              color: $color-grey-light;
                         }
                    }
               }
          }
     }

     .availability {
          button.btn {
               padding: 6px 12px;
          }
     }

     .header {
          padding: 15px 20px;
     }

     .close {
          right: -10px;
     }

     .footer {
          display: flex;
          justify-content: space-between;

          .buttons {
               display: inline-block;
          }

          .btn {
               i {
                    margin-right: $margin / 2;
               }
          }

          .steps-container {
               display: inline-block;
               text-align: right;

               .steps {
                    display: inline-block;
                    margin-right: 15px;

                    li.step {
                         display: inline-block;
                         margin: 0 3px;
                         font-size: 14px;

                         &.complete {
                              color: $color-green;
                         }

                         &.active {
                              color: $color-green;
                         }

                         &.incomplete {
                              color: #edeff0;
                         }
                    }
               }
          }
     }

     form {
          height: 100%;
          max-height: 100%;

          .panel-times {
               width: 100%;

               .panel-time {
                    margin-bottom: $margin;
                    padding: $margin;
                    border: 1px solid $border-color;
                    border-radius: 4px;
                    background-color: #fafafa;

                    .avatar.sm:before {
                         line-height: 21px;
                    }

                    .row {
                         .column {
                              padding: 5px;

                              &:first-child {
                                   padding-left: 15px;
                              }

                              &:last-child {
                                   padding-right: 15px;
                              }

                              &.start-time {
                                   max-width: 120px;
                                   min-width: 120px;
                              }

                              &.duration {
                                   max-width: 100px;
                                   min-width: 100px;
                              }

                              &.interviewers {
                                   flex: 1;
                              }

                              &.location {
                              }

                              &.interview-guide {
                              }

                              &.column-align-middle {
                                   align-self: center;
                              }

                              &.location, &.interview-guide {
                                   width: 200px;
                              }

                              &.time {
                                   width: 100px;
                              }

                              &.description {
                                   width: 604px;
                              }

                              .section {
                                   margin-bottom: $margin;

                                   input[type=text], textarea {
                                        width: 100%;
                                   }

                                   textarea {
                                        height: 150px;
                                   }
                              }

                              /*.fc-header-toolbar
                                display: none*/
                              .fc {
                                   font-size: 13px;
                              }

                              .fc-time-grid {
                                   border-radius: 4px;

                                   .fc-slats td {
                                        height: 20px;
                                   }
                              }

                              span.option-label {
                                   display: inline-block;
                                   font-size: 14px;
                                   width: 150px;

                                   i {
                                        font-size: 12px;
                                        margin-left: 5px;
                                   }
                              }

                              .bzy-switch {
                                   margin-left: $margin;
                              }
                         }
                    }
               }
          }
     }

     .footer {
          background-color: $background-color-2;
          border-top: 1px solid $border-color;
          padding: 15px;

          .align-right {
               button {
                    margin-left: 10px;
               }
          }
     }

     .schedule-interview-info {
          width: 1224px;
          height: 100%;
     }

     .schedule-interview-panel-details {
          display: flex;
          flex-direction: column;
          width: 100%;
          height: 100%;
          max-height: 100%;
     }

     .row {
          display: flex;

          .column {
               padding: 15px;
          }
     }

     .panel-details {
          //max-height: 73vh
          overflow: auto;
          flex: 1 0 auto;
          padding: 0 20px 20px;

          a.add-interview {
               font-size: 14px;

               i {
                    margin-right: $margin/2;
               }
          }

          div.ng-invalid-invalidtime button,
          .error .participants-select {
               border-color: #eba2a5;
          }

          .participants-select {
               border: 2px solid $border-color;
               box-shadow: none;
               padding: 0 3px 3px 3px;
               min-height: 34px;

               input {
                    outline: none;
                    -webkit-box-shadow: none;
                    box-shadow: none;
                    border: none;
                    display: inline-block;
                    margin-top: 3px;
                    height: 24px;
                    padding: 3px 8px;
                    vertical-align: middle;
               }

               .ui-select-choices.ui-select-choices-content.dropdown-menu {
                    width: 200px;
               }

               .ui-select-multiple {
                    -webkit-box-shadow: none;
                    box-shadow: none;
                    padding: {
                    }
               }

               .ui-select-choices-row {
                    .user {
                         .avatar {
                              border: none;
                              width: 20px;
                              height: 20px;
                         }

                         .user-name {
                              margin-left: $margin / 2;
                              line-height: 24px;
                         }
                    }
               }

               .ui-select-match {
                    .ui-select-match-item {
                         margin-top: 3px;
                         position: relative;
                         padding: 1px 3px;
                         font-size: 12px;
                         line-height: 1.5;
                         border-radius: 3px;
                         margin-bottom: 0;
                         font-weight: 400;
                         text-align: center;
                         white-space: nowrap;
                         vertical-align: middle;
                         cursor: pointer;
                         border: 1px solid transparent;
                         display: inline-block;
                         //padding-right: 20px
                         &:hover {
                              border-width: 1px !important;
                         }

                         .close {
                              background-color: transparent;
                              display: inline;
                              line-height: 1em;
                              padding: 0;
                              position: static;
                              right: 0;
                         }
                    }
               }
          }

          .ui-select-match-item {
               color: #fff !important;
               font-size: 14px;
               background-color: #ccc;

               .ui-select-match-close {
                    color: #fff;
                    box-shadow: none;
                    text-shadow: none;
               }

               &.participant-freebusy:before {
                    font-family: "Font Awesome 5 Free";
                    content: '\f274';
                    display: inline-block;
                    min-width: 10px;
                    margin-right: 5px;
               }

               &.participant-1 {
                    background-color: $color-1;
               }

               &.participant-2 {
                    background-color: $color-2;
               }

               &.participant-3 {
                    background-color: $color-3;
               }

               &.participant-4 {
                    background-color: $color-4;
               }

               &.participant-5 {
                    background-color: $color-5;
               }

               &.participant-6 {
                    background-color: $color-6;
               }

               &.participant-7 {
                    background-color: $color-7;
               }

               &.participant-8 {
                    background-color: $color-8;
               }

               &.participant-9 {
                    background-color: $color-9;
               }

               &.participant-not-shared {
                    background-color: #ccc;
               }
          }
     }

     .calendar-view {
          //border-left: 1px solid $border-color
          height: 260px;
          overflow: hidden;

          .fc-view-container .fc-event {
               color: #fff;

               &.participant-1 {
                    background-color: $color-1;
                    border-color: $color-1;
               }

               &.participant-2 {
                    background-color: $color-2;
                    border-color: $color-2;
               }

               &.participant-3 {
                    background-color: $color-3;
                    border-color: $color-3;
               }

               &.participant-4 {
                    background-color: $color-4;
                    border-color: $color-4;
               }

               &.participant-5 {
                    background-color: $color-5;
                    border-color: $color-5;
               }

               &.participant-6 {
                    background-color: $color-6;
                    border-color: $color-6;
               }

               &.participant-7 {
                    background-color: $color-7;
                    border-color: $color-7;
               }

               &.participant-8 {
                    background-color: $color-8;
                    border-color: $color-8;
               }

               &.participant-9 {
                    background-color: $color-9;
                    border-color: $color-9;
               }

               &.participant-candidate {
                    background-color: #ccc;
                    border-color: #ccc;
               }
          }

          td.fc-axis.fc-time.fc-widget-content,
          th.fc-resource-cell,
          th.fc-axis.fc-widget-header {
               background-color: #fff;
          }
     }
}

.schedule-interview-new {
     background-color: #fff;
     border-radius: $border-radius;
     border-left: 10px solid $border-color;
     border-right: 10px solid $border-color;
     display: flex;
     height: 100%;
     margin: 0 auto;
     //padding: 20px
     max-width: 1224px;
     position: relative;

     .close {
          right: -10px;
     }

     .ui-select-bootstrap button {
          font-weight: 200;
          padding-right: 25px;
          overflow: hidden;
          text-overflow: ellipsis;
     }

     h3 {
          margin-bottom: $margin;
          margin-top: $margin * 3;
          font-weight: 400;

          i {
               margin-left: $margin / 2;
               font-size: 12px;
               opacity: .7;
          }
     }

     .section.schedule-step-participants {
          margin-top: 20px;
          padding-top: 20px;
          border-top: 1px solid $border-color;
     }

     .section {
          margin-bottom: 10px;

          textarea {
               width: 100%;
               height: 100px;
          }

          input[type=text] {
               width: 100%;
          }
     }
}

.schedule-interview-wrapper {
     display: flex;
     //max-height: 600px
     .header {
     }

     //-border-bottom: 1px solid $border-color
     .schedule-interview-details {
          border-right: 1px solid $border-color;
          display: flex;
          flex-direction: column;
          //padding: 20px
          //overflow: scroll
          //padding-right: $padding * 2
          //padding-bottom: 100px
          //position: relative
          //margin-right: $margin * 2
          width: 290px;

          .header {
               padding: 15px 20px;
          }

          .timezone-container {
               small.gmt {
                    display: inline-block;
                    font-size: 12px;
                    font-weight: 200;
               }

               p {
                    small {
                         opacity: .8;
                         font-size: 12px;
                         line-height: 1.2;
                    }
               }

               .row-item {
                    padding: 5px 0;
                    font-size: 12px;
                    //font-size: 12px
               }
          }

          //font-family: "Courier New", Courier

          .interviewguides-container .interviewguides {
               width: auto;
          }

          .scrollable {
               flex: 1;
               overflow: auto;
               padding: 20px;
          }

          .inline-section {
               .inline-header {
                    line-height: 22px;
                    font-size: 14px;
               }

               .bzy-switch {
                    float: right;
               }
          }

          label.record-video {
               margin-top: 3px;
               margin-left: 0;
               float: right;
          }

          div.footer {
               background-color: #fcfcfc;
               border-top: 1px solid $border-color;
               //margin: 0 0 -15px -20px
               padding: 15px 20px;

               button {
                    &.btn-blue {
                         margin-right: $margin;
                         width: 155px;
                    }

                    i {
                         margin-right: 5px;
                    }
               }
          }

          .datetime {
               display: inline-block;
               font-size: 14px;
          }

          //font-weight: 400

          .participant {
               font-size: 14px;

               &[class*="participant-"]:before {
                    border-radius: 100%;
                    content: '';
                    display: inline-block;
                    height: 10px;
                    width: 10px;
                    min-width: 10px;
               }

               &.participant-1:before {
                    background-color: $color-1;
               }

               &.participant-2:before {
                    background-color: $color-2;
               }

               &.participant-3:before {
                    background-color: $color-3;
               }

               &.participant-4:before {
                    background-color: $color-4;
               }

               &.participant-5:before {
                    background-color: $color-5;
               }

               &.participant-6:before {
                    background-color: $color-6;
               }

               &.participant-7:before {
                    background-color: $color-7;
               }

               &.participant-8:before {
                    background-color: $color-8;
               }

               &.participant-9:before {
                    background-color: $color-9;
               }

               &.participant-not-shared:before {
                    background-color: #ccc;
               }

               &[class*="participant-"]:before {
                    border-radius: 100%;
                    content: '';
                    display: inline-block;
                    height: 10px;
                    width: 10px;
                    min-width: 10px;
               }
          }
     }

     .schedule-interview-calendar {
          flex: 1;
          padding: 20px;
          position: relative;

          .duraction-select {
               text-align: right;
               position: absolute;
               top: 15px;
               right: 50px;
               width: 210px;

               span.inline-label {
                    margin-right: $margin;
                    font-size: 14px;
               }

               .dropdown {
                    width: 100px;
                    display: inline-block;
               }
          }

          .fc-view {
               font-size: 14px;
          }

          .fc-toolbar {
               margin-bottom: 15px;

               .fc-left h2 {
                    padding-top: 0;
               }

               .fc-center {
                    display: block;

                    h2 {
                         line-height: 1;
                         margin-left: 20px;
                    }
               }
          }

          .fc-time-grid .fc-slats td {
               height: 10px;
          }

          .fc-view-container .fc-widget-content {
               cursor: pointer;

               .fc-time-grid-event.fc-short .fc-time {
                    font-weight: normal;
                    font-size: .85em;
               }

               a.fc-event {
                    cursor: default;
                    margin-right: $margin;
                    margin-left: 0;

                    &.pending {
                         border-color: #76d691;
                         background-color: rgba(118, 214, 145, 0.8);

                         &:after {
                              content: '\f00d';
                              display: inline-block;
                              font-family: "Font Awesome 5 Free";
                              font-weight: 400;
                              font-size: 11px;
                              position: absolute;
                              top: 0;
                              right: 2px;
                         }
                    }
               }
          }

          .fc-view-container .fc-time.fc-widget-content {
               cursor: default;
          }

          .fc-day-header {
               font-size: 14px;
          }

          .fc-view-container .fc-event {
               color: #fff;

               &.pending {
                    //background-image: repeating-linear-gradient(45deg, #999, #999 10px, #aaa 10px, #aaa 20px)
                    border-color: #aaa;
               }

               //background-size: 20px 100%
               &.participant-1 {
                    background-color: $color-1;
                    border-color: $color-1;
               }

               &.participant-2 {
                    background-color: $color-2;
                    border-color: $color-2;
               }

               &.participant-3 {
                    background-color: $color-3;
                    border-color: $color-3;
               }

               &.participant-4 {
                    background-color: $color-4;
                    border-color: $color-4;
               }

               &.participant-5 {
                    background-color: $color-5;
                    border-color: $color-5;
               }

               &.participant-6 {
                    background-color: $color-6;
                    border-color: $color-6;
               }

               &.participant-7 {
                    background-color: $color-7;
                    border-color: $color-7;
               }

               &.participant-8 {
                    background-color: $color-8;
                    border-color: $color-8;
               }

               &.participant-9 {
                    background-color: $color-9;
                    border-color: $color-9;
               }

               &.participant-candidate {
                    background-color: #ccc;
                    border-color: #ccc;
               }
          }
     }
}

.schedule-interview {
     label.pseudo-dropdown {
          display: block;
          position: relative;

          span.caret {
               cursor: pointer;
               position: absolute;
               right: 15px;
               top: 15px;
          }
     }

     .interview-locations {
          min-width: 250px;

          li {
               cursor: pointer;
               position: relative;

               &.recent {
                    cursor: default;
                    display: block;
                    padding: 3px 20px;
                    font-size: 12px;
                    line-height: 1.42857143;
                    color: #777;
                    white-space: nowrap;
               }

               i.fa.fa-times {
                    color: #68747e;
                    position: absolute;
                    font-size: 10px;
                    top: 8px;
                    right: 14px;
               }
          }
     }

     i.fa-search {
          margin-right: $margin / 2;
     }

     .card-box .card-info .card-header {
          p {
               font-size: $text-smaller;
          }
     }

     .dropdown-menu.suggestions {
          display: block;
     }

     .participant {
          .name {
               display: inline-block;
               font-weight: 400;
               margin-left: $margin;
          }

          .email {
               font-size: 12px;
               display: block;
               line-height: 1.5;
               margin-left: $margin;
          }

          &.candidate {
               .avatar {
                    border-color: $color-red;
               }

               .name:after {
                    content: ' (Candidate)';
               }

               &.excluded {
                    opacity: .4;
               }
          }
     }

     .date-time {
          display: flex;
          flex-wrap: nowrap;

          .date-field {
               max-width: 120px;
          }

          .form-control {
               flex: 2;
               margin-right: $margin;
          }

          //max-width: 120px
          .date {
               flex: 1;
               margin-right: $margin;

               &:last-child {
                    margin-right: 0;
               }
          }
     }

     .record-video {
          margin-left: 20px;
          font-size: 12px;
     }

     .row-actions .btn {
          margin-left: 5px;
     }

     .btn-link {
          font-size: 14px;
          color: $color-blue;
          cursor: pointer;

          i.fa {
               margin-right: 5px;
          }

          &:hover {
               color: $color-blue-hover;
          }
     }

     .add-new {
          margin-top: 5px;

          .note {
               color: $color-grey-light;
               font-size: $text-smaller;
               margin-top: 5px;
          }
     }

     footer {
          button.btn {
               outline: none;

               &.btn-grey {
                    color: #fff;
               }
          }
     }

     .calendar-availability {
          display: inline-block;

          &.active {
               .active {
                    display: block !important;
               }

               .inactive {
                    display: none !important;
               }
          }

          &.inactive {
               .inactive {
                    display: block !important;
               }

               .active {
                    display: none !important;
               }
          }
     }
}

.calendar-free-busy {
     height: 100%;

     .participants-and-calendar {
          display: flex;

          .freebusy-participants {
               width: 170px;

               h2 {
                    padding: ($padding / 2) 0 ($padding * 2);
               }

               li {
                    border-left: 8px solid transparent;
                    margin-bottom: $margin;
                    padding: $padding / 2;
                    padding-left: $padding;

                    &.participant-1 {
                         border-color: $color-1;
                    }

                    &.participant-2 {
                         border-color: $color-2;
                    }

                    &.participant-3 {
                         border-color: $color-3;
                    }

                    &.participant-4 {
                         border-color: $color-4;
                    }

                    &.participant-5 {
                         border-color: $color-5;
                    }

                    &.participant-6 {
                         border-color: $color-6;
                    }

                    &.participant-7 {
                         border-color: $color-7;
                    }

                    &.participant-8 {
                         border-color: $color-8;
                    }

                    &.participant-9 {
                         border-color: $color-9;
                    }

                    &.participant-candidate {
                         border-color: #ccc;
                    }
               }

               .not-shared {
                    margin-top: $margin * 3;

                    h2 {
                         padding-bottom: $padding;
                    }

                    li {
                         border-left: none;
                         padding-left: 0;
                    }
               }
          }

          .calendar-table {
               flex: 1;
          }
     }

     .fc-view-container .fc-widget-content {
          cursor: pointer;

          a.fc-event {
               cursor: default;
          }
     }

     .fc-view-container .fc-time.fc-widget-content {
          cursor: default;
     }

     .fc-view-container .fc-event {
          color: #fff;

          &.pending {
               background-image: repeating-linear-gradient(45deg, #999, #999 10px, #aaa 10px, #aaa 20px);
               border-color: #aaa;
          }

          //background-size: 20px 100%
          &.participant-1 {
               background-color: $color-1;
               border-color: $color-1;
          }

          &.participant-2 {
               background-color: $color-2;
               border-color: $color-2;
          }

          &.participant-3 {
               background-color: $color-3;
               border-color: $color-3;
          }

          &.participant-4 {
               background-color: $color-4;
               border-color: $color-4;
          }

          &.participant-5 {
               background-color: $color-5;
               border-color: $color-5;
          }

          &.participant-6 {
               background-color: $color-6;
               border-color: $color-6;
          }

          &.participant-7 {
               background-color: $color-7;
               border-color: $color-7;
          }

          &.participant-8 {
               background-color: $color-8;
               border-color: $color-8;
          }

          &.participant-9 {
               background-color: $color-9;
               border-color: $color-9;
          }
     }
}


.row-items {
     .row-item {
          align-items: center;
          border-bottom: 1px solid $border-color;
          display: flex;
          flex-wrap: nowrap;
          padding: $padding 0;
          text-align: center;

          .row-info {
               text-align: left;
               width: 100%;
          }

          .row-actions {
               text-align: right;
               white-space: nowrap;
          }

          button {
               .caret {
                    right: 10px;
               }
          }

          &:last-child {
               border-bottom: none;
          }
     }
}


.modal-content {
     background-color: $background-color;

     .modal-body {
          background-color: #fff;
          border-radius: 4px;
          //margin: $margin;
          //padding: $padding * 2;
     }

     .modal-body .header p {
          margin-bottom: $margin * 2;
     }


     .modal-body .section {
          margin-top: $margin;
          margin-bottom: $margin * 2;
     }

     .modal-body .section input[type=text] {
          width: 100%;
     }

     .modal-body .section textarea {
          width: 100%;
          height: 100px;
     }

     .confirm-workflow .primary-action h3 {
          margin-bottom: 5px;
     }

     .confirm-workflow .primary-action a {
          margin-right: $margin;
     }

     .confirm-workflow .primary-action a.btn-default, .confirm-workflow .primary-action a.btn-default:hover {
          border: none;
     }

     .confirm-workflow .primary-action input {
          width: 260px;
     }

     .primary-action .date-time {
          height: 50px;
     }

     .primary-action .date-time input[type='text'] {
          float: left;
          width: 91px;
          box-shadow: none;
          -webkit-box-shadow: none;
     }

     .primary-action .date-time .ui-select-bootstrap {
          float: left;
          width: 90px;
          margin-left: $margin;
     }

     .modal-body .section.actions {
          margin-bottom: 0;
     }

     .modal-body .section.actions button {
          margin-right: $margin;
     }

     .modal-body .date-time .dropdown-menu {
          padding: 5px;
     }

     .modal-body .date-time table th {
          font-weight: 400;
          padding: 5px;
     }

     .modal-body .date-time table td .btn {
          background: none;
     }

     .video-call-container a {
          color: $color-blue;
     }

     .video-call-container {
          font-size: $text-small;
     }

     .video-call-container i {
          margin-left: 5px;
          margin-right: 5px;
     }

     .interviewguides-container {
          .interviewguides {
               width: 250px;
               margin-top: $margin;
               margin-bottom: $margin;
          }

          h3 {
               i {
                    margin-left: $margin / 2;
                    font-size: $text-smaller;
               }
          }

          a {
               font-size: $text-small;
               margin-left: $margin / 2;
          }

          a:hover {
               color: #5ac0e5;
          }
     }


     .participants .dropdown .potential-participant {
          padding: $padding;
          height: $header-height - 10;
          border-bottom: 1px solid $border-color;
     }

     .participants .dropdown .potential-participant:last-child {
          border-bottom: none;
     }

     .participants .dropdown .potential-participant .btn {
          float: right;
          margin-top: 4px;
     }

     .participants .dropdown .potential-participant .btn span {
          line-height: 1.5;
     }

     .participants .dropdown .potential-participant .avatar {
          border-radius: 20px;
          float: left;
     }

     .participants .dropdown .potential-participant .member-info {
          margin-left: 40px + $margin;
     }

     .participants .dropdown .potential-participant .member-info {
          margin-left: 40px;
     }

     .participants .dropdown .potential-participant .member-info h3 {
          font-size: $text-small;
          font-weight: 400;
          line-height: 20px;
          margin-bottom: 0;
     }

     .participants .dropdown .potential-participant .member-info p {
          font-size: $text-smaller;
          line-height: 18px;
     }

     .participants .dropdown .potential-participant .member-info h3 {
          line-height: 30px;
     }


     .participants .dropdown-menu {
          display: inline;
          width: 300px;
     }

     .participants .participant span {
          line-height: $margin * 3;
     }

     .participants .participant i {
          margin-left: 5px;
          margin-right: 5px;
     }

     .participants .participant.add {
          margin-top: $margin;
          border-top: none;
     }

     .participants .participant.add input[type=text] {
          display: block;
          width: 240px;
     }

     .participants .participant.add a {
          display: block;
          color: $color-blue;
     }

     .participants {
          margin-top: $margin;
          margin-bottom: $margin * 3;
     }

     .participants .participant {
          font-size: $text-small;
          border-top: 1px solid $background-color-2;
     }

     .participants .participant span {
          line-height: $margin * 3;
     }

     .participants .participant i {
          margin-left: 5px;
          margin-right: 5px;
     }

     .participants .participant.add {
          margin-top: $margin;
          border-top: none;
     }

     .participants .participant.add input[type=email] {
          display: block;
          width: 170px;
     }

     .participants .participant.add a {
          display: block;
          color: $color-blue;
     }

     .free-busy {
          float: right;
     }


     .free-busy a {
          font-size: $text-smaller;
          color: $color-blue;
     }
}
