<template>
  <div class="settings">
    <div class="main-content">

        <div class="profile">
            <div class="header">
                <h1>{{messages.SR_002_SETTING_COMPANY_TITLE}}</h1>
            </div><!-- ngIf: updateFailed -->
            <div name="form" novalidate="novalidate">
                <div class="company">
                    <div class="section">
                        <h2>{{messages.SR_002_SETTING_COMPANY_NAME_TITLE}}</h2>
                        <p>{{messages.SR_002_SETTING_COMPANY_NAME_DESCR}}</p>
                        <input v-model="name"
                            class="name" type="text"
                             :placeholder="messages.SR_002_SETTING_COMPANY_NAME_TITLE" required="required"  style="width: 320px;" maxlength="320" :class="{ error:has_error }">

                        <span style="color: red; padding-left: 10px;"
                              v-if="message_error!=''"> {{message_error}}</span>
                    </div>
                </div>
                <div class="footer align-right">
                    <button class="my-3 btn btn-blue default" @click="updateCompany">
                        <i class="default fa fa-save" v-if="!saveflag">&nbsp;&nbsp;</i>
                        <span class="default" v-if="!saveflag">{{messages.COMMON_SAVE}}</span>
                        <i class="success fa fa-check" v-if="saveflag">&nbsp;&nbsp;</i>
                        <span class="success" v-if="saveflag">{{messages.COMMON_SAVED}}</span>
                    </button>
                </div>
            </div>
        </div><!-- end ngIf: activeTab == "general" -->
    </div>
  </div>
</template>
<script lang="ts">
    import Vue from "vue";
    import {fauth} from '@/firebase';
    import {mapGetters} from 'vuex';
    import ModalWrapper from "@/components/ModalWrapper.vue";
    import {messages} from '@/messages';


    export default Vue.extend({
        data() {
            return {
                saveflag: false,
                name:'',
                message_error:'',
                has_error:false
            }

        },
        components: {
            ModalWrapper,
        },
        props: {},
        computed: {
            // mix the getters into computed with object spread operator
            ...mapGetters([
                'currentUser',
                'currentCompany',
                // ...
            ]),
        },
        watch: {
            currentCompany: function (company) {
                const self = this;
                self.name = company.name;
            }
        },
        mounted:function () {
            var self =this;
            if (self.currentCompany) {
                  self.name =  self.currentCompany.name;
            }
        },
        methods: {
            validate: function () {
                const self = this;
                let flag:boolean = true;
                self.name = self.name.trim();
                self.has_error = false;
                self.message_error ='';
                if (self.name == "") {
                    self.message_error = messages.SR_002_SETTING_COMPANY_NAME_NULL;
                    flag = false;
                    self.has_error = true;
                }


                return flag;

            },
            updateCompany(): void {

                let self =this;
                if (self.validate()) {

                    self.currentCompany.name = self.name;

                    self.currentCompany.update().then(function () {
                        self.saveflag = true;

                        setTimeout(function () {
                            self.saveflag = false;
                        }, 2000);
                    }).catch(error_message => {
                        self.message_error = error_message;
                    })
                }

            }
        },
    });
</script>
